openapi: 3.2.0
info:
  description: "The endpoints described here are routed through analytics.adobe.io. In order to use these endpoints you must create an oAuth client that is subscribed to access the Adobe Analytics Reporting API. \n\n To view the API References for non-core Analytics 2.0 APIs, select the **API Reference** drop-down menu at the top of the page. \n\n Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes."
  title: Adobe Analytics Projects API
  version: '2.0'
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Projects
paths:
  /{globalCompanyId}/projects/{id}:
    get:
      tags:
      - Projects
      summary: Retrieve project configuration
      description: ''
      operationId: projects_getProject
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: id
        in: path
        description: The Project id for which to retrieve information
        required: true
        schema:
          type: string
      - name: expansion
        in: query
        description: Comma-delimited list of additional project metadata fields to include on response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - reportSuiteName
            - shares
            - tags
            - accessLevel
            - modified
            - externalReferences
            - definition
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsProject'
    put:
      tags:
      - Projects
      summary: Update a project configuration
      description: ''
      operationId: projects_updateProject
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: id
        in: path
        description: The Project id for which to retrieve information
        required: true
        schema:
          type: string
      - name: expansion
        in: query
        description: Comma-delimited list of additional project metadata fields to include on response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - reportSuiteName
            - shares
            - tags
            - accessLevel
            - modified
            - externalReferences
            - definition
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsProject'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsProject'
        description: JSON-formatted Object containing project keys/value pairs to be updated.
    delete:
      tags:
      - Projects
      summary: Delete a project
      description: ''
      operationId: projects_deleteProject
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: id
        in: path
        description: The Project id for which to retrieve information
        required: true
        schema:
          type: string
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
  /{globalCompanyId}/projects/validate:
    post:
      tags:
      - Projects
      summary: Creates a valid project definition
      description: ''
      operationId: projects_validateProject
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCompatibility'
        '500':
          description: External API error; Project validation failed
        '400':
          description: Invalid input; definition is required. Definition must be formatted as a JSON Object.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsProject'
        description: JSON-formatted Object containing key/value pairs for Project validation.
        required: true
  /{globalCompanyId}/projects:
    get:
      tags:
      - Projects
      summary: Retrieve user's projects
      description: 'This Returns the projects list primarily for the Analytics product. '
      operationId: projects_getProjects
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: includeType
        in: query
        description: Include additional projects not owned by user. The "all" option takes precedence over "shared". If neither guided, or project is included, both types are returned
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - all
            - shared
      - name: expansion
        in: query
        description: Comma-delimited list of additional project metadata fields to include on response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - reportSuiteName
            - shares
            - tags
            - accessLevel
            - modified
            - externalReferences
            - definition
      - name: filterByIds
        in: query
        description: Filter list to only include projects in the specified list (comma-delimited list of IDs)
        required: false
        schema:
          type: string
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      - name: pagination
        in: query
        description: return paginated results
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          default: 'false'
      - name: ownerId
        in: query
        description: Filter list to only include projects owned by the specified loginId
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Number of results per page
        required: false
        schema:
          type: integer
          default: 10
      - name: page
        in: query
        description: Page number (base 0 - first page is "0")
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnalyticsProject'
    post:
      tags:
      - Projects
      summary: Create a project
      description: ''
      operationId: projects_createProject
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: expansion
        in: query
        description: Comma-delimited list of additional project metadata fields to include on response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - reportSuiteName
            - shares
            - tags
            - accessLevel
            - modified
            - externalReferences
            - definition
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsProject'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsProject'
        description: JSON-formatted Object containing project keys/value pairs to be updated.
components:
  parameters:
    authorization:
      name: Authorization
      in: header
      description: The access token copied from your AA API client integration, prefixed with "Bearer ".
      required: true
      schema:
        type: string
    x-api-key:
      name: x-api-key
      in: header
      description: The API key copied from your AA API client integration. For more information on how to obtain this value, see [Getting started with the Analytics API](https://developer.adobe.com/analytics-apis/docs/2.0/guides/).
      required: true
      schema:
        type: string
  schemas:
    DeleteResponse:
      type: object
      properties:
        result:
          type: string
        message:
          type: string
    Owner:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
          description: the login id of the owner
        name:
          type: string
          description: the friendly full login name of the owner, included when the expansion parameter ownerFullName is true
        login:
          type: string
          description: the friendly full login name of the owner, included when the expansion parameter ownerFullName is true
    ProjectCompatibility:
      type: object
      properties:
        valid:
          type: boolean
        validatorVersion:
          type: string
        message:
          type: string
    JsonNode:
      type: object
      properties:
        valueNode:
          type: boolean
        floatingPointNumber:
          type: boolean
        containerNode:
          type: boolean
        missingNode:
          type: boolean
        pojo:
          type: boolean
        integralNumber:
          type: boolean
        short:
          type: boolean
        int:
          type: boolean
        long:
          type: boolean
        double:
          type: boolean
        bigDecimal:
          type: boolean
        bigInteger:
          type: boolean
        textual:
          type: boolean
        binary:
          type: boolean
        float:
          type: boolean
        nodeType:
          type: string
          enum:
          - ARRAY
          - BINARY
          - BOOLEAN
          - MISSING
          - 'NULL'
          - NUMBER
          - OBJECT
          - POJO
          - STRING
        boolean:
          type: boolean
        number:
          type: boolean
        object:
          type: boolean
        array:
          type: boolean
        'null':
          type: boolean
    AnalyticsProject:
      type: object
      properties:
        id:
          type: string
          description: System generated id
          readOnly: true
        name:
          type: string
        description:
          type: string
        rsid:
          type: string
          description: The report suite id for which the component was created/updated
        reportSuiteName:
          type: string
          description: The report suite name for which the component was created/updated
          readOnly: true
        migratedIds:
          type: array
          items:
            type: string
        companyTemplate:
          type: boolean
        template:
          type: boolean
        type:
          type: string
          enum:
          - project
          - mobileScorecard
        definition:
          $ref: '#/components/schemas/JsonNode'
        externalReferences:
          type: object
          additionalProperties:
            type: array
            uniqueItems: true
            items:
              type: string
        accessLevel:
          type: string
        versionNotes:
          type: string
        tags:
          type: array
          items:
            type: object
            additionalProperties:
              type: object
        shares:
          type: array
          items:
            type: object
            additionalProperties:
              type: object
        approved:
          type: boolean
        favorite:
          type: boolean
        usageSummary:
          type: object
          additionalProperties:
            type: object
        complexity:
          type: object
        owner:
          $ref: '#/components/schemas/Owner'
        siteTitle:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
