openapi: 3.2.0
info:
  description: "Adobe Experience Platform Destination SDK (also referred to as the *Destination Authoring API*) is a suite of configuration APIs that allow you to configure destination integration patterns for Experience Platform to deliver audience and profile data to your endpoint, based on data and authentication formats of your choice. \n- **Related documentation**:\n    - [Destination SDK overview](http://www.adobe.com/go/destination-sdk-overview-en)\n    - [Getting started](http://www.adobe.com/go/destination-sdk-getting-started-en)\n\n- **Visualize API calls with Postman (a free, third-party software)**:\n    - [Destination Authoring API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Destination%20Authoring%20API.postman_collection.json)\n    - [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)\n    - [Steps for importing environments and collections in Postman](https://learning.postman.com/docs/getting-started/importing-and-exporting-data/)\n\n- **API paths**:\n    - PLATFORM Gateway URL: https://<span>platform.adobe.io\n    - Base path for this API: /data/core/activation/authoring\n    - Example of a complete path for making a call to \"/destinations\": https://<span>platform.adobe.io/data/core/activation/authoring/destinations\n\n- **Required headers**:\n    - All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).\n    - All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, \"prod\"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.\n    - All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.\n\n- **API error handling**:\n    - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#request-header-errors)."
  version: '1.0'
  title: Destination Authoring Destination publishing API
servers:
- url: https://platform.adobe.io/data/core/activation/authoring
  description: Production server
tags:
- name: Destination publishing
  description: After you have configured and tested your destination, you can use the destination publishing endpoint to submit it to Adobe for review and publishing. Read more in the [destination publishing API tutorial](http://www.adobe.com/go/destination-sdk-publish-en).
paths:
  /destinations/publish:
    get:
      tags:
      - Destination publishing
      summary: List destination publish requests
      description: You can retrieve a list of all destinations submitted for publishing for your IMS Organization by making a GET request to the `/authoring/destinations/publish` endpoint.
      operationId: listPublishDestinationRequest
      parameters:
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      responses:
        '200':
          description: The following response returns HTTP status 200 with a list of all destinations submitted for publishing that you have access to, based on the IMS Organization ID and sandbox name that you used. One configId corresponds to the publish request for one destination.
          x-summary: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/publishedDestination'
              examples:
                default:
                  value:
                    destinationId: 1230e5e4-4ab8-4655-ae1e-a6296b30f2ec
                    publishDetailsList:
                    - configId: ab41387c0-4772-4709-a3ce-6d5fee654520
                      allowedOrgs:
                      - 716543205DB85F7F0A495E5B@AdobeOrg
                      status: TEST
                      destinationType: DEV
                    - configId: cd568c67-f25e-47e4-b9a2-d79297a20b27
                      allowedOrgs:
                      - '*'
                      status: DEPRECATED
                      destinationType: PUBLIC
                      publishedDate: 1630525501009
                    - configId: ef6f07154-09bc-4bee-8baf-828ea9c92fba
                      allowedOrgs:
                      - '*'
                      status: PUBLISHED
                      destinationType: PUBLIC
                      publishedDate: 1630531586002
        '401':
          description: Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again.
          x-summary: Unauthorized
        '403':
          description: Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again.
          x-summary: Forbidden
    post:
      tags:
      - Destination publishing
      summary: Submit a destination configuration for publishing
      description: You can submit a destination configuration for publishing by making a POST request to the `/authoring/destinations/publish` endpoint. <br><br> The following request submits a destination for publishing, across the organizations configured by the parameters provided in the payload.
      operationId: createPublishDestinationRequest
      parameters:
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      requestBody:
        description: The following request submits a destination for publishing, across the organizations configured by the parameters provided in the payload. The payload below includes all parameters accepted by the `/authoring/destinations/publish` endpoint.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/publishedDestinationRequest'
            examples:
              default:
                value:
                  destinationId: 1230e5e4-4ab8-4655-ae1e-a6296b30f2ec
                  destinationAccess: ALL
      responses:
        '201':
          description: A successful response returns HTTP status 201 with details of your destination publish request.
          x-summary: Created - Destination Published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publishedDestination'
        '400':
          description: Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again.
          x-summary: Bad Request - Formatting Error
        '401':
          description: Unauthorized. A mandatory header might be missing from the request, or you may be missing permissions to access the resource. Verify your request before trying again.
          x-summary: Unauthorized - Missing Permissions or Headers
        '403':
          description: Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again.
          x-summary: Forbidden - Access Denied or Missing Headers
  /destinations/publish/{DESTINATION_ID}:
    get:
      tags:
      - Destination publishing
      summary: Retrieve a specific publishing request
      description: You can retrieve detailed information about a specific destination publish request by making a GET request to the `/authoring/destinations/publish` endpoint and providing the ID of the destination for which you want to retrieve the publishing status.
      operationId: retrievePublishDestinationRequest
      parameters:
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - name: DESTINATION_ID
        in: path
        description: The ID of the destination for which you want to retrieve the publishing status.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: If you passed a DESTINATION_ID in the API call, the response returns HTTP status 200 with detailed information about the specified destination publish request.
          x-summary: OK - Details Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publishedDestination'
              examples:
                default:
                  value:
                    destinationId: 1230e5e4-4ab8-4655-ae1e-a6296b30f2ec
                    publishDetailsList:
                    - configId: 123cs780-ce29-434f-921e-4ed6ec2a6c35
                      allowedOrgs:
                      - '*'
                      status: PUBLISHED
                      destinationType: PUBLIC
                      publishedDate: '1630617746'
        '400':
          description: Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again.
          x-summary: Bad Request - Formatting Error
        '401':
          description: Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again.
          x-summary: Unauthorized - Missing Permissions or Headers
        '403':
          description: Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again.
          x-summary: Forbidden - Access Denied or Missing Headers
        '404':
          description: Resource not found. Verify that you are using the correct destination configuration ID before trying again.
          x-summary: Not Found - Incorrect Configuration ID
components:
  schemas:
    publishedDestination:
      type: object
      properties:
        destinationId:
          description: The destination ID of the destination configuration that you have submitted for publishing.
          example: 49966037-32cd-4457-a105-2cbf9c01826a
          type: string
        publishDetailsList:
          type: array
          items:
            $ref: '#/components/schemas/publishDetails'
    publishedDestinationRequest:
      type: object
      properties:
        destinationId:
          description: The destination ID of the destination configuration that you are submitting for publishing. Get the destination ID of a destination configuration by using the [Retrieve a list of destination configurations](#operation/listDestinations) operation.
          example: 49966037-32cd-4457-a105-2cbf9c01826a
          type: string
        destinationAccess:
          description: Use `ALL` for your destination to appear in the catalog for all Experience Platform customers.
          type: string
          enum:
          - ALL
    publishDetails:
      type: object
      properties:
        configId:
          description: The unique ID of the destination publish request for your submitted destination.
          example: 1230e5e4-4ab8-4655-ae1e-a6296b30f2ec
          type: string
        allowedOrgs:
          description: Returns the Experience Platform organizations for which the destination is available. <br> <ul><li> For `"destinationType":"PUBLIC"`, this parameter returns `"*"`, which means that the destination is available for all Experience Platform organizations.</li><li> For `"destinationType":"DEV"`, this parameter returns the Organization ID of the organization which you used to author and test the destination.</li></ul>
          example:
          - xyz@AdobeOrg
          - '*'
          type: array
          items:
            type: string
        status:
          description: The status of your destination publish request. Destinations with the value `PUBLISHED` are live and can be used by Experience Platform customers.
          type: string
          example: TEST
          enum:
          - TEST
          - REVIEW
          - APPROVED
          - PUBLISHED
          - DENIED
          - REVOKED
          - DEPRECATED
        destinationType:
          description: The type of destination. Values can be `DEV` and `PUBLIC`. `DEV` corresponds to the destination in your Experience Platform organization. `PUBLIC` corresponds to the destination that you have submitted for publishing. Think of these two options in Git terms, where the `DEV` version represents your local authoring branch and the `PUBLIC` version represents the remote main branch.
          type: string
          example: PUBLIC
          enum:
          - PUBLIC
          - DEV
        publishedDate:
          description: The date when the destination was submitted for publishing, in epoch time.
          example: 1630617746
          type: string
  parameters:
    authorization:
      name: Authorization
      description: The access token which can be copied from your Experience Platform integration, prefixed with "Bearer". For more information on how to obtain this value, visit the [getting started tutorial](http://www.adobe.com/go/destination-sdk-getting-started-en).
      required: true
      schema:
        type: string
      in: header
    x-api-key:
      name: x-api-key
      description: The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [getting started tutorial](http://www.adobe.com/go/destination-sdk-getting-started-en).
      required: true
      schema:
        type: string
      in: header
    x-gw-ims-org-id:
      name: x-gw-ims-org-id
      description: The IMS Organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [getting started tutorial](http://www.adobe.com/go/destination-sdk-getting-started-en).
      required: true
      schema:
        type: string
      in: header
    x-sandbox-name:
      name: x-sandbox-name
      description: The name of the sandbox in which the operation will take place. See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information. For more information on how to obtain this value, visit the [getting started tutorial](http://www.adobe.com/go/destination-sdk-getting-started-en)
      required: true
      schema:
        type: string
      in: header
