{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Firefly Services Audio and Video API",
    "description": "This RESTful API provides resources to use Firefly Services AI for audio and video generation and processing.",
    "termsOfService": "https://www.adobe.com/content/dam/cc/en/legal/terms/enterprise/pdfs/PSLT-AdobeCreativeAPI-WW-2024v2.pdf"
  },
  "tags": [
    {
      "name": "Dynamic Graphics Render",
      "description": "Endpoints for Dynamic Graphics Render (DGR): template describe, presets, render, job status, cancel a render job, and list render jobs. The Cancel (`PUT /v1/cancel/{jobId}`) and List Render Jobs (`GET /v1/templates/render-jobs`) endpoints, as well as the extended status fields (`createdDate`, `totalJobItems`, `retryPayloadUrl`, `startedDate`, `completedDate`, and the `canceling`/`canceled` statuses), apply **only to render jobs** submitted via `POST /v1/templates/render`."
    },
    {
      "name": "Reframe",
      "description": "Endpoints for video reframing."
    },
    {
      "name": "Translate and lip sync",
      "description": "Endpoints for transcribing and dubbing audio/video content."
    },
    {
      "name": "Text-to-speech",
      "description": "Endpoints for text-to-speech operations."
    },
    {
      "name": "Text-to-Avatar",
      "description": "Endpoints for Text-to-Avatar operations."
    },
    {
      "name": "Manage jobs",
      "description": "Endpoints for managing asynchronous jobs."
    }
  ],
  "servers": [
    {
      "url": "https://audio-video-api.adobe.io",
      "description": "Production server."
    }
  ],
  "security": [
    {
      "AccessToken": [],
      "X-Api-Key": []
    }
  ],
  "paths": {
    "/v1/voices": {
      "get": {
        "tags": [
          "Text-to-speech",
          "Text-to-Avatar"
        ],
        "summary": "Get available voices",
        "description": "This endpoint provides the list of all available voices for the user's enterprise.",
        "operationId": "voices",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessfulVoicesResponse"
                },
                "examples": {
                  "Success": {
                    "$ref": "#/components/examples/SuccessfulVoicesResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "RunTimeError": {
                    "$ref": "#/components/examples/RunTimeError"
                  },
                  "StudioAPIFailedEntitiesErrorResponse": {
                    "$ref": "#/components/examples/StudioAPIFailedEntitiesErrorResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/generate-speech": {
      "post": {
        "tags": [
          "Text-to-speech"
        ],
        "summary": "Generate speech from text",
        "description": "This endpoint generates speech from a transcript. You can provide the transcript either as plain text or a pre-signed URL. The response will include a job ID and a status URL for tracking the job.",
        "operationId": "generate-speech",
        "requestBody": {
          "description": "The request body contains the transcript used for generating speech.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSRequest"
              },
              "examples": {
                "TextInputForSpeechGeneration": {
                  "$ref": "#/components/examples/TextInputForSpeechGeneration"
                },
                "URLInputForSpeechGeneration": {
                  "$ref": "#/components/examples/URLInputForSpeechGeneration"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitAPIResponse"
                },
                "examples": {
                  "SubmitRequestResponse": {
                    "$ref": "#/components/examples/SubmitRequestResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "BadRequestError": {
                    "$ref": "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "UnauthorizedAccessError": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  },
                  "ErrorBodyAccessDenied": {
                    "$ref": "#/components/examples/ErrorBodyAccessDenied"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  },
                  "UserNotEntitledError": {
                    "$ref": "#/components/examples/UserNotEntitledError"
                  },
                  "QuotaExceededError": {
                    "$ref": "#/components/examples/QuotaExceededError"
                  },
                  "UserProfileDeniedError": {
                    "$ref": "#/components/examples/UserProfileDeniedError"
                  },
                  "UserBlockedError": {
                    "$ref": "#/components/examples/UserBlockedError"
                  },
                  "InvalidSubscriptionError": {
                    "$ref": "#/components/examples/InvalidSubscriptionError"
                  },
                  "ViolationError": {
                    "$ref": "#/components/examples/ViolationError"
                  },
                  "TasteExhaustedError": {
                    "$ref": "#/components/examples/TasteExhaustedError"
                  },
                  "AccessError": {
                    "$ref": "#/components/examples/AccessError"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "InvalidInputErrorExample": {
                    "$ref": "#/components/examples/InvalidInputErrorExample"
                  },
                  "MissingInputFileUrlErrorExample": {
                    "$ref": "#/components/examples/MissingInputFileUrlErrorExample"
                  },
                  "InvalidInputUrlErrorExample": {
                    "$ref": "#/components/examples/InvalidInputUrlErrorExample"
                  },
                  "InputFileFormatValidationErrorExample": {
                    "$ref": "#/components/examples/InputFileFormatValidationErrorExample"
                  },
                  "MissingScriptErrorExample": {
                    "$ref": "#/components/examples/MissingScriptErrorExample"
                  },
                  "EmptyTextForScriptErrorExample": {
                    "$ref": "#/components/examples/EmptyTextForScriptErrorExample"
                  },
                  "TextLengthExceededForScriptErrorExample": {
                    "$ref": "#/components/examples/TextLengthExceededForScriptErrorExample"
                  },
                  "TextLengthTooShortForScriptErrorExample": {
                    "$ref": "#/components/examples/TextLengthTooShortForScriptErrorExample"
                  },
                  "ScriptInvalidASCIIRange": {
                    "$ref": "#/components/examples/ScriptInvalidASCIIRange"
                  },
                  "ScriptInvalidTextSupportedRange": {
                    "$ref": "#/components/examples/ScriptInvalidTextSupportedRange"
                  },
                  "InvalidOrMissingLocaleCodeForScriptErrorExample": {
                    "$ref": "#/components/examples/InvalidOrMissingLocaleCodeForScriptErrorExample"
                  },
                  "MissingMediaTypeForScriptErrorExample": {
                    "$ref": "#/components/examples/MissingMediaTypeForScriptErrorExample"
                  },
                  "MediatypeIncompatibleForText": {
                    "$ref": "#/components/examples/MediatypeIncompatibleForText"
                  },
                  "MissingSourceLocaleErrorExample": {
                    "$ref": "#/components/examples/MissingSourceLocaleErrorExample"
                  },
                  "SourceUrlSourceTextConflictErrorExample": {
                    "$ref": "#/components/examples/SourceUrlSourceTextConflictErrorExample"
                  },
                  "UnsupportedVoiceIdErrorExample": {
                    "$ref": "#/components/examples/UnsupportedVoiceIdErrorExample"
                  },
                  "MissingVoiceIdErrorExample": {
                    "$ref": "#/components/examples/MissingVoiceIdErrorExample"
                  },
                  "MissingOutputErrorExample": {
                    "$ref": "#/components/examples/MissingOutputErrorExample"
                  },
                  "MissingMediaTypeForOutputErrorExample": {
                    "$ref": "#/components/examples/MissingMediaTypeForOutputErrorExample"
                  },
                  "InvalidOutputFileFormatErrorExample": {
                    "$ref": "#/components/examples/InvalidOutputFileFormatErrorExample"
                  },
                  "InvalidRequestPayloadErrorExample": {
                    "$ref": "#/components/examples/InvalidRequestPayloadErrorExample"
                  },
                  "InvalidSourceUrlErrorExample": {
                    "$ref": "#/components/examples/InvalidSourceUrlErrorExample"
                  },
                  "IncorrectVoiceNameErrorExample": {
                    "$ref": "#/components/examples/IncorrectVoiceNameErrorExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  },
                  "ErrorBodyRateLimited": {
                    "$ref": "#/components/examples/ErrorBodyRateLimited"
                  }
                }
              }
            }
          },
          "451": {
            "description": "Unauthorized For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyLegalReasons": {
                    "$ref": "#/components/examples/ErrorBodyLegalReasons"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "TTSServiceSubmitError": {
                    "$ref": "#/components/examples/TTSServiceSubmitError"
                  },
                  "TTSEntityCreationError": {
                    "$ref": "#/components/examples/TTSEntityCreationError"
                  },
                  "TTSRuntimeError": {
                    "$ref": "#/components/examples/TTSRuntimeError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/status/{jobId}": {
      "get": {
        "tags": [
          "Manage jobs"
        ],
        "summary": "Get job status",
        "description": "Provides the status and result of an asynchronous job. For Dynamic Graphics Render (DGR), returns the status of a Describe template or Render job.",
        "operationId": "status",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The job ID of an asynchronous job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAPIResponse"
                },
                "examples": {
                  "StatusAPIInprogressRequestResponse": {
                    "$ref": "#/components/examples/StatusApiInProgressRequestResponse"
                  },
                  "StatusAPISuccessRequestResponse": {
                    "$ref": "#/components/examples/StatusApiSuccessRequestResponse"
                  },
                  "StatusAPIFailedInputFileDownloadResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedInputFileDownloadResponse"
                  },
                  "DGRJobStatusNotStarted": {
                    "$ref": "#/components/examples/DGRJobStatusNotStarted"
                  },
                  "DGRJobStatusRunning": {
                    "$ref": "#/components/examples/DGRJobStatusRunning"
                  },
                  "DGRDescribeSuccess": {
                    "$ref": "#/components/examples/DGRDescribeSuccess"
                  },
                  "DGRDescribeAEPSuccess": {
                    "$ref": "#/components/examples/DGRDescribeAEPSuccess"
                  },
                  "DGRRenderSuccessSingle": {
                    "$ref": "#/components/examples/DGRRenderSuccessSingle"
                  },
                  "DGRRenderSuccessMultiple": {
                    "$ref": "#/components/examples/DGRRenderSuccessMultiple"
                  },
                  "DGRRenderPartialSuccess": {
                    "$ref": "#/components/examples/DGRRenderPartialSuccess"
                  },
                  "DGRRenderSuccessTwoVariations": {
                    "$ref": "#/components/examples/DGRRenderSuccessTwoVariations"
                  },
                  "DGRJobFailed": {
                    "$ref": "#/components/examples/DGRJobFailed"
                  },
                  "DGRJobCanceled": {
                    "$ref": "#/components/examples/DGRJobCanceled"
                  },
                  "StatusAPIFailedMediatypeMismatchResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedMediatypeMismatchResponse"
                  },
                  "StatusAPIFailedCAISigningResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedCAISigningResponse"
                  },
                  "StatusAPIFailedUploadErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedUploadErrorResponse"
                  },
                  "StatusAPIFailedDownloadErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedDownloadErrorResponse"
                  },
                  "StatusAPIFailedTTSErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedTTSErrorResponse"
                  },
                  "StatusAPIFailedDurationTooLongResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedDurationTooLongResponse"
                  },
                  "StatusAPIFailedUnsupportedBackgroundResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedUnsupportedBackgroundResponse"
                  },
                  "StatusAPIFailedBackgroundResolutionErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedBackgroundResolutionErrorResponse"
                  },
                  "StatusAPIFailedCropAreaErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedCropAreaErrorResponse"
                  },
                  "StatusAPIFailedBackgroundCropErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedBackgroundCropErrorResponse"
                  },
                  "StatusAPIFailedFFMpegErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedFFMpegErrorResponse"
                  },
                  "StatusAPIFailedAvatarErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedAvatarErrorResponse"
                  },
                  "StatusAPIFailedLipsyncErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedLipsyncErrorResponse"
                  },
                  "StatusAPIFailedLipsyncPollingErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedLipsyncPollingErrorResponse"
                  },
                  "StatusAPIFailedMediaTrimErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedMediaTrimErrorResponse"
                  },
                  "StatusAPIFailedMediaTrimAlphaErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedMediaTrimAlphaErrorResponse"
                  },
                  "StatusAPIFailedInternalErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedInternalErrorResponse"
                  },
                  "StatusAPIFailedTTSInternalErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedTTSInternalErrorResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "$ref": "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "RunTimeError": {
                    "$ref": "#/components/examples/RunTimeError"
                  },
                  "TEXT_TO_SPEECH_ENTITY_CREATION_ERROR": {
                    "$ref": "#/components/examples/TEXT_TO_SPEECH_ENTITY_CREATION_ERROR"
                  },
                  "TEXT_TO_SPEECH_SERVICE_SUBMIT_ERROR": {
                    "$ref": "#/components/examples/TEXT_TO_SPEECH_SERVICE_SUBMIT_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/describe": {
      "post": {
        "tags": [
          "Dynamic Graphics Render"
        ],
        "summary": "Describe template",
        "description": "Analyzes a MOGRT (video template) file and returns a manifest of editable controls; fonts, images, audio, video and other supported values.",
        "operationId": "template-describe",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDescribeRequest"
              },
              "examples": {
                "SampleExample": {
                  "summary": "MOGRT template",
                  "value": {
                    "source": {
                      "url": "<pre-signed_URL_to_download_the_template>"
                    }
                  }
                },
                "AEPDescribeExample": {
                  "summary": "After Effects project (AEP)",
                  "value": {
                    "type": "aep",
                    "source": {
                      "url": "<pre-signed_URL_to_download_the_.zip>"
                    },
                    "compName": "A. Variable Duration"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDescribeResponse"
                },
                "examples": {
                  "SuccessResponse": {
                    "value": {
                      "jobId": "<job_ID>",
                      "statusUrl": "https://audio-video-api.adobe.io/v1/status/<job_ID>"
                    }
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "URL to monitor the status of the job."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidJsonError": {
                    "value": {
                      "error_code": "invalid_json",
                      "message": "Invalid request. Please check the input data."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidToken": {
                    "value": {
                      "error_code": "401013",
                      "message": "OAuth token is not valid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidContext": {
                    "value": {
                      "error_code": "access_error",
                      "message": "Token not allowed in the current context."
                    }
                  },
                  "ApiKeyIsRequired": {
                    "value": {
                      "error_code": "403000",
                      "message": "API key is required."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ValidationError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Validation error occurred",
                      "messageId": "42206000"
                    }
                  },
                  "InvalidTemplateTypeError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Input must contain a valid template type",
                      "messageId": "42206001"
                    }
                  },
                  "InvalidTemplateSourceError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid template source",
                      "messageId": "42206002"
                    }
                  },
                  "InvalidTemplateSourceUrlError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid template source URL",
                      "messageId": "42206003"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ServerError": {
                    "value": {
                      "messageId": "50006000",
                      "message": "Internal Server Error",
                      "error_code": "runtime_error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/presets": {
      "get": {
        "tags": [
          "Dynamic Graphics Render"
        ],
        "summary": "Fetch video rendering presets",
        "description": "Returns a list of predefined social-first encoding presets for rendering outputs.",
        "operationId": "get-presets",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresetsResponse"
                },
                "examples": {
                  "PresetsExample": {
                    "$ref": "#/components/examples/PresetsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "error_code": "401013",
                      "message": "OAuth token is not valid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Forbidden": {
                    "value": {
                      "error_code": "403000",
                      "message": "API key is required."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/render": {
      "post": {
        "tags": [
          "Dynamic Graphics Render"
        ],
        "summary": "Render template",
        "description": "Renders one or more video variations by applying overrides and export presets. Submit up to 10 overrides per call for a subset of editable layers and get a pre-signed URL link to download the video file. For layers that are not editable, the system defaults are automatically applied at export.",
        "operationId": "template-render",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateRenderRequest"
              },
              "examples": {
                "RenderExample": {
                  "summary": "Sample render request",
                  "value": {
                    "source": {
                      "url": "<pre-signed mogrt url>"
                    },
                    "fonts": [
                      {
                        "name": "<Font postscript name>",
                        "source": {
                          "url": "<pre-signed url for font .ttf/otf>"
                        }
                      }
                    ],
                    "config": {
                      "handleMissingFonts": "use_default"
                    },
                    "assets": [
                      {
                        "source": {
                          "url": "<pre-signed url for image or video asset>"
                        }
                      },
                      {
                        "source": {
                          "url": "<pre-signed url for audio asset>"
                        }
                      }
                    ],
                    "presets": [
                      {
                        "source": {
                          "presetId": "ffs_video_api_vert_1920p_hq"
                        }
                      },
                      {
                        "source": {
                          "url": "<pre-signed url for Encoder preset file>"
                        }
                      }
                    ],
                    "variations": [
                      {
                        "variables": [
                          {
                            "variableId": "<unique template variable id>",
                            "selectedCheckboxValue": true
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "assetIndex": 0,
                            "scale": "no_scale"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "selectedDropdownValue": "0"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "text": "First Name",
                            "fontName": "font_name_1"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "selectedSliderValue": -18
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "assetIndex": 1,
                            "audioPreference": "replace"
                          }
                        ]
                      },
                      {
                        "variables": [
                          {
                            "variableId": "<unique template variable id>",
                            "selectedCheckboxValue": true
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "assetIndex": 0,
                            "scale": "fit_to_frame"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "selectedDropdownValue": "0"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "text": "First Name",
                            "fontName": "font_name_1"
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "selectedSliderValue": -18
                          },
                          {
                            "variableId": "<unique template variable id>",
                            "assetIndex": 1,
                            "audioPreference": "mix"
                          }
                        ]
                      }
                    ],
                    "outputs": [
                      {
                        "variationIndex": 0,
                        "presetIndex": 0,
                        "fileName": "some_custom_file_name",
                        "destination": "<pre-signed_URL_for_output_video>"
                      },
                      {
                        "variationIndex": 1,
                        "presetIndex": 0,
                        "fileName": "output_vert_1920p_hq",
                        "destination": "<pre-signed_URL_for_output_video>"
                      },
                      {
                        "variationIndex": 1,
                        "presetIndex": 1,
                        "fileName": "my_custom_file_name",
                        "destination": "<pre-signed_URL_for_output_video>"
                      }
                    ]
                  }
                },
                "AEPRenderExample": {
                  "summary": "AEP: replace media with scaling",
                  "value": {
                    "type": "aep",
                    "compName": "A. Variable Duration",
                    "source": {
                      "url": "<pre-signed_URL_to_download_the_.zip>"
                    },
                    "config": {
                      "handleMissingFonts": "use_default"
                    },
                    "presets": [
                      {
                        "source": {
                          "presetId": "ffs_video_api_land_1080p_hq"
                        }
                      }
                    ],
                    "assets": [
                      {
                        "source": {
                          "url": "<pre-signed_URL_for_video_asset>"
                        }
                      }
                    ],
                    "variations": [
                      {
                        "variables": [
                          {
                            "variableId": "c259:l261:media",
                            "assetIndex": 0,
                            "scale": "fill_frame"
                          }
                        ]
                      }
                    ],
                    "outputs": [
                      {
                        "variationIndex": 0,
                        "presetIndex": 0,
                        "fileName": "aep_media_replace"
                      }
                    ]
                  }
                },
                "AEPRenderTextExample": {
                  "summary": "AEP: replace a text control",
                  "value": {
                    "type": "aep",
                    "compName": "A. Variable Duration",
                    "source": {
                      "url": "<pre-signed_URL_to_download_the_.zip>"
                    },
                    "config": {
                      "handleMissingFonts": "use_default"
                    },
                    "fonts": [
                      {
                        "name": "SourceSans3-Bold",
                        "source": {
                          "url": "<pre-signed_URL_for_font_.ttf>"
                        }
                      }
                    ],
                    "presets": [
                      {
                        "source": {
                          "presetId": "ffs_video_api_land_1080p_hq"
                        }
                      }
                    ],
                    "variations": [
                      {
                        "variables": [
                          {
                            "variableId": "c169:l193:layer:sourceText",
                            "text": "Certification Test Title"
                          }
                        ]
                      }
                    ],
                    "outputs": [
                      {
                        "variationIndex": 0,
                        "presetIndex": 0,
                        "fileName": "aep_text_replacement"
                      }
                    ]
                  }
                },
                "AEPRenderAudioExample": {
                  "summary": "AEP: replace audio",
                  "value": {
                    "type": "aep",
                    "compName": "C. Audio Replacement",
                    "source": {
                      "url": "<pre-signed_URL_to_download_the_.zip>"
                    },
                    "config": {
                      "handleMissingFonts": "use_default"
                    },
                    "presets": [
                      {
                        "source": {
                          "presetId": "ffs_video_api_land_1080p_hq"
                        }
                      }
                    ],
                    "assets": [
                      {
                        "source": {
                          "url": "<pre-signed_URL_for_audio_asset>"
                        }
                      }
                    ],
                    "variations": [
                      {
                        "variables": [
                          {
                            "variableId": "c840:l921:audio",
                            "assetIndex": 0,
                            "audioPreference": "replace"
                          }
                        ]
                      }
                    ],
                    "outputs": [
                      {
                        "variationIndex": 0,
                        "presetIndex": 0,
                        "fileName": "aep_audio_replace"
                      }
                    ]
                  }
                },
                "AEPRenderLayerOperationsExample": {
                  "summary": "AEP: layer operations (variable-duration timeline)",
                  "value": {
                    "type": "aep",
                    "compName": "A. Variable Duration",
                    "source": {
                      "url": "<pre-signed_URL_to_download_the_.zip>"
                    },
                    "config": {
                      "handleMissingFonts": "use_default"
                    },
                    "fonts": [
                      {
                        "name": "SourceSans3-Bold",
                        "source": {
                          "url": "<pre-signed_URL_for_font_.ttf>"
                        }
                      }
                    ],
                    "presets": [
                      {
                        "source": {
                          "presetId": "ffs_video_api_land_1080p_hq"
                        }
                      }
                    ],
                    "assets": [
                      {
                        "source": {
                          "url": "<pre-signed_URL_for_video_asset>"
                        }
                      }
                    ],
                    "variations": [
                      {
                        "variables": [
                          {
                            "variableId": "c259:l261:media",
                            "assetIndex": 0
                          }
                        ]
                      }
                    ],
                    "layerOperations": [
                      {
                        "operation": "match_source_duration",
                        "layerId": "c259:l261:layer"
                      },
                      {
                        "operation": "shift_inpoint",
                        "layerId": "c259:l263:layer",
                        "refLayerId": "c259:l261:layer",
                        "refInOut": "out",
                        "offsetSeconds": -1
                      },
                      {
                        "operation": "shift_inpoint",
                        "layerId": "c259:l265:layer",
                        "refLayerId": "c259:l263:layer",
                        "refInOut": "in",
                        "offsetFrames": 90
                      },
                      {
                        "operation": "trim_comp",
                        "startSeconds": 0,
                        "endLayerId": "c259:l265:layer"
                      },
                      {
                        "operation": "trim_outpoint",
                        "layerId": "c259:l263:layer",
                        "refLayerId": "c259:l265:layer",
                        "refInOut": "out"
                      },
                      {
                        "operation": "trim_outpoint",
                        "layerId": "c259:l262:layer",
                        "refLayerId": "c259:l261:layer",
                        "refInOut": "out"
                      },
                      {
                        "operation": "trim_outpoint",
                        "layerId": "c259:l819:layer",
                        "refLayerId": "c259:l265:layer",
                        "refInOut": "out"
                      },
                      {
                        "operation": "enable_layer",
                        "layerId": "c259:l398:layer",
                        "videoEnabled": false
                      }
                    ],
                    "outputs": [
                      {
                        "variationIndex": 0,
                        "presetIndex": 0,
                        "fileName": "aep_layer_operations"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateRenderResponse"
                },
                "examples": {
                  "SuccessResponse": {
                    "value": {
                      "jobId": "<job_ID>",
                      "statusUrl": "https://audio-video-api.adobe.io/v1/status/<job_ID>",
                      "cancelUrl": "https://audio-video-api.adobe.io/v1/cancel/<job_ID>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidJsonError": {
                    "value": {
                      "error_code": "invalid_json",
                      "message": "Invalid request. Please check the input data."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidToken": {
                    "value": {
                      "error_code": "401013",
                      "message": "OAuth token is not valid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidContext": {
                    "value": {
                      "error_code": "access_error",
                      "message": "Token not allowed in the current context."
                    }
                  },
                  "ApiKeyIsRequired": {
                    "value": {
                      "error_code": "403000",
                      "message": "API key is required."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidTemplateTypeError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Input must contain a valid template type",
                      "messageId": "42205000"
                    }
                  },
                  "InvalidTemplateSourceUrlError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid template source URL",
                      "messageId": "42205001"
                    }
                  },
                  "InvalidPresetIdError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "{presetId} export preset does not exist",
                      "messageId": "42205002"
                    }
                  },
                  "InvalidFontDetailsError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid font details in variation {variationIndex} control {controlIndex}",
                      "messageId": "42205003"
                    }
                  },
                  "InvalidMediaDetailsError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid media details in variation {variationIndex} control {controlIndex}",
                      "messageId": "42205004"
                    }
                  },
                  "InvalidScaleTypeError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid scale type in variation {variationIndex} control {controlIndex}",
                      "messageId": "42205005"
                    }
                  },
                  "InvalidControlTypeError": {
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid control type in variation {variationIndex} control {controlIndex}",
                      "messageId": "42205006"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InternalServerError": {
                    "value": {
                      "error_code": "runtime_error",
                      "message": "Internal Server Error",
                      "messageId": "50005001"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cancel/{jobId}": {
      "put": {
        "tags": [
          "Dynamic Graphics Render",
          "Manage jobs"
        ],
        "summary": "Cancel a render job",
        "description": "Aborts an in-flight render job. Returns `202 Accepted` as soon as the cancellation has been accepted; subsequent calls to `GET /v1/status/{jobId}` will report `\"status\": \"canceled\"` once the worker has fully stopped the underlying render.\n\n**Applicable only to render jobs submitted via `POST /v1/templates/render`.** This endpoint does not apply to Describe, Reframe, TLS, TTS, or Avatar jobs.\n\n**Notes:**\n- Cancellation is idempotent.\n- Once propagated to the worker, in-progress outputs are not uploaded to the destinations specified in the original render request.\n- For a short window after the PUT, the status endpoint may still report `running`; poll until it transitions to `canceled`.",
        "operationId": "cancel-render-job",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the render job to cancel, as returned in the `jobId` field of the original 202 submit response or in the `cancelUrl` property of a List Render Jobs response item."
          },
          {
            "$ref": "#/components/parameters/XRequestIdHeader"
          }
        ],
        "responses": {
          "202": {
            "description": "Cancellation accepted. The job is transitioning to `canceled`; poll `GET /v1/status/{jobId}` to observe the terminal state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelAcceptedResponse"
                },
                "examples": {
                  "CancelAccepted": {
                    "$ref": "#/components/examples/CancelAccepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidJsonError": {
                    "value": {
                      "error_code": "invalid_json",
                      "message": "Invalid request. Please check the input data."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidToken": {
                    "value": {
                      "error_code": "401013",
                      "message": "OAuth token is not valid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidContext": {
                    "value": {
                      "error_code": "access_error",
                      "message": "Token not allowed in the current context."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found — `jobId` is unknown or no longer accessible.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "JobNotFound": {
                    "$ref": "#/components/examples/CancelJobNotFound"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — the job is already in a terminal state and cannot be canceled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "JobAlreadyCompleted": {
                    "$ref": "#/components/examples/CancelJobAlreadyCompleted"
                  },
                  "JobAlreadyCanceled": {
                    "$ref": "#/components/examples/CancelJobAlreadyCanceled"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "value": {
                      "error_code": "rate_limit_exceeded",
                      "message": "Too many requests. Please retry after some time."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InternalServerError": {
                    "value": {
                      "error_code": "runtime_error",
                      "message": "Internal Server Error",
                      "messageId": "50005001"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/render-jobs": {
      "get": {
        "tags": [
          "Dynamic Graphics Render",
          "Manage jobs"
        ],
        "summary": "List render jobs",
        "description": "Returns a paginated list of template render jobs owned by the authenticated caller, optionally filtered by status and creation date.\n\n**Applicable only to render jobs submitted via `POST /v1/templates/render`.** Jobs from other API types (Describe, Reframe, TLS, TTS, Avatar) are not returned.\n\n**Filter syntax (FIQL):**\n- `status==running` — single status equality\n- `status=in=(running,not_started)` — status set membership\n- `createdDate=ge=2026-05-01T00:00:00Z` — absolute ISO 8601 lower bound\n- `createdDate=ge=-P7D` — relative ISO 8601 duration (last 7 days)\n- Combine with `;` (AND): `status==running;createdDate=ge=-P7D`\n\n**Default filter:** all statuses, `createdDate` within the last 30 days.\n\n**Retention:** `createdDate` filter values must fall within the 30-day retention window.\n\n**Pagination:** follow `paging.nextUrl` until it is absent (last page).",
        "operationId": "list-render-jobs",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "FIQL filter string. Supported sub-params: `status` (enum) and `createdDate` (ISO 8601 date-time or relative duration). Default: `createdDate=ge=-P30D;status=in=(not_started,running,succeeded,partially_succeeded,failed,canceled)`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "RunningOnly": {
                "summary": "Running jobs only",
                "value": "status==running"
              },
              "Last7DaysRunning": {
                "summary": "Running jobs in last 7 days",
                "value": "createdDate=ge=-P7D;status==running"
              },
              "AbsoluteDateRange": {
                "summary": "Absolute date range",
                "value": "createdDate=ge=2026-05-14T00:00:00Z;createdDate=le=2026-05-21T00:00:00Z"
              },
              "MultipleStatuses": {
                "summary": "Multiple statuses",
                "value": "status=in=(running,not_started)"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of job entries to return per page. Must be between 1 and 100 (inclusive). Defaults to 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor returned in `paging.nextUrl` of a previous response. Omit to fetch the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XRequestIdHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success — list of render jobs (may be empty).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderJobListResponse"
                },
                "examples": {
                  "FirstPageWithMore": {
                    "$ref": "#/components/examples/RenderJobListFirstPage"
                  },
                  "LastPage": {
                    "$ref": "#/components/examples/RenderJobListLastPage"
                  },
                  "EmptyResult": {
                    "$ref": "#/components/examples/RenderJobListEmpty"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid filter, limit, cursor, or date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidStatusFilter": {
                    "$ref": "#/components/examples/ListJobsInvalidStatusFilter"
                  },
                  "LimitOutOfRange": {
                    "$ref": "#/components/examples/ListJobsLimitOutOfRange"
                  },
                  "InvalidCursor": {
                    "$ref": "#/components/examples/ListJobsInvalidCursor"
                  },
                  "InvalidFilter": {
                    "$ref": "#/components/examples/ListJobsInvalidFilter"
                  },
                  "FilterOutOfRetention": {
                    "$ref": "#/components/examples/ListJobsFilterOutOfRetention"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidToken": {
                    "value": {
                      "error_code": "401013",
                      "message": "OAuth token is not valid."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InvalidContext": {
                    "value": {
                      "error_code": "access_error",
                      "message": "Token not allowed in the current context."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "RateLimited": {
                    "value": {
                      "error_code": "rate_limit_exceeded",
                      "message": "Too many requests. Please retry after some time."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "InternalServerError": {
                    "value": {
                      "error_code": "runtime_error",
                      "message": "Internal Server Error",
                      "messageId": "50005001"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reframe": {
      "post": {
        "tags": [
          "Reframe"
        ],
        "summary": "Reframe video",
        "description": "This endpoint enables you to reframe video using AI. Provide video input with a pre-signed URL to generate reframed video output. \n\nThis API has more limited capabilities than the v2 endpoint, and may be deprecated soon. **It's recommended to use the v2 endpoint instead.**",
        "operationId": "generate-reframed-video",
        "requestBody": {
          "description": "The reframe request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "video": {
                    "type": "object",
                    "properties": {
                      "source": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The pre-signed URL pointing to the input source."
                          }
                        },
                        "required": [
                          "url"
                        ],
                        "description": "Details of the source including a pre-signed URL. See the [list of allowed domains for storage](https://developer.adobe.com/audio-video-firefly-services/getting-started/storage-solutions/)."
                      },
                      "mediaType": {
                        "type": "string",
                        "enum": [
                          "video/mp4",
                          "video/quicktime"
                        ],
                        "description": "Supported video media types."
                      }
                    },
                    "required": [
                      "source",
                      "mediaType"
                    ],
                    "description": "Video input details."
                  },
                  "sceneEditDetection": {
                    "type": "boolean",
                    "description": "Apply Scene Edit Detection before reframing.",
                    "default": true
                  },
                  "overlays": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Overlay"
                    },
                    "description": "Configuration details for video overlays."
                  },
                  "outputConfig": {
                    "type": "object",
                    "properties": {
                      "aspectRatios": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "numerator:denominator"
                        },
                        "description": "A list of aspect ratios for the output video."
                      }
                    },
                    "required": [
                      "aspectRatios"
                    ],
                    "description": "Configuration details for the generated reframed video."
                  }
                },
                "required": [
                  "video",
                  "outputConfig"
                ],
                "type": "object"
              },
              "examples": {
                "ReframedVideoInputRequestPayload": {
                  "summary": "Video input to generate Reframed video output",
                  "value": {
                    "video": {
                      "source": {
                        "url": "<pre-signed URL for downloading the video input>"
                      },
                      "mediaType": "video/mp4"
                    },
                    "sceneEditDetection": true,
                    "overlays": [
                      {
                        "mediaType": "image/gif",
                        "source": {
                          "url": "<pre-signed URL for downloading the overlay input>"
                        },
                        "startTime": "00:00:05:00",
                        "duration": "00:00:05:00",
                        "scale": {
                          "width": 500,
                          "height": 500
                        },
                        "position": {
                          "anchorPoint": "top_left",
                          "offsetX": 500,
                          "offsetY": 500
                        },
                        "repeat": "loop"
                      }
                    ],
                    "outputConfig": {
                      "aspectRatios": [
                        "1:1",
                        "9:16",
                        "4:5"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response indicating that the reframed video job has been successfully submitted.",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "description": "The unique identifier for the job."
                    },
                    "statusUrl": {
                      "type": "string",
                      "description": "The URL to monitor the status of the job."
                    }
                  },
                  "required": [
                    "jobId",
                    "statusUrl"
                  ],
                  "type": "object"
                },
                "examples": {
                  "GenerateReframedVideoResponse": {
                    "summary": "Response for successful job submission",
                    "value": {
                      "jobId": "<jobId>",
                      "statusUrl": "https://<baseUrl>/v1/status/<jobId>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyBadRequest": {
                    "$ref": "#/components/examples/ErrorBodyBadRequest"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "$ref": "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateReframedVideoJobErrorBody"
                },
                "examples": {
                  "ErrorBodyInternalServerError": {
                    "$ref": "#/components/examples/ErrorBodyInternalServerError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/transcribe": {
      "post": {
        "tags": [
          "Translate and lip sync"
        ],
        "summary": "Transcribe media",
        "description": "Generates transcripts and captions for the input audio or video in the source language or in a target language.",
        "operationId": "transcribe",
        "requestBody": {
          "description": "The transcribe request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeRequest"
              },
              "examples": {
                "AudioInputToGenerateTranscriptFromSourceAudio": {
                  "$ref": "#/components/examples/AudioInputToGenerateTranscriptFromSourceAudio"
                },
                "VideoInputToGenerateTranscriptFromSourceVideo": {
                  "$ref": "#/components/examples/VideoInputToGenerateTranscriptFromSourceVideo"
                },
                "AudioInputToGenerateTranscriptFromTargetLanguageAudio": {
                  "$ref": "#/components/examples/AudioInputToGenerateTranscriptFromTargetLanguageAudio"
                },
                "VideoInputToGenerateTranscriptFromTargetLanguageVideo": {
                  "$ref": "#/components/examples/VideoInputToGenerateTranscriptFromTargetLanguageVideo"
                },
                "AudioInputToGenerateTranscriptAndCaptionsFromTargetFormatsFromSourceAudio": {
                  "$ref": "#/components/examples/AudioInputToGenerateTranscriptAndCaptionsFromTargetFormatsFromSourceAudio"
                },
                "VideoInputToGenerateTranscriptAndCaptionsFromTargetFormatsFromSourceVideo": {
                  "$ref": "#/components/examples/VideoInputToGenerateTranscriptAndCaptionsFromTargetFormatsFromSourceVideo"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                },
                "examples": {
                  "TranscribeResponse": {
                    "$ref": "#/components/examples/JobStatusLinkResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyBadRequest": {
                    "$ref": "#/components/examples/ErrorBodyBadRequest"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "$ref": "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  },
                  "ValidationErrorVideoSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorVideoSourceBlank"
                  },
                  "ValidationErrorAudioSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorAudioSourceBlank"
                  },
                  "ValidationErrorInputSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorInputSourceBlank"
                  },
                  "ValidationErrorVideoAndAudioSimultaneous": {
                    "$ref": "#/components/examples/ValidationErrorVideoAndAudioSimultaneous"
                  },
                  "ValidationErrorVideoInputMediaTypeMissing": {
                    "$ref": "#/components/examples/ValidationErrorVideoInputMediaTypeMissing"
                  },
                  "ValidationErrorAudioInputMediaTypeMissing": {
                    "$ref": "#/components/examples/ValidationErrorAudioInputMediaTypeMissing"
                  },
                  "ValidationErrorSourceUrlEmpty": {
                    "$ref": "#/components/examples/ValidationErrorSourceUrlEmpty"
                  },
                  "ValidationErrorInvalidVideoAudioSourceUrl": {
                    "$ref": "#/components/examples/ValidationErrorInvalidVideoAudioSourceUrl"
                  },
                  "ValidationErrorBlankTranscriptSourceField": {
                    "$ref": "#/components/examples/ValidationErrorBlankTranscriptSourceField"
                  },
                  "ValidationErrorInvalidTranscriptUrl": {
                    "$ref": "#/components/examples/ValidationErrorInvalidTranscriptUrl"
                  },
                  "ValidationErrorUnsupportedVideoMediaType": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedVideoMediaType"
                  },
                  "ValidationErrorUnsupportedAudioMediaType": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedAudioMediaType"
                  },
                  "ValidationErrorUnsupportedTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedTargetLocaleCode"
                  },
                  "ValidationErrorBlankTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorBlankTargetLocaleCode"
                  },
                  "ValidationErrorMissingTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorMissingTargetLocaleCode"
                  },
                  "ValidationErrorLocaleCodeNotRequiredForEditedTranscript": {
                    "$ref": "#/components/examples/ValidationErrorLocaleCodeNotRequiredForEditedTranscript"
                  },
                  "ValidationErrorEitherTargetLocaleCodesOrTranscriptionRequired": {
                    "$ref": "#/components/examples/ValidationErrorEitherTargetLocaleCodesOrTranscriptionRequired"
                  },
                  "ValidationErrorCaptionGenerationNotSupportedWithTranslation": {
                    "$ref": "#/components/examples/ValidationErrorCaptionGenerationNotSupportedWithTranslation"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "451": {
            "description": "Unauthorized For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyLegalReasons": {
                    "$ref": "#/components/examples/ErrorBodyLegalReasons"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyInternalServerError": {
                    "$ref": "#/components/examples/ErrorBodyInternalServerError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dub": {
      "post": {
        "tags": [
          "Translate and lip sync"
        ],
        "summary": "Dub audio or video",
        "description": "Generate dubbed video or audio. A composited lip sync can also be added for video dubbing.",
        "operationId": "dub",
        "requestBody": {
          "description": "The dub request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DubRequest"
              },
              "examples": {
                "DubRequestUsingAutoTranslatedTranscripts": {
                  "$ref": "#/components/examples/DubRequestUsingAutoTranslatedTranscripts"
                },
                "DubRequestUsingAudioAutoTranslatedTranscripts": {
                  "$ref": "#/components/examples/DubRequestUsingAudioAutoTranslatedTranscripts"
                },
                "DubRequestUsingEditedSourceTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingEditedSourceTranscript"
                },
                "DubRequestUsingAudioEditedSourceTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingAudioEditedSourceTranscript"
                },
                "DubRequestUsingEditedTranslatedTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingEditedTranslatedTranscript"
                },
                "DubRequestUsingAudioEditedTranslatedTranscript": {
                  "$ref": "#/components/examples/DubRequestUsingAudioEditedTranslatedTranscript"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                },
                "examples": {
                  "DubResponse": {
                    "$ref": "#/components/examples/JobStatusLinkResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyBadRequest": {
                    "$ref": "#/components/examples/ErrorBodyBadRequest"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "$ref": "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyMethodNotAllowed": {
                    "$ref": "#/components/examples/ErrorBodyMethodNotAllowed"
                  },
                  "ValidationErrorVideoSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorVideoSourceBlank"
                  },
                  "ValidationErrorAudioSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorAudioSourceBlank"
                  },
                  "ValidationErrorInputSourceBlank": {
                    "$ref": "#/components/examples/ValidationErrorInputSourceBlank"
                  },
                  "ValidationErrorVideoAndAudioSimultaneous": {
                    "$ref": "#/components/examples/ValidationErrorVideoAndAudioSimultaneous"
                  },
                  "ValidationErrorVideoInputMediaTypeMissing": {
                    "$ref": "#/components/examples/ValidationErrorVideoInputMediaTypeMissing"
                  },
                  "ValidationErrorAudioInputMediaTypeMissing": {
                    "$ref": "#/components/examples/ValidationErrorAudioInputMediaTypeMissing"
                  },
                  "ValidationErrorSourceUrlEmpty": {
                    "$ref": "#/components/examples/ValidationErrorSourceUrlEmpty"
                  },
                  "ValidationErrorInvalidVideoAudioSourceUrl": {
                    "$ref": "#/components/examples/ValidationErrorInvalidVideoAudioSourceUrl"
                  },
                  "ValidationErrorInvalidTranscriptUrl": {
                    "$ref": "#/components/examples/ValidationErrorInvalidTranscriptUrl"
                  },
                  "ValidationErrorUnsupportedVideoMediaType": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedVideoMediaType"
                  },
                  "ValidationErrorUnsupportedAudioMediaType": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedAudioMediaType"
                  },
                  "ValidationErrorUnsupportedTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorUnsupportedTargetLocaleCode"
                  },
                  "ValidationErrorMissingTargetLocaleCode": {
                    "$ref": "#/components/examples/ValidationErrorMissingTargetLocaleCode"
                  },
                  "ValidationErrorLocaleCodeNotRequiredForEditedTranscript": {
                    "$ref": "#/components/examples/ValidationErrorLocaleCodeNotRequiredForEditedTranscript"
                  },
                  "ValidationErrorEitherTargetLocaleCodesOrTranscriptionRequired": {
                    "$ref": "#/components/examples/ValidationErrorEitherTargetLocaleCodesOrTranscriptionRequired"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "451": {
            "description": "Unauthorized For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyLegalReasons": {
                    "$ref": "#/components/examples/ErrorBodyLegalReasons"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                },
                "examples": {
                  "ErrorBodyInternalServerError": {
                    "$ref": "#/components/examples/ErrorBodyInternalServerError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/avatars": {
      "get": {
        "tags": [
          "Text-to-Avatar"
        ],
        "summary": "Get available avatars",
        "description": "Retrieves the list of all available avatars for the user's enterprise.",
        "operationId": "avatars",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessfulAvatarsResponse"
                },
                "examples": {
                  "Success": {
                    "$ref": "#/components/examples/SuccessfulAvatarsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "RunTimeError": {
                    "$ref": "#/components/examples/RunTimeError"
                  },
                  "StudioAPIFailedEntitiesErrorResponse": {
                    "$ref": "#/components/examples/StudioAPIFailedEntitiesErrorResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/reframe": {
      "post": {
        "tags": [
          "Reframe"
        ],
        "summary": "Reframe video v2",
        "description": "This endpoint enables you to reframe the input media. You can provide a video input via a pre-signed URL to generate reframed output video.",
        "operationId": "generate-reframed-video-v2",
        "requestBody": {
          "description": "Generate reframed video request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "video": {
                    "$ref": "#/components/schemas/VideoInputV2"
                  },
                  "analysis": {
                    "$ref": "#/components/schemas/AnalysisV2"
                  },
                  "composition": {
                    "$ref": "#/components/schemas/CompositionV2"
                  },
                  "output": {
                    "type": "object",
                    "properties": {
                      "format": {
                        "$ref": "#/components/schemas/OutputFormatV2"
                      },
                      "renditions": {
                        "type": "array",
                        "uniqueItems": true,
                        "description": "Array of output rendition specifications.",
                        "items": {
                          "oneOf": [
                            {
                              "title": "Aspect Ratio Rendition",
                              "type": "object",
                              "properties": {
                                "aspectRatio": {
                                  "$ref": "#/components/schemas/AspectRatioV2"
                                },
                                "mediaDestination": {
                                  "$ref": "#/components/schemas/Destination"
                                },
                                "sidecarDestination": {
                                  "$ref": "#/components/schemas/Destination"
                                }
                              },
                              "required": [
                                "aspectRatio"
                              ]
                            },
                            {
                              "title": "Resolution Rendition",
                              "type": "object",
                              "properties": {
                                "resolution": {
                                  "type": "object",
                                  "properties": {
                                    "width": {
                                      "type": "integer",
[...]
