openapi: 3.2.0
info:
  version: '1.0'
  title: Schema Registry Field groups API
  description: "Use the Schema Registry API to access the Schema Library within Adobe Experience Platform. The registry provides a user interface and RESTful API from which all available library resources are accessible.  Programmatically manage all schemas and related Experience Data Model (XDM) resources available to you within Platform. This includes those defined by Adobe, Experience Platform partners, and vendors whose applications you use.\n* **Related documentation**:\n  * [XDM documentation](http://www.adobe.com/go/xdm-home-en)\n\n* **Visualize API calls with Postman (a free, third-party software)**:\n  * [Schema Registry API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Schema%20Registry%20API.postman_collection.json)\n  * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)\n  * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)\n\n* **API paths**:\n  * PLATFORM Gateway URL: https://<span>platform.adobe.io\n  * Base path for this API: /data/foundation/schemaregistry\n  * Example of a complete path for making a call to \"/stats\": https://<span>platform.adobe.io/data/foundation/schemaregistry/stats\n\n* **Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).\n  * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, \"prod\"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.\n  * All GET requests to the Schema Registry require an `Accept` header to determine what data is returned by the system. See the [section on `Accept` headers](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/getting-started.html?lang=en#accept) in the Schema Registry developer guide for more information.\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.\n\n- **API error handling**:\n  * Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
servers:
- url: https://platform.adobe.io/data/foundation/schemaregistry
tags:
- name: Field groups
  description: A field group is a reusable component that defines one or more fields to implement certain functions within a schema based on a compatible class.
paths:
  /{CONTAINER_ID}/fieldgroups:
    get:
      tags:
      - Field groups
      summary: List field groups
      description: 'Retrieve a list of field groups within the specified container.

        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.'
      operationId: listFieldGroups
      parameters:
      - $ref: '#/components/parameters/containerIdList'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/acceptListing'
      - $ref: '#/components/parameters/property'
      - $ref: '#/components/parameters/orderBy'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/limit'
      responses:
        200:
          x-summary: Success
          description: A successful response returns all field groups in the specified container.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listFieldGroupsResponse'
        '400':
          x-summary: Bad formatting
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a listing call with no version supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorList'
  /{CONTAINER_ID}/fieldgroups/{FIELD_GROUP_ID}:
    get:
      tags:
      - Field groups
      parameters:
      - $ref: '#/components/parameters/containerIdLookup'
      - name: FIELD_GROUP_ID
        description: The `meta:altId` or URL-encoded `$id` of the field group you want to look up.
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/accept'
      summary: Retrieve a field group
      description: '>**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.'
      operationId: retrieveFieldGroup
      responses:
        200:
          x-summary: Success
          description: A successful response returns the details of the field group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lookupFieldGroupResponse'
        '400':
          x-summary: Bad formatting
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid accept header for a lookup call including a version number (e.g. `application/vnd.adobe.xed+json;version=1`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorLookup'
  /tenant/fieldgroups:
    post:
      tags:
      - Field groups
      summary: Create a custom field group
      description: '>**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.'
      operationId: createFieldGroup
      parameters:
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/content-type'
      - $ref: '#/components/parameters/fieldGroupPayload'
      responses:
        201:
          x-summary: Success
          description: A successful response returns the details of the field group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createFieldGroupResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
  /tenant/fieldgroups/{FIELD_GROUP_ID}:
    put:
      tags:
      - Field groups
      summary: Update a custom field group
      description: 'A PUT request essentially re-writes the field group, therefore the request body must include all fields required to create (POST) a field group. This is especially useful when updating a lot of information in the field group at once.



        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.'
      operationId: updateFieldGroup
      parameters:
      - name: FIELD_GROUP_ID
        description: The `meta:altId` or URL-encoded `$id` of the field group you want to update.
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/content-type'
      - $ref: '#/components/parameters/replaceFieldGroupPayload'
      responses:
        200:
          x-summary: Success
          description: A successful response returns the details of the updated field group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateFieldGroupResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
    patch:
      tags:
      - Field groups
      summary: Update a custom field group
      description: 'You can use this endpoint to update one or more attributes of your custom field group.

        The Schema Registry supports all standard JSON Patch operations, including `add`, `remove`, and `replace`, to allow you to modify or update resources you have defined.


        >**NOTE**: For more information on JSON Patch, including all available operations, please refer to the [the official JSON Patch specification](https://datatracker.ietf.org/doc/html/rfc6902). > >For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.'
      operationId: patchFieldGroup
      parameters:
      - name: FIELD_GROUP_ID
        description: The `meta:altId` or URL-encoded `$id` of the field group you want to update.
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/content-type'
      - $ref: '#/components/parameters/patchFieldGroupPayload'
      responses:
        200:
          x-summary: Success
          description: A successful response returns the details of the updated field group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchFieldGroupResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
    delete:
      tags:
      - Field groups
      summary: Delete a custom field group
      description: 'You can remove an existing field group through a DELETE request. A successful deletion returns an empty response body and HTTP status 204 (No Content).


        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.'
      operationId: removeFieldGroup
      parameters:
      - name: FIELD_GROUP_ID
        description: The `meta:altId` or URL-encoded `$id` of the field group you want to delete.
        required: true
        in: path
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      responses:
        204:
          x-summary: No content
          description: A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the field group has been deleted.
components:
  schemas:
    patchSchema:
      type: array
      description: A list of JSON Patch operation objects. Each object contains information about the action to be performed and the attribute to perform it on.
      items:
        type: object
        properties:
          op:
            type: string
            example: add
            description: The JSON Patch operation to be performed.
          path:
            type: string
            example: /meta:immutableTags-
            description: The path to the field that the operation should be performed on.
          value:
            type: string
            example: union
            description: If adding or updating an attribute, this property indicates the value that should be set for that property.
        required:
        - op
        - path
    xdmTypeToSchema:
      type: object
      properties:
        meta:xdmType:
          type: string
          description: The XDM resource type (typically `object`).
        meta:status:
          type: string
          description: (For `global` resources only) The status of the resource.
        $schema:
          type: string
          description: The JSON schema definition that this resource is based on.
    createFieldGroupResponse:
      allOf:
      - $ref: '#/components/schemas/singleFieldGroupResponse'
      example:
        $id: https://ns.adobe.com/{TENANT_ID}/mixins/8779fd45d6e4eb074300023a439862bbba359b60d451627a
        meta:altId: _{TENANT_ID}.mixins.8779fd45d6e4eb074300023a439862bbba359b60d451627a
        meta:resourceType: mixins
        version: '1.2'
        title: Property Details
        type: object
        description: Detailed information related to the properties owned and operated by the company.
        definitions:
          property:
            properties:
              _{TENANT_ID}:
                type: object
                properties:
                  propertyName:
                    type: string
                    title: Property Name
                    description: Name of the property
                  propertyCity:
                    title: Property City
                    description: City where the property is located.
                    type: string
                  phoneNumber:
                    title: Phone Number
                    description: Primary phone number for the property.
                    type: string
                  propertyType:
                    type: string
                    title: Property Type
                    description: Type and primary use of property.
                    enum:
                    - retail
                    - yoga
                    - fitness
                    meta:enum:
                      retail: Retail Store
                      yoga: Yoga Studio
                      fitness: Fitness Center
                  propertyConstruction:
                    '$ref ': https://ns.adobe.com/{TENANT_ID}/datatypes/24c643f618647344606222c494bd0102
        allOf:
        - '$ref ': '#/definitions/customFields'
          type: object
          meta:xdmType: object
        imsOrg: '{IMS_ORG}'
        meta:extensible: true
        meta:abstract: true
        meta:intendedToExtend:
        - https://ns.adobe.com/xdm/context/profile
        meta:xdmType: object
        meta:registryMetadata:
          repo:createdDate: 1594941263588
          repo:lastModifiedDate: 1594941538433
          xdm:createdClientId: '{CLIENT_ID}'
          xdm:lastModifiedClientId: '{CLIENT_ID}'
          xdm:createdUserId: '{USER_ID}'
          xdm:lastModifiedUserId: '{USER_ID}'
          eTag: 5e8a5e508eb2ed344c08cb23ed27cfb60c841bec59a2f7513deda0f7af903021
          meta:globalLibVersion: 1.15.4
        meta:containerId: tenant
        meta:tenantNamespace: _{TENANT_ID}
    lookupResourceCore:
      type: object
      properties:
        $id:
          type: string
          description: The URI ID of the XDM resource.
          example: https://ns.adobe.com/{TENANT_ID}/schemas/d4ad4b8463a67f6755f2aabbeb9e02c7
        meta:altId:
          type: string
          description: An alternate dot-notation ID for the XDM resource.
          example: _{TENANT_ID}.schemas.d4ad4b8463a67f6755f2aabbeb9e02c7
        meta:resourceType:
          type: string
          description: The type of XDM resource.
          example: schemas
        version:
          type: string
          description: The current version of the resource.
          example: 1.4
        title:
          type: string
          description: The title of the resource.
          example: Hotels
        type:
          type: string
          description: The JSON Schema element type that represents the XDM resource (typically `object`).
          example: object
        description:
          type: string
          description: A description for the resource.
    patchFieldGroupResponse:
      allOf:
      - $ref: '#/components/schemas/updateFieldGroupResponse'
      - properties:
          definitions:
            example:
              property:
                properties:
                  _{TENANT_ID}:
                    type: object
                    properties:
                      propertyName:
                        type: string
                        title: Property Name
                        description: Name of the property
                      propertyCity:
                        title: Property City
                        description: City where the property is located.
                        type: string
                      propertyCountry:
                        title: Property Country
                        description: Country where the property is located.
                        type: string
                      phoneNumber:
                        title: Phone Number
                        description: Primary phone number for the property.
                        type: string
                      propertyType:
                        type: string
                        title: Property Type
                        description: Type and primary use of property.
                        enum:
                        - retail
                        - yoga
                        - fitness
                        meta:enum:
                          retail: Retail Store
                          yoga: Yoga Studio
                          fitness: Fitness Center
                      propertyConstruction:
                        '$ref ': https://ns.adobe.com/{TENANT_ID}/datatypes/24c643f618647344606222c494bd0102
    linksBasic:
      type: object
      description: Contains various links related to the response.
      properties:
        next:
          type: string
          description: A URI for the next page in the response, if one exists. Contains `null` if this is the last or only page in the response.
          example: null
    registryMetadata:
      type: object
      description: Contains registry-specific metadata about the XDM resource.
      properties:
        repo:createdDate:
          type: integer
          description: A Unix timestamp of when the resource was created.
        repo:lastModifiedDate:
          type: integer
          description: A Unix timestamp of when the resource was last modified.
        xdm:createdClientId:
          type: string
          description: The ID of the client that created the resource.
        xdm:lastModifiedClientId:
          type: string
          description: The ID of the client that last modified the resource.
        xdm:createdUserId:
          type: string
          description: The ID of the user that created the resource.
        xdm:lastModifiedUserId:
          type: string
          description: The ID of the user that last modified the resource.
        etag:
          type: string
          description: An HTTP entity tag (ETag) for the resource.
        meta:globalLibVersion:
          type: string
          description: The current global library version of the resource.
        meta:usageCount:
          type: integer
          description: The number of instances where this resource is referenced by other XDM resources.
    metaRegistryMetadata:
      type: object
      properties:
        meta:registryMetadata:
          $ref: '#/components/schemas/registryMetadata'
    createFieldGroup:
      type: object
      properties:
        type:
          type: string
          description: The JSON Schema data type for the field group. Must be set to `object`.
          example: object
        title:
          type: string
          description: A title for the field group.
          example: Property Details
        description:
          type: string
          description: A description for the field group.
          example: Detailed information related to the properties owned and operated by the company.
        meta:intendedToExtend:
          type: array
          description: Contains the `$id` value(s) of the class(es) that this field group is compatible with.
          items:
            type: string
            description: The `$id` value of the class that this field group is compatible with.
            example: https://ns.adobe.com/{TENANT_ID}/classes/19e1d8b5098a7a76e2c10a81cbc99590
        definitions:
          type: object
          description: Describes the unique attributes provided by the field group that are not inherited from other XDM resources. Custom attributes must be nested under `properties._{TENANT_ID}` to avoid collisions with similar fields provided by classes and other field groups. For details on how to define different field types to include in your field group, see the [field constraints guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/schema/field-constraints.html?lang=en#define-fields).
          example:
            property:
              properties:
                _{TENANT_ID}:
                  type: object
                  properties:
                    propertyName:
                      type: string
                      title: Property Name
                      description: Name of the property
                    propertyCity:
                      title: Property City
                      description: City where the property is located.
                      type: string
                    phoneNumber:
                      title: Phone Number
                      description: Primary phone number for the property.
                      type: string
                    propertyType:
                      type: string
                      title: Property Type
                      description: Type and primary use of property.
                      enum:
                      - retail
                      - yoga
                      - fitness
                      meta:enum:
                        retail: Retail Store
                        yoga: Yoga Studio
                        fitness: Fitness Center
                    propertyConstruction:
                      '$ref ': https://ns.adobe.com/{TENANT_ID}/datatypes/24c643f618647344606222c494bd0102
        allOf:
          type: array
          description: A list of reference strings that determine the attributes that the field group provides. A string can refer to a custom field definition provided under the `definitions` object (e.g. `#/definitions/property`) or the `$id` of another field group or data type that this field group extends or employs.
          items:
            type: object
            properties:
              $ref:
                type: string
                description: A string reference to a custom field definition provided under the `definitions` object (e.g. `#/definitions/property`) or the `$id` of another field group or data type that this field group extends or employs.
                example: '#/definitions/property'
      required:
      - type
      - title
      - meta:intendedToExtend
    listFieldGroupsResponse:
      allOf:
      - $ref: '#/components/schemas/listResponse'
      - properties:
          results:
            items:
              $ref: '#/components/schemas/singleFieldGroupResponse'
      example:
        results:
        - $id: https://ns.adobe.com/xdm/context/profile-person-details
          meta:altId: _xdm.context.profile-person-details
          meta:resourceType: mixins
          version: 1.27.4
          title: Demographic Details
          type: object
          description: Demographic information such as name, gender, and birth date of an individual.
          definitions:
            profile-person-details:
              properties:
                person:
                  title: Person
                  '$ref ': https://ns.adobe.com/xdm/context/person
                  description: An individual actor, contact, or owner.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:person
          allOf:
          - '$ref ': https://ns.adobe.com/xdm/common/extensible#/definitions/@context
            type: object
            meta:xdmType: object
          - '$ref ': '#/definitions/profile-person-details'
            type: object
            meta:xdmType: object
          meta:extensible: true
          meta:abstract: true
          meta:intendedToExtend:
          - https://ns.adobe.com/xdm/context/profile
          meta:xdmType: object
          meta:status: stable
          $schema: http://json-schema.org/draft-06/schema#
          meta:registryMetadata:
            repo:createdDate: 1635361816945
            repo:lastModifiedDate: 1635361816945
            eTag: 9f6a76cf4e115d0a3db3900fb418979ebea28bce47967484a1a0b2a2c32514cb
            meta:globalLibVersion: 1.27.4
            meta:usageCount: 316
          meta:tags:
            industry:
            - all
          meta:createdDate: '2020-08-10'
        - $id: https://ns.adobe.com/xdm/context/profile-personal-details
          meta:altId: _xdm.context.profile-personal-details
          meta:resourceType: mixins
          version: 1.27.4
          title: Personal Contact Details
          type: object
          description: Contact information for an individual person such as home address, phone number, fax, and email.
          definitions:
            profile-personal-details:
              properties:
                faxPhone:
                  title: Fax phone
                  '$ref ': https://ns.adobe.com/xdm/context/phonenumber
                  description: Fax phone number.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:faxPhone
                homeAddress:
                  title: Home address
                  '$ref ': https://ns.adobe.com/xdm/common/address
                  description: A home postal address.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:homeAddress
                homePhone:
                  title: Home phone
                  '$ref ': https://ns.adobe.com/xdm/context/phonenumber
                  description: Home phone number.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:homePhone
                mobilePhone:
                  title: Mobile phone
                  '$ref ': https://ns.adobe.com/xdm/context/phonenumber
                  description: Mobile phone number.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:mobilePhone
                personalEmail:
                  title: Personal email
                  '$ref ': https://ns.adobe.com/xdm/context/emailaddress
                  description: A personal email address.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:personalEmail
          allOf:
          - '$ref ': https://ns.adobe.com/xdm/common/extensible#/definitions/@context
            type: object
            meta:xdmType: object
          - '$ref ': '#/definitions/profile-personal-details'
            type: object
            meta:xdmType: object
          meta:extensible: true
          meta:abstract: true
          meta:intendedToExtend:
          - https://ns.adobe.com/xdm/context/profile
          meta:xdmType: object
          meta:status: stable
          $schema: http://json-schema.org/draft-06/schema#
          meta:registryMetadata:
            repo:createdDate: 1635361816961
            repo:lastModifiedDate: 1635361816961
            eTag: 750a04f69224e9fab367c6663199218dbd524852652627756284b4333fd7b27b
            meta:globalLibVersion: 1.27.4
            meta:usageCount: 300
          meta:tags:
            industry:
            - all
          meta:createdDate: '2020-08-10'
        _page:
          orderby: updated
          next: null
          count: 2
        _links:
          next: null
    patchFieldGroup:
      allOf:
      - $ref: '#/components/schemas/patchSchema'
      example:
      - op: add
        path: /definitions/property/properties/_{TENANT_ID}/properties/propertyCity
        value:
          title: Property Country
          description: The country where the property is located.
          type: string
    listResponseItem:
      type: object
      properties:
        title:
          type: string
          description: The title of the XDM resource.
          example: Tenant Data Schema
        $id:
          type: string
          description: The URI ID of the XDM resource.
          example: https://ns.adobe.com/{TENANT_ID}/schemas/274f17bc5807ff307a046bab1489fb18
        meta:altId:
          type: string
          description: An alternate dot-notation ID for the XDM resource.
          example: _{TENANT_ID}.schemas.274f17bc5807ff307a046bab1489fb18
    replaceFieldGroup:
      allOf:
      - $ref: '#/components/schemas/createFieldGroup'
    acceptErrorList:
      allOf:
      - $ref: '#/components/schemas/errorBasic'
      example:
        type: http://ns.adobe.com/aep/errors/XDM-1006-400
        title: Accept header invalid
        status: 400
        report:
          registryRequestId: d2550d48-95f5-43ee-adb7-1035bf9d3258
          timestamp: 11-25-2020 07:56:25
          detailed-message: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json;version=1 - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json'
          sub-errors: []
        detail: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json;version=1 - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json'
    allOfRef:
      type: object
      properties:
        $ref:
          type: string
          description: The `$id` of the XDM resource.
        type:
          type: string
          description: The resource type (typically `object`).
        meta:xdmType:
          type: string
          description: The XDM resource type (typically `object`).
    lookupResourceWithDefinitions:
      allOf:
      - $ref: '#/components/schemas/lookupResourceCore'
      - properties:
          definitions:
            type: object
            description: Contains definitions for the unique attributes provided by the resource.
          allOf:
            type: array
            description: A list of objects that refer to the common definitions and fields that the resource inherits.
            items:
              $ref: '#/components/schemas/allOfRef'
          meta:extensible:
            type: boolean
            description: Indicates whether this resource is extensible or not.
          meta:abstract:
            type: boolean
            description: Indicates whether this resource is abstract or not.
    acceptErrorLookup:
      allOf:
      - $ref: '#/components/schemas/errorBasic'
      example:
        type: http://ns.adobe.com/aep/errors/XDM-1007-400
        title: Accept header invalid
        status: 400
        report:
          registryRequestId: fc4f81b7-d0aa-4116-a0e1-e6f9c82b6470
          timestamp: 11-02-2021 07:42:43
          detailed-message: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json; version=1 (Version should be specified)'
          sub-errors: []
        detail: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json; version=1 (Version should be specified)'
    listResponseItemWithVersion:
      allOf:
      - $ref: '#/components/schemas/listResponseItem'
      - properties:
          version:
            type: string
            description: The current version of the XDM resource.
            example: '1.1'
    listResponseBasic:
      type: object
      properties:
        results:
          type: array
          description: Lists the basic details of the returned XDM resources.
          items:
            $ref: '#/components/schemas/listResponseItemWithVersion'
        _page:
          type: object
          description: Contains pagination information related to the response.
          properties:
            orderby:
              type: string
              description: The attribute that results are sorted by.
              example: title
            next:
              type: string
              description: A URI for the next page in the response, if one exists. Contains `null` if this is the last or only page in the response.
              example: null
            count:
              type: integer
              description: The number of results returned per page.
              example: 2
        _links:
          $ref: '#/components/schemas/linksBasic'
      example:
        results:
        - $id: https://ns.adobe.com/{TENANT_ID}/schemas/0238be93d3e7a06aec5e0655955901ec
          meta:altId: _{TENANT_ID}.schemas.0238be93d3e7a06aec5e0655955901ec
          version: '1.4'
          title: Hotels
        - $id: https://ns.adobe.com/{TENANT_ID}/schemas/0ef4ce0d390f0809fad490802f53d30b
          meta:altId: _{TENANT_ID}.schemas.0ef4ce0d390f0809fad490802f53d30b
          version: '1.0'
          title: Loyalty Members
        _page:
          orderby: title
          next: null
          count: 2
        _links:
          next: null
          global_schemas:
            href: https://platform.adobe.io/data/foundation/schemaregistry/global/schemas
    lookupFieldGroupResponse:
      allOf:
      - $ref: '#/components/schemas/singleFieldGroupResponse'
      example:
        $id: https://ns.adobe.com/xdm/context/profile-person-details
        meta:altId: _xdm.context.profile-person-details
        meta:resourceType: mixins
        version: 1.22.3
        title: Demographic Details
        type: object
        description: Demographic information such as name, gender, and birth date of an individual.
        definitions:
          profile-person-details:
            properties:
              person:
                title: Person
                '$ref ': https://ns.adobe.com/xdm/context/person
                description: An individual actor, contact, or owner.
                type: object
                meta:xdmType: object
                meta:xdmField: xdm:person
        allOf:
        - '$ref ': https://ns.adobe.com/xdm/common/extensible%23/definitions/@context
          type: object
          meta:xdmType: object
        - $ref: '#/components/schemas/profile-person-details'
          type: object
          meta:xdmType: object
        meta:extensible: true
        meta:abstract: true
        meta:intendedToExtend:
        - https://ns.adobe.com/xdm/context/profile
        meta:xdmType: object
        meta:status: stable
        $schema: http://json-schema.org/draft-06/schema#
        meta:registryMetadata:
          repo:createdDate: 1620758109174
          repo:lastModifiedDate: 1620758109174
          eTag: f5b20a7edefab1c4b1a86fbd4de91570b57d36b9f2c6deb3225a18d14fafce3b
          meta:globalLibVersion: 1.22.3
          meta:usageCount: 29
        meta:tags:
          industry:
          - all
        meta:createdDate: '2020-08-10'
    singleFieldGroupResponse:
      allOf:
      - $ref: '#/components/schemas/lookupResourceWithDefinitions'
      - properties:
          meta:intendedToExtend:
            type: array
            description: An array that contains the `$id` of the class this field group is compatible with.
            items:
              type: string
              description: The `$id` of the class this field group is compatible with.
      - $ref: '#/components/schemas/xdmTypeToSchema'
      - $ref: '#/components/schemas/metaRegistryMetadata'
      - properties:
          meta:tags:
            type: object
            description: (For `global` field groups only) Describes various Adobe-managed categorization tags for the field group.
          meta:createdDate:
            type: object
            description: (For `global` field groups only) A timestamp of when the global field group was released.
    profile-person-details:
      type: string
      example: '#/definitions/profile-person-details'
    listResponse:
      allOf:
      - $ref: '#/components/schemas/listResponseBasic'
      - properties:
          _links:
            $ref: '#/components/schemas/linksBasic'
    errorBasic:
      type: object
      properties:
        type:
          type: string
          description: The XDM error code.
        title:
          type: string
          description: The error code title.
        status:
          type: integer
          description: The HTTP status code for the error.
        report:
          type: object
          description: Contains registry information about the error.
          properties:
            registryRequestId:
              type: string
              description: A unique ID for the report.
            timestamp:
              type: string
              description: A timestamp of when the error occurred.
            detailed-message:
              type: string
              description: A detailed message about what caused the error.
            sub-errors:
              type: array
              description: Contains details about other errors that this error is a parent of.
              items:
                $ref: '#/components/schemas/errorBasic'
        detail:
          type: string
          description: A detailed message about what caused the error.
    updateFieldGroupResponse:
      allOf:
      - $ref: '#/components/schemas/createFieldGroupResponse'
      - properties:
          version:
            example: '1.3'
  parameters:
    accept:
      name: Accept
      description: 'The desired response format. For lookup requests, a `version` parameter must be included, with the following `Accept` header values being permitted:

        <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed+json; version=1</code></td><td>Returns only the basic details of the resource, with all inherited fields relegated to <code>$ref</code> and <code>allOf</code> properties.</td></tr><tr><td><code>application/vnd.adobe.xed-full+json; version=1</code></td><td>Returns the full details of the resource, including the details all fields inherited from other resources.</td></tr><tr><td><code>application/vnd.adobe.xed-notext+json; version=1</code></td><td>Returns only the basic details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-notext+json; version=1</code></td><td>Returns the full details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-desc+json; version=1</code></td><td>Returns the full details of the resource, including descriptions but with no titles.</td></tr></tbody></table>'
      required: true
      in: header
      schema:
        type: string
    patchFieldGroupPayload:
      name: body
      description: The request body accepts a JSON Patch payload.
      required: true
      in: body
      schema:
        $ref: '#/components/schemas/patchFieldGroup'
    containerIdList:
      name: CONTAINER_ID
      description: The name of the container that you want to list resources from. To list core resources provided by Adobe, use `global`. To list custom resources defined by your organization, use `tenant`.
      required: true
      in: path
      schema:
        type: string
    start:
      name: start
      description: 'When used in conjunction with an `orderby` parameter, `start` specifies where the paginated list of items should begin. This parameter cannot be used without an `orderby` parameter present.


        Typically, this parameter is omitted in order to obtain the first page of results. After that, `start` should be set to the maximum value of the primary sort property of the `orderby` field received in the previous page. The API response then returns entries beginning with those that have a primary sort property from `orderby` strictly greater than (for ascending) or strictly less than (for descending) the specified value.


        For example, if the `orderby` parameter is set to `orderby=name,firstname`, the `start` parameter would contain a value for the `name` property. In this case, if you wanted to show the next 20 entries of a resource immediately following the name "Miller", you would use: `?orderby=name,firstname&start=Miller&limit=20`.'
      required: false
      in: query
      schema:
        type: string
    property:
      name: property
      description: A comma-separated list of top-level object properties to be returned in the response. For example, `property=meta:intendedToExtend==https://ns.adobe.com/xdm/context/profile` returns only field groups that are compatible with the XDM Individual Profile class.
      in: query
      required: false
      schema:
        type: string
    containerIdLookup:
      name: CONTAINER_ID
      description: The name of the container that you want to retrieve a resource from. To retrieve a core resource provided by Adobe, use `global`. To retrieve a custom resource defined by your organization, use `tenant`.
      required: true
      in: path
      schema:
        type: string
    authorization:
      name: Authorization
      description: The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    replaceFieldGroupPayload:
      name: body
      description: The JSON payload must include all of the fields that were originally required for creating the field group, but with updated values. This includes an `allOf` attribute referencing the `$id` of the class the schema will implement.
      required: true
      in: body
      schema:
        $ref: '#/components/schemas/replaceFieldGroup'
    x-gw-ims-org-id:
      name: x-gw-ims-org-id
      description: The IMS Organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    fieldGroupPayload:
      name: body
      description: The JSON payload must include a 'meta:intendedToExtend' field listing the '$id' of the class(es) with which the field group is compatible.
      required: true
      in: body
      schema:
        $ref: '#/components/schemas/createFieldGroup'
    acceptListing:
      name: Accept
      description: "The desired response format. For listing calls, the following `Accept` header values are permitted: \n<table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed-id+json</code></td><td>Returns a short summary of each resource, generally the preferred header for listing.</td></tr><tr><td><code>application/vnd.adobe.xed+json</code></td><td>Returns full JSON for each resource, with the original <code>$ref</code> and <code>allOf</code> attributes included.</td></tr></tbody></table>"
      required: true
      in: header
      schema:
        type: string
    x-api-key:
      name: x-api-key
      description: The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    limit:
      name: limit
      description: 'When used in conjunction with an `orderby` parameter, `limit` restricts the maximum number of items that should be returned for a given request. This parameter cannot be used without an `orderby` parameter present.


        The `limit` parameter specifies a positive integer (between `0` and `500`) as a *hint* as to the maximum number of items that should be returned. For example, `limit=5` returns only five resources in the list. However, this value is not strictly honored. The actual response size may be smaller or larger as constrained by the need to provide the reliable operation of the `start` parameter, if one is provided.'
      required: false
      in: query
      schema:
        type: number
    content-type:
      name: Content-Type
      description: The type of content being sent in the body of the request. When sending requests that include payloads to the Schema Registry API, this header must be included with a value of `application/json`.
      required: true
      in: header
      schema:
        type: string
    orderBy:
      name: orderby
      description: Sort the listed resources by specified fields. For example `orderby=title` sorts results by title in ascending order (A-Z). Adding a `-` before the field name (`orderby=-title`) sorts items in descending order (Z-A). Multiple fields can also be included to denote primary and secondary sort orders (for example, `orderby=title,description`).
      required: false
      in: query
      schema:
        type: string
    x-sandbox-name:
      name: x-sandbox-name
      description: The name of the sandbox in which the operation will take place. See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
      required: true
      in: header
      schema:
        type: string
