openapi: 3.2.0
info:
  description: "The endpoints described here are routed through analytics.adobe.io. In order to use these endpoints you must create an oAuth client that is subscribed to access the Adobe Analytics Reporting API. \n\n To view the API References for non-core Analytics 2.0 APIs, select the **API Reference** drop-down menu at the top of the page. \n\n Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes."
  title: Adobe Analytics Users API
  version: '2.0'
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Users
paths:
  /{globalCompanyId}/users:
    get:
      tags:
      - Users
      summary: Retrieve users for current company
      description: Retrieves a list of all users for the company designated by the auth token.
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: limit
        in: query
        description: Number of results per page
        required: false
        schema:
          type: integer
          default: 10
      - name: page
        in: query
        description: Page number (base 0 - first page is "0")
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnalyticsUser'
        '500':
          description: Database error or other unexpected error
  /{globalCompanyId}/users/me:
    get:
      tags:
      - Users
      summary: Retrieve current user
      description: ''
      operationId: getCurrentUser
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsUser'
components:
  parameters:
    authorization:
      name: Authorization
      in: header
      description: The access token copied from your AA API client integration, prefixed with "Bearer ".
      required: true
      schema:
        type: string
    x-api-key:
      name: x-api-key
      in: header
      description: The API key copied from your AA API client integration. For more information on how to obtain this value, see [Getting started with the Analytics API](https://developer.adobe.com/analytics-apis/docs/2.0/guides/).
      required: true
      schema:
        type: string
  schemas:
    AnalyticsUser:
      type: object
      properties:
        companyid:
          type: integer
          format: int32
        loginId:
          type: integer
          format: int32
        login:
          type: string
        changePassword:
          type: boolean
        createDate:
          type: string
          format: date-time
        disabled:
          type: boolean
        email:
          type: string
        firstName:
          type: string
        fullName:
          type: string
        imsUserId:
          type: string
        lastName:
          type: string
        lastAccess:
          type: string
          format: date-time
        phoneNumber:
          type: string
        tempLoginEnd:
          type: string
          format: date-time
        title:
          type: string
