openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Variables API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Variables
paths:
  /api/program/{programId}/environment/{environmentId}/variables:
    get:
      tags:
      - Variables
      summary: List User Environment Variables
      description: List the user defined variables for an environment (Cloud Service only).
      operationId: getEnvironmentVariables
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        x-example: '2351'
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        x-example: '128'
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of environment variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableList'
        '404':
          description: Environment not found
    patch:
      tags:
      - Variables
      summary: Patch User Environment Variables
      description: Modify multiple environment variables (Cloud Service only). To delete a variable, include it with an empty value.
      operationId: patchEnvironmentVariables
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful setting of variables
        '404':
          description: Environment not found
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/EnvironmentVariableUpdate'
        description: The list of variables to add, modify, or remove. It is not necessary to send variables here which are not changing. The length of `secretString` values must be less than 500 characters.
        required: true
  /api/program/{programId}/pipeline/{pipelineId}/variables:
    get:
      tags:
      - Variables
      summary: List User Pipeline Variables
      description: List the user defined variables for an pipeline.
      operationId: getPipelineVariables
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        x-example: '2351'
        schema:
          type: string
      - name: pipelineId
        in: path
        description: Identifier of the pipeline
        required: true
        x-example: '128'
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of pipeline variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableList'
        '404':
          description: Pipeline not found
    patch:
      tags:
      - Variables
      summary: Patch User Pipeline Variables
      description: Modify multiple pipeline variables. To delete a variable, include it with an empty value.
      operationId: patchPipelineVariables
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: pipelineId
        in: path
        description: Identifier of the pipeline
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful setting of variables
        '404':
          description: Pipeline not found
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PipelineVariableUpdate'
        description: The list of variables to add, modify, or remove. It is not necessary to send variables here which are not changing. The length of `secretString` values must be less than 500 characters.
        required: true
components:
  schemas:
    EnvironmentVariableUpdate:
      type: object
      properties:
        name:
          type: string
          example: MY_VAR1
          description: Name of the variable. Can only consist of a-z, A-Z, _ and 0-9 and cannot begin with a number.
          minLength: 2
          maxLength: 100
          pattern: '[a-zA-Z_][a-zA-Z_0-9]*'
        value:
          type: string
          example: myValue
          description: Value of the variable. Read-Write for non-secrets, write-only for secrets. The length of `secretString` values must be less than 500 characters. An empty value causes a variable to be deleted.
          minLength: 0
          maxLength: 2048
        type:
          type: string
          example: string
          description: Type of the variable. Default `string` if missing. `secretString` variables are encrypted at rest. The type of a variable be changed after creation; the variable must be deleted and recreated.
          enum:
          - string
          - secretString
        service:
          type: string
          example: author
          description: Service of the variable. When not provided, the variable applies to all services. Currently the values 'author', 'publish', and 'preview' are supported. Note - this value is case-sensitive.
      description: A change (create, update, delete) of a named value on an Environment
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    Variable:
      type: object
      properties:
        name:
          type: string
          example: MY_VAR1
          description: Name of the variable. Can only consist of a-z, A-Z, _ and 0-9 and cannot begin with a number.
          minLength: 2
          maxLength: 100
          pattern: '[a-zA-Z_][a-zA-Z_0-9]*'
        value:
          type: string
          example: myValue
          description: Value of the variable. Read-Write for non-secrets, write-only for secrets. The length of `secretString` values must be less than 500 characters. An empty value causes a variable to be deleted.
          minLength: 0
          maxLength: 2048
        type:
          type: string
          example: string
          description: Type of the variable. Default `string` if missing. `secretString` variables are encrypted at rest. The type of a variable be changed after creation; the variable must be deleted and recreated.
          enum:
          - string
          - secretString
        service:
          type: string
          example: author
          description: Service of the variable. When not provided, the variable applies to all services. Currently the values 'author', 'publish', and 'preview' are supported. Note - this value is case-sensitive.
        status:
          type: string
          example: ready
          description: Status of the variable
          enum:
          - creating
          - ready
          - deleting
          - deleted
          - updating
          - failed
          - deleted_failed
      description: A named value than can be set on an Environment or Pipeline
    PipelineVariableUpdate:
      type: object
      properties:
        name:
          type: string
          example: MY_VAR1
          description: Name of the variable. Can only consist of a-z, A-Z, _ and 0-9 and cannot begin with a number.
          minLength: 2
          maxLength: 100
          pattern: '[a-zA-Z_][a-zA-Z_0-9]*'
        value:
          type: string
          example: myValue
          description: Value of the variable. Read-Write for non-secrets, write-only for secrets. The length of `secretString` values must be less than 500 characters. An empty value causes a variable to be deleted.
          minLength: 0
          maxLength: 2048
        type:
          type: string
          example: string
          description: Type of the variable. Default `string` if missing. `secretString` variables are encrypted at rest. The type of a variable be changed after creation; the variable must be deleted and recreated.
          enum:
          - string
          - secretString
      description: A change (create, update, delete) of a named value on a Pipeline
    VariableList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          example: 1
          description: The total number of embedded items
        _embedded:
          type: object
          readOnly: true
          properties:
            variables:
              type: array
              example: '[{ ''name'':''variable1Name'', ''value'':''variable1Value''}, { ''name'':''variable1Name'', ''value'':''variable1Value'', ''service'':''author''}, { ''name'':''variable2Name'', ''type'':''secretString'', ''value'':''variable2SecretValue''}]'
              description: Variables set on environment
              items:
                $ref: '#/components/schemas/Variable'
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/environment:
              description: The environment holding the variables
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/pipeline:
              description: The pipeline holding the variables
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/program:
              description: The Program
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
