openapi: 3.2.0
info:
  title: Adobe Suite Environments API
  version: '1.0'
  description: 'Operations tagged Environments across 2 of this provider''s published API definitions: adobe-suite-aep-reactor-openapi.yaml, adobe-suite-cloud-manager-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: //reactor.adobe.io
- url: https://cloudmanager.adobe.io
tags:
- name: Environments
  description: An environment indicates the specific host where a build can be deployed, and whether the build should be deployed as a set of files or compressed in an archive format. In the Reactor API, environments are separate from hosts themselves, which are managed by the /hosts endpoint.
paths:
  /properties/{PROPERTY_ID}/environments:
    get:
      tags:
      - Environments
      summary: List a property's environments
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: listEnvironments
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose environments you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: stage
        in: query
        description: Filter by `stage`.
        schema:
          type: string
      - name: token
        in: query
        description: Filter by `token`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of environments belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsListResponse'
    post:
      tags:
      - Environments
      summary: Create an environment
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: createEnvironment
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create an environment for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/environmentsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created environment.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsCreateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /environments/{ENVIRONMENT_ID}:
    get:
      tags:
      - Environments
      summary: Retrieve an environment
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: retrieveEnvironment
      parameters:
      - name: ENVIRONMENT_ID
        in: path
        description: The ID of the environment you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the environment.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsLookupResponse'
    delete:
      tags:
      - Environments
      summary: Delete an environment
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: deleteEnvironment
      parameters:
      - name: ENVIRONMENT_ID
        in: path
        description: The ID of the environment you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - Environments
      summary: Update an environment
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: updateEnvironment
      parameters:
      - name: ENVIRONMENT_ID
        in: path
        description: The ID of the environment you want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/environmentsUpdatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated environment.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsUpdateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /environments/{ENVIRONMENT_ID}/builds:
    get:
      tags:
      - Environments
      summary: List an environment's builds
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: listBuilds
      parameters:
      - name: ENVIRONMENT_ID
        in: path
        description: The ID of the environment whose related builds you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of builds that use the specified environment.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsBuildsListResponse'
    servers:
    - url: //reactor.adobe.io
  /environments/{ENVIRONMENT_ID}/secrets:
    get:
      tags:
      - Environments
      summary: List an environment's secrets
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: listEnvironmentSecrets
      parameters:
      - name: ENVIRONMENT_ID
        in: path
        description: The ID of the environment whose related secrets you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of secrets that are associated with the specified environment.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsSecretsListResponse'
    servers:
    - url: //reactor.adobe.io
  /environments/{ENVIRONMENT_ID}/host:
    get:
      tags:
      - Environments
      summary: Retrieve a host
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: retrieveEnvironmentHost
      parameters:
      - name: ENVIRONMENT_ID
        in: path
        description: The ID of the environment whose host you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the environment's associated host.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsHostLookupResponse'
    servers:
    - url: //reactor.adobe.io
  /environments/{ENVIRONMENT_ID}/relationships/host:
    get:
      tags:
      - Environments
      summary: Retrieve the host relationship for an environment
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: retrieveHostRelationship
      parameters:
      - name: ENVIRONMENT_ID
        in: path
        description: The ID of the environment whose host relationship you want to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the host relationship for the specified environment.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsHostRelationshipLookupResponse'
    servers:
    - url: //reactor.adobe.io
  /environments/{ENVIRONMENT_ID}/library:
    get:
      tags:
      - Environments
      summary: Retrieve an environment's related library
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: retrieveEnvironmentLibrary
      parameters:
      - name: ENVIRONMENT_ID
        in: path
        description: The ID of the environment whose related library you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the environment's associated library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsLibraryLookupResponse'
    servers:
    - url: //reactor.adobe.io
  /environments/{ENVIRONMENT_ID}/property:
    get:
      tags:
      - Environments
      summary: Retrieve the property that owns an environment
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: retrieveEnvironmentProperty
      parameters:
      - name: ENVIRONMENT_ID
        in: path
        description: The ID of the environment whose related property you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the environment's associated property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsPropertyLookupResponse'
    servers:
    - url: //reactor.adobe.io
  /api/program/{programId}/environments:
    get:
      tags:
      - Environments
      summary: List Environments
      description: Lists all environments in an program
      operationId: getEnvironments
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: Type of the environment
        required: false
        schema:
          type: string
          enum:
          - dev
          - stage
          - prod
          - rde
          - preprod
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of environment list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentList'
        '404':
          description: Program not found
    post:
      tags:
      - Environments
      summary: Create or clone Environment
      description: Create Environment
      operationId: createEnvironment
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Environment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Bad request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewEnvironment'
        description: Environment
        required: true
    servers:
    - url: https://cloudmanager.adobe.io
  /api/program/{programId}/environment/{environmentId}:
    get:
      tags:
      - Environments
      summary: Get Environment
      description: Returns an environment by its id
      operationId: getEnvironment
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
    delete:
      tags:
      - Environments
      summary: DeleteEnvironment
      description: Delete environment
      operationId: deleteEnvironment
      parameters:
      - name: programId
        in: path
        description: Identifier of the application
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: ignoreResourcesDeletionResult
        in: query
        description: Ignore Resources Deletion Result option, delete flow does not fail if resources could not be deleted
        required: false
        schema:
          type: boolean
          default: false
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Environment deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Environment deletion in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Environment not found
    servers:
    - url: https://cloudmanager.adobe.io
  /api/program/{programId}/environment/{environmentId}/logs:
    get:
      tags:
      - Environments
      summary: Get Environment Logs
      description: List all logs available in environment
      operationId: getEnvironmentLogs
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: service
        in: query
        description: Names of services
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: name
        in: query
        description: Names of log
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: days
        in: query
        description: number of days for which logs are required
        required: true
        schema:
          type: integer
          format: int32
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of logs for an environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentLogs'
        '400':
          description: invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Environment not found
    servers:
    - url: https://cloudmanager.adobe.io
  /api/program/{programId}/environment/{environmentId}/logs/download:
    get:
      tags:
      - Environments
      summary: Download Logs
      description: Download environment logs
      operationId: downloadLogs
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: service
        in: query
        description: Name of service
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: Name of log
        required: true
        schema:
          type: string
      - name: date
        in: query
        description: date for which log is required
        required: true
        schema:
          type: string
          format: date
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Accept
        required: false
        description: Specify application/json in this header to receive a JSON response. Otherwise, a 307 response code will be returned with a Location header.
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redirect'
        '400':
          description: invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Environment not found
    servers:
    - url: https://cloudmanager.adobe.io
components:
  schemas:
    environmentsUpdateAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the environment.
        archive:
          type: boolean
          description: Indicates whether the environment should be archived.
        archive_passphrase:
          type: string
          description: A passphrase for the environment if `archive` is set to `true`.
        path:
          type: string
          description: The path for the environment.
        include_debug_library:
          type: boolean
          description: Indicates whether a debug library is included for the environment.
    propertiesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/propertiesEntity'
    environmentsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    librariesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the library was created in the system.
              name:
                type: string
                description: The name of the library.
              published_at:
                type: string
                description: A timestamp of when the library was published. Returns `null` if the library has not been published yet.
              state:
                type: string
                description: The current state of the library within the [publishing flow](https://experienceleague.adobe.com/docs/experience-platform/tags/publish/publishing-flow.html?lang=en#state).
              updated_at:
                type: string
                description: A timestamp of when the library was last updated.
              build_required:
                type: boolean
                description: Indicates whether changes have been made to the library that require a build to activate.
              stale:
                type: string
                description: 'When present, this attribute indicates that the library has become stale.


                  A library enters a stale state when another library on the [upstream](https://experienceleague.adobe.com/docs/experience-platform/tags/publish/publishing-flow.html#upstream) has been changed and the current library needs to be rebuilt to reflect those changes. In this case, the value for the attribute would be `upstream_changed`.


                  A library may also enter a stale state if one of the extensions it uses receives an update. In this case, the value for the attribute would be `extension_upgraded`.'
                enum:
                - upstream_changed
                - extension_upgraded
            description: Contains the library's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this library.
            allOf:
            - $ref: '#/components/schemas/relatedBuilds'
            - $ref: '#/components/schemas/relatedEnvironment'
            - $ref: '#/components/schemas/relatedDataElementsWithSelf'
            - $ref: '#/components/schemas/relatedExtensionsWithSelf'
            - $ref: '#/components/schemas/relatedNotes'
            - $ref: '#/components/schemas/relatedRulesWithSelf'
            - $ref: '#/components/schemas/relatedUpstreamLibrary'
            - $ref: '#/components/schemas/relatedProperty'
            - $ref: '#/components/schemas/relatedLastBuild'
          links:
            type: object
            properties:
              property:
                type: string
                description: A link to the property that owns the library.
              self:
                type: string
                description: A link to the library itself.
            description: Contains links related to the library which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              build_status:
                type: string
                description: The current build status for the library.
              build_required_detail:
                type: string
                description: A message regarding the current `build_required` status for the library.
            description: Contains meta information about the library.
    environmentsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/environmentsEntity'
    environmentsCreateResponse:
      allOf:
      - $ref: '#/components/schemas/environmentsLookupResponse'
    environmentsRelationships:
      required:
      - host
      type: object
      properties:
        host:
          required:
          - data
          type: object
          properties:
            data:
              required:
              - id
              - type
              type: object
              properties:
                id:
                  type: string
                  description: The ID of the host.
                type:
                  type: string
                  description: The resource type for the host (`hosts`).
              description: Contains basic information about the host.
          description: Describes the host that the environment will be assigned to.
    environmentsAttributes:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the environment.
        archive:
          type: boolean
          description: Indicates whether the environment should be archived.
        archive_passphrase:
          type: string
          description: A passphrase for the environment if `archive` is set to `true`.
        path:
          type: string
          description: The path for the environment.
        stage:
          type: string
          description: The stage for the environment (`development`, `staging`, or `production`).
    environmentsBuildsListResponse:
      allOf:
      - $ref: '#/components/schemas/buildsListResponse'
    relatedLastBuild:
      type: object
      properties:
        last_build:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the build.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the build.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the build.
                type:
                  type: string
                  description: The resource type for the build (`builds`).
              description: Contains further information about the build.
          description: Contains information about the last build for a library.
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    environmentsLibraryLookupResponse:
      allOf:
      - $ref: '#/components/schemas/librariesLookupResponse'
    relationshipsLookupResponse:
      type: object
      properties:
        data:
          type: array
          description: Lists the relationships that you wish to add to the parent resource.
          items:
            $ref: '#/components/schemas/relationshipEntity'
        links:
          type: object
          properties: {}
          description: Contains links that can be used in subsequent fetch requests.
    relatedEnvironment:
      type: object
      properties:
        environment:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related environment.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related environment.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the environment.
                type:
                  type: string
                  description: The resource type for the environment (`environments`).
              description: Contains further information about the related environment.
          description: Contains information about the environment that this resource is active under.
    hostsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the host was created in the system.
              server:
                type: string
                description: The URL of the server associated with the host.
              name:
                type: string
                description: The name of the host.
              path:
                type: string
                description: The path for the host (i.e. what comes after the `server` URL).
              port:
                type: integer
                description: The port number for the server URL.
              status:
                type: string
                description: The current status of the host.
              skip_symlinks:
                type: boolean
                description: '**Note**: This attribute is only available for SFTP hosts.


                  By default, all SFTP hosts use symbolic links (symlinks) to reference library builds that are saved to the server. However, not all servers support the use of symlinks. When this attribute is included and set to `true`, the host uses a copy operation to update the build assets directly instead of using symlinks.'
              type_of:
                type: string
                description: The host type, either `akamai` for an Adobe-managed  host, or `sftp` for self-hosting.
              updated_at:
                type: string
                description: A timestamp of when the host was last updated.
              username:
                type: string
                description: A username associated with the host.
            description: Contains the host's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this host.
            allOf:
            - $ref: '#/components/schemas/relatedProperty'
          links:
            type: object
            properties:
              property:
                type: string
                description: A link to the property that owns the host.
              self:
                type: string
                description: A link to the host itself.
            description: Contains links related to the host which can be used in subsequent fetch requests.
    hostsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/hostsEntity'
    buildsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    relatedProperty:
      type: object
      properties:
        property:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related property for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related property for the resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the property.
                type:
                  type: string
                  description: The resource type for the property (`properties`).
              description: Contains further information about the related property.
          description: Contains details about the property that owns the resource.
    relatedCompany:
      type: object
      properties:
        company:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related company.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related company.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the company.
                type:
                  type: string
                  description: The resource type for the company (`companies`).
              description: Contains further information about the related company.
          description: Contains information about the company that owns the resource.
    relatedLibraries:
      type: object
      properties:
        libraries:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related libraries for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related libraries for the resource.
          description: Contains a link to the related libraries for the resource.
    relatedDataElements:
      type: object
      properties:
        data_elements:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related data elements for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related data elements for the resource.
          description: Contains a link to the related data elements for the resource.
    relatedRules:
      type: object
      properties:
        rules:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related rules for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related rules for the resource.
          description: Contains a link to the related rules for the resource.
    environmentsUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreateWithRelationships'
      - type: object
        properties:
          data:
            required:
            - attributes
            - relationships
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/environmentsUpdateAttributes'
              relationships:
                type: object
                allOf:
                - $ref: '#/components/schemas/environmentsRelationships'
    relatedCallbacks:
      type: object
      properties:
        callbacks:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related callbacks for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related callbacks for the resource.
          description: Contains a link to the related callbacks for the resource.
    relatedLibrary:
      type: object
      properties:
        library:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the library.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the library.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the library.
                type:
                  type: string
                  description: The resource type for the library (`libraries`).
              description: Contains further information about the library.
          description: Contains a link to the library that is assigned to this environment.
    relatedHost:
      type: object
      properties:
        host:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the host.
                self:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the relationship object for the host.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the host.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the host.
                type:
                  type: string
                  description: The resource type for the host (`hosts`).
              description: Contains further information about the host.
          description: Contains a link to the host that is assigned to this environment.
    relatedExtensions:
      type: object
      properties:
        extensions:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extensions for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extensions for the resource.
          description: Contains a link to the related extensions for the resource.
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    environmentsHostLookupResponse:
      allOf:
      - $ref: '#/components/schemas/hostsLookupResponse'
    relatedDataElementsWithSelf:
      type: object
      properties:
        data_elements:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related data elements for the resource.
                self:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the relationship object for the resource's related data elements.
              description: Contains links that can be used in a subsequent fetch calls.
          description: Contains a link to the related data elements for the resource.
    environmentsCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreateWithRelationships'
      - type: object
        properties:
          data:
            required:
            - attributes
            - relationships
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/environmentsAttributes'
              relationships:
                type: object
                allOf:
                - $ref: '#/components/schemas/environmentsRelationships'
    environmentsHostRelationshipLookupResponse:
      allOf:
      - $ref: '#/components/schemas/relationshipsLookupResponse'
      - type: object
        properties:
          links:
            type: object
            properties:
              related:
                type: string
                description: A link to the related host for the environment.
              self:
                type: string
                description: A link to the host relationship object for the environment.
    environmentsUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/environmentsLookupResponse'
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
    relatedHosts:
      type: object
      properties:
        hosts:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related hosts for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related hosts for the resource.
          description: Contains a link to the related hosts for the resource.
    relatedNotes:
      type: object
      properties:
        notes:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related notes for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related notes for the resource.
          description: Contains a link to the related notes for the resource.
    environmentsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              archive:
                type: boolean
                description: Indicates whether the environment is archived.
              created_at:
                type: string
                description: A timestamp of when the environment was created in the system.
              library_path:
                type: string
                description: The base path for the library that has been assigned to the environment.
              library_name:
                type: string
                description: The name of the JavaScript file that contains the library that has been assigned to the environment.
              library_entry_points:
                type: array
                description: Contains an expanded list of all the libraries that  are built as part of this environment. Since only one library  can be built on an environment at a time, this array typically  contains the minified and unminified versions of the same library.
                items:
                  type: object
                  properties:
                    library_name:
                      type: string
                      description: The name of the JavaScript file that contains the library.
                    minified:
                      type: boolean
                      description: Indicates whether this is the minified version of the library. The minified version of the library is significantly smaller and more efficient, and should therefore be the version that is employed on your webpage. The non-minified version contains comments and is provided for debugging purposes.
                    references:
                      type: array
                      description: Contains the full path to the library, which is the `library_path` concatenated with the `library_name`.
                      items:
                        type: string
                    license_path:
                      type: string
                      description: If this object represents a minified library, this attribute provides the full path to the un-minififed version.
              name:
                type: string
                description: The name of the environment.
              path:
                type: string
                description: The path for the environment.
              stage:
                type: string
                description: The stage for the environment (`development`, `staging`,  or `production`).
              updated_at:
                type: string
                description: A timestamp of when the environment was last updated.
              status:
                type: string
                description: The current status of the environment.
              token:
                type: string
                description: 'A unique token for the environment.


                  When a build is pushed to an Adobe-managed host (`akamai`), this token is used to identify the environment within the library''s folder structure. This also prevent''s the environment''s `id` value from being unnecessarily exposed. This also applies to `sftp` hosts so that libraries are constructed in the same manner.'
            description: Contains the environment's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this environment.
            allOf:
            - $ref: '#/components/schemas/relatedLibrary'
            - $ref: '#/components/schemas/relatedBuilds'
            - $ref: '#/components/schemas/relatedHost'
            - $ref: '#/components/schemas/relatedProperty'
          links:
            type: object
            properties:
              property:
                type: string
                description: A link to the property that owns the environment.
              self:
                type: string
                description: A link to the environment itself.
            description: Contains links related to the environment which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              archive_encrypted:
                type: boolean
                description: Indicates whether the environment archive has been encrypted. An environment archive is ZIP file which can be downloaded for self-hosting purposes. An encrypted archive is one where a simple password has been applied for access control.
              script_sources:
                type: array
                description: If `premium_cdn` has been enabled for the company that  owns this environment, this array lists the two different hosts  that the environment is associated with. One is the default host  and the other is host provided by the premium CDN.
                items:
                  type: string
            description: Contains meta information about the environment.
    environmentsPropertyLookupResponse:
      allOf:
      - $ref: '#/components/schemas/propertiesLookupResponse'
    dataCreateWithRelationships:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            relationships:
              type: object
              description: The relationships for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes, relationships, and type for the resource being created.
    relatedEnvironments:
      type: object
      properties:
        environments:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related environments for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related environments for the resource.
          description: Contains a link to the related environments for the resource.
    relationshipEntity:
      type: object
      properties:
        type:
          type: string
          description: The resource type for the related entity.
        id:
          type: string
          description: The ID for the related entity.
    relatedUpstreamLibrary:
      type: object
      properties:
        upstream_library:
          type: object
          properties:
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the library.
                type:
                  type: string
                  description: The resource type for the library (`libraries`).
              description: Contains basic information about the upstream library.
          description: Contains information about the [upstream library](https://experienceleague.adobe.com/docs/experience-platform/tags/publish/publishing-flow.html?lang=en#upstream) for this library.
    relatedBuilds:
      type: object
      properties:
        builds:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related builds for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related builds for the resource.
          description: Contains a link to the related builds for the resource.
    secretsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    librariesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/librariesEntity'
    relatedRulesWithSelf:
      type: object
      properties:
        rules:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related rules for the resource.
                self:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the relationship object for the resource's related rules.
              description: Contains links that can be used in a subsequent fetch calls.
          description: Contains a link to the related rules for the resource.
    relatedExtensionsWithSelf:
      type: object
      properties:
        extensions:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extensions for the resource.
                self:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the relationship object for the resource's related extensions.
              description: Contains links that can be used in a subsequent fetch calls.
          description: Contains a link to the related extensions for the resource.
    environmentsSecretsListResponse:
      allOf:
      - $ref: '#/components/schemas/secretsListResponse'
    propertiesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the property was created in the system.
              enabled:
                type: boolean
                description: Indicates whether this property is enabled.
              name:
                type: string
                description: The name of the property.
              updated_at:
                type: string
                description: A timestamp of when the property was last updated.
              platform:
                type: string
                description: The platform for the property, either `web` or `mobile`.
              development:
                type: boolean
                description: Indicates whether this property is in development.
              token:
                type: string
                description: 'A unique token for the property.


                  When a build is pushed to an Adobe-managed host (`akamai`), this token is used to identify the property within the library''s folder structure. This also prevent''s the property''s `id` value from being unnecessarily exposed. This also applies to `sftp` hosts so that libraries are constructed in the same manner.'
              domains:
                type: array
                description: A list of domains associated with the property.
                items:
                  type: string
              undefined_vars_return_empty:
                type: boolean
                description: Indicates whether missing data elements return an empty string on this property.
              rule_component_sequencing_enabled:
                type: boolean
                description: Indicates whether rule component sequencing is enabled on this property.
            description: Contains the property's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this property.
            allOf:
            - $ref: '#/components/schemas/relatedCompany'
            - $ref: '#/components/schemas/relatedCallbacks'
            - $ref: '#/components/schemas/relatedHosts'
            - $ref: '#/components/schemas/relatedEnvironments'
            - $ref: '#/components/schemas/relatedLibraries'
            - $ref: '#/components/schemas/relatedDataElements'
            - $ref: '#/components/schemas/relatedExtensions'
            - $ref: '#/components/schemas/relatedRules'
            - $ref: '#/components/schemas/relatedNotes'
          links:
            type: object
            properties:
              company:
                type: string
                description: A link to the company that owns the property.
              data_elements:
                type: string
                description: A link to the data elements employed by the property.
              environments:
                type: string
                description: A link to the environments employed by the property.
              extensions:
                type: string
                description: A link to the extensions employed by the property.
              rules:
                type: string
                description: A link to the rules employed by the property.
              self:
                type: string
                description: A link to the property itself.
            description: Contains links related to the property which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              rights:
                type: array
                description: Lists the rights that are enabled for the property.
                items:
                  type: string
            description: Contains meta information about the property.
    LogOptionRepresentation:
      type: object
      required:
      - name
      - service
      properties:
        service:
          type: string
          description: 'Name of the service in environment. Example: author'
        name:
          type: string
          description: 'Name of the log for service in environment. Example: aemerror'
    EnvironmentLog:
      type: object
      properties:
        service:
          type: string
          example: author
          description: Name of the service
        name:
          type: string
          example: aemerror
          description: Name of the Log
        date:
          type: string
          example: '2019-04-05'
          description: date of the Log
          format: date
        programId:
          type: integer
          format: int64
        environmentId:
          type: integer
          format: int64
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/logs/download:
              description: Download Logs link
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/logs/tail:
              description: Tail Log link
              $ref: '#/components/schemas/HalLink'
      description: Log from Environment
    InvalidParameter:
      type: object
      properties:
        name:
          type: string
          example: paramName
          description: Name of the invalid parameter.
        reason:
          type: string
          example: value must be a positive number
          description: Reason of why the parameter's value is not accepted.
    Redirect:
      type: object
      required:
      - redirect
      properties:
        redirect:
          type: string
          description: The url to redirect to.
    EnvironmentList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _embedded:
          type: object
          readOnly: true
          properties:
            environments:
              type: array
              items:
                $ref: '#/components/schemas/Environment'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    BadRequestError:
      type: object
      properties:
        status:
          type: integer
          format: int32
          example: 4xx
          description: HTTP status code of the response.
        type:
          type: string
          example: http://ns.adobe.com/adobecloud/error
          description: Error type identifier.
        title:
          type: string
          example: Validation failed
          description: A short summary of the error.
        missingParams:
          type: array
          description: Request's missing parameters.
          items:
            $ref: '#/components/schemas/MissingParameter'
        invalidParams:
          type: array
          description: Request's invalid parameters.
          items:
            $ref: '#/components/schemas/InvalidParameter'
      description: A Bad Request response error.
    EnvironmentLogs:
      type: object
      properties:
        service:
          type: array
          example: author
          description: Name of the service
          items:
            type: string
        name:
          type: array
          example: aemerror
          description: Name of the Log
          items:
            type: string
        days:
          type: integer
          format: int32
          example: 2
          description: Number of days
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/program:
              description: The Application this environment belongs to.
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
        _embedded:
          type: object
          readOnly: true
          properties:
            downloads:
              type: array
              description: Links to logs
              items:
                $ref: '#/components/schemas/EnvironmentLog'
      description: Logs of an Environment
    Environment:
      type: object
      properties:
        id:
          type: string
          description: id
        programId:
          type: string
          example: '14'
          description: Identifier of the program. Unique within the space.
        name:
          type: string
          example: AcmeCorp Dev1 Environment
          description: Name of the environment
          pattern: (?=.*[a-zA-Z])[-+!'"/#$%&*.,;()@-} 0-9]*
        description:
          type: string
          example: This is our primary development environment
          description: Description of the environment
        type:
          type: string
          example: dev
          description: Type of the environment
          enum:
          - dev
          - stage
          - prod
          - rde
          - preprod
        status:
          type: string
          example: creating
          description: Status of the environment
          enum:
          - creating
          - ready
          - deleting
          - deleted
          - updating
          - failed
          - deploy_failed
          - created
          - restoring
          - restore_failed
          - resetting
          - reset_failed
          - degraded
          - hibernated
        region:
          type: string
          example: va7
          description: Region of the environment
        availableLogOptions:
          type: array
          description: List of logs available in the environment
          items:
            $ref: '#/components/schemas/LogOptionRepresentation'
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/program:
              description: The Program this environment belongs to.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/pipeline:
              description: The Pipeline this environment is assigned to, if any
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/author:
              description: Author URL
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/publish:
              description: Publish URL
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/preview:
              description: Publish URL
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/developerConsole:
              description: Developer Console URL
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/logs:
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/variables:
              description: Custom environment variables
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/advancedNetworking:
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: A representation of an Environment known to Cloud Manager.
    NewEnvironment:
      type: object
      description: Description of a new program to be created
      required:
      - name
      - region
      - type
      properties:
        name:
          type: string
          example: acme-dev1
          description: Name of the environment
        type:
          type: string
          enum:
          - dev
          - stage
          - prod
          - rde
        region:
          type: string
          example: va7
          description: Region to create the environment.
        description:
          type: string
          example: This is our primary development environment
          description: Description of the environment
    MissingParameter:
      type: object
      properties:
        name:
          type: string
          example: paramName
          description: Name of the missing parameter.
        type:
          type: string
          example: string
          description: Type of the missing parameter.
x-refined-from:
- adobe-suite-aep-reactor-openapi.yaml
- adobe-suite-cloud-manager-openapi.yaml
x-original-swagger-version: '2.0'
