openapi: 3.2.0
info:
  description: "The endpoints described here are routed through analytics.adobe.io. In order to use these endpoints you must create an oAuth client that is subscribed to access the Adobe Analytics Reporting API. \n\n To view the API References for non-core Analytics 2.0 APIs, select the **API Reference** drop-down menu at the top of the page. \n\n Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes."
  title: Adobe Analytics Usage Logs API
  version: '2.0'
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Usage Logs
paths:
  /{globalCompanyId}/auditlogs/usage:
    get:
      tags:
      - Usage Logs
      summary: Retrieve logs for provided search criteria
      description: This API returns the usage and access logs for a given date range within a 3 month period. This API authenticates with an IMS user token.
      operationId: getUsageAccessLogs
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: startDate
        in: query
        description: Start date for the maximum of a 3 month period.
        required: true
        schema:
          type: string
          default: '2021-01-01T00:00:00-07'
      - name: endDate
        in: query
        description: End date for the maximum of a 3 month period.
        required: true
        schema:
          type: string
          default: '2021-01-02T14:32:33-07'
      - name: login
        in: query
        description: The login value of the user you want to filter logs by.
        schema:
          type: string
      - name: ip
        in: query
        description: The IP address you want to filter logs by.
        schema:
          type: string
      - name: rsid
        in: query
        description: The report suite ID you want to filter logs by.
        schema:
          type: string
      - name: eventType
        in: query
        description: The numeric id for the event type you want to filter logs by.
        schema:
          type: string
      - name: event
        in: query
        description: The event description you want to filter logs by. No wildcards permitted.
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results per page.
        schema:
          type: integer
          format: int32
          default: 10
      - name: page
        in: query
        description: Page number (base 0 - first page is "0").
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '500':
          description: External API Error; Data could not be retrieved.
        '400':
          description: Invalid Request. Please check parameters.
        '403':
          description: User does not have permission to view this data.
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePageUsageLogDto'
components:
  parameters:
    authorization:
      name: Authorization
      in: header
      description: The access token copied from your AA API client integration, prefixed with "Bearer ".
      required: true
      schema:
        type: string
    x-api-key:
      name: x-api-key
      in: header
      description: The API key copied from your AA API client integration. For more information on how to obtain this value, see [Getting started with the Analytics API](https://developer.adobe.com/analytics-apis/docs/2.0/guides/).
      required: true
      schema:
        type: string
  schemas:
    UsageLogDto:
      properties:
        dateCreated:
          type: string
          format: date-time
        eventDescription:
          type: string
        ipAddress:
          type: string
        rsid:
          type: string
        eventType:
          type: string
        login:
          type: string
    ResponsePageUsageLogDto:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/UsageLogDto'
        totalElements:
          type: integer
          format: int64
        lastPage:
          type: boolean
        numberOfElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        firstPage:
          type: boolean
        sort:
          type: string
        size:
          type: integer
          format: int32
        number:
          type: integer
          format: int32
