openapi: 3.2.0
info:
  description: "The endpoints described here are routed through analytics.adobe.io. In order to use these endpoints you must create an oAuth client that is subscribed to access the Adobe Analytics Reporting API. \n\n To view the API References for non-core Analytics 2.0 APIs, select the **API Reference** drop-down menu at the top of the page. \n\n Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes."
  title: Adobe Analytics Date Ranges API
  version: '2.0'
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Date Ranges
paths:
  /{globalCompanyId}/dateranges/{id}:
    get:
      tags:
      - Date Ranges
      summary: Retrieve configuration for a date range
      description: ''
      operationId: getDateRange_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: id
        in: path
        description: The DateRange id for which to retrieve information
        required: true
        schema:
          type: string
      - name: expansion
        in: query
        description: Comma-delimited list of additional date range metadata fields to include on response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - definition
            - ownerFullName
            - modified
            - approved
            - favorite
            - shares
            - tags
            - sharesFullName
            - usageSummary
            - usageSummaryWithRelevancyScore
      - name: newDefinition
        in: query
        description: Use the new JSON def
        required: false
        schema:
          type: boolean
          default: false
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedDateRange'
    put:
      tags:
      - Date Ranges
      summary: Update configuration for a date range
      description: ''
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: id
        in: path
        description: The DateRange id for which to retrieve information
        required: true
        schema:
          type: string
      - name: expansion
        in: query
        description: Comma-delimited list of additional date range metadata fields to include on response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - definition
            - ownerFullName
            - modified
            - approved
            - favorite
            - shares
            - tags
            - sharesFullName
            - usageSummary
            - usageSummaryWithRelevancyScore
      - name: newDefinition
        in: query
        description: Use the new JSON def
        required: false
        schema:
          type: boolean
          default: false
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedDateRange'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpandedDateRange'
        description: JSON-formatted Object containing date range keys/value pairs to be updated.
    delete:
      tags:
      - Date Ranges
      summary: Delete a date range
      description: ''
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: id
        in: path
        description: The DateRange id for which to retrieve information
        required: true
        schema:
          type: string
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
  /{globalCompanyId}/dateranges:
    get:
      tags:
      - Date Ranges
      summary: Retrieve user's date ranges
      description: This API allows users to store commonly used date ranges so that they can be reused throughout the product.
      operationId: getDateRanges_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: includeType
        in: query
        description: Include additional dateranges not owned by user. The "all" option takes precedence over "shared"
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - all
            - shared
            - templates
            - curatedItem
      - name: expansion
        in: query
        description: Comma-delimited list of additional date range metadata fields to include on response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - definition
            - ownerFullName
            - modified
            - approved
            - favorite
            - shares
            - tags
            - sharesFullName
            - usageSummary
            - usageSummaryWithRelevancyScore
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      - name: filterByIds
        in: query
        description: Filter list to only include date ranges in the specified list (comma-delimited list of IDs)
        required: false
        schema:
          type: string
      - name: newDefinition
        in: query
        description: Use the new JSON def
        required: false
        schema:
          type: boolean
          default: false
      - name: filterByModifiedAfter
        in: query
        description: Filter list to only include date ranges modified since this date (ISO8601 format)
        required: false
        schema:
          type: string
      - name: curatedRsid
        in: query
        description: Include the curatedItem status for given Rsid
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results per page
        required: false
        schema:
          type: integer
          default: 10
      - name: page
        in: query
        description: Page number (base 0 - first page is "0")
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedDateRange'
    post:
      tags:
      - Date Ranges
      summary: Create a date range
      description: ''
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: expansion
        in: query
        description: Comma-delimited list of additional date range metadata fields to include on response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - definition
            - ownerFullName
            - modified
            - approved
            - favorite
            - shares
            - tags
            - sharesFullName
            - usageSummary
            - usageSummaryWithRelevancyScore
      - name: newDefinition
        in: query
        description: Use the new JSON def
        required: false
        schema:
          type: boolean
          default: false
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandedDateRange'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpandedDateRange'
        description: JSON-formatted Object containing date range keys/value pairs to be updated.
components:
  schemas:
    AlternateVariableNames:
      type: object
      properties:
        name:
          type: string
        baseName:
          type: string
        curatedName:
          type: string
    DeleteResponse:
      type: object
      properties:
        result:
          type: string
        message:
          type: string
    ExpandedDateRange:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        modified:
          type: string
          format: date-time
        companyId:
          type: integer
          format: int32
        owner:
          type: object
        definition:
          type: object
        template:
          type: boolean
        createDate:
          type: string
          format: date-time
        disabledDate:
          type: string
          format: date-time
        alternateVariableNames:
          $ref: '#/components/schemas/AlternateVariableNames'
        curatedItem:
          type: boolean
        imsOrgId:
          type: string
        systemUserOwned:
          type: boolean
        tags:
          type: array
          items:
            type: object
            additionalProperties:
              type: object
        shares:
          type: array
          items:
            type: object
            additionalProperties:
              type: object
        approved:
          type: boolean
        favorite:
          type: boolean
        usageSummary:
          type: object
          additionalProperties:
            type: object
  parameters:
    authorization:
      name: Authorization
      in: header
      description: The access token copied from your AA API client integration, prefixed with "Bearer ".
      required: true
      schema:
        type: string
    x-api-key:
      name: x-api-key
      in: header
      description: The API key copied from your AA API client integration. For more information on how to obtain this value, see [Getting started with the Analytics API](https://developer.adobe.com/analytics-apis/docs/2.0/guides/).
      required: true
      schema:
        type: string
