openapi: 3.2.0
info:
  title: Adobe Suite Status API
  x-refined-note:
  - x-spec-type differs across the merged source definitions and was not carried
  - x-spec-version differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Status across 2 of this provider''s published API definitions: adobe-suite-firefly-express-openapi.json, adobe-suite-firefly-translate-lipsync-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://express-api.adobe.io
  description: Prod endpoint
- url: https://audio-video-api.adobe.io
  description: Production environment
- url: https://audio-video-api-stage.adobe.io
  description: Staging environment
tags:
- name: Status
paths:
  /status/{jobId}:
    get:
      summary: Job status
      description: Retrieve a job's status by its `jobId`. Depending on the job type, the response may include job-specific details.
      operationId: getJobStatus
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the job.
      responses:
        '200':
          description: Successful response with job status and details.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/JobStatusResponse'
                - $ref: '#/components/schemas/ExportRenditionResponse'
                - $ref: '#/components/schemas/GenerateVariationResponse'
              examples:
                jobStatusResponseSampleOne:
                  $ref: '#/components/examples/jobStatusResponseSampleOne'
                jobStatusResponseSampleTwo:
                  $ref: '#/components/examples/jobStatusResponseSampleTwo'
                jobStatusResponseSampleThree:
                  $ref: '#/components/examples/jobStatusResponseSampleThree'
                exportRenditionResponseSampleOne:
                  $ref: '#/components/examples/exportRenditionResponseSampleOne'
                exportRenditionResponseSampleTwo:
                  $ref: '#/components/examples/exportRenditionResponseSampleTwo'
                exportRenditionResponseSampleThree:
                  $ref: '#/components/examples/exportRenditionResponseSampleThree'
                exportPdfRenditionResponseSampleOne:
                  $ref: '#/components/examples/exportPdfRenditionResponseSampleOne'
                exportPdfRenditionResponseSampleTwo:
                  $ref: '#/components/examples/exportPdfRenditionResponseSampleTwo'
                generateVariationResponseSample:
                  $ref: '#/components/examples/generateVariationResponseSample'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
              examples:
                errorResponseDetailsNotFound:
                  $ref: '#/components/examples/errorResponseDetailsNotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
              examples:
                errorResponseDetailsRuntimeError:
                  $ref: '#/components/examples/errorResponseDetailsRuntimeError'
      tags:
      - Status
      security:
      - apiKey: []
        Authorization: []
    servers:
    - url: https://express-api.adobe.io
      description: Prod endpoint
  /v1/status/{jobId}:
    get:
      summary: Get the result for a job
      description: Provides the result for an async dub job.
      operationId: jobResult
      parameters:
      - name: jobId
        in: path
        description: The job id to get status for an async dub job
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireflyJobResponse'
              examples:
                TranscribeJobSucceeded:
                  $ref: '#/components/examples/TranscribeJobSucceeded'
                TranslateJobSucceeded:
                  $ref: '#/components/examples/TranslateJobSucceeded'
                TranslateJobPartiallySucceeded:
                  $ref: '#/components/examples/TranslateJobPartiallySucceeded'
                DubJobSucceeded:
                  $ref: '#/components/examples/DubJobSucceeded'
                DubJobPartiallySucceeded:
                  $ref: '#/components/examples/DubJobPartiallySucceeded'
                JobFailed:
                  $ref: '#/components/examples/JobFailed'
                JobIsStillRunning:
                  $ref: '#/components/examples/JobIsStillRunning'
                JobIsInPendingState:
                  $ref: '#/components/examples/JobIsInPendingState'
                Access_error:
                  $ref: '#/components/examples/Access_error'
                ValidationError_AudioVideo_Required:
                  $ref: '#/components/examples/ValidationError_AudioVideo_Required'
                ValidationErrorTargetOrTranscripts:
                  $ref: '#/components/examples/ValidationErrorTargetOrTranscripts'
                ValidationErrorMissingLocale:
                  $ref: '#/components/examples/ValidationErrorMissingLocale'
                LanguageNotSupported:
                  $ref: '#/components/examples/LanguageNotSupported'
                AudioSpeechNotDetectedSingle:
                  $ref: '#/components/examples/AudioSpeechNotDetectedSingle'
                ValidationErrorRedubbing:
                  $ref: '#/components/examples/ValidationErrorRedubbing'
                ValidationErrorProprietaryContent:
                  $ref: '#/components/examples/ValidationErrorProprietaryContent'
                ValidationErrorUnrecognizedLanguage:
                  $ref: '#/components/examples/ValidationErrorUnrecognizedLanguage'
                AudioSpeechNotDetectedMulti:
                  $ref: '#/components/examples/AudioSpeechNotDetectedMulti'
                ValidationErrorDialogTrackNumber:
                  $ref: '#/components/examples/ValidationErrorDialogTrackNumber'
                ValidationErrorDownloadFailure:
                  $ref: '#/components/examples/ValidationErrorDownloadFailure'
                VideoNotDetected:
                  $ref: '#/components/examples/VideoNotDetected'
                AudioNotDetectedUnsupported:
                  $ref: '#/components/examples/AudioNotDetectedUnsupported'
                ValidationErrorVideoDuration:
                  $ref: '#/components/examples/ValidationErrorVideoDuration'
                InputMediaIndecipherableFaces:
                  $ref: '#/components/examples/InputMediaIndecipherableFaces'
                ValidationErrorCodecUnsupported:
                  $ref: '#/components/examples/ValidationErrorCodecUnsupported'
                ValidationErrorMaxSupportedResolution:
                  $ref: '#/components/examples/ValidationErrorMaxSupportedResolution'
                ValidationErrorInvalidMediaProvided:
                  $ref: '#/components/examples/ValidationErrorInvalidMediaProvided'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ErrorBodyUnauthorized:
                  $ref: '#/components/examples/ErrorBodyUnauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ErrorBodyForbidden:
                  $ref: '#/components/examples/ErrorBodyForbidden'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ErrorBodyResourceNotFound:
                  $ref: '#/components/examples/ErrorBodyResourceNotFound'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ErrorBodyMethodNotAllowed:
                  $ref: '#/components/examples/ErrorBodyMethodNotAllowed'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ErrorBodyTooManyRequests:
                  $ref: '#/components/examples/ErrorBodyTooManyRequests'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ErrorBodyInternalServerError:
                  $ref: '#/components/examples/ErrorBodyInternalServerError'
                ErrorBodyOFServiceInternalServerError:
                  $ref: '#/components/examples/ErrorBodyServiceInternalServerError'
      tags:
      - Status
      security:
      - AccessToken: []
        X-Api-Key: []
    servers:
    - url: https://audio-video-api.adobe.io
      description: Production environment
    - url: https://audio-video-api-stage.adobe.io
      description: Staging environment
components:
  schemas:
    FailedPdfRendition:
      description: Result of a failed PDF rendition export.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseDetails'
          description: Error object indicating the reason for the failure.
      required:
      - error
    SuccessfulPageRendition:
      description: Details of the page rendition that was successfully exported.
      type: object
      properties:
        pageNumber:
          description: The page number for which the rendition export request was made.
          type: number
        renditionUrl:
          description: Pre-signed URL where the rendition result can be downloaded from.
          type: string
      required:
      - pageNumber
      - renditionUrl
    FailedPageRendition:
      description: Details of the page rendition that failed to export.
      type: object
      properties:
        pageNumber:
          description: The page number for which the rendition export request was made.
          type: number
        error:
          $ref: '#/components/schemas/ErrorResponseDetails'
          description: Error object indicating the reason for the failure.
      required:
      - error
      - pageNumber
    ErrorResponseDetails:
      description: Details of the error response.
      type: object
      properties:
        error_code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        validation_errors:
          description: Validation error messages.
          type: array
          items:
            type: string
      required:
      - error_code
    ExpressDocument:
      description: Details of the Express document.
      type: object
      properties:
        id:
          description: The unique identifier of the document.
          type: string
        name:
          description: The name or title of the document.
          type: string
        thumbnailUrl:
          description: 'Pre-signed URL for the Document''s thumbnail rendition.

            The size of the rendition will be `640 pixels` along the longest side. The format of the rendition will be a `PNG` image.'
          type: string
      required:
      - id
      - name
      - thumbnailUrl
    PdfRenditionResponse:
      description: Response payload for the "export-rendition" API when exporting PDF rendition.
      type: object
      properties:
        id:
          description: The identifier of the document for which the rendition request was made.
          type: string
        pageRenditionsResult:
          description: The exported PDF rendition outcome.
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/SuccessfulPdfRendition'
            - $ref: '#/components/schemas/FailedPdfRendition'
        jobId:
          description: The identifier of the job.
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
          description: The status of the job.
      required:
      - id
      - jobId
      - pageRenditionsResult
      - status
    JobStatusResponse:
      description: Base response payload returned by Job Status API.
      type: object
      properties:
        jobId:
          description: The identifier of the job.
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
          description: The status of the job.
      required:
      - jobId
      - status
    ExportRenditionResponse:
      description: Response payload for the "export-rendition" API.
      anyOf:
      - $ref: '#/components/schemas/PageRenditionResponse'
      - $ref: '#/components/schemas/PdfRenditionResponse'
    PageRenditionResponse:
      description: Response payload for the "export-rendition" API when exporting page renditions.
      type: object
      properties:
        id:
          description: The identifier of the document for which the rendition request was made.
          type: string
        pageRenditionsResult:
          description: The exported renditions outcome indicates whether they were successful or failed.
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/SuccessfulPageRendition'
            - $ref: '#/components/schemas/FailedPageRendition'
        jobId:
          description: The identifier of the job.
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
          description: The status of the job.
      required:
      - id
      - jobId
      - pageRenditionsResult
      - status
    GenerateVariationResponse:
      description: Response payload for the "generate-variation" API.
      type: object
      properties:
        document:
          $ref: '#/components/schemas/ExpressDocument'
          description: Specifies the details of the generated variation.
        jobId:
          description: The identifier of the job.
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
          description: The status of the job.
      required:
      - document
      - jobId
      - status
    SuccessfulPdfRendition:
      description: Result of a successful PDF rendition export.
      type: object
      properties:
        renditionUrl:
          description: The URL of the PDF rendition.
          type: string
      required:
      - renditionUrl
    JobStatus:
      description: Various statuses of a job.
      enum:
      - cancel_requested
      - cancelled
      - failed
      - partially_succeeded
      - pending
      - running
      - succeeded
      type: string
    CaptionOutput:
      type: array
      description: Captions output
      items:
        type: object
        properties:
          destination:
            $ref: '#/components/schemas/Destination'
          format:
            type: string
            $ref: '#/components/schemas/TargetCaptionFormats'
            description: Format of the caption
    DubJobResponse:
      type: object
      description: Dubbing success response
      oneOf:
      - $ref: '#/components/schemas/DubSuccess'
      - $ref: '#/components/schemas/DubPartialFailure'
    DubPartialFailure:
      type: object
      description: Dubbing failure for specific language.
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
    ErrorBody:
      type: object
      description: The error response object.
      properties:
        message:
          type: string
          description: The error message.
        error_code:
          type: string
          description: Associated error code.
      required:
      - error_code
      - message
    FireflyJobResponse:
      type: object
      description: Firefly job response.
      oneOf:
      - $ref: '#/components/schemas/FireflyJobApiResponse'
      - $ref: '#/components/schemas/FireflyJobErrorResponse'
    Destination:
      type: object
      properties:
        url:
          type: string
          description: The pre-signed URL pointing to the output source.
    FireflyJobApiResponseStatus:
      type: string
      enum:
      - pending
      - running
      - failed
      - succeeded
      description: Status of the job.
    VideoOutputMediaType:
      type: string
      enum:
      - video/mp4
      - video/mov
      description: Media type of the video output
    AudioOutputMediaType:
      type: string
      enum:
      - audio/wav
      description: Media type of the audio output
    VideoOutput:
      type: object
      description: Video output in dubbing response.
      properties:
        mediaType:
          $ref: '#/components/schemas/VideoOutputMediaType'
        destination:
          $ref: '#/components/schemas/Destination'
    TranscriptInputLocale:
      type: string
      enum:
      - da-DK
      - en-IN
      - en-GB
      - es-AR
      - es-419
      - fr-CA
      - hi-IN
      - ja-JP
      - ko-KR
      - nb-NO
      - nl-NL
      - pt-BR
      - sv-SE
      - zh-CN
      - en-US
      - es-ES
      - de-DE
      - fr-FR
      - it-IT
      - pt-PT
      description: The languages that the transcript will be generated in. Use supported locale codes.
    FireflyJobErrorResponse:
      type: object
      description: Firefly job error response.
      properties:
        status:
          $ref: '#/components/schemas/FireflyJobApiResponseStatus'
        jobId:
          type: string
          description: Associated job ID.
        message:
          type: string
          description: The error message.
        error_code:
          type: string
          description: Associated error code.
      required:
      - jobId
      - status
    TargetCaptionFormats:
      type: string
      enum:
      - SRT
      description: Supported target formats for caption generation
    AudioOutput:
      type: object
      description: Audio output in dubbing response.
      properties:
        mediaType:
          $ref: '#/components/schemas/AudioOutputMediaType'
        destination:
          $ref: '#/components/schemas/Destination'
    FireflyJobApiResponse:
      type: object
      description: Firefly job success response.
      properties:
        status:
          $ref: '#/components/schemas/FireflyJobApiResponseStatus'
        jobId:
          type: string
          description: Associated job ID.
        outputs:
          description: Job response details.
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/DubJobResponse'
            - $ref: '#/components/schemas/TranscribeOutput'
      required:
      - jobId
      - status
    DubSuccess:
      type: object
      description: Dubbing success
      properties:
        audioOutput:
          $ref: '#/components/schemas/AudioOutput'
        videoOutput:
          $ref: '#/components/schemas/VideoOutput'
        transcriptOutput:
          $ref: '#/components/schemas/TranscribeOutput'
    TranscribeOutput:
      type: array
      description: Transcribe success response
      items:
        type: object
        properties:
          destination:
            $ref: '#/components/schemas/Destination'
          captions:
            $ref: '#/components/schemas/CaptionOutput'
          localeCode:
            $ref: '#/components/schemas/TranscriptInputLocale'
  examples:
    errorResponseDetailsRuntimeError:
      summary: Runtime Error
      value:
        error_code: runtime_error
        message: Runtime error
    generateVariationResponseSample:
      summary: Generate variation request succeeded
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: succeeded
        document:
          id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
          name: Generated Document
          thumbnailUrl: https://example.com/thumbnails/generated-doc.png
    exportPdfRenditionResponseSampleOne:
      summary: Export PDF Rendition Response - Succeeded
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: succeeded
        id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
        pageRenditionsResult:
        - renditionUrl: https://example.com/rendition/document.pdf
    exportPdfRenditionResponseSampleTwo:
      summary: Export PDF Rendition Response - Failed
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: failed
        id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
        pageRenditionsResult:
        - error:
            error_code: runtime_error
            message: Runtime error
    exportRenditionResponseSampleOne:
      summary: Export Rendition response sample 1
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: succeeded
        id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
        pageRenditionsResult:
        - pageNumber: 1
          renditionUrl: https://example.com/rendition/page1.jpg
        - pageNumber: 2
          renditionUrl: https://example.com/rendition/page2.jpg
        - pageNumber: 3
          renditionUrl: https://example.com/rendition/page2.jpg
        - pageNumber: 4
          renditionUrl: https://example.com/rendition/page2.jpg
        - pageNumber: 5
          renditionUrl: https://example.com/rendition/page2.jpg
    exportRenditionResponseSampleThree:
      summary: Export Rendition response sample 3
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: failed
        id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
        pageRenditionsResult:
        - pageNumber: 1
          error:
            error_code: runtime_error
            message: Runtime error
        - pageNumber: 2
          error:
            error_code: runtime_error
            message: Runtime error
    errorResponseDetailsNotFound:
      summary: Not Found
      value:
        error_code: not_found
        message: Requested resource not found
    jobStatusResponseSampleTwo:
      summary: Job status response succeeded
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: succeeded
    exportRenditionResponseSampleTwo:
      summary: Export Rendition response sample 2
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: partially_succeeded
        id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
        pageRenditionsResult:
        - pageNumber: 1
          renditionUrl: https://example.com/rendition/page1.jpg
        - pageNumber: 2
          error:
            error_code: access_error
            message: Not allowed
        - pageNumber: 3
          renditionUrl: https://example.com/rendition/page3.jpg
    jobStatusResponseSampleOne:
      summary: Job status response running
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: running
    jobStatusResponseSampleThree:
      summary: Job status response failed
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: failed
    TranslateJobSucceeded:
      summary: Translate job succeeded
      value:
        status: succeeded
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - destination:
            url: <URL where the transcription for audio/video can be downloaded>
          localeCode: en-UK
        - destination:
            url: <URL where the transcription for audio/video can be downloaded>
          localeCode: en-US
        - destination:
            url: <URL where the transcription for audio/video can be downloaded>
          localeCode: en-Fr
    ValidationErrorInvalidMediaProvided:
      summary: Error for invalid media provided as input
      value:
        error_code: validation_error
        message: Invalid media provided
    ErrorBodyForbidden:
      summary: Error Body Forbidden
      value:
        error_code: '403220'
        message: Token not allowed in the current context
    TranslateJobPartiallySucceeded:
      summary: Translate job partially succeeded
      value:
        status: partially_succeeded
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - destination:
            url: <URL where the transcription for audio/video can be downloaded>
          localeCode: en-UK
        - destination:
            url: <URL where the transcription for audio/video can be downloaded>
          localeCode: en-US
        - error:
            error_code: validation_error
            message: The transcript for localeCode en-Fr is incorrectly formatted.
            localeCode: en-Fr
    ValidationError_AudioVideo_Required:
      summary: Error Body for missing audio or video property
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: The body of the request must contain an "audio" property or a "video" property
    ValidationErrorTargetOrTranscripts:
      summary: Error for request including both targetLocaleCodes and transcripts array
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: Request must include either targetLocaleCodes or transcripts array, not both
    ErrorBodyUnauthorized:
      summary: Error Body Unauthorized
      value:
        error_code: '401013'
        message: Oauth token is not valid
    ValidationErrorVideoDuration:
      summary: Error for video duration exceeding limit
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: Video duration should be under 30 minutes
    ErrorBodyInternalServerError:
      summary: Error Body Internal Server Error
      value:
        error_code: '500001'
        message: An internal server error occurred. Please try again later.
    AudioNotDetectedUnsupported:
      summary: Error for unsupported audio format
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: audio_not_detected
            message: Downloaded media is not a supported audio format
    ValidationErrorMaxSupportedResolution:
      summary: Error for video resolution exceeding maximum supported resolution
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: Video resolution should not be greater than maximum supported resolution 1920x1080
    VideoNotDetected:
      summary: Error for invalid video file
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: video_not_detected
            message: Downloaded media is not a valid video file
    Access_error:
      summary: Error Body for unauthorized access
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: access_error
            message: Not authorized. See X-Access-Error header for details
    TranscribeJobSucceeded:
      summary: Transcribe job succeeded
      value:
        status: succeeded
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - destination:
            url: <URL where the transcription for audio/video can be downloaded>
          captions:
          - destination:
              url: <URL where the caption for audio/video can be downloaded>
            format: SRT
    ValidationErrorProprietaryContent:
      summary: Error for input media with proprietary content
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: Input media contains proprietary content; service not licensed for such content
    ValidationErrorMissingLocale:
      summary: Error for missing or unsupported localeCode
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: The request does not contain a localeCode property, or the value of the property is not a supported localCode
    AudioSpeechNotDetectedMulti:
      summary: Error for no speech detected in any audio track
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: audio_speech_not_detected
            message: No speech detected in any audio track
    ErrorBodyServiceInternalServerError:
      summary: Error Body Internal Server Error by service
      value:
        error_code: runtime_error
        message: Internal Server Error.
    JobIsStillRunning:
      summary: Job is still running
      value:
        status: running
        jobId: 123e4567-e89b-12d3-a456-426614174003
    DubJobPartiallySucceeded:
      summary: Dub job partially succeeded
      value:
        status: partially_succeeded
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: Incorrectly formatted transcript for localeCode en-US
        - localeCode: fr-FR
          audio:
            mediaType: audio/wav
            destination:
              url: <Pre signed url for audio-fr-FR>
          video:
            mediaType: video/mp4
            destination:
              url: <Pre signed url for video-fr-FR>
          transcript:
            destination:
              url: <Pre signed url for text-fr-FR>
    ValidationErrorDialogTrackNumber:
      summary: Error for invalid dialogTrackNumber property
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: audio_speech_not_detected
            message: Invalid dialogTrackNumber; should be an integer between 1 and 7
    JobIsInPendingState:
      summary: Job is in pending state
      value:
        status: pending
        jobId: 123e4567-e89b-12d3-a456-426614174003
    ErrorBodyTooManyRequests:
      summary: Error Body Too Many Requests
      value:
        message: Too Many Requests
        error_code: '429011'
    ErrorBodyMethodNotAllowed:
      summary: Error Body Method Not Allowed
      value:
        error_code: '405001'
        message: The requested method is not allowed on this endpoint.
    DubJobSucceeded:
      summary: Dub job succeeded
      value:
        status: succeeded
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          audio:
            mediaType: audio/wav
            destination:
              url: Pre signed url for audio-en-US
          video:
            mediaType: video/mp4
            destination:
              url: Pre signed url for video-en-US
          transcript:
            destination:
              url: Pre signed url for text-en-US
        - localeCode: fr-FR
          audio:
            mediaType: audio/wav
            destination:
              url: Pre signed url for audio-fr-FR
          video:
            mediaType: video/mp4
            destination:
              url: Pre signed url for video-fr-FR
          transcript:
            destination:
              url: Pre signed url for text-fr-FR
    ValidationErrorUnrecognizedLanguage:
      summary: Error for unrecognized language in audio track
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: Unrecognized language in audio track
    ValidationErrorRedubbing:
      summary: Error for attempting re-dubbing of already dubbed content
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: Re-dubbing is not allowed for already dubbed content
    JobFailed:
      summary: Job failed
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: Incorrectly formatted transcript for localeCode en-US
        - localeCode: fr-FR
          error:
            error_code: validation_error
            message: Incorrectly formatted transcript for localeCode fr-FR
    ErrorBodyResourceNotFound:
      summary: Error Body Resource Not Found
      value:
        error_code: unknown_job_id
        message: The requested resource 123e4567-e89b-12d3-a456-426614174002 was not found.
    ValidationErrorDownloadFailure:
      summary: Error for failure in downloading data from input URL
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: audio_speech_not_detected
            message: Error downloading data from input URL
    InputMediaIndecipherableFaces:
      summary: Error for no faces detected in the video
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: input_media_indecipherable
            message: Lip-Sync validation failed, no faces detected in the video
    LanguageNotSupported:
      summary: Error for unsupported source language
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: language_not_supported
            message: Source language unsupported
    ValidationErrorCodecUnsupported:
      summary: Error for unsupported video codec
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: validation_error
            message: Unsupported video codec
    AudioSpeechNotDetectedSingle:
      summary: Error for no speech detected in single audio track
      value:
        status: failed
        jobId: 123e4567-e89b-12d3-a456-426614174002
        outputs:
        - localeCode: en-US
          error:
            error_code: audio_speech_not_detected
            message: No speech detected in audio track
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-KEY
      in: header
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
    AccessToken:
      type: http
      scheme: bearer
    X-Api-Key:
      type: apiKey
      name: x-api-key
      in: header
x-refined-from:
- adobe-suite-firefly-express-openapi.json
- adobe-suite-firefly-translate-lipsync-openapi.json
x-original-swagger-version: '2.0'
