openapi: 3.2.0
info:
  title: Reactor App configurations API
  description: "Use the Reactor API to programmatically manage resources and develop tag extensions in Adobe Experience Platform.\n**Related documentation**:\n  * [Tags overview and UI documentation](https://adobe.com/go/launch_help_en)\n  * [Reactor API guides](https://adobe.com/go/reactor-api-overview)\n\n**API paths**:\n  * Reactor Gateway URL: https://<span>reactor.adobe.io\n  * Example of a complete path for making a call to `/properties`: https://<span>reactor.adobe.io/properties\n\n**Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).\n  * All GET requests to the Reactor API require an `Accept` header to determine what data is returned by the system. In most cases, this value will be `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type`. The specific `Content-Type` value for each call is provided in the parameters sections in the endpoints listed below.\n\n- **API error handling**:\n    - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
  version: '1.0'
servers:
- url: //reactor.adobe.io
tags:
- name: App configurations
  description: App configurations allow credentials to be stored and retrieved for later use.
paths:
  /companies/{COMPANY_ID}/app_configurations:
    get:
      tags:
      - App configurations
      summary: List a company's app configurations
      description: '>**NOTE**: For more information on using this operation, see the [app configurations endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/app-configurations.html) on Experience League.'
      operationId: listAppConfigurations
      parameters:
      - name: COMPANY_ID
        in: path
        description: The ID of the company whose app configurations you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: app_id
        in: query
        description: Filter by `app_id`.
        schema:
          type: string
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: key_type
        in: query
        description: Filter by `key_type`.
        schema:
          type: string
      - name: messaging_service
        in: query
        description: Filter by `messaging_service`.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: platform
        in: query
        description: Filter by `platform`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array, listing the app configurations belonging to the specified company.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/appConfigurationsListResponse'
    post:
      tags:
      - App configurations
      summary: Create an app configuration
      description: '>**NOTE**: For more information on using this operation, see the [app configurations endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/app-configurations.html) on Experience League.'
      operationId: createAppConfiguration
      parameters:
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      - name: COMPANY_ID
        in: path
        description: The ID of the company that you want to define the app configuration under.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/appConfigurationsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created app configuration.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/appConfigurationsLookupResponse'
      x-codegen-request-body-name: body
  /app_configurations/{CONFIG_ID}:
    get:
      tags:
      - App configurations
      summary: Retrieve an app configuration
      description: '>**NOTE**: For more information on using this operation, see the [app configurations endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/app-configurations.html) on Experience League.'
      operationId: retrieveAppConfiguration
      parameters:
      - name: CONFIG_ID
        in: path
        description: The ID of the app configuration you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the app configuration.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/appConfigurationsLookupResponse'
    delete:
      tags:
      - App configurations
      summary: Delete an app configuration
      description: '>**NOTE**: For more information on using this operation, see the [app configurations endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/app-configurations.html) on Experience League.'
      operationId: deleteAppConfiguration
      parameters:
      - name: CONFIG_ID
        in: path
        description: The ID of the app configuration you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - App configurations
      summary: Update an app configuration
      description: '>**NOTE**: For more information on using this operation, see the [app configurations endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/app-configurations.html) on Experience League.'
      operationId: updateAppConfiguration
      parameters:
      - name: CONFIG_ID
        in: path
        description: The ID of the app configuration you want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/appConfigurationsCreatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated app configuration.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/appConfigurationsUpdateResponse'
      x-codegen-request-body-name: body
  /app_configurations/{CONFIG_ID}/company:
    get:
      tags:
      - App configurations
      summary: Retrieve the company that owns an app configuration
      description: Retrieve the company that owns an app configuration
      operationId: retrieveAppConfigurationCompany
      parameters:
      - name: CONFIG_ID
        in: path
        description: The ID of the app configuration whose company you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the company that owns the app configuration.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/appConfigurationsCompanyLookupResponse'
components:
  schemas:
    relatedProperties:
      type: object
      properties:
        properties:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related properties for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related properties for the resource.
          description: Contains a link to the related properties for the resource.
    appConfigurationsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    appConfigurationsCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/appConfigurationsAttributes'
    dataCreate:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - type
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes and type for the resource being created.
    appConfigurationsCompanyLookupResponse:
      allOf:
      - $ref: '#/components/schemas/companiesLookupResponse'
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    appConfigurationsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the app configuration was created in the system.
              updated_at:
                type: string
                description: A timestamp of when the app configuration was last updated.
              app_id:
                type: string
                description: The third-party ID for the app this configuration is built for.
              name:
                type: string
                description: The name of the app configuration.
              platform:
                type: string
                description: The platform for the app configuration, either `web`  or `mobile`.
              messaging_service:
                type: string
                description: The messaging service for the configuration, such as  Apple’s `apns` or Google’s `fcm`. This value determines which  key types can be used.
              key_type:
                type: string
                description: The specific protocol supported by the `messaging_service`  vendor. This value determines the definition of the `push_credential`  object, which is only used by Adobe services and not included  in API responses.
            description: Contains the attributes for the app configuration.
          relationships:
            type: object
            description: Provides information about other entities that are related to this app configuration.
            allOf:
            - $ref: '#/components/schemas/relatedCompany'
          links:
            type: object
            properties:
              company:
                type: string
                description: A link to the company that owns the app configuration.
              self:
                type: string
                description: A link to the app configuration itself.
            description: Contains links related to the app configuration which can be used in subsequent fetch requests.
    appConfigurationsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/appConfigurationsEntity'
    companiesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/companiesEntity'
    appConfigurationsAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the app configuration.
        app_id:
          type: string
          description: The third-party ID for the app this configuration is built for.
        platform:
          type: string
          description: The platform for the app configuration, either `web` or `mobile`.
        messaging_service:
          type: string
          description: The messaging service for the configuration, such as Apple’s `apns` or Google’s `fcm`. This value determines which key types can be used.
        key_type:
          type: string
          description: The specific protocol supported by the `messaging_service` vendor. This value determines the definition of the `push_credential` object, which is only used by Adobe services and not included in API responses.
        push_credential:
          type: object
          properties: {}
          description: An object that stores the credentials based on the specified protocol (`key_type`). The credential is encrypted at rest. This field is not normally decrypted or included in API responses, as only Adobe services can receive a response containing a decrypted `push_credential`.
    companiesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the company was created in the system.
              name:
                type: string
                description: The company name.
              org_id:
                type: string
                description: The ID for the IMS Organization that owns the company entity.
              updated_at:
                type: string
                description: A timestamp of when the company was last updated.
              token:
                type: string
                description: 'A unique token for the company.


                  When a build is pushed to an Adobe-managed host (`akamai`), this token is used to identify the company within the library''s folder structure. This also prevent''s the company''s `id` value from being unnecessarily exposed. This also applies to `sftp` hosts so that libraries are constructed in the same manner.'
              cjm_enabled:
                type: boolean
                description: Indicates whether the company is enabled for Customer Journey Management.
              edge_enabled:
                type: boolean
                description: Indicates whether the company is enabled for event forwarding.
              edge_events_allotment:
                type: integer
                description: The event forwarding allotment for your organization. Please check with your CSM or contract information for more information on this value.
              edge_fanout_ratio:
                type: integer
                description: The number of servers that events are configured to be forwarded to.
              premium_cdn_enabled:
                type: boolean
                description: If the company has purchased an offer for a premium  content delivery network (CDN), this flag will be set to `true`.
              sla_enabled:
                type: boolean
                description: If the company has purchased a service level agreement  (SLA), this flag will be set to `true`.
            description: Contains the company's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this company.
            allOf:
            - $ref: '#/components/schemas/relatedProperties'
          links:
            type: object
            properties:
              self:
                type: string
                description: A link to the company itself.
              properties:
                type: string
                description: A link to the properties that are owned by the company.
            description: Contains links related to the company which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              rights:
                type: array
                description: Lists the rights that are enabled for the company.
                items:
                  type: string
              platform_rights:
                type: object
                properties:
                  web:
                    type: array
                    description: Lists the rights that are enabled for web properties belonging to the company.
                    items:
                      type: string
                  mobile:
                    type: array
                    description: Lists the rights that are enabled for mobile properties belonging to the company.
                    items:
                      type: string
                description: Contains the platform-specific rights that are enabled for the company.
            description: Contains meta information about the company.
    relatedCompany:
      type: object
      properties:
        company:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related company.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related company.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the company.
                type:
                  type: string
                  description: The resource type for the company (`companies`).
              description: Contains further information about the related company.
          description: Contains information about the company that owns the resource.
    appConfigurationsUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/appConfigurationsLookupResponse'
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
x-original-swagger-version: '2.0'
