openapi: 3.2.0
info:
  description: "The endpoints described here are routed through analytics.adobe.io. In order to use these endpoints you must create an oAuth client that is subscribed to access the Adobe Analytics Reporting API. \n\n To view the API References for non-core Analytics 2.0 APIs, select the **API Reference** drop-down menu at the top of the page. \n\n Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes."
  title: Adobe Analytics Dimensions API
  version: '2.0'
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Dimensions
paths:
  /{globalCompanyId}/dimensions:
    get:
      tags:
      - Dimensions
      summary: Retrieve dimensions for a report suite
      description: ''
      operationId: dimensions_getDimensions
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: rsid
        in: query
        description: A report suite ID
        required: true
        schema:
          type: string
      - name: locale
        in: query
        description: Locale
        required: false
        schema:
          type: string
          default: en_US
      - name: segmentable
        in: query
        description: Only include dimensions that are valid within a segment.
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
      - name: reportable
        in: query
        description: Only include dimensions that are valid within a report.
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
      - name: classifiable
        in: query
        description: Only include classifiable dimensions.
        required: false
        schema:
          type: boolean
          default: false
      - name: expansion
        in: query
        description: Add extra metadata to items (comma-delimited list)
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - tags
            - allowedForReporting
            - attributionModel
            - categories
            - allocationType
            - expirationType
            - expirationCustomDays
            - dataType
            - bindingEvents
            - merchandisingSyntax
          enum:
          - tags
          - allowedForReporting
          - attributionModel
          - categories
          - allocationType
          - expirationType
          - expirationCustomDays
          - dataType
          - bindingEvents
          - merchandisingSyntax
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnalyticsDimension'
        '400':
          description: Invalid JSON input
        '401':
          description: User does not have access to this report suite
        '500':
          description: Unexpected internal server error
  /{globalCompanyId}/dimensions/{id}:
    get:
      tags:
      - Dimensions
      summary: Retrieve a dimension by ID
      description: ''
      operationId: dimensions_getDimension
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: id
        in: path
        description: The dimension ID. For example a valid id is a value like 'evar1'
        required: true
        schema:
          type: string
      - name: rsid
        in: query
        description: The report suite ID.
        required: true
        schema:
          type: string
      - name: locale
        in: query
        description: The locale to use for returning system named dimensions.
        required: false
        schema:
          type: string
          default: en_US
      - name: expansion
        in: query
        description: Add extra metadata to items (comma-delimited list)
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - tags
            - allowedForReporting
            - attributionModel
            - categories
            - allocationType
            - expirationType
            - expirationCustomDays
            - dataType
            - bindingEvents
            - merchandisingSyntax
          enum:
          - tags
          - allowedForReporting
          - attributionModel
          - categories
          - allocationType
          - expirationType
          - expirationCustomDays
          - dataType
          - bindingEvents
          - merchandisingSyntax
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDimension'
        '401':
          description: User Doesn't have sufficient privileges
components:
  schemas:
    TaggedComponent:
      type: object
      properties:
        componentType:
          type: string
        componentId:
          type: string
        tags:
          type: array
          items:
            type: string
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: the tag id
        name:
          type: string
          description: 'the tag name '
        description:
          type: string
          description: the tag description
        components:
          type: array
          description: the list of components that have been tagged with this tag
          uniqueItems: true
          items:
            $ref: '#/components/schemas/TaggedComponent'
      description: Tag Model
    NoneSettings:
      type: object
      properties:
        includeNoneByDefault:
          type: boolean
        noneChangeable:
          type: boolean
    AnalyticsDimension:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - STRING
          - INT
          - DECIMAL
          - CURRENCY
          - PERCENT
          - TIME
          - ENUM
          - ORDERED_ENUM
        category:
          type: string
        categories:
          type: array
          items:
            type: string
        support:
          type: array
          items:
            type: string
        pathable:
          type: boolean
        parent:
          type: string
        extraTitleInfo:
          type: string
        segmentable:
          type: boolean
        reportable:
          type: array
          items:
            type: string
        description:
          type: string
        allowedForReporting:
          type: boolean
        attributionModel:
          type: object
          additionalProperties:
            type: object
        allocationType:
          type: string
          description: The configured allocation type for the eVar. Preserves distinctions collapsed by attributionModel.func.
          enum:
          - most_recent_last
          - original_value_first
          - linear
          - linear_to_items
          - merchandising_first
          - merchandising_last
          example: linear
        expirationType:
          type: string
          description: The configured expiration type for the eVar, determining how long the value persists across hits.
          enum:
          - visit
          - page_view
          - never
          - minute
          - hour
          - day
          - week
          - month
          - quarter
          - year
          - purchase
          - product_view
          - cart_open
          - cart_checkout
          - cart_add
          - cart_remove
          - cart_view
          - event
          example: visit
        expirationCustomDays:
          type: integer
          description: Number of days in the expiration window. Semantically meaningful when expirationType is 'day'.
          example: 30
        dataType:
          type: string
          description: The eVar storage type.
          enum:
          - text
          - counter
          example: text
        bindingEvents:
          type: array
          description: Metric IDs that trigger merchandising binding. Populated only for merchandising eVars configured with event triggers.
          items:
            type: string
          example:
          - event1
          - event2
        merchandisingSyntax:
          type: string
          description: Merchandising binding style. Populated only for merchandising eVars.
          enum:
          - product
          - conversion_variable
          example: conversion_variable
        ecomAllocationType:
          type: string
          description: High-level allocation bucket. Returned automatically when expansion=attributionModel is requested; does not have its own expansion flag.
          enum:
          - first
          - last
          - merchandising
          example: last
        noneSettings:
          $ref: '#/components/schemas/NoneSettings'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
  parameters:
    authorization:
      name: Authorization
      in: header
      description: The access token copied from your AA API client integration, prefixed with "Bearer ".
      required: true
      schema:
        type: string
    x-api-key:
      name: x-api-key
      in: header
      description: The API key copied from your AA API client integration. For more information on how to obtain this value, see [Getting started with the Analytics API](https://developer.adobe.com/analytics-apis/docs/2.0/guides/).
      required: true
      schema:
        type: string
