openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager SSL Certificates API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: SSL Certificates
paths:
  /api/program/{programId}/certificate/{certificateId}:
    get:
      tags:
      - SSL Certificates
      summary: Get certificate
      description: Gets a certificate by its ID
      operationId: getCertificateByIdAndProgramId
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: integer
          format: int64
      - name: certificateId
        in: path
        description: Identifier of the certificate
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Certificate retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslCertificateRepresentation'
        '404':
          description: Certificate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslCertificateNotFoundException'
    put:
      tags:
      - SSL Certificates
      summary: Update certificate
      description: Updates a certificate in this program
      operationId: updateCertificate
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: integer
          format: int64
      - name: certificateId
        in: path
        description: Identifier of the certificate
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Certificate updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslCertificateRepresentation'
        '404':
          description: Certificate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslCertificateNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateSslCertificateBody'
        description: Payload for updating the certificate
        required: true
    delete:
      tags:
      - SSL Certificates
      summary: Delete certificate
      description: Deletes a certificate from this program
      operationId: deleteCertificate
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: integer
          format: int64
      - name: certificateId
        in: path
        description: Identifier of the certificate
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Certificate deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslCertificateRepresentation'
        '404':
          description: Certificate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslCertificateNotFoundException'
  /api/program/{programId}/certificates:
    get:
      tags:
      - SSL Certificates
      summary: Get all certificates
      description: Gets the list of certificates from this program
      operationId: getAllCertificatesForProgram
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: integer
          format: int64
      - name: start
        in: query
        description: Pagination start parameter
        required: false
        schema:
          type: string
          default: '0'
      - name: limit
        in: query
        description: Pagination limit parameter
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: status
        in: query
        description: Filter statuses separated by comma
        required: false
        schema:
          type: string
          enum:
          - VALID
          - PENDING
          - EXPIRED
      - name: name
        in: query
        description: Certificate name
        required: false
        schema:
          type: string
      - name: sslCertificateType
        in: query
        description: Certificate types separated by comma.
        required: false
        schema:
          type: string
          enum:
          - DV
          - EV
          - OV
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Certificate list retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllSSLCertificatesList'
    post:
      tags:
      - SSL Certificates
      summary: Add SSL certificate
      description: Adds a customer-managed certificate in this program
      operationId: createSslCertificate
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslCertificateRepresentation'
        '201':
          description: SSL certificate created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslCertificateRepresentation'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateSslCertificateBody'
        description: Payload for creating the certificate
        required: true
  /api/program/{programId}/dv-certificates:
    post:
      tags:
      - SSL Certificates
      summary: Create DV certificate
      description: Initiates the creation of a DV certificate in this program
      operationId: createDvCertificate
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslCertificate'
        '201':
          description: Created DV certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslCertificate'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDvCertificateBody'
        description: Payload for creating the DV certificate
        required: true
components:
  schemas:
    RequestedPageDetails:
      type: object
      properties:
        start:
          type: integer
          format: int32
          description: The start index for the current page of results
        limit:
          type: integer
          format: int32
          description: The item limit for the current page of results
        next:
          type: integer
          format: int32
          description: The start index for the next page of results
        prev:
          type: integer
          format: int32
          description: The start index for the previous page of results
        orderBy:
          type: string
        property:
          type: array
          items:
            type: string
        type:
          type: string
      description: Filtering and sorting page details
    SslCertificateRepresentation:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: id
        sslCertificateType:
          type: string
          description: 'Type of origin: DV, EV or OV'
        sslCertificateStatus:
          type: string
          description: PENDING, VALID or EXPIRED
        programId:
          type: integer
          format: int64
          example: 14
          description: Identifier of the application. Unique within the space.
        serialNumber:
          type: string
          description: Unique identifier of the certificate at CA level.
        name:
          type: string
          example: Certificate Name Example
          description: Name of the SSL Certificate.
        issuer:
          type: string
          description: Issuer of the SSL Certificate.
        expireAt:
          type: integer
          format: int64
          description: Expiration date of the SSL Certificate.
        commonName:
          type: string
          description: Common name of the SSL Certificate.
        subjectAlternativeNames:
          type: array
          description: Subject alternative names of the SSL Certificate.
          items:
            type: string
        certificate:
          type: string
          description: Encrypted content of the SSL Certificate.
        chain:
          type: string
          description: Content of the Chain File.
        createdAt:
          type: integer
          format: int64
          description: Date of SSL Certificate submission.
        updatedAt:
          type: integer
          format: int64
          description: Date of last SSL Certificate update.
        _links:
          type: object
          readOnly: true
          properties:
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: Describes an SSL Certificate
    CreateDvCertificateBody:
      type: object
      required:
      - domainIds
      properties:
        name:
          type: string
          example: my-cert
          description: Name of the certificate
        domainIds:
          type: array
          description: List of domain IDs to associate with the certificate
          items:
            type: integer
            format: int64
    SslCertificateNotFoundException:
      type: object
      properties:
        message:
          type: string
        localizedMessage:
          type: string
    SslCertificate:
      type: object
      properties:
        id:
          type: integer
          format: int64
        sslCertificateType:
          type: string
          enum:
          - DV
          - EV
          - OV
        programId:
          type: integer
          format: int64
        serialNumber:
          type: string
        name:
          type: string
        certificate:
          type: string
        issuer:
          type: string
        expireAt:
          type: integer
          format: int64
        privateKeyPath:
          type: string
        commonName:
          type: string
        commonNameRegex:
          type: string
        subjectAlternativeNames:
          type: array
          items:
            type: string
        subjectAlternativeNamesRegex:
          type: array
          items:
            type: string
        chain:
          type: string
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
        deletedAt:
          type: integer
          format: int64
        externalId:
          type: integer
          format: int64
        sslCertificateStatus:
          type: string
          enum:
          - PENDING
          - VALID
          - EXPIRED
    CreateOrUpdateSslCertificateBody:
      type: object
      required:
      - name
      - certificate
      - privateKey
      - chain
      properties:
        name:
          type: string
          description: The name of the new SSL Certificate.
        certificate:
          type: string
          description: The PEM-encoded certificate.
        privateKey:
          type: object
          properties:
            value:
              type: string
              description: Private key value
          description: The PEM-encoded private key.
        chain:
          type: string
          description: The PEM-encoded certificate chain.
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    AllSSLCertificatesList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _page:
          $ref: '#/components/schemas/RequestedPageDetails'
          description: Details of the requested page of items
        _embedded:
          type: object
          readOnly: true
          properties:
            certificates:
              type: array
              items:
                $ref: '#/components/schemas/SslCertificateRepresentation'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            page:
              $ref: '#/components/schemas/HalLink'
              description: An arbitrary page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
