openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Region Deployments API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Region Deployments
paths:
  /api/program/{programId}/environment/{environmentId}/regionDeployments/{regionDeploymentId}:
    get:
      tags:
      - Region Deployments
      summary: Get Region Deployment
      description: Return a region deployment by its id
      operationId: getRegionDeployment
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: regionDeploymentId
        in: path
        description: Identifier of the regionDeployment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of the region deployment for the environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionDeployment'
  /api/program/{programId}/environment/{environmentId}/regionDeployments:
    get:
      tags:
      - Region Deployments
      summary: Get Region Deployments
      description: List the region deployments for an environment
      operationId: getRegionDeployments
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of the region deployments for the environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionDeploymentList'
    post:
      tags:
      - Region Deployments
      summary: Create Region Deployment
      description: Add region deployments in an environment
      operationId: createRegionDeployment
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of an environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Region deployment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionDeploymentList'
        '400':
          description: Bad request
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/NewRegionDeployment'
        description: RegionDeployment
        required: true
    patch:
      tags:
      - Region Deployments
      summary: Patch Region Deployment
      description: Remove region deployments from an environment
      operationId: patchRegionDeployment
      parameters:
      - name: programId
        in: path
        description: Identifier of the application
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Region Deployment Modification request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionDeploymentList'
        '400':
          description: Region Deployment Modification bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Region deployment not found for the given identifier
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RegionDeploymentDeletion'
        description: RegionDeployment
        required: true
components:
  schemas:
    InvalidParameter:
      type: object
      properties:
        name:
          type: string
          example: paramName
          description: Name of the invalid parameter.
        reason:
          type: string
          example: value must be a positive number
          description: Reason of why the parameter's value is not accepted.
    EnvironmentLogStorageConfiguration:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - azure_blob
          - azure_files
          - mongo_atlas
      description: Settings for environment log storage
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    EnvironmentRegionintegrations:
      type: object
      properties:
        blobStorage:
          $ref: '#/components/schemas/EnvironmentBlobStorageConfiguration'
        logStorage:
          $ref: '#/components/schemas/EnvironmentLogStorageConfiguration'
      description: integrations for a particular EnvironmentRegion
    BadRequestError:
      type: object
      properties:
        status:
          type: integer
          format: int32
          example: 4xx
          description: HTTP status code of the response.
        type:
          type: string
          example: http://ns.adobe.com/adobecloud/error
          description: Error type identifier.
        title:
          type: string
          example: Validation failed
          description: A short summary of the error.
        missingParams:
          type: array
          description: Request's missing parameters.
          items:
            $ref: '#/components/schemas/MissingParameter'
        invalidParams:
          type: array
          description: Request's invalid parameters.
          items:
            $ref: '#/components/schemas/InvalidParameter'
      description: A Bad Request response error.
    RegionDeploymentList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _embedded:
          type: object
          readOnly: true
          properties:
            regionDeployments:
              type: array
              items:
                $ref: '#/components/schemas/RegionDeployment'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
    RegionDeploymentDeletion:
      type: object
      description: Description of region deployment to be deleted in the environment
      required:
      - id
      - status
      properties:
        id:
          type: string
          description: Identifier of the  region deployment
        status:
          type: string
          example: TO_DELETE
          description: Status of the region deployment to be set
    EnvironmentBlobStorageConfiguration:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - azure_blob
          - azure_files
          - mongo_atlas
      description: Settings for environment blob storage
    MissingParameter:
      type: object
      properties:
        name:
          type: string
          example: paramName
          description: Name of the missing parameter.
        type:
          type: string
          example: string
          description: Type of the missing parameter.
    NewRegionDeployment:
      type: object
      description: Description of a new region deployment to be added in the environment
      required:
      - region
      properties:
        region:
          type: string
          example: va7
          description: Region to be added in the environment
    RegionDeployment:
      type: object
      properties:
        cluster:
          type: string
          example: ethos13stageva7
          description: The cluster where this deployment happens
        namespace:
          type: string
          example: ns-team-aem
          description: The namespace in which this deployment happens
        createdAt:
          type: string
          format: date-time
          description: Created time
        updatedAt:
          type: string
          format: date-time
          description: Date of last change
        id:
          type: string
          description: identifier of a region deployment
        environmentId:
          type: string
          description: identifier of an environment
        region:
          type: string
          example: va7
          description: Region name of the deployment
        integrations:
          description: region integrations
          $ref: '#/components/schemas/EnvironmentRegionintegrations'
        status:
          type: string
          description: Status of the region deployment
          enum:
          - PENDING
          - PROGRESSING
          - FAILED
          - COMPLETE
          - DELETING
          - DELETED
          - DELETION_FAILED
          - TO_DELETE
          - DEPLOY_FAILED
          - DEPLOY_TIMEOUT
        type:
          type: string
          example: primary
          description: Type of the region deployment
          enum:
          - PRIMARY
          - SECONDARY
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/flow:
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/kubernetesCluster:
              description: Get the Kubernetes Cluster in which this deployment happens
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/kubernetesNamespace:
              description: Get the Kubernetes Namespace in which this deployment happens
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/region:
              description: Region being used for this deployment
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: describes region deployments for an environment
