openapi: 3.2.0
info:
  description: The endpoints described here are routed through analytics.adobe.io.
  title: Adobe Analytics Users API
  version: '2.0'
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Users
paths:
  /{globalCompanyId}/users:
    get:
      tags:
      - Users
      summary: Retrieve users for current company
      description: Retrieves a list of all users for the company designated by the auth token.
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: limit
        in: query
        description: Number of results per page
        required: false
        schema:
          type: integer
          default: 10
      - name: page
        in: query
        description: Page number (base 0 - first page is "0")
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnalyticsUser'
        '500':
          description: Database error or other unexpected error
      operationId: getByGlobalCompanyIdUsers
      x-operation-id-source: derived
  /{globalCompanyId}/users/me:
    get:
      tags:
      - Users
      summary: Retrieve current user
      description: ''
      operationId: getCurrentUser
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsUser'
components:
  schemas:
    AnalyticsUser:
      type: object
      properties:
        companyid:
          type: integer
          format: int32
        loginId:
          type: integer
          format: int32
        login:
          type: string
        changePassword:
          type: boolean
        createDate:
          type: string
          format: date-time
        disabled:
          type: boolean
        email:
          type: string
        firstName:
          type: string
        fullName:
          type: string
        imsUserId:
          type: string
        lastName:
          type: string
        lastAccess:
          type: string
          format: date-time
        phoneNumber:
          type: string
        tempLoginEnd:
          type: string
          format: date-time
        title:
          type: string
  parameters:
    x-api-key:
      name: x-api-key
      in: header
      description: The API key copied from your AA API client integration. For more information on how to obtain this value, see [Getting started with the Analytics API](https://developer.adobe.com/analytics-apis/docs/2.0/guides/).
      required: true
      schema:
        type: string
    authorization:
      name: Authorization
      in: header
      description: The access token copied from your AA API client integration, prefixed with "Bearer ".
      required: true
      schema:
        type: string
