openapi: 3.2.0
info:
  title: Adobe Status API Reference Registry API
  description: This guide will help you complete the setup needed to call Status API's.
  contact:
    name: Status.adobe
    url: https://status.adobe.com
    email: statuscom-adobe-support@adobe.com
  version: '1.0'
servers:
- url: https://status.adobe.io/
security:
- Authorization: []
  api_key: []
tags:
- name: Registry
  description: Query and view the product taxonomy of Adobe Products and Services.
paths:
  /api/v1/clouds:
    get:
      tags:
      - Registry
      summary: Clouds
      description: List the top-level product families for all Adobe Products and Services.
      operationId: cloudsUsingGET
      parameters:
      - name: cloudId
        in: query
        description: List of cloud ids for which you want to retrieve the cloud detail.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: cloudName
        in: query
        description: Partial or complete cloud name for which you want to retrieve the cloud detail.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cloud'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: 'curl --location --request GET ''https://status.adobe.io/api/v1/clouds?api_key=<key>&cloudId=<string>'' \ --header ''Authorization: Bearer <token>'''
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: code/JS/clouds.js
      - lang: JavaScript
        label: NodeJS
        source:
          $ref: code/Node/clouds.js
  /api/v1/products:
    get:
      tags:
      - Registry
      summary: Products
      description: List all the Adobe Products and Services across Clouds.
      operationId: productsUsingGET
      parameters:
      - name: cloudId
        in: query
        description: List of cloud ids for which you want to retrieve the events.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: productId
        in: query
        description: List of product ids for which you want to retrieve the product detail.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: productName
        in: query
        description: Partial or complete product name for which you want to retrieve the product detail.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: 'curl --location --request GET ''https://status.adobe.io/api/v1/products?api_key=<key>&cloudId=<string>&productId=<string>'' \ --header ''Authorization: Bearer <token>'''
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: code/JS/products.js
      - lang: JavaScript
        label: NodeJS
        source:
          $ref: code/Node/products.js
  /api/v1/eventTypes:
    get:
      tags:
      - Registry
      summary: Event Types
      description: List all the types of events that can impact Adobe Products and Services.
      operationId: eventTypesUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: 'curl --location --request GET ''https://status.adobe.io/api/v1/eventTypes?api_key=<key>'' \ --header ''Authorization: Bearer <token>'''
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: code/JS/eventtypes.js
      - lang: JavaScript
        label: NodeJS
        source:
          $ref: code/Node/eventtypes.js
  /api/v1/regions:
    get:
      tags:
      - Registry
      summary: Regions
      description: List all the regions that can be impacted by Adobe Status Events.
      operationId: regionsUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: 'curl --location --request GET ''https://status.adobe.io/api/v1/regions?api_key=<key>'' \ --header ''Authorization: Bearer <token>'''
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: code/JS/regions.js
      - lang: JavaScript
        label: NodeJS
        source:
          $ref: code/Node/regions.js
  /api/v1/locales:
    get:
      tags:
      - Registry
      summary: Locales
      description: List all the locales for the messages for an event impacting Adobe products.
      operationId: localesUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocaleDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: 'curl --location --request GET ''https://status.adobe.io/api/v1/locales?api_key=<key>'' \ --header ''Authorization: Bearer <token>'''
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: code/JS/locales.js
      - lang: JavaScript
        label: NodeJS
        source:
          $ref: code/Node/locales.js
  /api/v1/messages:
    get:
      tags:
      - Registry
      summary: Messages
      description: List all the messages for an event impacting Adobe products.
      operationId: messagesUsingGET
      parameters:
      - name: messageToken
        in: query
        description: Message token for which you want to retrieve the messages.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessagesDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: 'curl --location --request GET ''https://status.adobe.io/api/v1/messages?api_key=<key>'' \ --header ''Authorization: Bearer <token>'''
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: code/JS/messages.js
      - lang: JavaScript
        label: NodeJS
        source:
          $ref: code/Node/messages.js
  /api/v1/messages/{locale}:
    get:
      tags:
      - Registry
      summary: Messages By Locale
      description: 'List all the messages for a locale, for an event impacting Adobe products.

        Note: Use Locales API(`/api/v1/locales`) to get supported locales'
      operationId: messagesUsingGET_1
      parameters:
      - name: locale
        in: path
        description: Locale for fetching message details.
        required: true
        schema:
          type: string
      - name: messageToken
        in: query
        description: Message token for which you want to retrieve the messages.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessagesDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
      - lang: cURL
        label: CLI
        source: 'curl --location --request GET ''https://status.adobe.io/api/v1/messages/es?api_key=<key>'' \ --header ''Authorization: Bearer <token>'''
      - lang: JavaScript
        label: JavaScript
        source:
          $ref: code/JS/messagesbylocale.js
      - lang: JavaScript
        label: NodeJS
        source:
          $ref: code/Node/messagesbylocale.js
components:
  schemas:
    LocaleDto:
      title: LocaleDto
      type: object
      properties:
        languageName:
          type: string
        localeCode:
          type: string
    RegionDto:
      title: RegionDto
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Cloud:
      title: Cloud
      type: object
      properties:
        cloudProducts:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/CloudProduct'
        id:
          type: string
        name:
          type: string
    MessagesDto:
      title: MessagesDto
      type: object
      properties:
        incidentMessages:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Message'
        languageCode:
          type: string
        maintenanceMessages:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Message'
    ProductService:
      title: ProductService
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        serviceEnvironments:
          uniqueItems: true
          type: array
          items:
            type: string
    CloudProduct:
      title: CloudProduct
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Offering:
      title: Offering
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        productServices:
          uniqueItems: true
          type: array
          items:
            type: string
    Message:
      title: Message
      type: object
      properties:
        htmlMessage:
          type: string
        textMessage:
          type: string
        token:
          type: string
    Product:
      title: Product
      type: object
      properties:
        environments:
          type: array
          items:
            $ref: '#/components/schemas/Environment'
        id:
          type: string
        name:
          type: string
        productOfferings:
          type: array
          items:
            $ref: '#/components/schemas/Offering'
        productServices:
          type: array
          items:
            $ref: '#/components/schemas/ProductService'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/RegionDto'
    Environment:
      title: Environment
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        regionId:
          uniqueItems: true
          type: array
          items:
            type: string
  securitySchemes:
    Authorization:
      description: '[To generate OAuth Authorization token](https://developer.adobe.com/developer-console/docs/guides/authentication/ServerToServerAuthentication/implementation/)'
      type: http
      scheme: bearer
    api_key:
      type: apiKey
      description: Use the api key `StatusAdobeIOClient`
      name: api_key
      in: query
