openapi: 3.2.0
info:
  title: Reactor Hosts API
  description: "Use the Reactor API to programmatically manage resources and develop tag extensions in Adobe Experience Platform.\n**Related documentation**:\n  * [Tags overview and UI documentation](https://adobe.com/go/launch_help_en)\n  * [Reactor API guides](https://adobe.com/go/reactor-api-overview)\n\n**API paths**:\n  * Reactor Gateway URL: https://<span>reactor.adobe.io\n  * Example of a complete path for making a call to `/properties`: https://<span>reactor.adobe.io/properties\n\n**Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).\n  * All GET requests to the Reactor API require an `Accept` header to determine what data is returned by the system. In most cases, this value will be `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type`. The specific `Content-Type` value for each call is provided in the parameters sections in the endpoints listed below.\n\n- **API error handling**:\n    - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
  version: '1.0'
servers:
- url: //reactor.adobe.io
tags:
- name: Hosts
  description: A host represents a hosted destination where a library build can be delivered and ultimately deployed. Hosts can be either Akamai or SFTP servers.
paths:
  /properties/{PROPERTY_ID}/hosts:
    get:
      tags:
      - Hosts
      summary: List a property's hosts
      description: '>**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.'
      operationId: listHosts
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose hosts you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: display_name
        in: query
        description: Filter by `display_name`.
        schema:
          type: string
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: origin_id
        in: query
        description: Filter by `origin_id`.
        schema:
          type: string
      - name: published
        in: query
        description: Filter by `published` status.
        schema:
          type: string
      - name: published_at
        in: query
        description: Filter by `published_at` timestamp.
        schema:
          type: string
      - name: revision_number
        in: query
        description: Filter by `revision_number`.
        schema:
          type: string
      - name: version
        in: query
        description: Filter by `version`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of hosts belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/hostsListResponse'
    post:
      tags:
      - Hosts
      summary: Create a host
      description: '>**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.'
      operationId: createHost
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a host for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/hostsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created host.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/hostsCreateResponse'
      x-codegen-request-body-name: body
  /hosts/{HOST_ID}:
    get:
      tags:
      - Hosts
      summary: Retrieve a host
      description: '>**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.'
      operationId: retrieveHost
      parameters:
      - name: HOST_ID
        in: path
        description: The ID of the host you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the host.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/hostsLookupResponse'
    delete:
      tags:
      - Hosts
      summary: Delete a host
      description: '>**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.'
      operationId: deleteHost
      parameters:
      - name: HOST_ID
        in: path
        description: The ID of the host you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - Hosts
      summary: Update a host
      description: 'Only hosts with a `type_of` value of `sftp` may be updated.


        >**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.'
      operationId: updateHost
      parameters:
      - name: HOST_ID
        in: path
        description: The ID of the host you want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/hostsUpdatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated host.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/hostsUpdateResponse'
      x-codegen-request-body-name: body
  /hosts/{HOST_ID}/property:
    get:
      tags:
      - Hosts
      summary: Retrieve a host's property
      description: '>**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.'
      operationId: retrieveHostProperty
      parameters:
      - name: HOST_ID
        in: path
        description: The ID of the host whose property you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the property that owns the host.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/hostsPropertyLookupResponse'
components:
  schemas:
    hostsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    propertiesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/propertiesEntity'
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    hostsAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the host.
        type_of:
          type: string
          description: The host type, either `akamai` for an Adobe-managed host, or `sftp` for self-hosting.
        encrypted_private_key:
          type: string
          description: An encrypted private key that can be used for authentication.
        server:
          type: string
          description: The URL of the server associated with the host.
        skip_symlinks:
          type: boolean
          description: '**Note**: This attribute is only available for SFTP hosts.


            By default, all SFTP hosts use symbolic links (symlinks) to reference library builds that are saved to the server. However, not all servers support the use of symlinks. When this attribute is included and set to `true`, the host uses a copy operation to update the build assets directly instead of using symlinks.'
        path:
          type: string
          description: The path for the host (i.e. what comes after the `server` URL).
        port:
          type: integer
          description: The port number for the server URL.
        username:
          type: string
          description: A username associated with the host.
    hostsUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/hostsLookupResponse'
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    hostsCreateAttributes:
      allOf:
      - $ref: '#/components/schemas/hostsAttributes'
    hostsPropertyLookupResponse:
      allOf:
      - $ref: '#/components/schemas/propertiesLookupResponse'
    hostsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the host was created in the system.
              server:
                type: string
                description: The URL of the server associated with the host.
              name:
                type: string
                description: The name of the host.
              path:
                type: string
                description: The path for the host (i.e. what comes after the `server` URL).
              port:
                type: integer
                description: The port number for the server URL.
              status:
                type: string
                description: The current status of the host.
              skip_symlinks:
                type: boolean
                description: '**Note**: This attribute is only available for SFTP hosts.


                  By default, all SFTP hosts use symbolic links (symlinks) to reference library builds that are saved to the server. However, not all servers support the use of symlinks. When this attribute is included and set to `true`, the host uses a copy operation to update the build assets directly instead of using symlinks.'
              type_of:
                type: string
                description: The host type, either `akamai` for an Adobe-managed  host, or `sftp` for self-hosting.
              updated_at:
                type: string
                description: A timestamp of when the host was last updated.
              username:
                type: string
                description: A username associated with the host.
            description: Contains the host's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this host.
            allOf:
            - $ref: '#/components/schemas/relatedProperty'
          links:
            type: object
            properties:
              property:
                type: string
                description: A link to the property that owns the host.
              self:
                type: string
                description: A link to the host itself.
            description: Contains links related to the host which can be used in subsequent fetch requests.
    hostsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/hostsEntity'
    relatedProperty:
      type: object
      properties:
        property:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related property for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related property for the resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the property.
                type:
                  type: string
                  description: The resource type for the property (`properties`).
              description: Contains further information about the related property.
          description: Contains details about the property that owns the resource.
    relatedCompany:
      type: object
      properties:
        company:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related company.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related company.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the company.
                type:
                  type: string
                  description: The resource type for the company (`companies`).
              description: Contains further information about the related company.
          description: Contains information about the company that owns the resource.
    relatedLibraries:
      type: object
      properties:
        libraries:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related libraries for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related libraries for the resource.
          description: Contains a link to the related libraries for the resource.
    relatedDataElements:
      type: object
      properties:
        data_elements:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related data elements for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related data elements for the resource.
          description: Contains a link to the related data elements for the resource.
    relatedRules:
      type: object
      properties:
        rules:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related rules for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related rules for the resource.
          description: Contains a link to the related rules for the resource.
    hostsCreateResponse:
      allOf:
      - $ref: '#/components/schemas/hostsLookupResponse'
    hostsUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/hostsAttributes'
    relatedCallbacks:
      type: object
      properties:
        callbacks:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related callbacks for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related callbacks for the resource.
          description: Contains a link to the related callbacks for the resource.
    relatedExtensions:
      type: object
      properties:
        extensions:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extensions for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extensions for the resource.
          description: Contains a link to the related extensions for the resource.
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
    relatedHosts:
      type: object
      properties:
        hosts:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related hosts for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related hosts for the resource.
          description: Contains a link to the related hosts for the resource.
    relatedNotes:
      type: object
      properties:
        notes:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related notes for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related notes for the resource.
          description: Contains a link to the related notes for the resource.
    relatedEnvironments:
      type: object
      properties:
        environments:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related environments for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related environments for the resource.
          description: Contains a link to the related environments for the resource.
    dataCreate:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - type
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes and type for the resource being created.
    hostsCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/hostsCreateAttributes'
    propertiesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the property was created in the system.
              enabled:
                type: boolean
                description: Indicates whether this property is enabled.
              name:
                type: string
                description: The name of the property.
              updated_at:
                type: string
                description: A timestamp of when the property was last updated.
              platform:
                type: string
                description: The platform for the property, either `web` or `mobile`.
              development:
                type: boolean
                description: Indicates whether this property is in development.
              token:
                type: string
                description: 'A unique token for the property.


                  When a build is pushed to an Adobe-managed host (`akamai`), this token is used to identify the property within the library''s folder structure. This also prevent''s the property''s `id` value from being unnecessarily exposed. This also applies to `sftp` hosts so that libraries are constructed in the same manner.'
              domains:
                type: array
                description: A list of domains associated with the property.
                items:
                  type: string
              undefined_vars_return_empty:
                type: boolean
                description: Indicates whether missing data elements return an empty string on this property.
              rule_component_sequencing_enabled:
                type: boolean
                description: Indicates whether rule component sequencing is enabled on this property.
            description: Contains the property's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this property.
            allOf:
            - $ref: '#/components/schemas/relatedCompany'
            - $ref: '#/components/schemas/relatedCallbacks'
            - $ref: '#/components/schemas/relatedHosts'
            - $ref: '#/components/schemas/relatedEnvironments'
            - $ref: '#/components/schemas/relatedLibraries'
            - $ref: '#/components/schemas/relatedDataElements'
            - $ref: '#/components/schemas/relatedExtensions'
            - $ref: '#/components/schemas/relatedRules'
            - $ref: '#/components/schemas/relatedNotes'
          links:
            type: object
            properties:
              company:
                type: string
                description: A link to the company that owns the property.
              data_elements:
                type: string
                description: A link to the data elements employed by the property.
              environments:
                type: string
                description: A link to the environments employed by the property.
              extensions:
                type: string
                description: A link to the extensions employed by the property.
              rules:
                type: string
                description: A link to the rules employed by the property.
              self:
                type: string
                description: A link to the property itself.
            description: Contains links related to the property which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              rights:
                type: array
                description: Lists the rights that are enabled for the property.
                items:
                  type: string
            description: Contains meta information about the property.
x-original-swagger-version: '2.0'
