openapi: 3.2.0
info:
  title: Reactor Extension package usage authorization API
  description: "Use the Reactor API to programmatically manage resources and develop tag extensions in Adobe Experience Platform.\n**Related documentation**:\n  * [Tags overview and UI documentation](https://adobe.com/go/launch_help_en)\n  * [Reactor API guides](https://adobe.com/go/reactor-api-overview)\n\n**API paths**:\n  * Reactor Gateway URL: https://<span>reactor.adobe.io\n  * Example of a complete path for making a call to `/properties`: https://<span>reactor.adobe.io/properties\n\n**Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).\n  * All GET requests to the Reactor API require an `Accept` header to determine what data is returned by the system. In most cases, this value will be `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type`. The specific `Content-Type` value for each call is provided in the parameters sections in the endpoints listed below.\n\n- **API error handling**:\n    - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
  version: '1.0'
servers:
- url: //reactor.adobe.io
tags:
- name: Extension package usage authorization
  description: An extension package usage authorization is an authorization granted by the package owner to other companies for the private use of the extension package versions.
paths:
  /extension_packages/{EXTENSION_PACKAGE_ID}/extension_package_usage_authorizations:
    get:
      tags:
      - Extension package usage authorization
      summary: Retrieve extension package usage authorizations for an extension package
      description: '>**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.'
      operationId: retrieveExtensionPackageUsageAuthorizationForPackage
      parameters:
      - name: EXTENSION_PACKAGE_ID
        in: path
        description: The ID of the extension package you want to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform integration, prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of each version of the extension package.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/retrieveExtensionPackageUsageAuthorizationForPackageResponse'
    post:
      tags:
      - Extension package usage authorization
      summary: Create an extension package usage authorization
      description: '>**NOTE**: Instead of a JSON payload, this endpoint expects a file upload via multipart form data. > >For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.'
      operationId: createExtensionPackageUsageAuthorization
      parameters:
      - name: EXTENSION_PACKAGE_ID
        in: path
        description: The ID of the extension package you want to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform integration, prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `multipart/form-data` for all requests that require archive file uploads.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/extensionPackagesCreateUsageAuthorizationPayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created extension package usage authorization.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionPackagesCreateUsageAuthorizationResponse'
  /extension_package_usage_authorizations:
    get:
      tags:
      - Extension package usage authorization
      summary: Retrieve a list of extension package usage authorizations
      description: '>**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.'
      operationId: retrieveExtensionPackageUsageAuthorization
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform integration, prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of each extension package usage authorization.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/retrieveExtensionPackageUsageAuthorizationResponse'
  /extension_package_usage_authorizations/{ID}:
    delete:
      tags:
      - Extension package usage authorization
      summary: Delete an extension package usage authorization
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: deletePackageUsageAuthorization
      parameters:
      - name: ID
        in: path
        description: The ID of the extension package usage authorization you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform integration, prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - Extension package usage authorization
      summary: Update an extension package usage authorization
      description: '>**NOTE**: Instead of a JSON payload, this endpoint expects a file upload via multipart form data. > >For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.'
      operationId: updateExtensionPackageUsageAuthorization
      parameters:
      - name: ID
        in: path
        description: The ID of the extension package usage authorization you want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform integration, prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `multipart/form-data` for all requests that require archive file uploads.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/extensionPackagesUpdateUsageAuthorizationPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated extension package usage authorization.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionPackagesUpdateUsageAuthorizationResponse'
  /extension_package_usage_authorizations/{EXTENSION_PACKAGE_USAGE_AUTHORIZATION_ID}/extension_package:
    get:
      tags:
      - Extension package usage authorization
      summary: Retrieve data for the extension package for an extension package usage authorization
      description: '>**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.'
      operationId: retrieveDataExtensionPackageUsageAuthorization
      parameters:
      - name: EXTENSION_PACKAGE_USAGE_AUTHORIZATION_ID
        in: path
        description: The ID of the extension package usage authorization you want to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform integration, prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of data for the extension package user athorization.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/retrieveDataExtensionPackageUsageAuthorizationResponse'
components:
  schemas:
    retrieveExtensionPackageUsageAuthorizationResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
                example: EA35d0e731f73645e6972df9fcac101434
              type:
                type: string
                description: The type of resource being created.
                example: extension_package_usage_authorizations
              attributes:
                type: object
                properties:
                  created_at:
                    type: string
                    description: A timestamp of when the data extension package usage authorization was created in the system.
                    example: '2024-06-05T23:17:30.308Z'
                  updated_at:
                    type: string
                    example: '2024-06-05T23:17:30.308Z'
                  name:
                    type: string
                    example: Acme
                  platform:
                    type: string
                    description: The platform for the extension package user authorization, either `web` or `mobile`.
                    enum:
                    - web
                    - mobile
                    example: web
                  owner_org_id:
                    type: string
                    example: '{ORG_ID}'
                  owner_org_name:
                    type: string
                    description: The Organization name.
                    example: Reactor QE
                  authorized_org_id:
                    type: string
                    description: The authorized Organization ID.
                    example: '{ORG_ID}'
                  authorized_org_name:
                    type: string
                    description: The authorized Organization name.
                    example: Platform UI - INT
                  state:
                    type: string
                    description: The current state of the new extension package user authorization.
                    example: pending_approval
                  created_by_email:
                    type: string
                    description: The author's email.
                    example: Restricted
                  created_by_display_name:
                    type: string
                    description: The author's name.
                    example: Restricted
                  updated_by_email:
                    type: string
                    description: The email of the user who performed the update.
                    example: example@adobe.com
                  updated_by_display_name:
                    type: string
                    description: The name of the user who performed the update.
                    example: George Ciltaru
              relationships:
                type: object
                properties:
                  extension_package:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          related:
                            type: string
                            description: A link that can be used in a subsequent API call to fetch the related properties for the resource.
                            example: https://reactor.adobe.io/extension_package_usage_authorizations/EA35d0e731f73645e6972df9fcac101434/extension_package
                        description: Contains a `related` link that can be used in a subsequent API call to fetch the related properties for the resource.
                      data:
                        type: string
                        example: null
              links:
                type: object
                properties:
                  self:
                    type: string
                    description: A link that can be used in a subsequent API call to fetch the relationship object for the resource's related data elements.
                    example: https://reactor.adobe.io/extension_package_usage_authorizations/EA35d0e731f73645e6972df9fcac101434
        links:
          type: object
          properties:
            self:
              type: string
              description: A link that can be used in a subsequent API call to fetch the relationship object for the resource's related data elements.
              example: https://reactor.adobe.io/extension_package_usage_authorizations?page%5Bnumber%5D=1&page%5Bsize%5D=25
            next:
              type: string
              example: https://reactor.adobe.io/extension_package_usage_authorizations?page%5Bnumber%5D=2&page%5Bsize%5D=25
            last:
              type: string
              example: https://reactor.adobe.io/extension_package_usage_authorizations?page%5Bnumber%5D=3&page%5Bsize%5D=25
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                  example: 1
                next_page:
                  type: integer
                  description: The next page of the response.
                  example: 2
                prev_page:
                  type: integer
                  description: The previous page of the response.
                  example: null
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                  example: 3
                total_count:
                  type: integer
                  description: The total number of results in the response.
                  example: 57
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    retrieveExtensionPackageUsageAuthorizationForPackageResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
                example: EA722482c30fe44b54aa6a7317890b3bdb
              type:
                type: string
                description: The type of resource being created.
                example: extension_package_usage_authorizations
              attributes:
                type: object
                properties:
                  created_at:
                    type: string
                    description: A timestamp of when the extension package user authorization was created in the system.
                    example: '2024-06-05T23:17:35.776Z'
                  updated_at:
                    type: string
                    description: A timestamp of when the extension package user authorization was last updated.
                    example: '2024-06-05T23:17:35.776Z'
                  name:
                    type: string
                    description: The name of the extension package user authorization.
                    example: Acme
                  platform:
                    type: string
                    description: The platform for the extension package user authorization, either `web` or `mobile`.
                    enum:
                    - web
                    - mobile
                    example: web
                  owner_org_id:
                    type: string
                    description: The Organization ID.
                    example: '{ORG_ID}'
                  owner_org_name:
                    type: string
                    description: The Organization name.
                    example: Reactor QE
                  authorized_org_id:
                    type: string
                    description: The authorized Organization ID.
                    example: '{ORG_ID}'
                  authorized_org_name:
                    type: string
                    description: The authorized Organization name.
                    example: Platform UI - INT
                  state:
                    type: string
                    description: The current state of the new extension package user authorization.
                    example: pending_approval
                  created_by_email:
                    type: string
                    description: The author's email.
                    example: example@adobe.com
                  created_by_display_name:
                    type: string
                    description: The author's name.
                    example: George Ciltaru
                  updated_by_email:
                    type: string
                    description: The email of the user who performed the update.
                    example: Restricted
                  updated_by_display_name:
                    type: string
                    description: The name of the user who performed the update.
                    example: Restricted
              relationships:
                type: object
                properties:
                  extension_package:
                    type: object
                    properties:
                      links:
                        type: object
                        properties:
                          related:
                            type: string
                            description: A link that can be used in a subsequent API call to fetch the related properties for the resource.
                            example: https://reactor.adobe.io/extension_package_usage_authorizations/EA722482c30fe44b54aa6a7317890b3bdb/extension_package
                        description: Contains a `related` link that can be used in a subsequent API call to fetch the related properties for the resource.
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
                            example: EPecefc8291ae346c3b3887d5b2da533b8
                          type:
                            type: string
                            description: The type of resource being created.
                            example: extension_packages
              links:
                type: object
                properties:
                  self:
                    type: string
                    description: A link that can be used in a subsequent API call to fetch the relationship object for the resource's related data elements.
                    example: https://reactor.adobe.io/extension_package_usage_authorizations/EA722482c30fe44b54aa6a7317890b3bdb
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                  example: 1
                next_page:
                  type: integer
                  description: The next page of the response.
                  example: null
                prev_page:
                  type: integer
                  description: The previous page of the response.
                  example: null
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                  example: 1
                total_count:
                  type: integer
                  description: The total number of results in the response.
                  example: 1
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    extensionPackagesCreateUsageAuthorizationPayload:
      type: object
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              properties:
                authorized_org_id:
                  type: string
                  description: The authorized Organization ID.
                  example: '{ORG_ID}'
            type:
              type: string
              description: The type of resource being created.
              example: extension_package_usage_authorizations
    extensionPackagesUpdateUsageAuthorizationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
              example: EA86f54b48dd7042a68686508e03be8ba9
            type:
              type: string
              description: The type of resource being created.
              example: extension_package_usage_authorizations
            attributes:
              type: object
              properties:
                created_at:
                  type: string
                  description: A timestamp of when the extension package user authorization was created in the system.
                  example: '2024-06-05T23:17:59.480Z'
                updated_at:
                  type: string
                  description: A timestamp of when the extension package user authorization was last updated.
                  example: '2024-06-05T23:18:00.115Z'
                name:
                  type: string
                  description: The name of the extension package user authorization.
                  example: Acme
                platform:
                  type: string
                  description: The platform for the extension package user authorization, either `web` or `mobile`.
                  enum:
                  - web
                  - mobile
                  example: web
                owner_org_id:
                  type: string
                  description: The Organization ID.
                  example: '{ORG_ID}'
                owner_org_name:
                  type: string
                  description: The Organization name.
                  example: Reactor QE
                authorized_org_id:
                  type: string
                  description: The authorized Organization ID.
                  example: '{ORG_ID}'
                authorized_org_name:
                  type: string
                  description: The authorized Organization name.
                  example: Platform UI - INT
                state:
                  type: string
                  description: The current state of the new extension package user authorization.
                  example: approved
                created_by_email:
                  type: string
                  description: The author's email.
                  example: Restricted
                created_by_display_name:
                  type: string
                  description: The author's name.
                  example: Restricted
                updated_by_email:
                  type: string
                  description: The email of the user who performed the update.
                  example: example@adobe.com
                updated_by_display_name:
                  type: string
                  description: The name of the user who performed the update.
                  example: George Ciltaru
            relationships:
              type: object
              properties:
                extension_package:
                  type: object
                  properties:
                    links:
                      type: object
                      properties:
                        related:
                          type: string
                          description: A link that can be used in a subsequent API call to fetch the related properties for the resource.
                          example: https://reactor.adobe.io/extension_package_usage_authorizations/EA86f54b48dd7042a68686508e03be8ba9/extension_package
                      description: Contains a `related` link that can be used in a subsequent API call to fetch the related properties for the resource.
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
                          example: EPb91d54cad9f749dba4e5566459f84c9c
                        type:
                          type: string
                          description: The type of resource being created.
                          example: extension_packages
            links:
              type: object
              properties:
                self:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the relationship object for the resource's related data elements.
                  example: https://reactor.adobe.io/extension_package_usage_authorizations/EA86f54b48dd7042a68686508e03be8ba9
    extensionPackagesUpdateUsageAuthorizationPayload:
      type: object
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              properties:
                state:
                  type: string
                  description: The current state of the updated extension package user authorization.
                  example: approved
            type:
              type: string
              description: The type of resource being created.
              example: extension_package_usage_authorizations
            id:
              type: string
              description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
              example: EA86f54b48dd7042a68686508e03be8ba9
    retrieveDataExtensionPackageUsageAuthorizationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
              example: EP45ae063fd75c4c22936d3d456c858cfa
            type:
              type: string
              description: The type of resource being created.
              example: extension_packages
            attributes:
              type: object
              properties:
                actions:
                  type: array
                author:
                  type: object
                  properties:
                    url:
                      type: string
                      example: http://adobe.com
                    name:
                      type: string
                      example: Acme
                    email:
                      type: string
                      example: acme@adobe.com
                availability:
                  type: string
                  example: private
                cdn_path:
                  type: string
                  example: https://assets.adobedtm.com/staging/extensions/EP45ae063fd75c4c22936d3d456c858cfa
                conditions:
                  type: array
                configuration:
                  type: string
                  example: null
                created_at:
                  type: string
                  description: A timestamp of when the data extension package usage authorization was created in the system.
                  example: '2024-06-05T23:17:48.607Z'
                data_elements:
                  type: array
                description:
                  type: string
                  example: Provides nothing.
                discontinued:
                  type: boolean
                  example: false
                display_name:
                  type: string
                  example: Acme Template Test
                ecma_version:
                  type: string
                  example: null
                events:
                  type: array
                exchange_url:
                  type: string
                  example: null
                hosted_lib_files:
                  type: string
                  example: null
                icon_path:
                  type: string
                  example: resources/icons/core.svg
                main:
                  type: string
                  example: 'null'
                name:
                  type: string
                  example: Acme
                owner_org_id:
                  type: string
                  example: '{ORG_ID}'
                resources:
                  type: string
                  example: null
                shared_modules:
                  type: string
                  example: null
                status:
                  type: string
                  example: succeeded
                platform:
                  type: string
                  example: web
                updated_at:
                  type: string
                  example: '2024-06-05T23:17:53.806Z'
                version:
                  type: string
                  example: 1.0.0
                view_base_path:
                  type: string
                  example: dist/
                created_by_email:
                  type: string
                  description: The author's email.
                  example: example@adobe.com
                created_by_display_name:
                  type: string
                  description: The author's name.
                  example: George Ciltaru
                updated_by_email:
                  type: string
                  description: The email of the user who performed the update.
                  example: example@adobe.com
                updated_by_display_name:
                  type: string
                  description: The name of the user who performed the update.
                  example: George Ciltaru
            relationships:
              type: object
              properties:
                extension_package:
                  type: object
                  properties:
                    links:
                      type: object
                      properties:
                        related:
                          type: string
                          description: A link that can be used in a subsequent API call to fetch the related properties for the resource.
                          example: https://reactor.adobe.io/extension_packages/EP45ae063fd75c4c22936d3d456c858cfa/extension_package_usage_authorizations
                      description: Contains a `related` link that can be used in a subsequent API call to fetch the related properties for the resource.
            links:
              type: object
              properties:
                self:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the relationship object for the resource's related data elements.
                  example: https://reactor.adobe.io/extension_packages/EP45ae063fd75c4c22936d3d456c858cfa
    extensionPackagesCreateUsageAuthorizationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
              example: EA35d0e731f73645e6972df9fcac101434
            type:
              type: string
              description: The type of resource being created.
              example: extension_package_usage_authorizations
            attributes:
              type: object
              properties:
                created_at:
                  type: string
                  description: A timestamp of when the extension package user authorization was created in the system.
                  example: '2024-06-05T23:17:30.308Z'
                updated_at:
                  type: string
                  description: A timestamp of when the extension package user authorization was last updated.
                  example: '2024-06-05T23:17:30.308Z'
                name:
                  type: string
                  description: The name of the extension package user authorization.
                  example: Acme
                platform:
                  type: string
                  description: The platform for the extension package user authorization, either `web` or `mobile`.
                  enum:
                  - web
                  - mobile
                  example: web
                owner_org_id:
                  type: string
                  description: The Organization ID.
                  example: '{ORG_ID}'
                owner_org_name:
                  type: string
                  description: The Organization name.
                  example: Reactor QE
                authorized_org_id:
                  type: string
                  description: The authorized Organization ID.
                  example: '{ORG_ID}'
                authorized_org_name:
                  type: string
                  description: The authorized Organization name.
                  example: Platform UI - INT
                state:
                  type: string
                  description: The current state of the new extension package user authorization.
                  example: pending_approval
                created_by_email:
                  type: string
                  description: The author's email.
                  example: example@adobe.com
                created_by_display_name:
                  type: string
                  description: The author's name.
                  example: George Ciltaru
                updated_by_email:
                  type: string
                  description: The email of the user who performed the update.
                  example: Restricted
                updated_by_display_name:
                  type: string
                  description: The name of the user who performed the update.
                  example: Restricted
            relationships:
              type: object
              properties:
                extension_package:
                  type: object
                  properties:
                    links:
                      type: object
                      properties:
                        related:
                          type: string
                          description: A link that can be used in a subsequent API call to fetch the related properties for the resource.
                          example: https://reactor.adobe.io/extension_package_usage_authorizations/EA35d0e731f73645e6972df9fcac101434/extension_package
                      description: Contains a `related` link that can be used in a subsequent API call to fetch the related properties for the resource.
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
                          example: EP43649cc8856d4f09a7c2a21a4b1e449d
                        type:
                          type: string
                          description: The type of resource being created.
                          example: extension_packages
            links:
              type: object
              properties:
                self:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the relationship object for the resource's related data elements.
                  example: https://reactor.adobe.io/extension_package_usage_authorizations/EA35d0e731f73645e6972df9fcac101434
x-original-swagger-version: '2.0'
