openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager EDS Sites API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: EDS Sites
paths:
  /api/program/{programId}/site/{siteId}:
    get:
      tags:
      - EDS Sites
      summary: Get Site by Id
      description: ''
      operationId: retrieveSite
      parameters:
      - name: programId
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Site retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '404':
          description: Site could not be found
    put:
      tags:
      - EDS Sites
      summary: Update Site
      description: ''
      operationId: updateSite
      parameters:
      - name: programId
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Site updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '404':
          description: Site could not be found
    delete:
      tags:
      - EDS Sites
      summary: Delete Site
      description: ''
      operationId: deleteSite
      parameters:
      - name: programId
        in: path
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Site deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '404':
          description: Site could not be found
  /api/program/{programId}/site/{siteId}/validate:
    put:
      tags:
      - EDS Sites
      summary: Validate Site
      description: ''
      operationId: validateSite
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        description: Identifier of the site
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Site validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '400':
          description: Site could not be validated. CloudManager challenge does not match
        '500':
          description: Internal Server Error
        '504':
          description: Site could not be validated in time
  /api/program/{programId}/sites:
    get:
      tags:
      - EDS Sites
      summary: Get All Sites by programId
      description: ''
      operationId: getProgramSites
      parameters:
      - name: programId
        in: path
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Sites retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteList'
    post:
      tags:
      - EDS Sites
      summary: Create Site
      description: ''
      operationId: createSite
      parameters:
      - name: programId
        in: path
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '201':
          description: Site created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
components:
  schemas:
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    Site:
      type: object
      properties:
        siteId:
          type: integer
          format: int64
          description: siteId
        programId:
          type: string
          description: Identifier of the CM Program ID. Unique within the space.
        siteName:
          type: string
          description: Name of the site
        repoUrl:
          type: string
          description: CM Eds Site Repo URL.
        siteStatus:
          type: string
          description: Site EDS status
        validationToken:
          type: string
          description: Validation token of the CM EDS Site
        createdAt:
          type: integer
          format: int64
          description: Creation date
        modifiedAt:
          type: integer
          format: int64
          description: Last modification date
        deletedAt:
          type: integer
          format: int64
          description: Deleted date
        deleted:
          type: boolean
          description: deleted or not
          default: false
        _links:
          type: object
          readOnly: true
          properties:
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
            sites:
              $ref: '#/components/schemas/HalLink'
      description: Describes a Site
    SiteList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _embedded:
          type: object
          readOnly: true
          properties:
            sites:
              type: array
              items:
                $ref: '#/components/schemas/Site'
        _links:
          type: object
          readOnly: true
          properties:
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
