openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Rapid Development Environments API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Rapid Development Environments
paths:
  /api/program/{programId}/environment/{environmentId}/reset:
    put:
      tags:
      - Rapid Development Environments
      summary: Reset Rapid Development Environment
      description: Reset Rapid Development Environment. Also updates the RDE to the latest AEM release.
      operationId: resetRde
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Successfully reset RDE
        '404':
          description: Environment not found
