openapi: 3.2.0
info:
  version: '1.0'
  title: Schema Registry Behaviors API
  description: "Use the Schema Registry API to access the Schema Library within Adobe Experience Platform. The registry provides a user interface and RESTful API from which all available library resources are accessible.  Programmatically manage all schemas and related Experience Data Model (XDM) resources available to you within Platform. This includes those defined by Adobe, Experience Platform partners, and vendors whose applications you use.\n* **Related documentation**:\n  * [XDM documentation](http://www.adobe.com/go/xdm-home-en)\n\n* **Visualize API calls with Postman (a free, third-party software)**:\n  * [Schema Registry API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Schema%20Registry%20API.postman_collection.json)\n  * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)\n  * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)\n\n* **API paths**:\n  * PLATFORM Gateway URL: https://<span>platform.adobe.io\n  * Base path for this API: /data/foundation/schemaregistry\n  * Example of a complete path for making a call to \"/stats\": https://<span>platform.adobe.io/data/foundation/schemaregistry/stats\n\n* **Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).\n  * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, \"prod\"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.\n  * All GET requests to the Schema Registry require an `Accept` header to determine what data is returned by the system. See the [section on `Accept` headers](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/getting-started.html?lang=en#accept) in the Schema Registry developer guide for more information.\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.\n\n- **API error handling**:\n  * Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
servers:
- url: https://platform.adobe.io/data/foundation/schemaregistry
tags:
- name: Behaviors
  description: Behaviors define the nature of data that a schema describes. Each XDM class must reference a specific behavior, which all schemas that employ that class will inherit. Schemas that inherit the "record" behavior provide information about the attributes of a subject, while those that inherit the "time-series" behavior provide a snapshot of the system at the time an action was taken by a record subject.
paths:
  /global/behaviors:
    get:
      tags:
      - Behaviors
      summary: List behaviors
      description: '>**NOTE**: For more information on using this operation, see the [behaviors endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/behaviors.html) on Experience League.'
      operationId: listBehaviors
      parameters:
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/acceptListing'
      responses:
        200:
          x-summary: Success
          description: A successful response returns all behaviors in the global container.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/listResponse'
                example:
                  results:
                  - $id: https://ns.adobe.com/xdm/data/record
                    meta:altId: _xdm.data.record
                    version: 1.16.4
                    title: Record Schema
                  - $id: https://ns.adobe.com/xdm/data/adhoc
                    meta:altId: _xdm.data.adhoc
                    version: 1.16.4
                    title: Ad Hoc Schema
                  - $id: https://ns.adobe.com/xdm/data/time-series
                    meta:altId: _xdm.data.time-series
                    version: 1.16.4
                    title: Time-series Schema
                  _page:
                    orderby: updated
                    next: null
                    count: 3
                  _links:
                    next: null
        '400':
          x-summary: Bad formatting
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a listing call with no version supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorList'
  /global/behaviors/{BEHAVIOR_ID}:
    get:
      tags:
      - Behaviors
      summary: Retrieve a behavior
      description: '>**NOTE**: For more information on using this operation, see the [behaviors endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/behaviors.html) on Experience League.'
      operationId: retrieveBehavior
      parameters:
      - $ref: '#/components/parameters/BEHAVIOR_ID'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/accept'
      responses:
        200:
          x-summary: Success
          description: A successful response returns the details of the behavior specified in the request path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/singleBehaviorResponse'
        '400':
          x-summary: Bad formatting
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid accept header for a lookup call including a version number (e.g. `application/vnd.adobe.xed+json;version=1`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorLookup'
components:
  parameters:
    accept:
      name: Accept
      description: 'The desired response format. For lookup requests, a `version` parameter must be included, with the following `Accept` header values being permitted:

        <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed+json; version=1</code></td><td>Returns only the basic details of the resource, with all inherited fields relegated to <code>$ref</code> and <code>allOf</code> properties.</td></tr><tr><td><code>application/vnd.adobe.xed-full+json; version=1</code></td><td>Returns the full details of the resource, including the details all fields inherited from other resources.</td></tr><tr><td><code>application/vnd.adobe.xed-notext+json; version=1</code></td><td>Returns only the basic details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-notext+json; version=1</code></td><td>Returns the full details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-desc+json; version=1</code></td><td>Returns the full details of the resource, including descriptions but with no titles.</td></tr></tbody></table>'
      required: true
      in: header
      schema:
        type: string
    BEHAVIOR_ID:
      name: BEHAVIOR_ID
      description: The `meta:altId` or URL-encoded `$id` of the behavior in question.
      required: true
      in: path
      schema:
        type: string
    authorization:
      name: Authorization
      description: The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    x-gw-ims-org-id:
      name: x-gw-ims-org-id
      description: The IMS Organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    acceptListing:
      name: Accept
      description: "The desired response format. For listing calls, the following `Accept` header values are permitted: \n<table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed-id+json</code></td><td>Returns a short summary of each resource, generally the preferred header for listing.</td></tr><tr><td><code>application/vnd.adobe.xed+json</code></td><td>Returns full JSON for each resource, with the original <code>$ref</code> and <code>allOf</code> attributes included.</td></tr></tbody></table>"
      required: true
      in: header
      schema:
        type: string
    x-api-key:
      name: x-api-key
      description: The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    x-sandbox-name:
      name: x-sandbox-name
      description: The name of the sandbox in which the operation will take place. See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
      required: true
      in: header
      schema:
        type: string
  schemas:
    xdmTypeToSchema:
      type: object
      properties:
        meta:xdmType:
          type: string
          description: The XDM resource type (typically `object`).
        meta:status:
          type: string
          description: (For `global` resources only) The status of the resource.
        $schema:
          type: string
          description: The JSON schema definition that this resource is based on.
    lookupResourceCore:
      type: object
      properties:
        $id:
          type: string
          description: The URI ID of the XDM resource.
          example: https://ns.adobe.com/{TENANT_ID}/schemas/d4ad4b8463a67f6755f2aabbeb9e02c7
        meta:altId:
          type: string
          description: An alternate dot-notation ID for the XDM resource.
          example: _{TENANT_ID}.schemas.d4ad4b8463a67f6755f2aabbeb9e02c7
        meta:resourceType:
          type: string
          description: The type of XDM resource.
          example: schemas
        version:
          type: string
          description: The current version of the resource.
          example: 1.4
        title:
          type: string
          description: The title of the resource.
          example: Hotels
        type:
          type: string
          description: The JSON Schema element type that represents the XDM resource (typically `object`).
          example: object
        description:
          type: string
          description: A description for the resource.
    linksBasic:
      type: object
      description: Contains various links related to the response.
      properties:
        next:
          type: string
          description: A URI for the next page in the response, if one exists. Contains `null` if this is the last or only page in the response.
          example: null
    registryMetadata:
      type: object
      description: Contains registry-specific metadata about the XDM resource.
      properties:
        repo:createdDate:
          type: integer
          description: A Unix timestamp of when the resource was created.
        repo:lastModifiedDate:
          type: integer
          description: A Unix timestamp of when the resource was last modified.
        xdm:createdClientId:
          type: string
          description: The ID of the client that created the resource.
        xdm:lastModifiedClientId:
          type: string
          description: The ID of the client that last modified the resource.
        xdm:createdUserId:
          type: string
          description: The ID of the user that created the resource.
        xdm:lastModifiedUserId:
          type: string
          description: The ID of the user that last modified the resource.
        etag:
          type: string
          description: An HTTP entity tag (ETag) for the resource.
        meta:globalLibVersion:
          type: string
          description: The current global library version of the resource.
        meta:usageCount:
          type: integer
          description: The number of instances where this resource is referenced by other XDM resources.
    metaRegistryMetadata:
      type: object
      properties:
        meta:registryMetadata:
          $ref: '#/components/schemas/registryMetadata'
    record:
      type: string
      example: '#/definitions/record'
    listResponseItem:
      type: object
      properties:
        title:
          type: string
          description: The title of the XDM resource.
          example: Tenant Data Schema
        $id:
          type: string
          description: The URI ID of the XDM resource.
          example: https://ns.adobe.com/{TENANT_ID}/schemas/274f17bc5807ff307a046bab1489fb18
        meta:altId:
          type: string
          description: An alternate dot-notation ID for the XDM resource.
          example: _{TENANT_ID}.schemas.274f17bc5807ff307a046bab1489fb18
    acceptErrorList:
      allOf:
      - $ref: '#/components/schemas/errorBasic'
      example:
        type: http://ns.adobe.com/aep/errors/XDM-1006-400
        title: Accept header invalid
        status: 400
        report:
          registryRequestId: d2550d48-95f5-43ee-adb7-1035bf9d3258
          timestamp: 11-25-2020 07:56:25
          detailed-message: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json;version=1 - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json'
          sub-errors: []
        detail: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json;version=1 - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json'
    allOfRef:
      type: object
      properties:
        $ref:
          type: string
          description: The `$id` of the XDM resource.
        type:
          type: string
          description: The resource type (typically `object`).
        meta:xdmType:
          type: string
          description: The XDM resource type (typically `object`).
    lookupResourceWithDefinitions:
      allOf:
      - $ref: '#/components/schemas/lookupResourceCore'
      - properties:
          definitions:
            type: object
            description: Contains definitions for the unique attributes provided by the resource.
          allOf:
            type: array
            description: A list of objects that refer to the common definitions and fields that the resource inherits.
            items:
              $ref: '#/components/schemas/allOfRef'
          meta:extensible:
            type: boolean
            description: Indicates whether this resource is extensible or not.
          meta:abstract:
            type: boolean
            description: Indicates whether this resource is abstract or not.
    acceptErrorLookup:
      allOf:
      - $ref: '#/components/schemas/errorBasic'
      example:
        type: http://ns.adobe.com/aep/errors/XDM-1007-400
        title: Accept header invalid
        status: 400
        report:
          registryRequestId: fc4f81b7-d0aa-4116-a0e1-e6f9c82b6470
          timestamp: 11-02-2021 07:42:43
          detailed-message: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json; version=1 (Version should be specified)'
          sub-errors: []
        detail: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json; version=1 (Version should be specified)'
    listResponseItemWithVersion:
      allOf:
      - $ref: '#/components/schemas/listResponseItem'
      - properties:
          version:
            type: string
            description: The current version of the XDM resource.
            example: '1.1'
    listResponseBasic:
      type: object
      properties:
        results:
          type: array
          description: Lists the basic details of the returned XDM resources.
          items:
            $ref: '#/components/schemas/listResponseItemWithVersion'
        _page:
          type: object
          description: Contains pagination information related to the response.
          properties:
            orderby:
              type: string
              description: The attribute that results are sorted by.
              example: title
            next:
              type: string
              description: A URI for the next page in the response, if one exists. Contains `null` if this is the last or only page in the response.
              example: null
            count:
              type: integer
              description: The number of results returned per page.
              example: 2
        _links:
          $ref: '#/components/schemas/linksBasic'
      example:
        results:
        - $id: https://ns.adobe.com/{TENANT_ID}/schemas/0238be93d3e7a06aec5e0655955901ec
          meta:altId: _{TENANT_ID}.schemas.0238be93d3e7a06aec5e0655955901ec
          version: '1.4'
          title: Hotels
        - $id: https://ns.adobe.com/{TENANT_ID}/schemas/0ef4ce0d390f0809fad490802f53d30b
          meta:altId: _{TENANT_ID}.schemas.0ef4ce0d390f0809fad490802f53d30b
          version: '1.0'
          title: Loyalty Members
        _page:
          orderby: title
          next: null
          count: 2
        _links:
          next: null
          global_schemas:
            href: https://platform.adobe.io/data/foundation/schemaregistry/global/schemas
    listResponse:
      allOf:
      - $ref: '#/components/schemas/listResponseBasic'
      - properties:
          _links:
            $ref: '#/components/schemas/linksBasic'
    errorBasic:
      type: object
      properties:
        type:
          type: string
          description: The XDM error code.
        title:
          type: string
          description: The error code title.
        status:
          type: integer
          description: The HTTP status code for the error.
        report:
          type: object
          description: Contains registry information about the error.
          properties:
            registryRequestId:
              type: string
              description: A unique ID for the report.
            timestamp:
              type: string
              description: A timestamp of when the error occurred.
            detailed-message:
              type: string
              description: A detailed message about what caused the error.
            sub-errors:
              type: array
              description: Contains details about other errors that this error is a parent of.
              items:
                $ref: '#/components/schemas/errorBasic'
        detail:
          type: string
          description: A detailed message about what caused the error.
    singleBehaviorResponse:
      allOf:
      - $ref: '#/components/schemas/lookupResourceWithDefinitions'
      - $ref: '#/components/schemas/xdmTypeToSchema'
      - $ref: '#/components/schemas/metaRegistryMetadata'
      example:
        $id: https://ns.adobe.com/xdm/data/record
        meta:altId: _xdm.data.record
        meta:resourceType: behaviors
        version: 1.16.4
        title: Record Schema
        type: object
        description: Used to indicate the behavior of record data semantic when composed into data schemas.
        definitions:
          record:
            properties:
              _id:
                title: Identifier
                type: string
                format: uri-reference
                description: A unique identifier for the record.
                meta:xdmType: string
                meta:xdmField: '@id'
        allOf:
        - $ref: '#/components/schemas/record'
          type: object
          meta:xdmType: object
        - '$ref ': https://ns.adobe.com/xdm/common/extensible%23/definitions/@context
          type: object
          meta:xdmType: object
        meta:extensible: true
        meta:abstract: true
        meta:xdmType: object
        meta:status: stable
        $schema: http://json-schema.org/draft-06/schema#
        meta:registryMetadata:
          repo:createdDate: 1606266789446
          repo:lastModifiedDate: 1606266789446
          eTag: 2cc114a54949a9668fe2ad046ccece59192e1bfa28f14e5ac7c893acb7820ba2
          meta:globalLibVersion: 1.16.4
