openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Domain Mappings - CDN Configurations API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Domain Mappings - CDN Configurations
paths:
  /api/program/{programId}/domain-mapping/{domainMappingId}:
    get:
      tags:
      - Domain Mappings - CDN Configurations
      summary: Get domain mapping
      description: Gets a domain mapping by its ID
      operationId: getDomainMappingById
      parameters:
      - name: programId
        in: path
        description: Identifier of program
        required: true
        schema:
          type: integer
          format: int64
      - name: domainMappingId
        in: path
        description: Identifier of domain mapping
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain Mapping retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMapping'
        '404':
          description: Domain Mapping not found
    put:
      tags:
      - Domain Mappings - CDN Configurations
      summary: Update domain mapping
      description: Updates a domain mapping with the specified values
      operationId: updateDomainMapping
      parameters:
      - name: programId
        in: path
        description: Identifier of program
        required: true
        schema:
          type: integer
          format: int64
      - name: domainMappingId
        in: path
        description: Identifier of domain mapping
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain Mapping updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMapping'
        '404':
          description: Domain Mapping not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Updateadomainmapping'
        description: Payload for updating a domain mapping
        required: true
    delete:
      tags:
      - Domain Mappings - CDN Configurations
      summary: Delete domain mapping
      description: Deletes a domain mapping
      operationId: deleteDomainMapping
      parameters:
      - name: programId
        in: path
        description: Identifier of program
        required: true
        schema:
          type: integer
          format: int64
      - name: domainMappingId
        in: path
        description: Identifier of domain mapping
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain Mapping deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMapping'
        '404':
          description: Domain Mapping not found
  /api/program/{programId}/domain-mapping/{domainMappingId}/verify:
    put:
      tags:
      - Domain Mappings - CDN Configurations
      summary: Check if customer made the required DNS changes
      description: Check if customer made the required DNS changes in order to route traffic from the domain
      operationId: validateHelixDomain
      parameters:
      - name: programId
        in: path
        description: Identifier of program
        required: true
        schema:
          type: integer
          format: int64
      - name: domainMappingId
        in: path
        description: Identifier of domain mapping
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: DNS changes were successfully made
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMapping'
        '404':
          description: Program not found
  /api/program/{programId}/domain-mappings:
    get:
      tags:
      - Domain Mappings - CDN Configurations
      summary: List of domain mappings
      description: Gets the list of domain mappings from this program.
      operationId: getAllDomainMappingsByProgramId
      parameters:
      - name: programId
        in: path
        description: Identifier of program
        required: true
        schema:
          type: integer
          format: int64
      - name: originId
        in: query
        description: Filtering by origin ID
        required: false
        schema:
          type: integer
          format: int64
      - name: certificateId
        in: query
        description: Filtering by certificateId
        required: false
        schema:
          type: integer
          format: int64
      - name: domainId
        in: query
        description: Filtering by domainId
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filtering by status separated by comma
        required: false
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of domain mappings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMappingList'
    post:
      tags:
      - Domain Mappings - CDN Configurations
      summary: Create domain mapping
      description: Creates a domain mapping (CDN configuration) in this program
      operationId: createDomainMapping
      parameters:
      - name: programId
        in: path
        description: Identifier of program
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMapping'
        '201':
          description: Domain Mapping created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMapping'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Createanewdomainmapping'
        description: Payload for creating a domain mapping
        required: true
  /api/program/{programId}/environment/{environmentId}/domain-mappings:
    get:
      tags:
      - Domain Mappings - CDN Configurations
      summary: List of domain mappings by environment
      description: Gets the list of domain mappings for the specified environment ID.
      operationId: getAllDomainMappingsByProgramIdAndEnvironmentId
      parameters:
      - name: programId
        in: path
        description: Identifier of program
        required: true
        schema:
          type: integer
          format: int64
      - name: environmentId
        in: path
        description: Identifier of environment
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of domain mappings by environment retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMappingList'
  /api/program/{programId}/site/{siteId}/domain-mappings:
    get:
      tags:
      - Domain Mappings - CDN Configurations
      summary: List of domain mappings by EDS site
      description: Get the list of domain mappings for the specified EDS site ID.
      operationId: getAllDomainMappingsByProgramIdAndSiteId
      parameters:
      - name: programId
        in: path
        description: Identifier of program
        required: true
        schema:
          type: integer
          format: int64
      - name: siteId
        in: path
        description: Identifier of EDS site
        required: true
        schema:
          type: integer
          format: int64
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of domain mappings by environment retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMappingList'
components:
  schemas:
    DomainMapping:
      type: object
      properties:
        domainMappingId:
          type: integer
          format: int64
          description: Domain Mapping ID
        programId:
          type: integer
          format: int64
          description: Identifier of the CM Program
        originId:
          type: integer
          format: int64
          description: Id of either EDS site or Skyline Environment
        domainMappingStatus:
          type: string
          description: Status of the domain mapping
        domainName:
          type: string
          description: Name of the domain
        originType:
          type: string
          description: 'Type of origin: EDS_SITE or SKYLINE_ENVIRONMENT'
        tier:
          type: string
          description: 'Type of tier: PREVIEW or PUBLISH'
          enum:
          - PUBLISH
          - PREVIEW
          - AUTHOR
          - STATIC
          - DELIVERY
        domainId:
          type: integer
          format: int64
          description: Id of the domain
        certificateId:
          type: integer
          format: int64
          description: Id of the certificate
        createdAt:
          type: integer
          format: int64
          description: Creation date
        updatedAt:
          type: integer
          format: int64
          description: Last modification date
        deletedAt:
          type: integer
          format: int64
          description: Deletion date
      description: Describes a domain mapping
    Updateadomainmapping:
      type: object
      required:
      - certificateId
      - tier
      properties:
        certificateId:
          type: integer
          format: int64
          description: Certificate ID
        tier:
          type: string
          description: 'Type of tier: PREVIEW or PUBLISH'
          enum:
          - PUBLISH
          - PREVIEW
          - AUTHOR
          - STATIC
          - DELIVERY
    DomainMappingList:
      type: object
      properties:
        totalNumberOfItems:
          type: integer
          format: int32
        domainMappings:
          type: array
          items:
            $ref: '#/components/schemas/DomainMapping'
    Createanewdomainmapping:
      type: object
      required:
      - certificateId
      - domainId
      - originId
      - originType
      - tier
      properties:
        originId:
          type: integer
          format: int64
          description: 'Origin ID: EDS or Skyline Environment ID'
        domainId:
          type: integer
          format: int64
          description: Domain ID
        certificateId:
          type: integer
          format: int64
          description: Certificate ID
        tier:
          type: string
          description: 'Type of the tier: PREVIEW or PUBLISH'
          enum:
          - PUBLISH
          - PREVIEW
        originType:
          type: string
          description: 'Type of the origin: EDS_SITE or SKYLINE_ENVIRONMENT'
          enum:
          - EDS_SITE
          - SKYLINE_ENVIRONMENT
