openapi: 3.2.0
info:
  title: Journeys throttling configurations Throttling configuration…
  description: The Journeys throttling configuration APIs allow to manage capping and throttling configurations.
  version: v1
servers:
- url: https://platform.adobe.io/journey/orchestration
tags:
- name: Throttling configuration
paths:
  /list/throttlingConfigs:
    post:
      tags:
      - Throttling configuration
      summary: List throttlingConfigs configurations
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/list_throttlingconfigs.jsonPublic
      parameters:
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
              example: {}
        required: false
      responses:
        200:
          description: 'OK: the operation was successful.'
          content:
            application/json;charset=utf-8:
              schema:
                type: object
              example: {}
      x-codegen-request-body-name: body
      x-operation-id-source: normalized
      x-operation-id-original: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/list_throttlingconfigs.json public
  /throttlingConfigs:
    post:
      tags:
      - Throttling configuration
      summary: Create a throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/throttlingconfigs.jsonPublic
      parameters:
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: string
        required: true
      responses:
        200:
          description: 'OK: the operation was successful.'
          content: {}
        500:
          description: 'Internal Server Error: invalid values or missing elements in the given payload.'
          content: {}
      x-codegen-request-body-name: payload
      x-operation-id-source: normalized
      x-operation-id-original: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/throttlingconfigs.json public
  /throttlingConfigs/{uid}:
    get:
      tags:
      - Throttling configuration
      summary: Get an throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/get/throttlingconfigs_uid.jsonPublic
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      responses:
        200:
          description: 'OK: the operation was successful.'
          content:
            application/json;charset=utf-8:
              schema:
                type: object
        404:
          description: 'Not Found: unknown given Unique ID.'
          content: {}
      x-operation-id-source: normalized
      x-operation-id-original: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/get/throttlingconfigs_uid.json public
    put:
      tags:
      - Throttling configuration
      summary: Update a throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/put/throttlingconfigs_uid.jsonPublic
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: string
        required: true
      responses:
        200:
          description: 'OK: operation was successful.'
          content: {}
        404:
          description: 'Not Found: unknown given Unique ID.'
          content: {}
        500:
          description: 'Internal Server Error: invalid values or missing elements in the given payload.'
          content: {}
      x-codegen-request-body-name: payload
      x-operation-id-source: normalized
      x-operation-id-original: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/put/throttlingconfigs_uid.json public
    delete:
      tags:
      - Throttling configuration
      summary: Delete a throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/delete/throttlingconfigs_uid.jsonPublic
      parameters:
      - name: forceDelete
        in: query
        schema:
          type: string
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      responses:
        200:
          description: 'OK: the operation was successful.'
          content:
            application/json;charset=utf-8:
              schema:
                type: object
        404:
          description: 'Not Found: unknown given Unique ID.'
          content: {}
        500:
          description: 'Internal Server Error: invalid values or missing elements in the given payload.'
          content: {}
      x-operation-id-source: normalized
      x-operation-id-original: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/delete/throttlingconfigs_uid.json public
  /throttlingConfigs/{uid}/canDeploy:
    get:
      tags:
      - Throttling configuration
      summary: Check if an throttling configuration can be deployed
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/get/throttlingconfigs_uid_candeploy.jsonPublic
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      responses:
        200:
          description: 'OK: the operation was successful.'
          content:
            application/json;charset=utf-8:
              schema:
                type: object
        404:
          description: 'Not Found: unknown given Unique ID.'
          content: {}
      x-operation-id-source: normalized
      x-operation-id-original: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/get/throttlingconfigs_uid_candeploy.json public
  /throttlingConfigs/{uid}/deploy:
    post:
      tags:
      - Throttling configuration
      summary: Deploy an throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/throttlingconfigs_uid_deploy.jsonPublic
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      responses:
        204:
          description: 'No Content: the operation was successful.'
          content: {}
        500:
          description: 'Internal Server Error: the definition of given configuration definition was not valid.'
          content: {}
      x-operation-id-source: normalized
      x-operation-id-original: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/throttlingconfigs_uid_deploy.json public
  /throttlingConfigs/{uid}/undeploy:
    post:
      tags:
      - Throttling configuration
      summary: Undeploy throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/throttlingconfigs_uid_undeploy.jsonPublic
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      responses:
        204:
          description: 'No Content: the operation was successful or the given configuration was not deployed.'
          content: {}
      x-operation-id-source: normalized
      x-operation-id-original: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/throttlingconfigs_uid_undeploy.json public
