openapi: 3.2.0
info:
  title: Reactor Extensions API
  description: "Use the Reactor API to programmatically manage resources and develop tag extensions in Adobe Experience Platform.\n**Related documentation**:\n  * [Tags overview and UI documentation](https://adobe.com/go/launch_help_en)\n  * [Reactor API guides](https://adobe.com/go/reactor-api-overview)\n\n**API paths**:\n  * Reactor Gateway URL: https://<span>reactor.adobe.io\n  * Example of a complete path for making a call to `/properties`: https://<span>reactor.adobe.io/properties\n\n**Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).\n  * All GET requests to the Reactor API require an `Accept` header to determine what data is returned by the system. In most cases, this value will be `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type`. The specific `Content-Type` value for each call is provided in the parameters sections in the endpoints listed below.\n\n- **API error handling**:\n    - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
  version: '1.0'
servers:
- url: //reactor.adobe.io
tags:
- name: Extensions
  description: An extension represents the installed instance of an extension package. An extension makes the features defined by an extension package available to a property. These features are leveraged when creating data elements and rule components.
paths:
  /properties/{PROPERTY_ID}/extensions:
    get:
      tags:
      - Extensions
      summary: List a property's extensions
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: listExtensions
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose extensions you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: display_name
        in: query
        description: Filter by `display_name`.
        schema:
          type: string
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: origin_id
        in: query
        description: Filter by `origin_id`.
        schema:
          type: string
      - name: published
        in: query
        description: Filter by `published` status.
        schema:
          type: string
      - name: published_at
        in: query
        description: Filter by `published_at` timestamp.
        schema:
          type: string
      - name: revision_number
        in: query
        description: Filter by `revision_number`.
        schema:
          type: string
      - name: version
        in: query
        description: Filter by `version`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of extensions belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsListResponse'
    post:
      tags:
      - Extensions
      summary: Create an extension
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: createExtension
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create an extension for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/extensionsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created extension.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsCreateResponse'
      x-codegen-request-body-name: body
  /extensions/{EXTENSION_ID}:
    get:
      tags:
      - Extensions
      summary: Retrieve an extension
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: retrieveExtension
      parameters:
      - name: EXTENSION_ID
        in: path
        description: The ID of the extension you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the extension.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsLookupResponse'
    delete:
      tags:
      - Extensions
      summary: Delete an extension
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: deleteExtension
      parameters:
      - name: EXTENSION_ID
        in: path
        description: The ID of the extension you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - Extensions
      summary: Revise an extension
      description: 'This operation creates a new revision of an extension with the current (head) revision. A revision of an extension has its own ID, and the original extension may be discovered via the `origin` link.


        When revising an extension, its ID must be provided in both the request path and the request payload. These IDs must match in order for the call to be successful.



        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: reviseExtension
      parameters:
      - name: EXTENSION_ID
        in: path
        description: The ID of the extension you want to revise.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/extensionsUpdatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the new revision for the extension.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsUpdateResponse'
      x-codegen-request-body-name: body
  /extensions/{EXTENSION_ID}/extension_package:
    get:
      tags:
      - Extensions
      summary: Retrieve the extension package for an extension
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: retrievePackageForExtension
      parameters:
      - name: EXTENSION_ID
        in: path
        description: The ID of the extension whose extension package you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the extension package associated with the specified extension.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsExtensionPackageLookupResponse'
  /extensions/{EXTENSION_ID}/libraries:
    get:
      tags:
      - Extensions
      summary: List the libraries that use an extension
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: listExtensionLibraries
      parameters:
      - name: EXTENSION_ID
        in: path
        description: The ID of the extension whose libraries you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of libraries that use the specified extension.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsLibrariesListResponse'
  /extensions/{EXTENSION_ID}/property:
    get:
      tags:
      - Extensions
      summary: Retrieve an extension's property
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: retrieveExtensionProperty
      parameters:
      - name: EXTENSION_ID
        in: path
        description: The ID of the extension whose property you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the property that owns the specified extension property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsPropertyLookupResponse'
  /extensions/{EXTENSION_ID}/origin:
    get:
      tags:
      - Extensions
      summary: Retrieve an extension's origin
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: retrieveExtensionOrigin
      parameters:
      - name: EXTENSION_ID
        in: path
        description: The ID of the extension whose origin you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the specified extension's origin.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsOriginLookupResponse'
  /extensions/{EXTENSION_ID}/revisions:
    get:
      tags:
      - Extensions
      summary: List an extension's revisions
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: listExtensionRevisions
      parameters:
      - name: EXTENSION_ID
        in: path
        description: The ID of the extension whose revisions you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of revisions for the specified extension.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsRevisionsListResponse'
  /extensions/{EXTENSION_ID}/notes:
    get:
      tags:
      - Extensions
      summary: List an extension's notes
      description: '>**NOTE**: For more information on using this operation, see the [notes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/notes.html) on Experience League.'
      operationId: listExtensionNotes
      parameters:
      - name: EXTENSION_ID
        in: path
        description: The ID of the extension whose notes you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of notes that are attached to the specified extension.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsNotesListResponse'
    post:
      tags:
      - Extensions
      summary: Create a note for an extension
      description: '>**NOTE**: For more information on using this operation, see the [notes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/notes.html) on Experience League.'
      operationId: createExtensionNote
      parameters:
      - name: EXTENSION_ID
        in: path
        description: The ID of the extension that you want to create a note for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/extensionsNotesCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created note.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsNotesCreateResponse'
      x-codegen-request-body-name: body
components:
  schemas:
    propertiesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/propertiesEntity'
    conditionEntity:
      type: object
      properties:
        id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the condition.
        name:
          type: string
          description: The name of the condition. It must be unique from all other extensions and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules). This is used by the system as an identifier and should not be changed after the extension is published.
        schema:
          type: object
          properties: {}
          description: A [JSON Schema](http://json-schema.org/) object describing the format of a valid settings object that can be saved by the user for this condition. Settings are usually configured and saved by a user using the Data Collection UI. In these cases, the extension's view can take necessary steps to validate user-provided settings. On the other hand, some users choose to use APIs directly without the aid of any UI. The purpose of this schema is to allow Platform to properly validate that settings objects saved by users, regardless of whether a UI is used, are in a format that is compatible with the library module that will act upon the settings object at runtime.
        libPath:
          type: string
          description: The relative path to the condition's library module. It should not not begin with a slash and must reference a JavaScript file with a `.js` extension.
        viewPath:
          type: string
          description: The relative URL to the condition's configuration view. It should be relative to `viewBasePath` and should not begin with a slash. It must reference an HTML file with a `.html` extension. Query strings and fragment identifiers (hashes) are acceptable. If your type's library module does not use any settings from a user, you may exclude this property and Platform will instead display a placeholder stating that no configuration is necessary.
        transforms:
          type: array
          description: A list of transformation objects that should be performed on every corresponding `settings` object when it is emitted into the runtime library. See the section on [transforms](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#transforms) in the documentation for more information on why this may be needed and how it is used.
          items:
            type: object
            properties: {}
        displayName:
          type: string
          description: A display name for the condition.
        categoryName:
          type: string
          description: If this field is provided, the `displayName` is be listed under the `categoryName` within the Data Collection UI. All types with the same `categoryName` are listed under the same category. The value of `categoryName` should be human-readable.
    extensionsPropertyLookupResponse:
      allOf:
      - $ref: '#/components/schemas/propertiesLookupResponse'
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    extensionsRevisionsListResponse:
      allOf:
      - $ref: '#/components/schemas/extensionsListResponse'
    extensionsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    extensionsCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreateWithRelationships'
      - type: object
        properties:
          data:
            required:
            - relationships
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/extensionsAttributes'
              relationships:
                type: object
                allOf:
                - $ref: '#/components/schemas/extensionsRelationships'
    extensionsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the extension was created in the system.
              deleted_at:
                type: string
                description: A timestamp of when the extension was deleted from the system. Returns `null` if the extension still exists.
              dirty:
                type: boolean
                description: Indicates whether changes have been made to the extension that have not been pushed to a library.
              enabled:
                type: boolean
                description: Indicates whether this extension is enabled.
              name:
                type: string
                description: The name of the extension.
              published:
                type: boolean
                description: Indicates whether this extension has been published.
              published_at:
                type: string
                description: A timestamp of when the extension was published. Returns `null` if `published` is set to `false`.
              revision_number:
                type: integer
                description: The revision number for the extension.
              updated_at:
                type: string
                description: A timestamp of when the extension was last updated.
              delegate_descriptor_id:
                type: string
                description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html)  for the extension.
              display_name:
                type: string
                description: A display name for the extension.
              review_status:
                type: string
                description: The current review status of the extension.
              version:
                type: string
                description: The version number of the extension.
              settings:
                type: string
                description: A custom settings JSON object represented as a string.
            description: Contains the extension's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this extension.
            allOf:
            - $ref: '#/components/schemas/relatedLibraries'
            - $ref: '#/components/schemas/relatedRevisions'
            - $ref: '#/components/schemas/relatedNotes'
            - $ref: '#/components/schemas/relatedProperty'
            - $ref: '#/components/schemas/relatedOrigin'
            - $ref: '#/components/schemas/relatedUpdatedWithExtensionPackage'
            - $ref: '#/components/schemas/relatedExtensionPackage'
          links:
            type: object
            properties:
              property:
                type: string
                description: A link to the property that owns the extension.
              origin:
                type: string
                description: A link to the origin of the extension. The origin is the extension that was updated to create this extension.
              self:
                type: string
                description: A link to the extension itself.
              extension_package:
                type: string
                description: A link to the extension package which defines the additional capabilities that the extension makes available.
              latest_extension_package:
                type: string
                description: A link to the latest extension package which defines the additional capabilities that the extension makes available.
            description: Contains links related to the extension which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              latest_revision_number:
                type: integer
                description: The latest revision number for the extension.
            description: Contains meta information about the extension.
    extensionPackagesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              actions:
                type: array
                description: Lists the details of the action types defined by the extension.
                items:
                  $ref: '#/components/schemas/actionEntity'
              author:
                type: object
                properties:
                  url:
                    type: string
                    description: The URL for the author's website.
                  name:
                    type: string
                    description: The author's name.
                  email:
                    type: string
                    description: The author's email.
                description: Lists the details of the extension package author.
              availability:
                type: string
                description: The availability of the extension package, either `public`  or `private`.
              cdn_path:
                type: string
                description: The content delivery path for the extension package.
              conditions:
                type: array
                description: Lists the details of the condition types defined by the extension.
                items:
                  $ref: '#/components/schemas/conditionEntity'
              configuration:
                type: object
                properties:
                  id:
                    type: string
                    description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
                  schema:
                    type: object
                    properties: {}
                    description: A [JSON Schema](https://json-schema.org/) object that describes the configuration properties for the extension.
                  viewPath:
                    type: string
                    description: The relative URL to the extension configuration view. It should be relative to `viewBasePath` and should not begin with a slash. It must reference an HTML file with a `.html` extension. Query string and fragment identifier (hash) suffixes are acceptable.
                  transforms:
                    type: array
                    description: An optional array of objects where each object represents a transformation that should be performed on every corresponding settings object when it is emitted into the runtime library. Refer to the documentation section on [transforms](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#transforms) for more information on how to use this field.
                    items:
                      type: object
                      properties: {}
                description: Describes the configuration options for the extension.
              created_at:
                type: string
                description: A timestamp of when the extension configuration was created.
              data_elements:
                type: array
                description: Lists the details of the data element types defined by the extension.
                items:
                  $ref: '#/components/schemas/dataElementEntity'
              description:
                type: string
                description: A description for the extension.
              discontinued:
                type: boolean
                description: Indicated whether the extension is discontinued.
              display_name:
                type: string
                description: A display name for the extension.
              events:
                type: array
                description: Lists the details of the event types defined by the extension.
                items:
                  $ref: '#/components/schemas/eventEntity'
              exchange_url:
                type: string
                description: The Adobe Exchange URL for the extension.
              hosted_lib_files:
                type: array
                description: 'Some extension developers prefer hosting all tags-related files on their own server. This provides an increased level of certainty regarding file availability at runtime and allows you to easily scan the code for security vulnerabilities. If the library portion of your extension needs to load JavaScript files at runtime, it is recommended you use this property to list those files. The listed files will be hosted alongside the tag runtime library. Your extension can then load the files via a URL retrieved using the [getHostedLibFileUrl](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/turbine.html?lang=en#get-hosted-lib-file) method.



                  This property provides a list of relative paths to third-party library files that need to be hosted.'
                items:
                  type: string
              icon_path:
                type: string
                description: The path to the image that is used as the extension's icon in the Data Collection UI.
              main:
                type: string
                description: 'The relative path of a library module that should be executed at runtime.



                  This module will always be included in the runtime library and executed. Because the module is always included in the runtime library, a `main` module should only be used when absolutely necessary and its code size should be kept minimal.'
              name:
                type: string
                description: The name of the extension. It must be unique from all  other extensions and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules).  This is used by the system as an identifier and should not be  changed after the extension is published.
              owner_org_id:
                type: string
                description: The ID of the IMS Organization that owns the extension.
              resources:
                type: array
                description: A list of relative paths to verious asset files that  are used by the extension view, such as HTML and CSS files.
                items:
                  type: string
              shared_modules:
                type: array
                description: An list of shared module definition objects.
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the shared module. Note that this name will be used when referencing shared modules from other extensions as described in the [documentation](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/web/shared.html?lang=en). This name is never displayed in any user interface. It should be unique from the names of other shared modules within your extension and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules). This is used by the system as an identifier and should not be changed after you publish your extension.
                    libPath:
                      type: string
                      description: The relative path to the shared module. It should not begin with a slash and must reference a JavaScript file with a `.js` extension.
              status:
                type: string
                description: The current status of the extension package.
              platform:
                type: string
                description: The platform for your extension. Currently the only value accepted is `web`.
              updated_at:
                type: string
                description: A timestamp of when the extension package was last updated.
              version:
                type: string
                description: The version number of the extension package.
              view_base_path:
                type: string
                description: The relative path to the subdirectory containing all  views and view-related resources (HTML, JavaScript, CSS, images)  for the extension. Platform hosts this directory on a web server  and loads `iframe` content from it. This is a required field and  should not start with a slash. For example, if all views are contained  within `src/view/`, the value of viewBasePath would be `src/view/`.
            description: Contains the extension package's attributes.
          links:
            type: object
            properties:
              self:
                type: string
                description: A link to the extension package itself.
            description: Contains links related to the extension package which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              archive_url:
                type: string
                description: The archive URL for the extension package.
              script_sources:
                type: array
                description: Lists references for any script sources associated with the extension package.
                items:
                  type: string
            description: Contains meta information about the extension package.
    notesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/notesEntity'
    relatedResource:
      type: object
      properties:
        resource:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the resource.
                type:
                  type: string
                  description: The resource type.
              description: Contains further information about the related resource.
          description: Contains a link to the resource that that the note is attached to.
    extensionsCreateResponse:
      allOf:
      - $ref: '#/components/schemas/extensionsLookupResponse'
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    relatedExtensionPackage:
      type: object
      properties:
        extension_package:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the extension package.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the extension package.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension package.
                type:
                  type: string
                  description: The resource type for the extension package (`extension_packages`).
              description: Contains further information about the extension package.
          description: Contains information about the related package for the extension.
    extensionsNotesListResponse:
      allOf:
      - $ref: '#/components/schemas/notesListResponse'
    actionEntity:
      type: object
      properties:
        id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the action.
        name:
          type: string
          description: The name of the action. It must be unique from all other extensions and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules). This is used by the system as an identifier and should not be changed after the extension is published.
        schema:
          type: object
          properties: {}
          description: A [JSON Schema](http://json-schema.org/) object describing the format of a valid settings object that can be saved by the user for this action. Settings are usually configured and saved by a user using the Data Collection UI. In these cases, the extension's view can take necessary steps to validate user-provided settings. On the other hand, some users choose to use APIs directly without the aid of any UI. The purpose of this schema is to allow Platform to properly validate that settings objects saved by users, regardless of whether a UI is used, are in a format that is compatible with the library module that will act upon the settings object at runtime.
        libPath:
          type: string
          description: The relative path to the action's library module. It should not not begin with a slash and must reference a JavaScript file with a `.js` extension.
        viewPath:
          type: string
          description: The relative URL to the action's configuration view. It should be relative to `viewBasePath` and should not begin with a slash. It must reference an HTML file with a `.html` extension. Query strings and fragment identifiers (hashes) are acceptable. If your action does not use any settings from a user, you may exclude this property and Platform will instead display a placeholder stating that no configuration is necessary.
        transforms:
          type: array
          description: A list of transformation objects that should be performed on every corresponding `settings` object when it is emitted into the runtime library. See the section on [transforms](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#transforms) in the documentation for more information on why this may be needed and how it is used.
          items:
            type: object
            properties: {}
        displayName:
          type: string
          description: A display name for the action.
        categoryName:
          type: string
          description: If this field is provided, the `displayName` is be listed under the `categoryName` within the Data Collection UI. All types with the same `categoryName` are listed under the same category. The value of `categoryName` should be human-readable.
    extensionsNotesCreatePayload:
      allOf:
      - $ref: '#/components/schemas/notesCreatePayload'
    relatedProperty:
      type: object
      properties:
        property:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related property for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related property for the resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the property.
                type:
                  type: string
                  description: The resource type for the property (`properties`).
              description: Contains further information about the related property.
          description: Contains details about the property that owns the resource.
    relatedOrigin:
      type: object
      properties:
        origin:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related origin.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related origin.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the origin.
                type:
                  type: string
                  description: The resource type for the origin.
              description: Contains further information about the related origin.
          description: Contains information about the resource's origin. The origin is the previous resource that was revised to make this resource.
    relatedLibraries:
      type: object
      properties:
        libraries:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related libraries for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related libraries for the resource.
          description: Contains a link to the related libraries for the resource.
    relatedDataElements:
      type: object
      properties:
        data_elements:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related data elements for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related data elements for the resource.
          description: Contains a link to the related data elements for the resource.
    relatedRules:
      type: object
      properties:
        rules:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related rules for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related rules for the resource.
          description: Contains a link to the related rules for the resource.
    relatedCompany:
      type: object
      properties:
        company:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related company.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related company.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the company.
                type:
                  type: string
                  description: The resource type for the company (`companies`).
              description: Contains further information about the related company.
          description: Contains information about the company that owns the resource.
    extensionsRelationships:
      required:
      - extension_package
      type: object
      properties:
        extension_package:
          required:
          - data
          type: object
          properties:
            data:
              required:
              - id
              - type
              type: object
              properties:
                id:
                  type: string
                  description: The ID of the extension package.
                type:
                  type: string
                  description: The resource type for the extension package (`extension_packages`).
              description: Provides the basic information about the extension package.
          description: Describes the extension package that defines the extension's capabilities.
    extensionsAttributes:
      type: object
      properties:
        delegate_descriptor_id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the extension.
        enabled:
          type: boolean
          description: Indicates whether this extension is enabled.
        settings:
          type: string
          description: A custom settings JSON object represented as a string.
    relatedCallbacks:
      type: object
      properties:
        callbacks:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related callbacks for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related callbacks for the resource.
          description: Contains a link to the related callbacks for the resource.
    relatedExtensions:
      type: object
      properties:
        extensions:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extensions for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extensions for the resource.
          description: Contains a link to the related extensions for the resource.
    notesAttributes:
      required:
      - text
      type: object
      properties:
        text:
          type: string
          description: The contents of the note.
    extensionsLibrariesListResponse:
      allOf:
      - $ref: '#/components/schemas/librariesListResponse'
    relatedUpdatedWithExtensionPackage:
      type: object
      properties:
        updated_with_extension_package:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extension.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extension.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension.
                type:
                  type: string
                  description: The resource type for the extension (`extensions`).
              description: Contains further information about the related extension.
          description: Contains information about the extension that updated the resource, if applicable.
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    extensionsExtensionPackageLookupResponse:
      allOf:
      - $ref: '#/components/schemas/extensionPackagesLookupResponse'
    extensionsUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/dataUpdateWithMeta'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/extensionsAttributes'
    extensionsOriginLookupResponse:
      allOf:
      - $ref: '#/components/schemas/extensionsLookupResponse'
    librariesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    propertiesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the property was created in the system.
              enabled:
                type: boolean
                description: Indicates whether this property is enabled.
              name:
                type: string
                description: The name of the property.
              updated_at:
                type: string
                description: A timestamp of when the property was last updated.
              platform:
                type: string
                description: The platform for the property, either `web` or `mobile`.
              development:
                type: boolean
                description: Indicates whether this property is in development.
              token:
                type: string
                description: 'A unique token for the property.


                  When a build is pushed to an Adobe-managed host (`akamai`), this token is used to identify the property within the library''s folder structure. This also prevent''s the property''s `id` value from being unnecessarily exposed. This also applies to `sftp` hosts so that libraries are constructed in the same manner.'
              domains:
                type: array
                description: A list of domains associated with the property.
                items:
                  type: string
              undefined_vars_return_empty:
                type: boolean
                description: Indicates whether missing data elements return an empty string on this property.
              rule_component_sequencing_enabled:
                type: boolean
                description: Indicates whether rule component sequencing is enabled on this property.
            description: Contains the property's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this property.
            allOf:
            - $ref: '#/components/schemas/relatedCompany'
            - $ref: '#/components/schemas/relatedCallbacks'
            - $ref: '#/components/schemas/relatedHosts'
            - $ref: '#/components/schemas/relatedEnvironments'
            - $ref: '#/components/schemas/relatedLibraries'
            - $ref: '#/components/schemas/relatedDataElements'
            - $ref: '#/components/schemas/relatedExtensions'
            - $ref: '#/components/schemas/relatedRules'
            - $ref: '#/components/schemas/relatedNotes'
          links:
            type: object
            properties:
              company:
                type: string
                description: A link to the company that owns the property.
              data_elements:
                type: string
                description: A link to the data elements employed by the property.
              environments:
                type: string
                description: A link to the environments employed by the property.
              extensions:
                type: string
                description: A link to the extensions employed by the property.
              rules:
                type: string
                description: A link to the rules employed by the property.
              self:
                type: string
                description: A link to the property itself.
            description: Contains links related to the property which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              rights:
                type: array
                description: Lists the rights that are enabled for the property.
                items:
                  type: string
            description: Contains meta information about the property.
    relatedRevisions:
      type: object
      properties:
        revisions:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related revisions for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related revisions for the resource.
          description: Contains a link to the related revisions for the resource.
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
    relatedHosts:
      type: object
      properties:
        hosts:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related hosts for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related hosts for the resource.
          description: Contains a link to the related hosts for the resource.
    relatedNotes:
      type: object
      properties:
        notes:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related notes for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related notes for the resource.
          description: Contains a link to the related notes for the resource.
    relatedEnvironments:
      type: object
      properties:
        environments:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related environments for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related environments for the resource.
          description: Contains a link to the related environments for the resource.
    dataCreateWithRelationships:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            relationships:
              type: object
              description: The relationships for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes, relationships, and type for the resource being created.
    notesCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/notesAttributes'
    dataCreate:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - type
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes and type for the resource being created.
    dataUpdateWithMeta:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - id
          - meta
          - type
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The modified attributes for the resource being updated.
            meta:
              type: object
              properties:
                action:
                  type: string
                  description: If this property is included with a value of `revise`, the call creates a new revision for the resource instead of overwriting the current revision.
              description: If this property is included with an `action` property set to `revise`, the call creates a new revision for the resource instead of overwriting the current revision.
            id:
              type: string
              description: The ID of resource being updated.
            type:
              type: string
              description: The type of resource being updated.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes and type for the resource being updated.
    dataElementEntity:
      type: object
      properties:
        id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the data element.
        name:
          type: string
          description: The name of the data element. It must be unique from all other extensions and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules). This is used by the system as an identifier and should not be changed after the extension is published.
        schema:
          type: object
          properties: {}
          description: A [JSON Schema](http://json-schema.org/) object describing the format of a valid settings object that can be saved by the user for this data element. Settings are usually configured and saved by a user using the Data Collection UI. In these cases, the extension's view can take necessary steps to validate user-provided settings. On the other hand, some users choose to use APIs directly without the aid of any UI. The purpose of this schema is to allow Platform to properly validate that settings objects saved by users, regardless of whether a UI is used, are in a format that is compatible with the library module that will act upon the settings object at runtime.
        libPath:
          type: string
          description: The relative path to the data element's library module. It should not not begin with a slash and must reference a JavaScript file with a `.js` extension.
        viewPath:
          type: string
          description: The relative URL to the data element's configuration view. It should be relative to `viewBasePath` and should not begin with a slash. It must reference an HTML file with a `.html` extension. Query strings and fragment identifiers (hashes) are acceptable. If your data element does not use any settings from a user, you may exclude this property and Platform will instead display a placeholder stating that no configuration is necessary.
        transforms:
          type: array
          description: A list of transformation objects that should be performed on every corresponding `settings` object when it is emitted into the runtime library. See the section on [transforms](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#transforms) in the documentation for more information on why this may be needed and how it is used.
          items:
            type: object
            properties: {}
        displayName:
          type: string
          description: A display name for the data element.
        categoryName:
          type: string
          description: If this field is provided, the `displayName` is be listed under the `categoryName` within the Data Collection UI. All types with the same `categoryName` are listed under the same category. The value of `categoryName` should be human-readable.
    notesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    notesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              author_display_name:
                type: string
                description: The display name for the note's author.
              author_email:
                type: string
                description: The email address for the note's author.
              created_at:
                type: string
                description: A timestamp of when the note was created in the system.
              text:
                type: string
                description: The contents of the note.
            description: Contains the note's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this note.
            allOf:
            - $ref: '#/components/schemas/relatedResource'
          links:
            type: object
            properties:
              resource:
                type: string
                description: A link to the resource that the note is attached to.
              self:
                type: string
                description: A link to the note itself.
            description: Contains links related to the note which can be used in subsequent fetch requests.
    extensionsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/extensionsEntity'
    extensionPackagesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/extensionPackagesEntity'
    eventEntity:
      type: object
      properties:
        id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the event.
        name:
          type: string
          description: The name of the event. It must be unique from all other extensions and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules). This is used by the system as an identifier and should not be changed after the extension is published.
        schema:
          type: object
          properties: {}
          description: A [JSON Schema](http://json-schema.org/) object describing the format of a valid settings object that can be saved by the user for this event. Settings are usually configured and saved by a user using the Data Collection UI. In these cases, the extension's view can take necessary steps to validate user-provided settings. On the other hand, some users choose to use APIs directly without the aid of any UI. The purpose of this schema is to allow Platform to properly validate that settings objects saved by users, regardless of whether a UI is used, are in a format that is compatible with the library module that will act upon the settings object at runtime.
        libPath:
          type: string
          description: The relative path to the event's library module. It should not not begin with a slash and must reference a JavaScript file with a `.js` extension.
        viewPath:
          type: string
          description: The relative URL to the event's configuration view. It should be relative to `viewBasePath` and should not begin with a slash. It must reference an HTML file with a `.html` extension. Query strings and fragment identifiers (hashes) are acceptable. If your event does not use any settings from a user, you may exclude this property and Platform will instead display a placeholder stating that no configuration is necessary.
        transforms:
          type: array
          description: A list of transformation objects that should be performed on every corresponding `settings` object when it is emitted into the runtime library. See the section on [transforms](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#transforms) in the documentation for more information on why this may be needed and how it is used.
          items:
            type: object
            properties: {}
        displayName:
          type: string
          description: A display name for the event.
        categoryName:
          type: string
          description: If this field is provided, the `displayName` is be listed under the `categoryName` within the Data Collection UI. All types with the same `categoryName` are listed under the same category. The value of `categoryName` should be human-readable.
    extensionsNotesCreateResponse:
      allOf:
      - $ref: '#/components/schemas/notesLookupResponse'
    extensionsUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/extensionsLookupResponse'
x-original-swagger-version: '2.0'
