openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Programs API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Programs
paths:
  /api/programs:
    get:
      tags:
      - Programs
      summary: Lists Programs
      description: This API is deprecated and should no longer be used. Please use the [Lists Programs for Tenant API](#operation/getProgramsForTenant) instead.
      operationId: getPrograms
      parameters:
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramList'
  /api/program/{programId}:
    get:
      tags:
      - Programs
      summary: Get Program
      description: Returns a program by its id
      operationId: getProgram
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of program
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        '404':
          description: Program not found
    delete:
      tags:
      - Programs
      summary: Delete Program
      description: Delete an program
      operationId: deleteProgram
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        '202':
          description: Delete was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        '403':
          description: Forbidden.
        '404':
          description: Program not found.
        '412':
          description: Deletion not supported
  /api/program/{programId}/feedbacks:
    post:
      tags:
      - Programs
      summary: Post feedback
      description: Add new feedback
      operationId: postFeedback
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Invalid request
        '404':
          description: Application not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewFeedback'
        description: Feedback
        required: true
  /api/program/{programId}/newRelicUsers:
    get:
      tags:
      - Programs
      summary: Get New Relic Sub Account users list
      description: Get New Relic Sub Account users list for this program
      operationId: getNewRelicSubAccountUserList
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of the list of New Relic Sub Account users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewRelicSubAccountUserlist'
        '400':
          description: The request is malformed.
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
        '403':
          description: The requester is not authorized to access the resource.
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
        '422':
          description: Unprocessable Entity
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
    patch:
      tags:
      - Programs
      summary: Create and Delete New Relic Sub Account users
      description: Create and Delete New Relic Sub Account users for this program
      operationId: createDeleteNewRelicSubAccountUsers
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewRelicSubAccountUserlist'
        '204':
          description: Successful New Relic Sub Account user flow initiation
        '400':
          description: The request is malformed.
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
        '403':
          description: The requester is not authorized to access the resource.
        '404':
          description: Program not found
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewRelicSubAccountUser'
        description: New Relic Sub-Account Users
        required: true
  /api/tenant/{tenantId}/programs:
    get:
      tags:
      - Programs
      summary: Lists Programs for Tenant
      description: Returns all programs defined for tenant.
      operationId: getProgramsForTenant
      parameters:
      - name: tenantId
        in: path
        description: Identifier of the tenant
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramList'
        '404':
          description: Tenant not found.
    post:
      tags:
      - Programs
      summary: Create Program
      description: Creates a program
      operationId: addProgram
      parameters:
      - name: tenantId
        in: path
        description: Identifier of the tenant
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Creation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        '409':
          description: Program already exists.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewProgram'
        description: Program
        required: true
components:
  schemas:
    RequestedPageDetails:
      type: object
      properties:
        start:
          type: integer
          format: int32
          description: The start index for the current page of results
        limit:
          type: integer
          format: int32
          description: The item limit for the current page of results
        next:
          type: integer
          format: int32
          description: The start index for the next page of results
        prev:
          type: integer
          format: int32
          description: The start index for the previous page of results
        orderBy:
          type: string
        property:
          type: array
          items:
            type: string
        type:
          type: string
      description: Filtering and sorting page details
    NewRelicSubAccountUserlist:
      type: object
      properties:
        _totalNumberOfNewRelicSubAccountUsers:
          type: integer
          format: int32
        applicationId:
          type: string
          example: '44'
          description: The id of the Cloud Manager application this sub account user list is linked to
        _embedded:
          type: object
          readOnly: true
          properties:
            newRelicUsers:
              type: array
              items:
                $ref: '#/components/schemas/NewRelicSub-AccountUser'
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/application:
              description: Application linked to this New Relic sub account
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/newRelicSubAccount:
              description: New Relic sub account linked to the New Relic sub account User list
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: List of New Relic sub account users
    ProgramList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _page:
          $ref: '#/components/schemas/RequestedPageDetails'
          description: Details of the requested page of items
        _embedded:
          type: object
          readOnly: true
          properties:
            programs:
              type: array
              items:
                $ref: '#/components/schemas/EmbeddedProgram'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            page:
              $ref: '#/components/schemas/HalLink'
              description: An arbitrary page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
    NewRelicSub-AccountUser:
      type: object
      properties:
        id:
          type: string
          example: '42'
          description: Identifier of the New Relic sub account User
        firstName:
          type: string
          example: John
          description: First name of the New Relic sub account User
        lastName:
          type: string
          example: Doe
          description: Last name of the New Relic sub account User
        email:
          type: string
          example: foobar@newrelic.com
          description: email of the New Relic sub account user
        role:
          type: string
          example: admin
          description: Role of the New Relic sub account user
        owner:
          type: boolean
          example: false
          description: Owner detail of the New Relic sub account User
          default: false
      description: Describes __New Relic Sub-Account User__
    GoLiveDates:
      type: object
      properties:
        plannedDate:
          type: string
          description: Date when go live is planned
        actualDate:
          type: string
          description: Date when the program completed go live
      description: Contains planned and actual go live dates of a program
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    NewProgram:
      type: object
      required:
      - name
      - type
      description: Description of a new program to be created
      properties:
        name:
          type: string
          description: New program name
          minLength: 0
          maxLength: 64
        type:
          type: string
          enum:
          - aem_cloud_service
        capabilities:
          $ref: '#/components/schemas/ProgramCapabilities'
        solutionNames:
          type: array
          description: List of solutions to be enabled on the new program.
          items:
            type: string
            enum:
            - aemsites
            - aemassets
        goLive:
          description: Go live dates
          $ref: '#/components/schemas/GoLiveDates'
    NewRelicSubAccountUser:
      type: object
      properties:
        id:
          type: string
          example: '42'
          description: Identifier of the New Relic sub account User
        firstName:
          type: string
          example: John
          description: First name of the New Relic sub account User
        lastName:
          type: string
          example: Doe
          description: Last name of the New Relic sub account User
        email:
          type: string
          example: foobar@newrelic.com
          description: email of the New Relic sub account user
        role:
          type: string
          example: admin
          description: Role of the New Relic sub account user
        owner:
          type: boolean
          example: false
          description: Owner detail of the New Relic sub account User
          default: false
      description: Describes __New Relic Sub-Account User__
    EmbeddedProgram:
      type: object
      properties:
        id:
          type: string
          example: '14'
          description: Identifier of the program. Unique within the space.
          readOnly: true
        name:
          type: string
          example: AcmeCorp Main Site
          description: Name of the program
          readOnly: true
        enabled:
          type: boolean
          description: Whether this Program has been enabled for Cloud Manager usage
          default: false
          readOnly: true
        tenantId:
          type: string
          example: acmeCorp
          description: Tenant Id
          readOnly: true
        status:
          type: string
          description: Status of the program
          enum:
          - creating
          - ready
          - deleting
          - deleted
          - deleted_failed
          - failed
        createdAt:
          type: string
          format: date-time
          description: Created time
        updatedAt:
          type: string
          format: date-time
          description: Date of last change
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/tenant:
              description: The tenant this program belongs to
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: A lightweight representation of a Program
    ProgramCapabilities:
      type: object
      properties:
        sandbox:
          type: boolean
          example: true
          description: Indicator of a sandbox program.
          readOnly: true
          default: false
      description: Contains the program capabilities
    NewFeedback:
      type: object
      required:
      - rating
      - type
      properties:
        createdAt:
          type: string
          description: Created time
        id:
          type: integer
          description: Identifier of the feedback. Unique within the space.
        rating:
          type: integer
          description: Rating values from 1 to 5
        comment:
          type: string
          description: Feedback comment
        type:
          type: string
          description: Type of feedback
          enum:
          - GO_LIVE
        options:
          type: object
          description: Optional information about the feedback
      description: Describes feedback
    Program:
      type: object
      required:
      - name
      - type
      properties:
        id:
          type: string
          example: '14'
          description: Identifier of the program. Unique within the space.
        name:
          type: string
          example: AcmeCorp Main Site
          description: Name of the program
          minLength: 0
          maxLength: 64
          pattern: (?=.*[a-zA-Z])[-+!'"/#$%&*.,;:()’@-}À-ÿ– 0-9]*
        enabled:
          type: boolean
          description: Whether this Program has been enabled for Cloud Manager usage
          default: false
        tenantId:
          type: string
          example: acmeCorp
          description: Tenant Id
        imsOrgId:
          type: string
          example: 6522A55453334E247F120101@AdobeOrg
          description: Organisation Id
        status:
          type: string
          description: Status of the program
          enum:
          - creating
          - ready
          - deleting
          - deleted
          - deleted_failed
          - failed
        type:
          type: string
          example: aem_cloud_service
          description: The type of program
          enum:
          - aem_managed_services
          - aem_cloud_service
          - media_library
        capabilities:
          example: '{ ''capability1'':''value1'', ''capability1'': {''param3'':''value3''}}'
          description: Program capabilities
          $ref: '#/components/schemas/ProgramCapabilities'
        createdAt:
          type: string
          format: date-time
          description: Created time
        updatedAt:
          type: string
          format: date-time
          description: Date of last change
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/pipelines:
              description: Pipelines defined in the program
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/environments:
              description: The environments linked to this program.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/repositories:
              description: The repositories linked to this program.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/ipAllowlists:
              description: The IP allowlists linked to this program.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/certificates:
              description: The SSL certificates linked to this program.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/tenant:
              description: The tenant this program belongs to
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/networkInfrastructures:
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/regions:
              description: The regions available for this program.
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: A representation of a Program
