openapi: 3.2.0
info:
  version: '0.1'
  title: Adobe CC Libraries APIs Test Library Service - Bookmarks API
  description: App-facing APIs specifically for Adobe CC Library Bookmarks.
servers:
- url: https://cc-libraries.adobe.io/
tags:
- name: Library Service - Bookmarks
  description: App-facing APIs specifically for Adobe CC Library Bookmarks.
paths:
  /api/v1/libraries/bookmarks:
    get:
      tags:
      - Library Service - Bookmarks
      summary: Retrieves all bookmarks for a user
      description: ''
      operationId: getBookmarks
      parameters:
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbLibraryBookmarks'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'Not Found: The specified resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Library Service - Bookmarks
      summary: Add bookmarks for user, one or multiple
      description: ''
      operationId: addLibraryBookmarks
      parameters:
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbLibraryBookmarks'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbLibraryBookmarks'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'Not Found: The specified resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookmarksPayload'
  /api/v1/libraries/bookmarks/{bookmarkId}:
    put:
      tags:
      - Library Service - Bookmarks
      summary: Update an existing bookmark by ID
      description: ''
      operationId: putLibraryBookmark
      parameters:
      - name: bookmarkId
        in: path
        description: The ID of the requested bookmark.
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbLibraryBookmarks'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'Not Found: The specified resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookmarksPayload'
    delete:
      tags:
      - Library Service - Bookmarks
      summary: Remove a bookmark
      description: ''
      operationId: removeLibraryBookmark
      parameters:
      - name: bookmarkId
        in: path
        description: The ID of the requested bookmark.
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'Not Found: The specified resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    DbLibraryBookmark:
      type: object
      required:
      - id
      properties:
        type:
          type: string
          description: '`public`, or `collab`, with separate required fields as identified below'
          enum:
          - PUBLIC
          - COLLAB
        id:
          type: string
          description: Required, must match the library's `id`. Submissions with an existing ID are discarded.
        url:
          type: string
          description: Required if `type` is `public`
        urn:
          type: string
          description: Required if `type` is `collab`
        role:
          type: string
          description: '''viewer''/''editor'' role of user''s sharing status on library.'
        can_share:
          type: boolean
          description: Sharing permission for user's sharing status on library
        can_comment:
          type: boolean
          description: Commenting permission for user's sharing status on library
        created:
          type: integer
          format: int64
          description: This parameter will be ignored, populated with the timestamp upon creation and immutable after
        _fc:
          type: boolean
    DbLibraryBookmarks:
      type: object
      properties:
        bookmarks:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryBookmark'
        _fc:
          type: boolean
    ErrorResponse:
      type: object
      properties:
        reason:
          type: string
        message:
          type: string
      xml:
        name: error
    BookmarksPayload:
      type: object
      properties:
        bookmarks:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryBookmark'
