openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager IP Allowlist API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: IP Allowlist
paths:
  /api/program/{programId}/ipAllowlist/{ipAllowlistId}:
    get:
      tags:
      - IP Allowlist
      summary: Get IP Allowlist
      description: Returns an IP Allowlist based on program and id
      operationId: getIPAllowlist
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: ipAllowlistId
        in: path
        description: Identifier of the IP Allowlist
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of IP Allowlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowedList'
        '404':
          description: Resource not found
    put:
      tags:
      - IP Allowlist
      summary: Update IP Allowlist
      description: Updates an IP Allowlist for the program with specified values
      operationId: updateIPAllowlist
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: ipAllowlistId
        in: path
        description: Identifier of the IP Allowlist
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: IP Allowlist updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowedList'
        '400':
          description: The request is malformed.
        '404':
          description: Resource not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Updateanipallowlist'
        description: IP Allowlist
        required: true
    delete:
      tags:
      - IP Allowlist
      summary: Delete IP Allowlist
      description: Deletes the IP Allowlist for the program
      operationId: deleteIPAllowlist
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: ipAllowlistId
        in: path
        description: Identifier of the IP Allowlist
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Delete was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowedList'
        '404':
          description: Resource not found
  /api/program/{programId}/ipAllowlists:
    get:
      tags:
      - IP Allowlist
      summary: Lists IP Allowlists
      description: Returns all IP Allowlists that are defined for this program
      operationId: getProgramIPAllowlists
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of IP Allowlists assigned to the program
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowlistList'
        '404':
          description: Program not found
    post:
      tags:
      - IP Allowlist
      summary: Creates an IP Allowlist
      description: Creates an IP Allowlist for the program with specified values
      operationId: createIPAllowlist
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowedList'
        '201':
          description: IP Allowlist created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowedList'
        '400':
          description: The request is malformed.
        '404':
          description: Program not found
        '412':
          description: Creating IP Allowlists for non cloud programs is not supported
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Createanewipallowlist'
        description: IP Allowlist
        required: true
components:
  schemas:
    IPAllowedList:
      type: object
      required:
      - ipCidrSet
      - name
      properties:
        id:
          type: integer
          format: int64
          example: 14
          description: Identifier of the IP Allowed List
        name:
          type: string
          example: NewYork Office
          description: Name of the IP Allowed List
        programId:
          type: integer
          format: int64
          example: 22
          description: Identifier of the program.
        ipCidrSet:
          type: array
          example: '["11.22.33.44/28", "99.88.77.66/32"]'
          description: IP CIDR Set
          uniqueItems: true
          items:
            type: string
          maxItems: 50
          minItems: 1
        bindings:
          type: array
          description: IP Allowlist bindings
          items:
            $ref: '#/components/schemas/IPAllowedListBinding'
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/ipAllowlistBindings:
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/program:
              description: The Application this environment belongs to.
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: Describes an __IP Allowed List__
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    Updateanipallowlist:
      type: object
      required:
      - ipCidrSet
      - name
      properties:
        name:
          type: string
          example: NewYork Office
          description: Name of the IP Allowed List
        ipCidrSet:
          type: array
          example: '["11.22.33.44/28", "99.88.77.66/32"]'
          description: IP CIDR Set
          uniqueItems: true
          items:
            type: string
          maxItems: 50
          minItems: 1
    Createanewipallowlist:
      type: object
      required:
      - ipCidrSet
      - name
      properties:
        name:
          type: string
          example: NewYork Office
          description: Name of the IP Allowed List
        ipCidrSet:
          type: array
          example: '["11.22.33.44/28", "99.88.77.66/32"]'
          description: IP CIDR Set
          uniqueItems: true
          items:
            type: string
          maxItems: 50
          minItems: 1
    IPAllowedListBinding:
      type: object
      required:
      - environmentId
      properties:
        id:
          type: integer
          format: int64
          example: 14
          description: Identifier of the IP Allowed List Binding to an Environment
        tier:
          type: string
          example: publish
          description: Tier of the environment.
          enum:
          - PUBLISH
          - PREVIEW
        status:
          type: string
          example: NOT_STARTED
          description: Status of the binding.
        programId:
          type: integer
          format: int64
          example: 22
          description: Identifier of the program.
        ipAllowListId:
          type: integer
          format: int64
          example: 17
          description: Identifier of the IP allow list.
        environmentId:
          type: integer
          format: int64
          example: 5
          description: Identifier of the environment.
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/program:
              description: The Application this environment belongs to.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/ipAllowList:
              description: IpAllowList to be binded to the environment.
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: Describes an __IP Allowed List Binding__
    IPAllowlistList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _embedded:
          type: object
          readOnly: true
          properties:
            ipAllowlists:
              type: array
              items:
                $ref: '#/components/schemas/IPAllowedList'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
