openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Environment Restore From Backup API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Environment Restore From Backup
paths:
  /api/program/{programId}/environment/{environmentId}/restorePoints:
    get:
      tags:
      - Environment Restore From Backup
      summary: Get Restore Points
      description: List the backups available for this environment (Cloud Service only)
      operationId: getRestorePoints
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of restore points for an environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestorePointsList'
        '404':
          description: Resource not found
  /api/program/{programId}/environment/{environmentId}/restoreExecution/{restoreId}:
    get:
      tags:
      - Environment Restore From Backup
      summary: Get Restore Execution
      description: Returns a restore execution by its id (Cloud Service only)
      operationId: getRestoreExecution
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: restoreId
        in: path
        description: Identifier of the restore execution
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreExecution'
  /api/program/{programId}/environment/{environmentId}/restoreExecution/{restoreId}/logs:
    get:
      tags:
      - Environment Restore From Backup
      summary: Get Restore Execution Logs
      description: Gets the logs of a Restore Execution (Cloud Service only)
      operationId: getRestoreExecutionLogs
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: restoreId
        in: path
        description: Identifier of the restore execution
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        default:
          description: successful operation
  /api/program/{programId}/environment/{environmentId}/restoreExecutions:
    get:
      tags:
      - Environment Restore From Backup
      summary: Lists Restore Executions
      description: List the Restore Executions of an environment (Cloud Service only)
      operationId: getRestoreExecutions
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: start
        in: query
        description: Pagination start parameter
        required: false
        schema:
          type: string
          default: '0'
      - name: limit
        in: query
        description: Pagination limit parameter
        required: false
        schema:
          type: integer
          format: int32
          default: 5
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreExecutionList'
  /api/program/{programId}/environment/{environmentId}/restoreExecution:
    put:
      tags:
      - Environment Restore From Backup
      summary: Start a Restore Execution
      description: Start a Restore from Backup execution (Cloud Service only)
      operationId: restoreExecution
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Environment restore in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreExecution'
        '404':
          description: Environment not found
        '412':
          description: Restore precondition failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreParamRepresentation'
        description: Restore Parameters Representation
components:
  schemas:
    RequestedPageDetails:
      type: object
      properties:
        start:
          type: integer
          format: int32
          description: The start index for the current page of results
        limit:
          type: integer
          format: int32
          description: The item limit for the current page of results
        next:
          type: integer
          format: int32
          description: The start index for the next page of results
        prev:
          type: integer
          format: int32
          description: The start index for the previous page of results
        orderBy:
          type: string
        property:
          type: array
          items:
            type: string
        type:
          type: string
      description: Filtering and sorting page details
    RestoreExecutionList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int64
          description: The total number of embedded items
        limits:
          description: Restore executions limits
          $ref: '#/components/schemas/RestoreExecutionLimit'
        _page:
          $ref: '#/components/schemas/RequestedPageDetails'
          description: Details of the requested page of items
        _embedded:
          type: object
          readOnly: true
          properties:
            restoreExecutions:
              type: array
              items:
                $ref: '#/components/schemas/RestoreExecution'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            page:
              $ref: '#/components/schemas/HalLink'
              description: An arbitrary page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
    Restore-Environmentdetailsrepresentation:
      type: object
      properties:
        releaseId:
          type: string
        repositoryId:
          type: string
        repositoryName:
          type: string
        branch:
          type: string
        commitSha:
          type: string
        repositoryUrl:
          type: string
        timestamp:
          type: integer
          format: int64
    ErrorDetailsRepresentation:
      type: object
      properties:
        errorCode:
          type: string
          description: The error code
          readOnly: true
        publicDetails:
          type: object
          description: Additional error details that can be used by customer
          additionalProperties:
            type: object
          readOnly: true
        message:
          type: string
          description: Human readable error message
          readOnly: true
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    RestorePointDetails:
      type: object
      properties:
        atlasOrganisationId:
          type: integer
          format: int64
          description: Atlas Organisation ID
        atlasClusterId:
          type: integer
          format: int64
          description: Atlas cluster ID
        restorePoint:
          type: integer
          format: int64
          description: Restore point
        deploymentDate:
          type: string
          format: date-time
          description: The date when the deployment was made
        deploymentHistoryId:
          type: integer
          format: int64
          description: The Helm Deployment History ID
        aemReleaseVersion:
          type: string
          description: AEM release version
        repositoryId:
          type: string
          description: Git repository ID
        repositoryName:
          type: string
          description: Git repository name
        repositoryUrl:
          type: string
          description: Git repository URL
        branchName:
          type: string
          description: Git branch name
        commitHash:
          type: string
          description: Git commit hash
        restoreDate:
          type: string
          format: date-time
          description: Restore date
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/atlascluster:
              $ref: '#/components/schemas/HalLink'
    RestoreParamRepresentation:
      type: object
      required:
      - pointInTimeInMillis
      properties:
        pointInTimeInMillis:
          type: string
          description: Desired point in time
          pattern: \d{1,19}$
    RestoreExecution:
      type: object
      properties:
        id:
          type: string
          description: id
        programId:
          type: string
          example: '14'
          description: Identifier of the program, unique within the space
        environmentId:
          type: string
          example: '14'
          description: Identifier of the environment, unique within the space
        status:
          type: string
          example: not_started
          description: Status of the restore execution
          enum:
          - not_started
          - running
          - finished
          - error
          - failed
        errorDetails:
          description: Error details, present only when execution failed
          $ref: '#/components/schemas/ErrorDetailsRepresentation'
        environmentDetailsAtSnapshotDate:
          description: Environment details at snapshot timestamp
          $ref: '#/components/schemas/Restore-Environmentdetailsrepresentation'
        environmentDetailsAtRestoreDate:
          description: Environment details when the restore was triggered
          $ref: '#/components/schemas/Restore-Environmentdetailsrepresentation'
        createdAt:
          type: string
          format: date-time
          description: createdAt
        updatedAt:
          type: string
          format: date-time
          description: updatedAt
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/environment:
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/flow:
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/program:
              description: The Application this environment belongs to
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/restoreExecution/logs/download:
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: A RestoreExecution
    RestorePointsList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _embedded:
          type: object
          readOnly: true
          properties:
            restorePointsDetails:
              type: array
              description: restorePointsDetails
              items:
                $ref: '#/components/schemas/RestorePointDetails'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
    RestoreExecutionLimit:
      type: object
      properties:
        resetDate:
          type: string
          format: date
          description: Reset date
        available:
          type: integer
          format: int64
          description: Available runs until reset
        max:
          type: integer
          format: int64
          description: Max runs per interval
        countInterval:
          type: integer
          format: int64
          description: Rolling window used to count the available runs
