openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Environment Advanced Networking Configuration API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Environment Advanced Networking Configuration
paths:
  /api/program/{programId}/environment/{environmentId}/advancedNetworking:
    get:
      tags:
      - Environment Advanced Networking Configuration
      summary: Get Environment Advanced Networking Configurations
      description: Returns environment advanced networking configurations by its id
      operationId: getEnvironmentAdvancedNetworkingConfigurationList
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Environment Advanced Networking Configurations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedNetworkingConfigurationList'
        '404':
          description: Resource not found
    put:
      tags:
      - Environment Advanced Networking Configuration
      summary: Enable Environment Advanced Networking Configuration
      description: Enable an environment advanced networking configuration by its id
      operationId: enableEnvironmentAdvancedNetworkingConfiguration
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Environment Advanced Networking Configuration started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Validation exception
        '404':
          description: Resource not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableAdvancedNetworkingConfiguration'
        description: ' Environment Advanced Networking Configuration'
        required: true
    delete:
      tags:
      - Environment Advanced Networking Configuration
      summary: Disable Environment Advanced Networking Configuration
      description: Disable an environment advanced networking configuration by its id
      operationId: disableEnvironmentAdvancedNetworkingConfiguration
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Environment Advanced Networking Configuration disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Validation exception
        '404':
          description: Resource not found
components:
  schemas:
    LogOptionRepresentation:
      type: object
      required:
      - name
      - service
      properties:
        service:
          type: string
          description: 'Name of the service in environment. Example: author'
        name:
          type: string
          description: 'Name of the log for service in environment. Example: aemerror'
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    AdvancedNetworkingConfiguration:
      type: object
      properties:
        programId:
          type: string
          example: '14'
          description: Identifier of the program. Unique within the space.
          readOnly: true
        environmentId:
          type: string
          description: Identifier of the environment. Unique within the space.
          readOnly: true
        networkInfrastructureId:
          type: string
          example: '123'
          description: Advanced network infrastructure used.
          readOnly: true
        nonProxyHosts:
          type: array
          description: A list of hosts that should be reached directly, bypassing the special VPN or egress routing. The patterns may start or end with a ''*'' for wildcards.
          items:
            type: string
          example:
          - '*.example.com'
          - '*.example.net'
        portForwards:
          type: array
          description: List of port forwarding rules
          items:
            $ref: '#/components/schemas/PortForwardRepresentation'
        advancedNetworkingEnabled:
          type: boolean
          description: Whether advanced networking is enabled in this environment
          default: false
          readOnly: true
        _links:
          type: object
          readOnly: true
          properties:
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: Describes the Advanced Networking configuration for an environment
    AdvancedNetworkingConfigurationList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _embedded:
          type: object
          readOnly: true
          properties:
            networkingConfigurations:
              type: array
              items:
                $ref: '#/components/schemas/AdvancedNetworkingConfiguration'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
    Environment:
      type: object
      properties:
        id:
          type: string
          description: id
        programId:
          type: string
          example: '14'
          description: Identifier of the program. Unique within the space.
        name:
          type: string
          example: AcmeCorp Dev1 Environment
          description: Name of the environment
          pattern: (?=.*[a-zA-Z])[-+!'"/#$%&*.,;()@-} 0-9]*
        description:
          type: string
          example: This is our primary development environment
          description: Description of the environment
        type:
          type: string
          example: dev
          description: Type of the environment
          enum:
          - dev
          - stage
          - prod
          - rde
          - preprod
        status:
          type: string
          example: creating
          description: Status of the environment
          enum:
          - creating
          - ready
          - deleting
          - deleted
          - updating
          - failed
          - deploy_failed
          - created
          - restoring
          - restore_failed
          - resetting
          - reset_failed
          - degraded
          - hibernated
        region:
          type: string
          example: va7
          description: Region of the environment
        availableLogOptions:
          type: array
          description: List of logs available in the environment
          items:
            $ref: '#/components/schemas/LogOptionRepresentation'
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/program:
              description: The Program this environment belongs to.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/pipeline:
              description: The Pipeline this environment is assigned to, if any
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/author:
              description: Author URL
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/publish:
              description: Publish URL
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/preview:
              description: Publish URL
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/developerConsole:
              description: Developer Console URL
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/logs:
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/variables:
              description: Custom environment variables
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/advancedNetworking:
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: A representation of an Environment known to Cloud Manager.
    PortForwardRepresentation:
      type: object
      required:
      - portDest
      - portOrig
      properties:
        name:
          type: string
          example: smtp.example.com
          description: Destination host
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?([.][a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
        portDest:
          type: integer
          format: int32
          example: 443
          description: Destination port
          maximum: 65535
        portOrig:
          type: integer
          format: int32
          example: 30710
          description: Origin port for tunnel. Must be unique and in 30000-31000 range.
          minimum: 30000
          maximum: 31000
    EnableAdvancedNetworkingConfiguration:
      type: object
      properties:
        nonProxyHosts:
          type: array
          description: A list of hosts that should be reached directly, bypassing the special VPN or egress routing. The patterns may start or end with a ''*'' for wildcards.
          items:
            type: string
          example:
          - '*.example.com'
          - '*.example.net'
        portForwards:
          type: array
          description: List of port forwarding rules
          items:
            $ref: '#/components/schemas/PortForwardRepresentation'
