openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Branches API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Branches
paths:
  /api/program/{programId}/repository/{repositoryId}/branches:
    get:
      tags:
      - Branches
      summary: List Branches
      description: Returns the list of branches from a repository
      operationId: getBranches
      parameters:
      - name: programId
        in: path
        description: Identifier of the program.
        required: true
        schema:
          type: string
      - name: repositoryId
        in: path
        description: Identifier of the repository
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of the list of repository branches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchList'
components:
  schemas:
    BranchList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _embedded:
          type: object
          readOnly: true
          properties:
            branches:
              type: array
              items:
                $ref: '#/components/schemas/RepositoryBranch'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    RepositoryBranch:
      type: object
      properties:
        programId:
          type: string
          example: '14'
          description: Identifier of the program. Unique within the space
        repositoryId:
          type: integer
          format: int64
          example: 2
          description: Identifier of the repository
        name:
          type: string
          example: master
          description: Name of the branch
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/program:
              description: Program
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/repository:
              description: Repository
              $ref: '#/components/schemas/HalLink'
      description: Represents a Git Branch
