openapi: 3.2.0
info:
  version: '1.0'
  title: Schema Registry Schemas API
  description: "Use the Schema Registry API to access the Schema Library within Adobe Experience Platform. The registry provides a user interface and RESTful API from which all available library resources are accessible.  Programmatically manage all schemas and related Experience Data Model (XDM) resources available to you within Platform. This includes those defined by Adobe, Experience Platform partners, and vendors whose applications you use.\n* **Related documentation**:\n  * [XDM documentation](http://www.adobe.com/go/xdm-home-en)\n\n* **Visualize API calls with Postman (a free, third-party software)**:\n  * [Schema Registry API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Schema%20Registry%20API.postman_collection.json)\n  * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)\n  * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)\n\n* **API paths**:\n  * PLATFORM Gateway URL: https://<span>platform.adobe.io\n  * Base path for this API: /data/foundation/schemaregistry\n  * Example of a complete path for making a call to \"/stats\": https://<span>platform.adobe.io/data/foundation/schemaregistry/stats\n\n* **Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).\n  * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, \"prod\"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.\n  * All GET requests to the Schema Registry require an `Accept` header to determine what data is returned by the system. See the [section on `Accept` headers](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/getting-started.html?lang=en#accept) in the Schema Registry developer guide for more information.\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.\n\n- **API error handling**:\n  * Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
servers:
- url: https://platform.adobe.io/data/foundation/schemaregistry
tags:
- name: Schemas
  description: Schemas provide an abstract definition of a real-world object along with constraints and expectations that can be applied and used to validate data.
paths:
  /{CONTAINER_ID}/schemas:
    get:
      tags:
      - Schemas
      summary: List schemas
      description: 'You can list schemas within the global or tenant container by performing a GET request. To help filter results, the Schema Registry supports the use of query parameters when listing resources.


        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.'
      operationId: listSchemas
      parameters:
      - $ref: '#/components/parameters/containerIdList'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/acceptListing'
      - $ref: '#/components/parameters/property'
      - $ref: '#/components/parameters/orderBy'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/limit'
      responses:
        200:
          x-summary: Success
          description: A successful response returns a list of all schemas in the container with format dependent on the `Accept` header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSchemasResponse'
        '400':
          x-summary: Bad formatting
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a listing call with no version supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorList'
  /{CONTAINER_ID}/schemas/{SCHEMA_ID}:
    get:
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/containerIdLookup'
      - $ref: '#/components/parameters/SCHEMA_ID'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/accept'
      summary: Retrieve a schema
      description: '>**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.'
      operationId: retrieveSchema
      responses:
        200:
          x-summary: Success
          description: A successful response returns the details of the schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lookupSchemaResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        404:
          x-summary: Not found
          description: The resource is not found.
        '406':
          x-summary: Invalid Accept format
          description: The specified `Accept` format/version is not available for this resource.
  /tenant/schemas:
    post:
      tags:
      - Schemas
      summary: Create a custom schema
      description: '>**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.'
      operationId: createSchema
      parameters:
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/content-type'
      - $ref: '#/components/parameters/createSchemaPayload'
      responses:
        201:
          x-summary: Success
          description: A successful response returns the details of the newly created schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSchemaResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
  /tenant/schemas/{SCHEMA_ID}:
    put:
      tags:
      - Schemas
      summary: Update a custom schema
      description: 'A PUT request essentially re-writes the schema, therefore the request body must include all fields required to create (POST) a schema. This is especially useful when updating a lot of information in the schema at once.


        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.'
      operationId: updateSchema
      parameters:
      - $ref: '#/components/parameters/SCHEMA_ID'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/content-type'
      - $ref: '#/components/parameters/replaceSchemaPayload'
      responses:
        200:
          x-summary: Success
          description: A successful response returns JSON schema with updated attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateSchemaResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
    patch:
      tags:
      - Schemas
      summary: Update one or more attributes of a custom schema
      description: 'You can use this endpoint to update one or more attributes of the custom schema.


        The Schema Registry supports all standard JSON Patch operations, including `add`, `remove`, and `replace`. For more information on JSON Patch, including all available operations, please refer to the [the official JSON Patch specification](https://datatracker.ietf.org/doc/html/rfc6902).


        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.'
      operationId: patchSchema
      parameters:
      - $ref: '#/components/parameters/SCHEMA_ID'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/content-type'
      - $ref: '#/components/parameters/patchPayload'
      responses:
        200:
          x-summary: Success
          description: A successful response returns JSON schema with updated attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchSchemaResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
    delete:
      tags:
      - Schemas
      summary: Delete a custom schema
      description: 'You can remove an existing schema by performing a DELETE request. A successful deletion returns an empty response body and HTTP status 204 (No Content).


        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.'
      operationId: deleteSchema
      parameters:
      - $ref: '#/components/parameters/SCHEMA_ID'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      responses:
        204:
          x-summary: No content
          description: A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the schema has been deleted.
        404:
          x-summary: Not found
          description: The resource is not found.
        '500':
          x-summary: Internal server error
          description: There was an internal server error. Try the request again in a few minutes, and contact Adobe Support if the problem persists.
components:
  schemas:
    createSchema:
      type: object
      properties:
        type:
          type: string
          description: The JSON Schema data type for the resource. Must be set to `object`.
          example: object
        title:
          type: string
          description: A title for the schema.
          example: New Schema
        description:
          type: string
          description: A description for the schema.
          example: Description of the new schema.
        allOf:
          type: array
          description: Lists the class and/or field groups whose fields the schema implements. Each object contains a single property (`$ref`) whose value represents the `$id` of the class or field group the new schema will implement. One class must be provided, with zero or more additional field groups.
          items:
            type: object
            properties:
              '$ref ':
                type: string
                description: The `$id` of the class or field group whose fields will be utilized by the schema.
                example: https://ns.adobe.com/xdm/context/profile
      required:
      - type
      - title
      - description
      - allOf
    patchSchema:
      type: array
      description: A list of JSON Patch operation objects. Each object contains information about the action to be performed and the attribute to perform it on.
      items:
        type: object
        properties:
          op:
            type: string
            example: add
            description: The JSON Patch operation to be performed.
          path:
            type: string
            example: /meta:immutableTags-
            description: The path to the field that the operation should be performed on.
          value:
            type: string
            example: union
            description: If adding or updating an attribute, this property indicates the value that should be set for that property.
        required:
        - op
        - path
    metaClass:
      type: object
      properties:
        meta:class:
          type: string
          description: The URI `$id` of the class that the schema is based on.
    lookupResourceCore:
      type: object
      properties:
        $id:
          type: string
          description: The URI ID of the XDM resource.
          example: https://ns.adobe.com/{TENANT_ID}/schemas/d4ad4b8463a67f6755f2aabbeb9e02c7
        meta:altId:
          type: string
          description: An alternate dot-notation ID for the XDM resource.
          example: _{TENANT_ID}.schemas.d4ad4b8463a67f6755f2aabbeb9e02c7
        meta:resourceType:
          type: string
          description: The type of XDM resource.
          example: schemas
        version:
          type: string
          description: The current version of the resource.
          example: 1.4
        title:
          type: string
          description: The title of the resource.
          example: Hotels
        type:
          type: string
          description: The JSON Schema element type that represents the XDM resource (typically `object`).
          example: object
        description:
          type: string
          description: A description for the resource.
    updateSchemaResponse:
      allOf:
      - $ref: '#/components/schemas/singleSchemaResponse'
      - properties:
          version:
            example: '1.1'
    linksBasic:
      type: object
      description: Contains various links related to the response.
      properties:
        next:
          type: string
          description: A URI for the next page in the response, if one exists. Contains `null` if this is the last or only page in the response.
          example: null
    patchSchemaResponse:
      allOf:
      - $ref: '#/components/schemas/singleSchemaResponse'
      - properties:
          version:
            example: '1.1'
          meta:immutableTags:
            type: array
            description: When present and containing a single string value of `union`, indicates that this schema is enabled for use in Real-time Customer Profile.
            items:
              type: string
            example:
            - union
    metaTenantNamespace:
      type: object
      properties:
        meta:tenantNamespace:
          type: string
          description: 'The namespace that all custom fields that the schema employs can be found under. Takes the form of your organization''s tenant ID prepended with an underscore: `_{TENANT_ID}`.'
    registryMetadata:
      type: object
      description: Contains registry-specific metadata about the XDM resource.
      properties:
        repo:createdDate:
          type: integer
          description: A Unix timestamp of when the resource was created.
        repo:lastModifiedDate:
          type: integer
          description: A Unix timestamp of when the resource was last modified.
        xdm:createdClientId:
          type: string
          description: The ID of the client that created the resource.
        xdm:lastModifiedClientId:
          type: string
          description: The ID of the client that last modified the resource.
        xdm:createdUserId:
          type: string
          description: The ID of the user that created the resource.
        xdm:lastModifiedUserId:
          type: string
          description: The ID of the user that last modified the resource.
        etag:
          type: string
          description: An HTTP entity tag (ETag) for the resource.
        meta:globalLibVersion:
          type: string
          description: The current global library version of the resource.
        meta:usageCount:
          type: integer
          description: The number of instances where this resource is referenced by other XDM resources.
    singleSchemaResponse:
      type: object
      allOf:
      - $ref: '#/components/schemas/lookupResourceCore'
      - properties:
          allOf:
            type: array
            description: A list of objects that refer to other classes, field groups, or data types whose properties are inherited by this XDM resource.
            items:
              type: object
              properties:
                '$ref ':
                  type: string
                  description: The URI `$id` of the referenced XDM resource.
          imsOrg:
            type: string
            description: The ID of the IMS Org that owns this resource.
          meta:extensible:
            type: boolean
            description: Indicates whether this resource is extensible or not.
          meta:abstract:
            type: boolean
            description: Indicates whether this is an abstract resource.
          meta:extends:
            type: array
            description: A list of URI `$id`s for the XDM objects that this resource extends.
            items:
              type: string
          meta:xdmType:
            type: string
            description: The type of JSON Schema element that the XDM resource represents (typically `object`).
          meta:registryMetadata:
            $ref: '#/components/schemas/registryMetadata'
    listSchemasResponse:
      allOf:
      - $ref: '#/components/schemas/listResponseBasic'
      - properties:
          _links:
            $ref: '#/components/schemas/linksSchemas'
    createSchemaResponse:
      allOf:
      - $ref: '#/components/schemas/singleSchemaResponse'
      example:
        $id: https://ns.adobe.com/{TENANT_ID}/schemas/e417987b8b861d373ef4d0fe8ad61fa4c15fa0274332c8af
        meta:altId: _{TENANT_ID}.schemas.e417987b8b861d373ef4d0fe8ad61fa4c15fa0274332c8af
        meta:resourceType: schemas
        version: '1.0'
        title: New Schema
        type: object
        description: Description of the new schema.
        allOf:
        - '$ref ': https://ns.adobe.com/xdm/context/profile
          type: object
          meta:xdmType: object
        refs:
        - https://ns.adobe.com/xdm/context/profile
        imsOrg: '{IMS_ORG}'
        meta:extensible: false
        meta:abstract: false
        meta:extends:
        - https://ns.adobe.com/xdm/common/auditable
        - https://ns.adobe.com/xdm/data/record
        - https://ns.adobe.com/xdm/context/profile
        meta:xdmType: object
        meta:registryMetadata:
          repo:createdDate: 1635537329990
          repo:lastModifiedDate: 1635537329990
          xdm:createdClientId: '{CLIENT_ID}'
          xdm:lastModifiedClientId: '{CLIENT_ID}'
          xdm:createdUserId: '{USER_ID}'
          xdm:lastModifiedUserId: '{USER_ID}'
          eTag: 022afad00319b928238bcf88e20cc8e1fbdddfee6663925041004a49bdc2abeb
          meta:globalLibVersion: 1.27.4
        meta:class: https://ns.adobe.com/xdm/context/profile
        meta:containerId: tenant
        meta:sandboxId: 28e74200-e3de-11e9-8f5d-7f27416c5f0d
        meta:sandboxType: production
        meta:tenantNamespace: _{TENANT_ID}
    listResponseItem:
      type: object
      properties:
        title:
          type: string
          description: The title of the XDM resource.
          example: Tenant Data Schema
        $id:
          type: string
          description: The URI ID of the XDM resource.
          example: https://ns.adobe.com/{TENANT_ID}/schemas/274f17bc5807ff307a046bab1489fb18
        meta:altId:
          type: string
          description: An alternate dot-notation ID for the XDM resource.
          example: _{TENANT_ID}.schemas.274f17bc5807ff307a046bab1489fb18
    acceptErrorList:
      allOf:
      - $ref: '#/components/schemas/errorBasic'
      example:
        type: http://ns.adobe.com/aep/errors/XDM-1006-400
        title: Accept header invalid
        status: 400
        report:
          registryRequestId: d2550d48-95f5-43ee-adb7-1035bf9d3258
          timestamp: 11-25-2020 07:56:25
          detailed-message: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json;version=1 - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json'
          sub-errors: []
        detail: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json;version=1 - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json'
    replaceSchema:
      allOf:
      - $ref: '#/components/schemas/createSchema'
      type: object
      properties:
        type:
          type: string
          example: object
        title:
          type: string
          example: New Schema
        description:
          type: string
          example: Description of the new schema.
        allOf:
          type: array
          items:
            type: object
            properties:
              '$ref ':
                type: string
                example: https://ns.adobe.com/{TENANT_ID}/classes/994062a01edc258a12cc730b71831854
      required:
      - type
      - title
      - description
      - allOf
    listResponseItemWithVersion:
      allOf:
      - $ref: '#/components/schemas/listResponseItem'
      - properties:
          version:
            type: string
            description: The current version of the XDM resource.
            example: '1.1'
    listResponseBasic:
      type: object
      properties:
        results:
          type: array
          description: Lists the basic details of the returned XDM resources.
          items:
            $ref: '#/components/schemas/listResponseItemWithVersion'
        _page:
          type: object
          description: Contains pagination information related to the response.
          properties:
            orderby:
              type: string
              description: The attribute that results are sorted by.
              example: title
            next:
              type: string
              description: A URI for the next page in the response, if one exists. Contains `null` if this is the last or only page in the response.
              example: null
            count:
              type: integer
              description: The number of results returned per page.
              example: 2
        _links:
          $ref: '#/components/schemas/linksBasic'
      example:
        results:
        - $id: https://ns.adobe.com/{TENANT_ID}/schemas/0238be93d3e7a06aec5e0655955901ec
          meta:altId: _{TENANT_ID}.schemas.0238be93d3e7a06aec5e0655955901ec
          version: '1.4'
          title: Hotels
        - $id: https://ns.adobe.com/{TENANT_ID}/schemas/0ef4ce0d390f0809fad490802f53d30b
          meta:altId: _{TENANT_ID}.schemas.0ef4ce0d390f0809fad490802f53d30b
          version: '1.0'
          title: Loyalty Members
        _page:
          orderby: title
          next: null
          count: 2
        _links:
          next: null
          global_schemas:
            href: https://platform.adobe.io/data/foundation/schemaregistry/global/schemas
    lookupSchemaResponse:
      allOf:
      - $ref: '#/components/schemas/singleSchemaResponse'
      - $ref: '#/components/schemas/metaClass'
      - $ref: '#/components/schemas/resourceContainers'
      - $ref: '#/components/schemas/metaTenantNamespace'
      example:
        $id: https://ns.adobe.com/{TENANT_ID}/schemas/d4ad4b8463a67f6755f2aabbeb9e02c7
        meta:altId: _{TENANT_ID}.schemas.d4ad4b8463a67f6755f2aabbeb9e02c7
        meta:resourceType: schemas
        version: '1.4'
        title: Hotels
        type: object
        description: Schema for hotels.
        'allOf ':
        - '$ref ': https://ns.adobe.com/xdm/context/profile
        - '$ref ': https://ns.adobe.com/{TENANT_ID}/mixins/a5f8594ef47312543ee8d7437f934fd8
        imsOrg: '{IMS_ORG}'
        meta:extensible: false
        meta:abstract: false
        meta:extends:
        - https://ns.adobe.com/xdm/context/profile
        - https://ns.adobe.com/xdm/data/record
        - https://ns.adobe.com/xdm/context/identitymap
        - https://ns.adobe.com/xdm/common/extensible
        - https://ns.adobe.com/xdm/common/auditable
        - https://ns.adobe.com/{TENANT_ID}/mixins/a5f8594ef47312543ee8d7437f934fd8
        meta:xdmType: object
        meta:registryMetadata:
          repo:createdDate: 1570222174191
          repo:lastModifiedDate: 1574113291149
          xdm:createdClientId: '{CLIENT_ID}'
          xdm:lastModifiedClientId: '{CLIENT_ID}'
          xdm:createdUserId: '{USER_ID}'
          xdm:lastModifiedUserId: '{USER_ID}'
          eTag: e6717738681f663237572053aa02cb3a656ed02847e3361071db4d405e52357d
          meta:globalLibVersion: 1.27.4
        meta:class: https://ns.adobe.com/xdm/context/profile
        meta:containerId: tenant
        meta:sandboxId: 28e74200-e3de-11e9-8f5d-7f27416c5f0d
        meta:sandboxType: production
        meta:tenantNamespace: _{TENANT_ID}
    errorBasic:
      type: object
      properties:
        type:
          type: string
          description: The XDM error code.
        title:
          type: string
          description: The error code title.
        status:
          type: integer
          description: The HTTP status code for the error.
        report:
          type: object
          description: Contains registry information about the error.
          properties:
            registryRequestId:
              type: string
              description: A unique ID for the report.
            timestamp:
              type: string
              description: A timestamp of when the error occurred.
            detailed-message:
              type: string
              description: A detailed message about what caused the error.
            sub-errors:
              type: array
              description: Contains details about other errors that this error is a parent of.
              items:
                $ref: '#/components/schemas/errorBasic'
        detail:
          type: string
          description: A detailed message about what caused the error.
    resourceContainers:
      type: object
      properties:
        meta:containerId:
          type: string
          description: The container for the schema, either `global` or `tenant`.
        meta:sandboxId:
          type: string
          description: The ID of the Platform sandbox that contains the schema.
        meta:sandboxType:
          type: string
          description: The type of Platform sandbox that contains the schema, either `production` or `development`.
    linksSchemas:
      allOf:
      - $ref: '#/components/schemas/linksBasic'
      - properties:
          global_schemas:
            type: object
            description: Contains an `href` property that links to the path for retrieving schemas from the global container.
            properties:
              href:
                type: string
                description: The path for retrieving schemas from the global container.
                example: https://platform.adobe.io/data/foundation/schemaregistry/global/schemas
  parameters:
    accept:
      name: Accept
      description: 'The desired response format. For lookup requests, a `version` parameter must be included, with the following `Accept` header values being permitted:

        <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed+json; version=1</code></td><td>Returns only the basic details of the resource, with all inherited fields relegated to <code>$ref</code> and <code>allOf</code> properties.</td></tr><tr><td><code>application/vnd.adobe.xed-full+json; version=1</code></td><td>Returns the full details of the resource, including the details all fields inherited from other resources.</td></tr><tr><td><code>application/vnd.adobe.xed-notext+json; version=1</code></td><td>Returns only the basic details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-notext+json; version=1</code></td><td>Returns the full details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-desc+json; version=1</code></td><td>Returns the full details of the resource, including descriptions but with no titles.</td></tr></tbody></table>'
      required: true
      in: header
      schema:
        type: string
    containerIdList:
      name: CONTAINER_ID
      description: The name of the container that you want to list resources from. To list core resources provided by Adobe, use `global`. To list custom resources defined by your organization, use `tenant`.
      required: true
      in: path
      schema:
        type: string
    start:
      name: start
      description: 'When used in conjunction with an `orderby` parameter, `start` specifies where the paginated list of items should begin. This parameter cannot be used without an `orderby` parameter present.


        Typically, this parameter is omitted in order to obtain the first page of results. After that, `start` should be set to the maximum value of the primary sort property of the `orderby` field received in the previous page. The API response then returns entries beginning with those that have a primary sort property from `orderby` strictly greater than (for ascending) or strictly less than (for descending) the specified value.


        For example, if the `orderby` parameter is set to `orderby=name,firstname`, the `start` parameter would contain a value for the `name` property. In this case, if you wanted to show the next 20 entries of a resource immediately following the name "Miller", you would use: `?orderby=name,firstname&start=Miller&limit=20`.'
      required: false
      in: query
      schema:
        type: string
    patchPayload:
      name: body
      description: The request body accepts a JSON Patch payload.
      required: true
      in: body
      schema:
        $ref: '#/components/schemas/patchSchema'
    property:
      name: property
      description: A comma-separated list of top-level object properties to be returned in the response. For example, `property=meta:intendedToExtend==https://ns.adobe.com/xdm/context/profile` returns only field groups that are compatible with the XDM Individual Profile class.
      in: query
      required: false
      schema:
        type: string
    containerIdLookup:
      name: CONTAINER_ID
      description: The name of the container that you want to retrieve a resource from. To retrieve a core resource provided by Adobe, use `global`. To retrieve a custom resource defined by your organization, use `tenant`.
      required: true
      in: path
      schema:
        type: string
    SCHEMA_ID:
      name: SCHEMA_ID
      description: The `meta:altId` or URL-encoded `$id` of the schema in question.
      required: true
      in: path
      schema:
        type: string
    authorization:
      name: Authorization
      description: The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    replaceSchemaPayload:
      name: body
      description: The JSON payload must include all of the fields that were originally required for creating the schema, but with updated values. This includes an `allOf` attribute referencing the `$id` of the class the schema will implement.
      required: true
      in: body
      schema:
        $ref: '#/components/schemas/replaceSchema'
    x-gw-ims-org-id:
      name: x-gw-ims-org-id
      description: The IMS Organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    acceptListing:
      name: Accept
      description: "The desired response format. For listing calls, the following `Accept` header values are permitted: \n<table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed-id+json</code></td><td>Returns a short summary of each resource, generally the preferred header for listing.</td></tr><tr><td><code>application/vnd.adobe.xed+json</code></td><td>Returns full JSON for each resource, with the original <code>$ref</code> and <code>allOf</code> attributes included.</td></tr></tbody></table>"
      required: true
      in: header
      schema:
        type: string
    x-api-key:
      name: x-api-key
      description: The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    createSchemaPayload:
      name: body
      description: The JSON payload must include an `allOf` attribute referencing the `$id` of the base class the that the schema will implement.
      required: true
      in: body
      schema:
        $ref: '#/components/schemas/createSchema'
    limit:
      name: limit
      description: 'When used in conjunction with an `orderby` parameter, `limit` restricts the maximum number of items that should be returned for a given request. This parameter cannot be used without an `orderby` parameter present.


        The `limit` parameter specifies a positive integer (between `0` and `500`) as a *hint* as to the maximum number of items that should be returned. For example, `limit=5` returns only five resources in the list. However, this value is not strictly honored. The actual response size may be smaller or larger as constrained by the need to provide the reliable operation of the `start` parameter, if one is provided.'
      required: false
      in: query
      schema:
        type: number
    content-type:
      name: Content-Type
      description: The type of content being sent in the body of the request. When sending requests that include payloads to the Schema Registry API, this header must be included with a value of `application/json`.
      required: true
      in: header
      schema:
        type: string
    orderBy:
      name: orderby
      description: Sort the listed resources by specified fields. For example `orderby=title` sorts results by title in ascending order (A-Z). Adding a `-` before the field name (`orderby=-title`) sorts items in descending order (Z-A). Multiple fields can also be included to denote primary and secondary sort orders (for example, `orderby=title,description`).
      required: false
      in: query
      schema:
        type: string
    x-sandbox-name:
      name: x-sandbox-name
      description: The name of the sandbox in which the operation will take place. See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
      required: true
      in: header
      schema:
        type: string
