openapi: 3.2.0
info:
  title: Journeys throttling configurations Throttling configuration API
  description: "The Journeys throttling configuration APIs allow to manage capping and throttling configurations. They are accessible by an authorized technical account created through the [Adobe Developer Console](https://console.adobe.io/home).\n\nLearn more about the capping and throttling mechanisms in the following documentation: [Journeys integration with external systems](https://experienceleague.adobe.com/docs/journey-optimizer/using/configuration/configure-journeys/external-systems/external-systems.html#capping)\n\n**Visualize API calls with Postman**:\n  - [Capping API - Postman collection on GitHub](https://github.com/AdobeDocs/JourneyAPI/blob/master/postman-collections/Journeys_Capping-API_postman-collection.json)\n  - [Throttling API - Postman collection on GitHub](https://github.com/AdobeDocs/JourneyAPI/blob/master/postman-collections/Journeys_Throttling-API_postman-collection.json)\n\n\n**API paths**:\n  - Journey Optimizer Gateway URL {JO_HOST} : https://platform.adobe.io\n  - Base path for this API {BASE_PATH} : **/journey/orchestration**\n  - Example of a complete path: https://platform.adobe.io/journey/orchestration/endpointConfigs\n\n**Required headers**:\n  - All calls require the authentication headers **Authorization**, **x-api-key**, and **x-gw-ims-org-id**.\n  - All resources in Experience Platform and Journey Optimizer are isolated to specific virtual sandboxes. All requests to these APIs require the header **x-sandbox-name** whose value is the all-lowercase name of the sandbox the operation will take place in (for example, *'prod'*). See the [sandboxes overview](https://experienceleague.adobe.com/docs/experience-platform/sandbox/home.html?) for more information.\n  - All requests with a payload in the request body (such as POST, PUT calls) must include the header **Content-Type** with the value *application/json*\n  \n**Notes about configuration states and deployment status**:\n\n  - The current state of a capping or throttling configuration is either *'created'*, *'updated'* or *'deployed'*. Refer to the description and example below for GET **/endpointConfigs/{uid}** and PUT **/endpointConfigs/{uid}** operations.\n\n  - In creation and update responses, a **canDeploy** JSON object indicates whether or not a configuration can be deployed. It may contain some errors and warnings. Refer to the description and example below for GET **/endpointConfigs/canDeploy/{uid}** operation.\n\n**Specific notes about throttling configurations**:\n  - You must provide all the following attributes when creating or updating a throttling configuration: *'maxThroughput'*, *'urlPattern'* and *'methods'*.\n\n  - A throttling configuration must be defined on a production sandbox (given through **x-sandbox-name** header). It is applied at organization level.\n\n  - **Only one throttling configuration is currently allowed per organisation.**"
  version: v1
servers:
- url: https://platform.adobe.io/journey/orchestration
tags:
- name: Throttling configuration
paths:
  /list/throttlingConfigs:
    post:
      tags:
      - Throttling configuration
      summary: List throttlingConfigs configurations
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/list_throttlingconfigs.json public
      parameters:
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: object
              example: {}
        required: false
      responses:
        200:
          description: 'OK: the operation was successful.'
          content:
            application/json;charset=utf-8:
              schema:
                type: object
              example: {}
      x-codegen-request-body-name: body
  /throttlingConfigs:
    post:
      tags:
      - Throttling configuration
      summary: Create a throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/throttlingconfigs.json public
      parameters:
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: string
        required: true
      responses:
        200:
          description: 'OK: the operation was successful.'
          content: {}
        500:
          description: 'Internal Server Error: invalid values or missing elements in the given payload.'
          content: {}
      x-codegen-request-body-name: payload
  /throttlingConfigs/{uid}:
    get:
      tags:
      - Throttling configuration
      summary: Get an throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/get/throttlingconfigs_uid.json public
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      responses:
        200:
          description: 'OK: the operation was successful.'
          content:
            application/json;charset=utf-8:
              schema:
                type: object
        404:
          description: 'Not Found: unknown given Unique ID.'
          content: {}
    put:
      tags:
      - Throttling configuration
      summary: Update a throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/put/throttlingconfigs_uid.json public
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              type: string
        required: true
      responses:
        200:
          description: 'OK: operation was successful.'
          content: {}
        404:
          description: 'Not Found: unknown given Unique ID.'
          content: {}
        500:
          description: 'Internal Server Error: invalid values or missing elements in the given payload.'
          content: {}
      x-codegen-request-body-name: payload
    delete:
      tags:
      - Throttling configuration
      summary: Delete a throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/delete/throttlingconfigs_uid.json public
      parameters:
      - name: forceDelete
        in: query
        schema:
          type: string
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      responses:
        200:
          description: 'OK: the operation was successful.'
          content:
            application/json;charset=utf-8:
              schema:
                type: object
        404:
          description: 'Not Found: unknown given Unique ID.'
          content: {}
        500:
          description: 'Internal Server Error: invalid values or missing elements in the given payload.'
          content: {}
  /throttlingConfigs/{uid}/canDeploy:
    get:
      tags:
      - Throttling configuration
      summary: Check if an throttling configuration can be deployed
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/get/throttlingconfigs_uid_candeploy.json public
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      responses:
        200:
          description: 'OK: the operation was successful.'
          content:
            application/json;charset=utf-8:
              schema:
                type: object
        404:
          description: 'Not Found: unknown given Unique ID.'
          content: {}
  /throttlingConfigs/{uid}/deploy:
    post:
      tags:
      - Throttling configuration
      summary: Deploy an throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/throttlingconfigs_uid_deploy.json public
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      responses:
        204:
          description: 'No Content: the operation was successful.'
          content: {}
        500:
          description: 'Internal Server Error: the definition of given configuration definition was not valid.'
          content: {}
  /throttlingConfigs/{uid}/undeploy:
    post:
      tags:
      - Throttling configuration
      summary: Undeploy throttling configuration
      operationId: com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/throttlingconfigs_uid_undeploy.json public
      parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: Specific API key for your unique Journey Orchestration configuration {API_KEY}
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: Unique Identifier for your IMS Organization {IMS_ORG}
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place {SANDBOX_NAME}
        required: true
        schema:
          type: string
      responses:
        204:
          description: 'No Content: the operation was successful or the given configuration was not deployed.'
          content: {}
