openapi: 3.2.0
info:
  version: '0.1'
  title: Adobe CC Libraries APIs Test Library Service API
  description: App-facing APIs for Adobe CC Libraries.
servers:
- url: https://cc-libraries.adobe.io/
tags:
- name: Library Service
  description: App-facing APIs for Adobe CC Libraries.
paths:
  /api/v1/libraries:
    get:
      tags:
      - Library Service
      summary: Retrieve libraries for a user
      description: ''
      operationId: getLibraries
      parameters:
      - name: orderBy
        in: query
        description: "Sorting option for the response list. \nReverse sort is enabled with a - character ahead of the sorting vector. (ex: -modified_date) \nMulti-vector sort is enabled by including multiple vectors separated by commas. (ex: name,-modified_date) \nSorting is not available for public libraries. \n\n**Possible Values** \n- `name`: Sort by the name.\n- `modified_date`: Sort by the last modified date."
        required: false
        schema:
          type: string
          default: -modified_date
      - name: start
        in: query
        description: "The first result to include for a paged response, 0-based. \nThis parameter is required if a limit is specified. \nPaging is not available for public libraries."
        required: false
        schema:
          type: string
          default: '0'
          minimum: 0
      - name: limit
        in: query
        description: "The number of libraries to return for a paged response. \nPaging is not available for public libraries. \n\n**Possible Values** \n- Min: 1. \n- Max: 10."
        required: false
        schema:
          type: string
          default: '10'
          minimum: 1
      - name: owner
        in: query
        description: "Customize which libraries to include in the response, based on ownership. \n\n**Possible Values** \n- `private`: Libraries owned by the user. \n- `incoming`: Libraries shared with the user. This may include person-to-person shared libraries as well as libraries accessible via group ownership. \n- `public`: Libraries the user has followed. \n- `all`: All of the above except public."
        required: false
        schema:
          type: string
          default: all
      - name: selector
        in: query
        description: "Customize which data sets to include in the response. \nAll applications using this API will need the same sets of data, but different applications will not require different depths of details. \nCallers can specify a comma-separated list of selectors to either limit or expand the default response. The absence of selectors will yield the default response, while including selectors gives callers access to building-blocks to compose the response to their needs. \n\n**Possible Values** \n- `default`: Base data, use this to build out custom response. \n- `details`: All available data for in-depth display. \n- `collaboration`: Add collaboration data to a lesser-scoped selector. \n- `groups`: Include group data in the response. \n- `rendition_grid`: Provides a set of links to library element image renditions, which can be combined to create a thumbnail for the library. The `main` rendition link is the first asset uploaded to the library, while the `tiles` contain the three most recently updated library elements' rendition links. \n"
        required: false
        schema:
          type: string
          default: default
      - name: toolkit
        in: query
        description: "Customize which toolkit libraries to include in the response. \n\n**Possible Values**- `all`: Include all toolkit libraries. \n- `none`: Do not include any toolkit libraries. \n- `<toolkit-id>`: Include libraries matching a specific toolkit-id, or comma-separated list of toolkit-ids."
        required: false
        schema:
          type: string
          default: none
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibrariesInfo'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Library Service
      summary: Create a library
      description: ''
      operationId: createLibraries
      parameters:
      - name: invocation_mode
        in: query
        description: "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete."
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbLibraryInfo'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbLibraryInfo'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbLibraryInfo'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLibraryPayload'
  /api/v1/libraries/{libraryId}:
    get:
      tags:
      - Library Service
      summary: Retrieve a specific library
      description: ''
      operationId: getLibrary
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: selector
        in: query
        description: "Customize which data sets to include in the response. \nAll applications using this API will need the same sets of data, but different applications will not require different depths of details. \nCallers can specify a comma-separated list of selectors to either limit or expand the default response. The absence of selectors will yield the default response, while including selectors gives callers access to building-blocks to compose the response to their needs. \n\n**Possible Values** \n- `default`: Base data, use this to build out custom response. \n- `details`: All available data for in-depth display. \n- `collaboration`: Add collaboration data to a lesser-scoped selector. \n- `groups`: Include group data in the response. \n- `rendition_grid`: Provides a set of links to library element image renditions, which can be combined to create a thumbnail for the library. The `main` rendition link is the first asset uploaded to the library, while the `tiles` contain the three most recently updated library elements' rendition links. \n"
        required: false
        schema:
          type: string
          default: default
      - name: libraryVersion
        in: query
        description: "Retrieve a cached library response (if available) for the specified version. \nTo ensure the most recent cached version, use the `version`, which is provided when retrieving the library list. \nIf the cached version is unavailable for some reason, the live result will be returned. \nUsing this parameter is optional, but is likely to provide substantially faster performance. \n"
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: if-none-match
        in: header
        description: The `etag` value, returns content only if the asset's `etag` is EXACTLY the same.
        required: false
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbLibraryInfo'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    head:
      tags:
      - Library Service
      summary: Retrieve a specific library
      description: ''
      operationId: headLibrary
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Library Service
      summary: Delete a specific library
      description: ''
      operationId: deleteLibrary
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Library Service
      summary: Apply multiple operations to a single library serially.
      description: "Apply multiple operations to a library serially. \nThe request payload for this endpoint consists of an array of requests. \nRequests in this array may reference values from the response of requests preceding them. \nThis can be accomplished by using substitution variables, which are described here: https://wiki.corp.adobe.com/x/5xLOhw."
      operationId: patchLibrary
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: invocation_mode
        in: path
        description: "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete."
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: if-match
        in: header
        description: The `etag` value, returns content only if the asset's `etag` is NOT the same.
        required: false
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'Not Found: The specified resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: 'Precondition Failed: The server does not meet one of the preconditions on the request header fields.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: 'Unsupported Media Type: The request entity has a media type which is not supported.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Too Many Requests: The user has sent too many requests in a given amount of time.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPayload'
  /api/v1/libraries/{libraryId}/archive:
    post:
      tags:
      - Library Service
      summary: Restore Archived Elements
      description: ''
      operationId: unArchiveLibraryElements
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: invocation_mode
        in: path
        description: "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete."
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponsePayload'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAcceptedResponse'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLibraryElementsPayload'
    delete:
      tags:
      - Library Service
      summary: Permanently delete archived elements
      description: ''
      operationId: deleteLibraryElements
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveDeleteElementListPayload'
  /api/v1/libraries/{libraryId}/archive/{elementId}:
    delete:
      tags:
      - Library Service
      summary: Permanently delete an archived element
      description: ''
      operationId: deleteLibraryElement
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: elementId
        in: path
        description: The ID of the requested element.
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/libraries/{libraryId}/elements:
    get:
      tags:
      - Library Service
      summary: Retrieve the elements within a library
      description: ''
      operationId: getLibraryElements
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: orderBy
        in: query
        description: "Sorting option for the response list. \nReverse sort is enabled with a - character ahead of the sorting vector. (ex: -modified_date) \nMulti-vector sort is enabled by including multiple vectors separated by commas. (ex: name,-modified_date) \nSorting is not available for public libraries. \n\n**Possible Values** \n- `name`: Sort by the name.\n- `modified_date`: Sort by the last modified date."
        required: false
        schema:
          type: string
          default: -modified_date
      - name: start
        in: query
        description: "The first result to include for a paged response, 0-based. \nThis parameter is required if a limit is specified. \nPaging is not available for public libraries."
        required: false
        schema:
          type: string
          default: '0'
          minimum: 0
      - name: limit
        in: query
        description: "The number of results to return for a paged response. \nPaging is not available for public libraries. \n\n**Possible Values** \n- Min: 1. \n- Max: 100."
        required: false
        schema:
          type: string
          default: '10'
          maximum: 100
          minimum: 1
      - name: type
        in: query
        description: Limits results to those identified with the provided element mimetype.
        required: false
        schema:
          type: string
      - name: group
        in: query
        description: "Limits results to those assigned to the provided `group_id` (can be either `group_id` or `classifier#group_id`). \nParameters without a classifier will populate as `$default#group_id`. \nTo specify ungrouped elements, use `$none$`"
        required: false
        schema:
          type: string
      - name: selector
        in: query
        description: "Customize which data sets to include in the response. \nAll applications using this API will need the same sets of data, but different applications will not require different depths of details. \nCallers can specify a comma-separated list of selectors to either limit or expand the default response. The absence of selectors will yield the default response, while including selectors gives callers access to building-blocks to compose the response to their needs. \n\n**Possible Values** \n- `default`: Base data, use this to build out custom response. \n- `details`: All available data for in-depth display. \n- `representations`: Flattened list of assets associated with the library element."
        required: false
        schema:
          type: string
          default: default
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: if-none-match
        in: header
        description: The `etag` value, returns content only if the asset's `etag` is EXACTLY the same.
        required: false
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Library Service
      summary: Create, copy, or move elements
      description: "Create a new element, or copy/move existing elements. \n\n**Create Element** \nCreate a single element. All elements require at least one asset-based or literal representation. \nWhen creating a new asset-based element (ex: images, thumbnails, video), upload the asset(s) BEFORE creating the element. \nUse the response(s) from the Upload Asset API call(s) as objects in the `representations` array when using this API to create a new element. \n\n**Move Elements** \nMove one or more elements, which means delete it from its current location and create it in the target library (indicated by this API's `libraryId` path param). \nTo move an element, use the `self` object in the request body of this API call. \n- `elements`: Array of element(s) to move, specified by Element ID ex. `{\"id\":\"<elementId>\"}. \n- `id`: The library where the element(s) currently exist, specified by Library URN. \n\n**Copy Elements** \nCopy one or more elements, which means leave the original element untouched and create a copy of it in the target library (indicated by this API's `libraryId` path param). \nTo copy an element, use the `source` object in the request body of this API call. \n- `elements`: Array of element(s) to move, specified by Element ID ex. `{\"id\":\"<elementId>\"}. \n  - optionally provide a new name for the new element ex. `{\"id\":\"<elementId>\", \"name\":\"<new name>\", \"description\":\"description\"}. \n- `id`: The library where the element(s) currently exist, specified by Library URN. If the source Library ID is the same as the target library, the element(s) will be duplicated."
      operationId: postLibraryElements
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: invocation_mode
        in: path
        description: "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete."
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'Not Found: The specified resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: 'Precondition Failed: The server does not meet one of the preconditions on the request header fields.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: 'Unsupported Media Type: The request entity has a media type which is not supported.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Too Many Requests: The user has sent too many requests in a given amount of time.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLibraryElementsPayload'
    delete:
      tags:
      - Library Service
      summary: Move a library's elements to the archive
      description: ''
      operationId: archiveLibraryElements
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '202':
          description: Accepted
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveDeleteElementListPayload'
  /api/v1/libraries/{libraryId}/elements/metadata:
    put:
      tags:
      - Library Service
      summary: Update a specific library's element
      description: "Update a specific library's element. \nThis API is intended solely for top-level element attribute updates. \nPlease look to `PUT /api/v1/libraries/{libraryId}/elements/{elementId}/representations` for updates to element assets and representations."
      operationId: updateLibraryElements
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElementListPayload'
  /api/v1/libraries/{libraryId}/elements/{elementId}:
    get:
      tags:
      - Library Service
      summary: Retrieve a specific library's element
      description: ''
      operationId: getLibraryElement
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: elementId
        in: path
        description: The ID of the requested element.
        required: true
        schema:
          type: string
      - name: selector
        in: query
        description: "Customize which data sets to include in the response. \nAll applications using this API will need the same sets of data, but different applications will not require different depths of details. \nCallers can specify a comma-separated list of selectors to either limit or expand the default response. The absence of selectors will yield the default response, while including selectors gives callers access to building-blocks to compose the response to their needs. \n\n**Possible Values** \n- `default`: Base data, use this to build out custom response. \n- `details`: All available data for in-depth display. \n- `representations`: Flattened list of assets associated with the library element."
        required: false
        schema:
          type: string
          default: default
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: if-none-match
        in: header
        description: The `etag` value, returns content only if the asset's `etag` is EXACTLY the same.
        required: false
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbLibraryElementData'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Library Service
      summary: Move a library's element to the archive
      description: ''
      operationId: archiveLibraryElement
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: elementId
        in: path
        description: The ID of the requested element.
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/libraries/{libraryId}/elements/{elementId}/representations:
    put:
      tags:
      - Library Service
      summary: Add/Update/Delete element representations in existing library
      description: "Add/Update/Delete element representations in existing library. \nThe `representations` array input includes all representations to be created, retained, or updated. \n\n**Special Cases** \n- `Create`: New representations can be submitted alongside the existing renditions, but with no `id` field. \n- `Retain`: Existing representations with no changes should be submitted exactly as returned by the element. \n- `Update`: Changes to representations must include the accurate id for the exising entry and should include all fields, updated and not updated. \n- `Delete`: Element renditions missing from the payload will be removed from the element. \n\n**Notes** \n- Representations referencing assets uploaded to the library (primary and secondary) are immutable. To update an uploaded asset representation, submit a new representation with no id field. This will effectively delete and replace it. \n- The `representations` array resulting from this call will contain different `id` values that the existing element and the payload submission."
      operationId: putLibraryElementRepresentations
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: elementId
        in: path
        description: The ID of the requested element.
        required: true
        schema:
          type: string
      - name: invocation_mode
        in: path
        description: "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete."
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'Not Found: The specified resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: 'Precondition Failed: The server does not meet one of the preconditions on the request header fields.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: 'Payload Too Large: The request is larger than the server is willing or able to process.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: 'Unsupported Media Type: The request entity has a media type which is not supported.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Too Many Requests: The user has sent too many requests in a given amount of time.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLibraryElementsPayload'
  /api/v1/libraries/{libraryId}/metadata:
    put:
      tags:
      - Library Service
      summary: Update a specific library
      description: ''
      operationId: updateLibrary
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLibraryPayload'
  /api/v1/libraries/{libraryId}/representations/content:
    post:
      tags:
      - Library Service
      summary: Upload an asset to a library
      description: "Upload a small file asset to an existing library. \nFile asset size must be <5mb to use this API call. \nAfter uploading a file asset with this API, you can use the response in the `representations` array in the request body of a Create New Element API call. \n"
      operationId: postLibraryComponent
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: invocation_mode
        in: path
        description: "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete."
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'Not Found: The specified resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: 'Precondition Failed: The server does not meet one of the preconditions on the request header fields.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: 'Payload Too Large: The request is larger than the server is willing or able to process.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: 'Unsupported Media Type: The request entity has a media type which is not supported.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Too Many Requests: The user has sent too many requests in a given amount of time.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                Representation-Data:
                  type: string
                  description: "A JSON object specifying the type of the uploaded asset. \n\nHere is an example, where the uploaded asset file is a jpg image: \n`{ \"type\": \"image/jpg\" }`"
                Representation-Content:
                  type: string
                  description: The file to upload. Must be less than 5mb.
                  format: binary
  /api/v1/search:
    post:
      tags:
      - Library Service
      summary: Search for Libraries and Library Elements
      description: ''
      operationId: search
      parameters:
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USSSearchResponse'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/USSSearchPayload'
components:
  schemas:
    PostLibraryElementsPayload:
      type: object
      required:
      - client
      - name
      - type
      properties:
        id:
          type: string
          description: Ignored if submitted. The result will have a different ID.
        description:
          type: string
          description: Description of new element
        name:
          type: string
          description: Display name for new element
        type:
          type: string
          description: Element type
        client:
          description: Client identification information
          $ref: '#/components/schemas/ClientDeviceInfoPayload'
        representations:
          type: array
          description: Add or associate existing content to the new element
          items:
            $ref: '#/components/schemas/DbLibraryElementRepresentationData'
        sourceRef:
          type: string
          description: Reference other content as inspiration for this element
        source:
          description: Required if copying an element to this library.
          $ref: '#/components/schemas/ElementListPayload'
        self:
          description: Required if moving an element to this library.
          $ref: '#/components/schemas/ElementListPayload'
    DbLibraryInvitationData:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        recipientEmail:
          type: string
          readOnly: true
        senderName:
          type: string
          readOnly: true
        created:
          type: string
          readOnly: true
        role:
          type: string
          readOnly: true
        canComment:
          type: boolean
          readOnly: true
        canShare:
          type: boolean
          readOnly: true
    BatchResponse:
      type: object
      properties:
        responses:
          type: array
          readOnly: true
          items:
            type: object
            properties: {}
        requests:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BatchPayloadElement'
    BatchPayload:
      type: object
      properties:
        requests:
          type: array
          items:
            $ref: '#/components/schemas/BatchPayloadElement'
    AsyncResponsePayload:
      type: object
      properties:
        status:
          type: string
          enum:
          - OK
          - CREATED
          - ACCEPTED
          - NO_CONTENT
          - MOVED_PERMANENTLY
          - SEE_OTHER
          - NOT_MODIFIED
          - TEMPORARY_REDIRECT
          - BAD_REQUEST
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - NOT_ACCEPTABLE
          - CONFLICT
          - GONE
          - PRECONDITION_FAILED
          - UNSUPPORTED_MEDIA_TYPE
          - INTERNAL_SERVER_ERROR
          - SERVICE_UNAVAILABLE
        message:
          type: string
    UpdateLibraryPayload:
      type: object
      properties:
        name:
          type: string
    BatchPayloadElement:
      type: object
      properties:
        method:
          type: string
        path:
          type: string
        body:
          type: object
          additionalProperties:
            type: object
            properties: {}
    DbLibraryCollaborationData:
      type: object
      properties:
        rootURN:
          type: string
        ownerId:
          type: string
        state:
          type: string
        collaborators:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryCollaboratorData'
        invitations:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryInvitationData'
        public:
          type: boolean
        _fc:
          type: boolean
        directCollaborators:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryCollaboratorData'
        hasAdmin:
          type: boolean
          readOnly: true
    LibrariesInfo:
      type: object
      properties:
        total_count:
          type: integer
          format: int32
          description: Total results for query
        libraries:
          type: array
          description: Libraries list
          items:
            $ref: '#/components/schemas/DbLibraryInfo'
        _page:
          description: List Page
          $ref: '#/components/schemas/PageSpec'
        _links:
          description: List Links
          $ref: '#/components/schemas/MelvilleHypermediaListLinks'
    AsyncMonitorResponseDTO:
      type: object
      properties:
        id:
          type: string
        href:
          type: string
        retryAfter:
          type: integer
          format: int64
        _fc:
          type: boolean
    DbLibraryElementDetailsCreatedModifiedData:
      type: object
      properties:
        userId:
          type: string
        deviceId:
          type: string
        device:
          type: string
        app:
          type: string
        time:
          type: integer
          format: int64
    LibraryElementsInfo:
      type: object
      properties:
        total_count:
          type: integer
          format: int32
          description: Total results for query
        elements:
          type: array
          description: Elements list
          items:
            $ref: '#/components/schemas/DbLibraryElementData'
        _page:
          description: List Page
          $ref: '#/components/schemas/PageSpec'
        _links:
          description: List Links
          $ref: '#/components/schemas/LinksSpec'
    USSSearchPayload:
      type: object
      properties:
        asset_type:
          type: array
          description: '`library` and/or `element`. Leaving this out of the request will get both by default, though element-only parameters like `library_id` or `archived` will isolate the result to elements.'
          uniqueItems: true
          items:
            type: string
        library_id:
          type: string
          description: 'Library ID (URN) to constrain an elements search to a single library (like "urn:aaid:sc:us:2f3268e9-039d-460f-8b07-8854f7677645"). Invalid if submitted with `"asset_type": ["library"]`.'
        group:
          type: string
          description: 'Isolate element results to a single group. Invalid if submitted with `"asset_type": ["library"]`.'
        name:
          type: string
          description: A name string to identify by library/asset name. Requires an exact match.
        query_string:
          type: string
          description: A general query string to search for libraries/assets. Includes partial matches.
        created_date:
          type: array
          description: Start & end dates in epoch time (ms since epoch).
          items:
            type: string
            format: date-time
        modified_date:
          type: array
          description: Start & end dates in epoch time (ms since epoch).
          items:
            type: string
            format: date-time
        type:
          type: array
          description: 'One or more types for elements, invalid if submitted with `"asset_type": ["library"]`.'
          items:
            type: string
        archived:
          type: boolean
          description: 'Search specifically for archived elements (boolean `true`/`false` to isolate results to archived or non-archived). Invalid if submitted with `"asset_type": ["library"]`.'
        orderBy:
          type: string
          description: defaults to `-modified_date`, also accepts `name`. Use a minus sign prefix to note descending.
        start:
          type: string
          description: String value. For libraries lists, the requirement to integrate bookmarked responses requires us to use the field in a clever fashion beyond a simple positive integer.
        limit:
          type: integer
          format: int32
          description: Positive integer, defines the number of results to return for a paged response. Defaults to `10`. Max limit for library searches is `10`, max limit for element searches is `100`.
        owner:
          type: string
          description: '`private` (default), `incoming`, `outgoing`, `public`, or `all`. `all` does not include `public` until bookmarks are integrated into the USS search results.'
        selector:
          type: string
          description: Customize response for larger/smaller data sets. (`default` [base response], `rendition_grid`, `collaboration`, `details`, `full`).
        has_stock_content:
          type: boolean
          description: Search for libraries that have stock content, or elements within a library that have stock content (boolean `true`/`false` to isolate results to stock content or all content).
        stock_content_id:
          type: string
          description: 'Search for elements with a specific Stock Content ID. Invalid if submitted with `"asset_type": ["library"]` or `"has_stock_content": false`.'
        spark_brand_urn:
          type: string
          description: Search for elements with a specific Spark tracking data brand_urn.
        spark_creator_id:
          type: string
          description: Search for elements with a specific Spark tracking data creator_id.
        spark_content_summary:
          type: string
          description: Search for elements with a partial match within the Spark tracking data content_summary.
        source_ref:
          type: string
          description: Search for elements with a specific sourceRef.
    USSSearchResponse:
      type: object
      properties:
        total_items:
          type: integer
          format: int32
          readOnly: true
        libraries:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryInfo'
        elements:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryElementData'
    DbLibraryRenditionData:
      type: object
      properties:
        _fc:
          type: boolean
        main:
          $ref: '#/components/schemas/DbLibraryElementRenditionData'
        tiles:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryElementRenditionData'
    ErrorResponse:
      type: object
      properties:
        reason:
          type: string
        message:
          type: string
      xml:
        name: error
    CreateLibraryPayload:
      type: object
      properties:
        name:
          type: string
          description: Human-readable name for library. *Required* for creating a new library (not for move/copy)
        source:
          type: string
          description: URN or public library ID of the source library. *Required* for copy.
        self:
          type: string
          description: URN or public library ID of the library to be moved. *Required* for move.
    ClientDeviceInfoPayload:
      type: object
      properties:
        deviceId:
          type: string
        device:
          type: string
        app:
          type: string
    DbLibraryElementDetailData:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
        created:
          $ref: '#/components/schemas/DbLibraryElementDetailsCreatedModifiedData'
        lastModified:
          $ref: '#/components/schemas/DbLibraryElementDetailsCreatedModifiedData'
        description:
          type: string
    MelvilleHypermediaListLinks:
      type: object
      properties:
        page:
          description: Page Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        next:
          description: Next Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
    MelvilleHypermediaLibraryElementLinks:
      type: object
      properties:
        http://ns.adobe.com/melville/rel/primary:
          description: Primary Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/path:
          description: Path Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/id:
          description: ID Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/policy:
          description: Policy Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/check:
          description: Check Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/effective:
          description: Effective Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/describedBy:
          description: Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/metadata/application:
          description: Application Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/metadata/repository:
          description: Repository Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/rendition:
          description: Rendition Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/version-history:
          description: Version History Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/manifest:
          description: Manifest Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/component:
          description: Component Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/elements:
          description: Elements Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/element:
          description: Element Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/groups:
          description: Groups Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/representations:
          description: Representations Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/raw:
          description: Raw Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        page:
          description: Page Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        next:
          description: Next Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
    DbLibraryGroup:
      type: object
      required:
      - name
      - order
      properties:
        id:
          type: string
          description: Group id.
        name:
          type: string
          description: Group name.
        classifier:
          type: string
          description: Group namespace. Currently defaults to $default. The default should be used unless there's a specific case to provide a custom classifiers. Non-default classifiers are presently not supported in any applications.
        order:
          type: string
          description: Lexicographical string for setting the group's place in the group list, or for an element's place within a group.The client is responsible for providing and sorting using these strings.
        created_date:
          type: integer
          format: int64
          description: Group created date
        modified_date:
          type: integer
          format: int64
          description: Group modified date
        parent_id:
          type: string
          description: Defines a relationship between nested groups.  If provided, and the specified parent group exists, this group will be the "child" of the parent group. If there is no group in the library that matches the supplied parentId the group will still be created or updated with an empty parentId.
    JsonNode:
      type: object
      properties:
        array:
          type: boolean
        'null':
          type: boolean
        number:
          type: boolean
        int:
          type: boolean
        nodeType:
          type: string
          enum:
          - ARRAY
          - BINARY
          - BOOLEAN
          - MISSING
          - 'NULL'
          - NUMBER
          - OBJECT
          - POJO
          - STRING
        float:
          type: boolean
        binary:
          type: boolean
        short:
          type: boolean
        valueNode:
          type: boolean
        containerNode:
          type: boolean
        missingNode:
          type: boolean
        object:
          type: boolean
        pojo:
          type: boolean
        integralNumber:
          type: boolean
        floatingPointNumber:
          type: boolean
        long:
          type: boolean
        double:
          type: boolean
        bigDecimal:
          type: boolean
        bigInteger:
          type: boolean
        textual:
          type: boolean
        boolean:
          type: boolean
    DbLibraryElementRenditionData:
      type: object
      properties:
        type:
          type: string
        rendition:
          type: object
          properties: {}
    DbLibraryDetail:
      type: object
      properties:
        _fc:
          type: boolean
        etag:
          type: string
        state:
          type: string
        manifest_format_version:
          type: string
        num_elements:
          type: integer
          format: int32
        num_archived_elements:
          type: integer
          format: int32
        types:
          type: array
          items:
            type: string
        element_type_counts:
          type: object
          additionalProperties:
            type: integer
            format: int32
    Link:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
        name:
          type: string
        type:
          type: string
        deprecation:
          type: string
        mode:
          type: string
        additionalFields:
          type: object
          additionalProperties:
            type: object
            properties: {}
    PageSpec:
      type: object
      properties:
        orderBy:
          type: string
          description: List orderby
        start:
          type: string
          description: List start position
        next:
          type: string
          description: List next position
        count:
          type: integer
          format: int32
          description: List page size
        type:
          type: string
[...]
