openapi: 3.2.0
info:
  version: '1.0'
  title: Schema Registry Data types API
  description: "Use the Schema Registry API to access the Schema Library within Adobe Experience Platform. The registry provides a user interface and RESTful API from which all available library resources are accessible.  Programmatically manage all schemas and related Experience Data Model (XDM) resources available to you within Platform. This includes those defined by Adobe, Experience Platform partners, and vendors whose applications you use.\n* **Related documentation**:\n  * [XDM documentation](http://www.adobe.com/go/xdm-home-en)\n\n* **Visualize API calls with Postman (a free, third-party software)**:\n  * [Schema Registry API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Schema%20Registry%20API.postman_collection.json)\n  * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)\n  * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)\n\n* **API paths**:\n  * PLATFORM Gateway URL: https://<span>platform.adobe.io\n  * Base path for this API: /data/foundation/schemaregistry\n  * Example of a complete path for making a call to \"/stats\": https://<span>platform.adobe.io/data/foundation/schemaregistry/stats\n\n* **Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).\n  * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, \"prod\"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.\n  * All GET requests to the Schema Registry require an `Accept` header to determine what data is returned by the system. See the [section on `Accept` headers](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/getting-started.html?lang=en#accept) in the Schema Registry developer guide for more information.\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.\n\n- **API error handling**:\n  * Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
servers:
- url: https://platform.adobe.io/data/foundation/schemaregistry
tags:
- name: Data types
  description: Data types are used as reference field types in classes or schemas to define complex types. Data types may define multiple sub-fields providing a consistent multi-field structure.
paths:
  /{CONTAINER_ID}/datatypes:
    get:
      tags:
      - Data types
      summary: List data types
      description: '>**NOTE**: For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.'
      operationId: listDataTypes
      parameters:
      - $ref: '#/components/parameters/containerIdList'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/acceptListing'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/property'
      - $ref: '#/components/parameters/orderBy'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/limit'
      responses:
        200:
          x-summary: Success
          description: A successful response returns a list of all data types in the specified container.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listDataTypesResponse'
        '400':
          x-summary: Bad formatting
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a listing call with no version supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorList'
  /{CONTAINER_ID}/datatypes/{DATA_TYPE_ID}:
    get:
      tags:
      - Data types
      parameters:
      - $ref: '#/components/parameters/containerIdLookup'
      - $ref: '#/components/parameters/DATA_TYPE_ID'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/accept'
      summary: Retrieve a data type
      description: '>**NOTE**: For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.'
      operationId: retrieveDataType
      responses:
        200:
          x-summary: Success
          description: A successful response returns the details of the data type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lookupDataTypeResponse'
        '400':
          x-summary: Bad formatting
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid accept header for a lookup call including a version number (e.g. `application/vnd.adobe.xed+json;version=1`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorLookup'
  /tenant/datatypes:
    post:
      tags:
      - Data types
      summary: Create a custom data type
      description: '>**NOTE**: For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.'
      operationId: createDataType
      parameters:
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/content-type'
      - $ref: '#/components/parameters/createDataTypePayload'
      responses:
        201:
          x-summary: Success
          description: A successful response returns the details of the newly created data type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDataTypeResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
  /tenant/datatypes/{DATA_TYPE_ID}:
    put:
      tags:
      - Data types
      summary: Update a custom data type
      description: 'A PUT request essentially re-writes the data type, therefore the request body must include all fields required to create (POST) a data type. This is especially useful when updating a lot of information in the data type at once.


        >**NOTE**: For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.'
      operationId: replaceDatatype
      parameters:
      - $ref: '#/components/parameters/DATA_TYPE_ID'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/content-type'
      - $ref: '#/components/parameters/replaceDataTypePayload'
      responses:
        200:
          x-summary: Success
          description: A successful response returns the details of the updated data type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putDataTypeResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
    patch:
      tags:
      - Data types
      summary: Update a custom data type's attributes
      operationId: updateDataType
      description: 'You can use this endpoint to update one or more attributes of a custom data type.

        The Schema Registry supports all standard JSON Patch operations, including `add`, `remove`, and `replace`, to allow users to modify or update data types they have defined.


        >**NOTE**: For more information on JSON Patch, including all available operations, please refer to the [the official JSON Patch specification](https://datatracker.ietf.org/doc/html/rfc6902). > >For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.'
      parameters:
      - $ref: '#/components/parameters/DATA_TYPE_ID'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      - $ref: '#/components/parameters/content-type'
      - $ref: '#/components/parameters/patchDataTypePayload'
      responses:
        200:
          x-summary: Success
          description: A successful response returns the details of the updated data type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchDataTypeResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
    delete:
      tags:
      - Data types
      summary: Delete a custom data type
      description: 'Removing a data type is done through a DELETE request to the `$id` of the data type being removed.


        A successful deletion returns an empty response body and HTTP status 204 (No Content).


        >**NOTE**: For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.'
      operationId: deleteDatatype
      parameters:
      - $ref: '#/components/parameters/DATA_TYPE_ID'
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - $ref: '#/components/parameters/x-gw-ims-org-id'
      - $ref: '#/components/parameters/x-sandbox-name'
      responses:
        204:
          x-summary: No content
          description: A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the class has been deleted.
        404:
          x-summary: Not found
          description: The resource is not found.
        '500':
          x-summary: Internal server error
          description: There was an internal server error. Try the request again in a few minutes, and contact Adobe Support if the problem persists.
components:
  parameters:
    accept:
      name: Accept
      description: 'The desired response format. For lookup requests, a `version` parameter must be included, with the following `Accept` header values being permitted:

        <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed+json; version=1</code></td><td>Returns only the basic details of the resource, with all inherited fields relegated to <code>$ref</code> and <code>allOf</code> properties.</td></tr><tr><td><code>application/vnd.adobe.xed-full+json; version=1</code></td><td>Returns the full details of the resource, including the details all fields inherited from other resources.</td></tr><tr><td><code>application/vnd.adobe.xed-notext+json; version=1</code></td><td>Returns only the basic details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-notext+json; version=1</code></td><td>Returns the full details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-desc+json; version=1</code></td><td>Returns the full details of the resource, including descriptions but with no titles.</td></tr></tbody></table>'
      required: true
      in: header
      schema:
        type: string
    DATA_TYPE_ID:
      name: DATA_TYPE_ID
      description: The `meta:altId` or URL-encoded `$id` of the data type in question.
      required: true
      in: path
      schema:
        type: string
    replaceDataTypePayload:
      name: body
      description: The JSON payload must include all of the fields that were originally required for creating the data type, but with updated values.
      required: true
      in: body
      schema:
        $ref: '#/components/schemas/replaceDataType'
    containerIdList:
      name: CONTAINER_ID
      description: The name of the container that you want to list resources from. To list core resources provided by Adobe, use `global`. To list custom resources defined by your organization, use `tenant`.
      required: true
      in: path
      schema:
        type: string
    start:
      name: start
      description: 'When used in conjunction with an `orderby` parameter, `start` specifies where the paginated list of items should begin. This parameter cannot be used without an `orderby` parameter present.


        Typically, this parameter is omitted in order to obtain the first page of results. After that, `start` should be set to the maximum value of the primary sort property of the `orderby` field received in the previous page. The API response then returns entries beginning with those that have a primary sort property from `orderby` strictly greater than (for ascending) or strictly less than (for descending) the specified value.


        For example, if the `orderby` parameter is set to `orderby=name,firstname`, the `start` parameter would contain a value for the `name` property. In this case, if you wanted to show the next 20 entries of a resource immediately following the name "Miller", you would use: `?orderby=name,firstname&start=Miller&limit=20`.'
      required: false
      in: query
      schema:
        type: string
    property:
      name: property
      description: A comma-separated list of top-level object properties to be returned in the response. For example, `property=meta:intendedToExtend==https://ns.adobe.com/xdm/context/profile` returns only field groups that are compatible with the XDM Individual Profile class.
      in: query
      required: false
      schema:
        type: string
    containerIdLookup:
      name: CONTAINER_ID
      description: The name of the container that you want to retrieve a resource from. To retrieve a core resource provided by Adobe, use `global`. To retrieve a custom resource defined by your organization, use `tenant`.
      required: true
      in: path
      schema:
        type: string
    authorization:
      name: Authorization
      description: The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    x-gw-ims-org-id:
      name: x-gw-ims-org-id
      description: The IMS Organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    createDataTypePayload:
      name: body
      description: 'Unlike field groups, defining a data type does not require `meta:extends` or `meta:intendedToExtend` fields, nor do fields need to be nested to avoid collisions.

        When it comes to defining the field structure of data type itself, you can use primitive types (like `string` or `object`) or you can reference other existing data types through `$ref` attributes. See the guide on [defining custom XDM fields in the API](https://experienceleague.adobe.com/en/docs/experience-platform/xdm/tutorials/custom-fields-api) for detailed guidance on the expected format for different XDM field types.'
      required: true
      in: body
      schema:
        $ref: '#/components/schemas/createDataType'
    acceptListing:
      name: Accept
      description: "The desired response format. For listing calls, the following `Accept` header values are permitted: \n<table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed-id+json</code></td><td>Returns a short summary of each resource, generally the preferred header for listing.</td></tr><tr><td><code>application/vnd.adobe.xed+json</code></td><td>Returns full JSON for each resource, with the original <code>$ref</code> and <code>allOf</code> attributes included.</td></tr></tbody></table>"
      required: true
      in: header
      schema:
        type: string
    x-api-key:
      name: x-api-key
      description: The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    patchDataTypePayload:
      name: body
      description: The request body accepts a JSON Patch payload.
      required: true
      in: body
      schema:
        $ref: '#/components/schemas/patchDataType'
    limit:
      name: limit
      description: 'When used in conjunction with an `orderby` parameter, `limit` restricts the maximum number of items that should be returned for a given request. This parameter cannot be used without an `orderby` parameter present.


        The `limit` parameter specifies a positive integer (between `0` and `500`) as a *hint* as to the maximum number of items that should be returned. For example, `limit=5` returns only five resources in the list. However, this value is not strictly honored. The actual response size may be smaller or larger as constrained by the need to provide the reliable operation of the `start` parameter, if one is provided.'
      required: false
      in: query
      schema:
        type: number
    content-type:
      name: Content-Type
      description: The type of content being sent in the body of the request. When sending requests that include payloads to the Schema Registry API, this header must be included with a value of `application/json`.
      required: true
      in: header
      schema:
        type: string
    orderBy:
      name: orderby
      description: Sort the listed resources by specified fields. For example `orderby=title` sorts results by title in ascending order (A-Z). Adding a `-` before the field name (`orderby=-title`) sorts items in descending order (Z-A). Multiple fields can also be included to denote primary and secondary sort orders (for example, `orderby=title,description`).
      required: false
      in: query
      schema:
        type: string
    x-sandbox-name:
      name: x-sandbox-name
      description: The name of the sandbox in which the operation will take place. See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
      required: true
      in: header
      schema:
        type: string
  schemas:
    xdmTypeToSchema:
      type: object
      properties:
        meta:xdmType:
          type: string
          description: The XDM resource type (typically `object`).
        meta:status:
          type: string
          description: (For `global` resources only) The status of the resource.
        $schema:
          type: string
          description: The JSON schema definition that this resource is based on.
    createDataType:
      type: object
      properties:
        type:
          type: string
          description: The JSON Schema data type for the resource. Must be set to `object` or `array`.
          example: object
        title:
          type: string
          description: A title for the data type.
          example: Property Construction
        description:
          type: string
          description: A description for the data type.
          example: Information related to the property construction
        properties:
          type: object
          description: If `type` is set to `object`, this field describes the attributes that the object will provide. Not supported for `array` data types. See the guide on [defining XDM field types in the API](https://experienceleague.adobe.com/docs/experience-platform/xdm/tutorials/custom-fields-api.html) for more information on how to format XDM fields.
        items:
          type: object
          description: If `type` is set to `array`, this field describes the type and structure of each array list item. Not supported for `object` data types. See the guide on [defining XDM field types in the API](https://experienceleague.adobe.com/docs/experience-platform/xdm/tutorials/custom-fields-api.html) for more information on how to format XDM fields.
      required:
      - type
      - title
      example:
        title: Property Construction
        description: Information related to the property construction
        type: object
        properties:
          yearBuilt:
            type: integer
            title: Year Built
            description: The year the property was constructed.
          propertyType:
            type: string
            title: Property Type
            description: Type of building or structure in which the property exists.
            enum:
            - freeStanding
            - mall
            - shoppingCenter
            meta:enum:
              freeStanding: Free Standing Building
              mall: Mall Space
              shoppingCenter: Shopping Center
    lookupResourceCore:
      type: object
      properties:
        $id:
          type: string
          description: The URI ID of the XDM resource.
          example: https://ns.adobe.com/{TENANT_ID}/schemas/d4ad4b8463a67f6755f2aabbeb9e02c7
        meta:altId:
          type: string
          description: An alternate dot-notation ID for the XDM resource.
          example: _{TENANT_ID}.schemas.d4ad4b8463a67f6755f2aabbeb9e02c7
        meta:resourceType:
          type: string
          description: The type of XDM resource.
          example: schemas
        version:
          type: string
          description: The current version of the resource.
          example: 1.4
        title:
          type: string
          description: The title of the resource.
          example: Hotels
        type:
          type: string
          description: The JSON Schema element type that represents the XDM resource (typically `object`).
          example: object
        description:
          type: string
          description: A description for the resource.
    linksBasic:
      type: object
      description: Contains various links related to the response.
      properties:
        next:
          type: string
          description: A URI for the next page in the response, if one exists. Contains `null` if this is the last or only page in the response.
          example: null
    metaTenantNamespace:
      type: object
      properties:
        meta:tenantNamespace:
          type: string
          description: 'The namespace that all custom fields that the schema employs can be found under. Takes the form of your organization''s tenant ID prepended with an underscore: `_{TENANT_ID}`.'
    registryMetadata:
      type: object
      description: Contains registry-specific metadata about the XDM resource.
      properties:
        repo:createdDate:
          type: integer
          description: A Unix timestamp of when the resource was created.
        repo:lastModifiedDate:
          type: integer
          description: A Unix timestamp of when the resource was last modified.
        xdm:createdClientId:
          type: string
          description: The ID of the client that created the resource.
        xdm:lastModifiedClientId:
          type: string
          description: The ID of the client that last modified the resource.
        xdm:createdUserId:
          type: string
          description: The ID of the user that created the resource.
        xdm:lastModifiedUserId:
          type: string
          description: The ID of the user that last modified the resource.
        etag:
          type: string
          description: An HTTP entity tag (ETag) for the resource.
        meta:globalLibVersion:
          type: string
          description: The current global library version of the resource.
        meta:usageCount:
          type: integer
          description: The number of instances where this resource is referenced by other XDM resources.
    metaRegistryMetadata:
      type: object
      properties:
        meta:registryMetadata:
          $ref: '#/components/schemas/registryMetadata'
    lookupDataTypeResponse:
      allOf:
      - $ref: '#/components/schemas/singleDataTypeResponse'
      - properties:
          meta:createdDate:
            type: object
            description: (For `global` data types only) A timestamp of when the global data type was released.
      example:
        $id: https://ns.adobe.com/xdm/content/productlistitem
        meta:altId: _xdm.content.productlistitem
        meta:resourceType: datatypes
        version: 1.27.4
        title: Product list item
        type: object
        description: The product list item represents a product selected by a customer with specific options, pricing, usage context for a specific point of time and may differ from the product record. For example the product record contains details from the product information system that are consistent for all customers, where the product list item has the actual price offered to the customer at that time which may vary due to sales campaigns or seasonal pricing.
        definitions:
          productlistitem:
            properties:
              _id:
                title: Line item ID.
                type: string
                format: uri-reference
                description: The line item identifier for this product entry. The product itself is identified through `xdm:product`.
                meta:xdmType: string
                meta:xdmField: '@id'
              SKU:
                title: SKU
                type: string
                description: Stock keeping unit (SKU), the unique identifier for a product defined by the vendor.
                meta:xdmType: string
                meta:xdmField: xdm:SKU
              currencyCode:
                title: Currency code
                type: string
                examples:
                - USD
                - EUR
                pattern: ^[A-Z]{3}$
                description: The ISO 4217 alphabetic currency code used for pricing the product.
                meta:xdmType: string
                meta:xdmField: xdm:currencyCode
              name:
                title: Name
                type: string
                description: The display name for the product as presented to the user for this product view.
                meta:xdmType: string
                meta:xdmField: xdm:name
              priceTotal:
                title: Price total
                type: number
                description: The total price for the product line item.
                meta:xdmType: number
                meta:xdmField: xdm:priceTotal
              product:
                title: Product
                type: string
                format: uri
                description: The XDM identifier of the product itself.
                meta:xdmType: string
                meta:xdmField: xdm:product
              productAddMethod:
                title: Product add method
                type: string
                description: The method that was used to add a product item to the list by the visitor. Set with product list add metrics.
                meta:xdmType: string
                meta:xdmField: xdm:productAddMethod
              quantity:
                title: Quantity
                type: integer
                description: The number of units the customer has indicated they require of the product.
                meta:xdmType: int
                meta:xdmField: xdm:quantity
            required:
            - SKU
        allOf:
        - '$ref ': '#/definitions/productlistitem'
          type: object
          meta:xdmType: object
        - '$ref ': https://ns.adobe.com/xdm/mixins/product-measurement#/definitions/uomcode
          type: object
          meta:xdmType: object
        meta:xdmType: object
        meta:status: stable
        $schema: http://json-schema.org/draft-06/schema#
        meta:registryMetadata:
          repo:createdDate: 1635361816394
          repo:lastModifiedDate: 1635361816394
          eTag: ba11c63e004dd1db02b7475cf2908b2611890f2e7bd139e31ff064bb424c24c7
          meta:globalLibVersion: 1.27.4
          meta:usageCount: 33
        meta:createdDate: '2021-02-19'
    listDataTypesResponse:
      allOf:
      - $ref: '#/components/schemas/listResponse'
      - properties:
          results:
            items:
              allOf:
              - $ref: '#/components/schemas/singleDataTypeResponse'
              - properties:
                  meta:createdDate:
                    type: object
                    description: (For `global` data types only) A timestamp of when the global data type was released.
      example:
        results:
        - $id: https://ns.adobe.com/xdm/context/webinfo
          meta:altId: _xdm.context.webinfo
          meta:resourceType: datatypes
          version: 1.27.4
          title: Web information
          type: object
          description: ''
          definitions:
            webinfo:
              properties:
                webInteraction:
                  title: Web interaction
                  type: object
                  description: Details about the web link or URL that corresponds to where the interaction occurred.
                  properties:
                    URL:
                      title: URL
                      type: string
                      description: The actual link or URL used for this web interaction.
                      meta:xdmType: string
                      meta:xdmField: xdm:URL
                    linkClicks:
                      title: Link Clicks
                      '$ref ': https://ns.adobe.com/xdm/data/measure
                      description: Click of a web link has occurred.
                      type: object
                      meta:xdmType: object
                      meta:xdmField: xdm:linkClicks
                    name:
                      title: Name
                      type: string
                      description: The normative name used for this web link, used for classification purposes.
                      meta:xdmType: string
                      meta:xdmField: xdm:name
                    region:
                      title: Region
                      type: string
                      description: The region name represents the region or area of a document that the web link belongs to such as header or footer.
                      meta:xdmType: string
                      meta:xdmField: xdm:region
                    type:
                      title: Type
                      type: string
                      description: The link type.
                      enum:
                      - download
                      - exit
                      - other
                      meta:enum:
                        download: Download
                        exit: Exit
                        other: Other
                      meta:xdmType: string
                      meta:xdmField: xdm:type
                  meta:xdmType: object
                  meta:xdmField: xdm:webInteraction
                webPageDetails:
                  title: Web page details
                  type: object
                  description: Details about the web page where the web interaction occurred.
                  properties:
                    URL:
                      title: URL
                      type: string
                      description: The normative or usual URL of the web page.  This may or may not be the actual URL used to reach the page, which would be recorded using `Web Link`.
                      meta:xdmType: string
                      meta:xdmField: xdm:URL
                    isErrorPage:
                      title: Is error page
                      type: boolean
                      description: Flag that indicate if the page is error page or not.  Error here is defined by the application, and may nor may not correspond to a page served with an HTTP error code.  This flag is used to broadly categorize web interactions.
                      meta:xdmType: boolean
                      meta:xdmField: xdm:isErrorPage
                    isHomePage:
                      title: Is home page
                      type: boolean
                      description: Flag that indicate if the page is the site home page or not.  The definition of home page is determined by the application, but is commonly used to designate a top level landing page or common site entry point.  This flag is used to broadly categorize web interactions.
                      meta:xdmType: boolean
                      meta:xdmField: xdm:isHomePage
                    name:
                      title: Name
                      type: string
                      description: The normative name of the web page. This name is not necessarily the page title or directly associate with page content, but is used to organize a site's pages for classification purposes.
                      meta:xdmType: string
                      meta:xdmField: xdm:name
                    pageViews:
                      title: Page Views
                      '$ref ': https://ns.adobe.com/xdm/data/measure
                      description: View(s) of a webpage has occurred.
                      type: object
                      meta:xdmType: object
                      meta:xdmField: xdm:pageViews
                    server:
                      title: Server
                      type: string
                      description: The normative or usual server that hosts the web page.  This may or may not be the host or server that actually served the page interaction, but is used for classification purposes.
                      meta:xdmType: string
                      meta:xdmField: xdm:server
                    siteSection:
                      title: Site section
                      type: string
                      description: The normative name of the site section where this web page resides, which may be used to classify or categorize the interaction.
                      meta:xdmType: string
                      meta:xdmField: xdm:siteSection
                    viewName:
                      title: View Name
                      type: string
                      description: The name of the view, within a page. This is commonly used with Single Page Applications or pages that have tabs or controls that change a majority of the page layout.
                      meta:xdmType: string
                      meta:xdmField: xdm:viewName
                  meta:xdmType: object
                  meta:xdmField: xdm:webPageDetails
                webReferrer:
                  title: Web referrer
                  type: object
                  description: The referrer of a web interaction, which is the URL a visitor came from immediately before the current web interaction was recorded.
                  properties:
                    URL:
                      title: URL
                      type: string
                      description: The referrer URL.
                      meta:xdmType: string
                      meta:xdmField: xdm:URL
                    type:
                      title: Type
                      type: string
                      description: The referrer type.
                      enum:
                      - internal
                      - external
                      - search_engine
                      - typed_bookmarked
                      - email
                      - social
                      - unknown
                      - usenet
                      meta:enum:
                        internal: Internal
                        external: External
                        search_engine: Search engine
                        typed_bookmarked: Typed or bookmarked
                        email: Email
                        social: Social network
                        unknown: Unknown
                        news: Usenet newsgroup
                      meta:xdmType: string
                      meta:xdmField: xdm:type
                  meta:xdmType: object
                  meta:xdmField: xdm:webReferrer
          allOf:
          - '$ref ': https://ns.adobe.com/xdm/common/extensible#/definitions/@context
            type: object
            meta:xdmType: object
          - '$ref ': '#/definitions/webinfo'
            type: object
            meta:xdmType: object
          meta:extensible: true
          meta:xdmType: object
          meta:status: stable
          $schema: http://json-schema.org/draft-06/schema#
          meta:registryMetadata:
            repo:createdDate: 1635361816390
            repo:lastModifiedDate: 1635361816390
            eTag: 9acb5ce67a37306d5b50f4d7d714ddac2bb30b4dcf8ccbef7affbb887b9f2677
            meta:globalLibVersion: 1.27.4
            meta:usageCount: 11
          meta:createdDate: '2021-02-19'
        - $id: https://ns.adobe.com/xdm/content/productlistitem
          meta:altId: _xdm.content.productlistitem
          meta:resourceType: datatypes
          version: 1.27.4
          title: Product list item
          type: object
          description: The product list item represents a product selected by a customer with specific options, pricing, usage context for a specific point of time and may differ from the product record. For example the product record contains details from the product information system that are consistent for all customers, where the product list item has the actual price offered to the customer at that time which may vary due to sales campaigns or seasonal pricing.
          definitions:
            productlistitem:
              properties:
                _id:
                  title: Line item ID.
                  type: string
                  format: uri-reference
                  description: The line item identifier for this product entry. The product itself is identified through `xdm:product`.
                  meta:xdmType: string
                  meta:xdmField: '@id'
                SKU:
                  title: SKU
                  type: string
                  description: Stock keeping unit (SKU), the unique identifier for a product defined by the vendor.
                  meta:xdmType: string
                  meta:xdmField: xdm:SKU
                currencyCode:
                  title: Currency code
                  type: string
                  examples:
                  - USD
                  - EUR
                  pattern: ^[A-Z]{3}$
                  description: The ISO 4217 alphabetic currency code used for pricing the product.
                  meta:xdmType: string
                  meta:xdmField: xdm:currencyCode
                name:
                  title: Name
                  type: string
                  description: The display name for the product as presented to the user for this product view.
                  meta:xdmType: string
                  meta:xdmField: xdm:name
                priceTotal:
                  title: Price total
                  type: number
                  description: The total price for the product line item.
                  meta:xdmType: number
                  meta:xdmField: xdm:priceTotal
                product:
                  title: Product
                  type: string
                  format: uri
                  description: The XDM identifier of the product itself.
                  meta:xdmType: string
                  meta:xdmField: xdm:product
                productAddMethod:
                  title: Product add method
                  type: string
                  description: The method that was used to add a product item to the list by the visitor. Set with product list add metrics.
                  meta:xdmType: string
                  meta:xdmField: xdm:productAddMethod
                quantity:
                  title: Quantity
                  type: integer
                  description: The number of units the customer has indicated they require of the product.
                  meta:xdmType: int
                  meta:xdmField: xdm:quantity
              required:
              - SKU
          allOf:
          - '$ref ': '#/definitions/productlistitem'
            type: object
            meta:xdmType: object
          - '$ref ': https://ns.adobe.com/xdm/mixins/product-measurement#/definitions/uomcode
            type: object
            meta:xdmType: object
          meta:xdmType: object
          meta:status: stable
          $schema: http://json-schema.org/draft-06/schema#
          meta:registryMetadata:
            repo:createdDate: 1635361816394
            repo:lastModifiedDate: 1635361816394
            eTag: ba11c63e004dd1db02b7475cf2908b2611890f2e7bd139e31ff064bb424c24c7
            meta:globalLibVersion: 1.27.4
            meta:usageCount: 33
          meta:createdDate: '2021-02-19'
        _page:
          orderby: updated
          next: null
          count: 2
        _links:
          next: null
    listResponseItem:
      type: object
      properties:
        title:
          type: string
          description: The title of the XDM resource.
          example: Tenant Data Schema
        $id:
          type: string
          description: The URI ID of the XDM resource.
          example: https://ns.adobe.com/{TENANT_ID}/schemas/274f17bc5807ff307a046bab1489fb18
        meta:altId:
          type: string
          description: An alternate dot-notation ID for the XDM resource.
          example: _{TENANT_ID}.schemas.274f17bc5807ff307a046bab1489fb18
    acceptErrorList:
      allOf:
      - $ref: '#/components/schemas/errorBasic'
      example:
        type: http://ns.adobe.com/aep/errors/XDM-1006-400
        title: Accept header invalid
        status: 400
        report:
          registryRequestId: d2550d48-95f5-43ee-adb7-1035bf9d3258
          timestamp: 11-25-2020 07:56:25
          detailed-message: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json;version=1 - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json'
          sub-errors: []
        detail: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json;version=1 - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json'
    allOfRef:
      type: object
      properties:
        $ref:
          type: string
          description: The `$id` of the XDM resource.
        type:
          type: string
          description: The resource type (typically `object`).
        meta:xdmType:
          type: string
          description: The XDM resource type (typically `object`).
    lookupResourceWithDefinitions:
      allOf:
      - $ref: '#/components/schemas/lookupResourceCore'
      - properties:
          definitions:
            type: object
            description: Contains definitions for the unique attributes provided by the resource.
          allOf:
            type: array
            description: A list of objects that refer to the common definitions and fields that the resource inherits.
            items:
              $ref: '#/components/schemas/allOfRef'
          meta:extensible:
            type: boolean
            description: Indicates whether this resource is extensible or not.
          meta:abstract:
            type: boolean
            description: Indicates whether this resource is abstract or not.
    createDataTypeResponse:
      allOf:
      - $ref: '#/components/schemas/singleDataTypeResponse'
      - $ref: '#/components/schemas/resourceContainers'
      - $ref: '#/components/schemas/metaTenantNamespace'
      example:
        $id: https://ns.adobe.com/{TENANT_ID}/datatypes/669ffcc61cf5e94e8640dbe6a15f0f24eb3cd1ddbbfb6b36
        meta:altId: _{TENANT_ID}.datatypes.669ffcc61cf5e94e8640dbe6a15f0f24eb3cd1ddbbfb6b36
        meta:resourceType: datatypes
        version: '1.0'
        title: Property Construction
        type: object
        description: Information related to the property construction
        properties:
          yearBuilt:
            type: integer
            title: Year Built
            description: The year the property was constructed.
            meta:xdmType: int
          propertyType:
            type: string
            title: Property Type
            description: Type of building or structure in which the property exists.
            enum:
            - freeStanding
            - mall
            - shoppingCenter
            meta:enum:
              freeStanding: Free Standing Building
              mall: Mall Space
              shoppingCenter: Shopping Center
            meta:xdmType: string
        refs: []
        imsOrg: '{ORG_ID}'
        meta:extensible: true
        meta:abstract: true
        meta:xdmType: object
        meta:registryMetadata:
          repo:createdDate: 1670885230789
          repo:lastModifiedDate: 1670885230789
          xdm:createdClientId: '{CLIENT_ID}'
          xdm:lastModifiedClientId: '{CLIENT_ID}'
          xdm:createdUserId: '{USER_ID}'
          xdm:lastModifiedUserId: '{USER_ID}'
          eTag: d3cc803a1f8daa06b7c150d882bd337d88f4d5d5f08d36cfc4c2849dc0255f7e
          meta:globalLibVersion: 1.38.3.1
        meta:containerId: tenant
        meta:sandboxId: 1bd86660-c5da-11e9-93d4-6d5fc3a66a8e
        meta:sandboxType: production
        meta:tenantNamespace: _{TENANT_ID}
    putDataTypeResponse:
      allOf:
      - $ref: '#/components/schemas/createDataTypeResponse'
      - properties:
          description:
            example: Updated description of the data type.
          version:
            example: '1.1'
    acceptErrorLookup:
      allOf:
      - $ref: '#/components/schemas/errorBasic'
      example:
        type: http://ns.adobe.com/aep/errors/XDM-1007-400
        title: Accept header invalid
        status: 400
        report:
          registryRequestId: fc4f81b7-d0aa-4116-a0e1-e6f9c82b6470
          timestamp: 11-02-2021 07:42:43
          detailed-message: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json; version=1 (Version should be specified)'
          sub-errors: []
        detail: 'The supplied Accept header is not valid: application/vnd.adobe.xed+json - A valid Accept value should look like application/vnd.adobe.''{xed|xdm''}+json; version=1 (Version should be specified)'
    singleDataTypeResponse:
      allOf:
      - $ref: '#/components/schemas/lookupResourceWithDefinitions'
      - properties:
          meta:extends:
            type: array
            description: An array that contains the `$id` values of the XDM resources this data type extends.
            items:
              type: string
              description: The `$id` of the resource this data type extends.
      - $ref: '#/components/schemas/xdmTypeToSchema'
      - $ref: '#/components/schemas/metaRegistryMetadata'
    patchDataTypeResponse:
      allOf:
      - $ref: '#/components/schemas/createDataTypeResponse'
      - properties:
          version:
            example: '1.1'
          properties:
            example:
              field1:
                title: Field 1
                description: Description of Field 1.
                type: string
              field2:
                title: Field 2
                description: Description of Field 2.
                type: integer
              field3:
                title: Field 3
                description: Description of Field 3.
                type: string
                format: date
    listResponseBasic:
      type: object
      properties:
        results:
          type: array
          description: Lists the basic details of the returned XDM resources.
          items:
            $ref: '#/components/schemas/listResponseItemWithVersion'
        _page:
          type: object
          description: Contains pagination information related to the response.
          properties:
            orderby:
              type: string
              description: The attribute that results are sorted by.
              example: title
            next:
              type: string
              description: A URI for the next page in the response, if one exists. Contains `null` if this is the last or only page in the response.
              example: null
            count:
              type: integer
              description: The number of results returned per page.
              example: 2
        _links:
          $ref: '#/components/schemas/linksBasic'
      example:
        results:
        - $id: https://ns.adobe.com/{TENANT_ID}/schemas/0238be93d3e7a06aec5e0655955901ec
          meta:altId: _{TENANT_ID}.schemas.0238be93d3e7a06aec5e0655955901ec
          version: '1.4'
          title: Hotels
        - $id: https://ns.adobe.com/{TENANT_ID}/schemas/0ef4ce0d390f0809fad490802f53d30b
          meta:altId: _{TENANT_ID}.schemas.0ef4ce0d390f0809fad490802f53d30b
          version: '1.0'
          title: Loyalty Members
        _page:
          orderby: title
          next: null
          count: 2
        _links:
          next: null
          global_schemas:
            href: https://platform.adobe.io/data/foundation/schemaregistry/global/schemas
    listResponseItemWithVersion:
      allOf:
      - $ref: '#/components/schemas/listResponseItem'
      - properties:
          version:
            type: string
            description: The current version of the XDM resource.
            example: '1.1'
    patchDataType:
      type: array
      items:
        type: object
        properties:
          op:
            description: Type of JSON Patch operation being performed.
            type: string
            example: add
          path:
            description: Location where the operation is being performed.
            type: string
            example: /properties/field3
          value:
            description: Required elements vary depending on type of 'value' (e.g. string, integer, object, etc.)
            type: object
            example:
              title: Field 3
              type: string
              format: date
              description: Description of Field 3.
    listResponse:
      allOf:
      - $ref: '#/components/schemas/listResponseBasic'
      - properties:
          _links:
            $ref: '#/components/schemas/linksBasic'
    errorBasic:
      type: object
      properties:
        type:
          type: string
          description: The XDM error code.
        title:
          type: string
          description: The error code title.
        status:
          type: integer
          description: The HTTP status code for the error.
        report:
          type: object
          description: Contains registry information about the error.
          properties:
            registryRequestId:
              type: string
              description: A unique ID for the report.
            timestamp:
              type: string
              description: A timestamp of when the error occurred.
            detailed-message:
              type: string
              description: A detailed message about what caused the error.
            sub-errors:
              type: array
              description: Contains details about other errors that this error is a parent of.
              items:
                $ref: '#/components/schemas/errorBasic'
        detail:
          type: string
          description: A detailed message about what caused the error.
    resourceContainers:
      type: object
      properties:
        meta:containerId:
          type: string
          description: The container for the schema, either `global` or `tenant`.
        meta:sandboxId:
          type: string
          description: The ID of the Platform sandbox that contains the schema.
        meta:sandboxType:
          type: string
          description: The type of Platform sandbox that contains the schema, either `production` or `development`.
    replaceDataType:
      allOf:
      - $ref: '#/components/schemas/createDataType'
      - properties:
          description:
            example: Updated description for the data type.
