openapi: 3.2.0
info:
  title: Reactor Properties API
  description: "Use the Reactor API to programmatically manage resources and develop tag extensions in Adobe Experience Platform.\n**Related documentation**:\n  * [Tags overview and UI documentation](https://adobe.com/go/launch_help_en)\n  * [Reactor API guides](https://adobe.com/go/reactor-api-overview)\n\n**API paths**:\n  * Reactor Gateway URL: https://<span>reactor.adobe.io\n  * Example of a complete path for making a call to `/properties`: https://<span>reactor.adobe.io/properties\n\n**Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).\n  * All GET requests to the Reactor API require an `Accept` header to determine what data is returned by the system. In most cases, this value will be `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type`. The specific `Content-Type` value for each call is provided in the parameters sections in the endpoints listed below.\n\n- **API error handling**:\n    - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
  version: '1.0'
servers:
- url: //reactor.adobe.io
tags:
- name: Properties
  description: A property is a container that holds most of the other resources available within the Reactor API. The only resources that are not owned by a property are audit events, companies, extension packages, and profiles. A property belongs to exactly one company, and a company can have many properties.
paths:
  /companies/{COMPANY_ID}/properties:
    get:
      tags:
      - Properties
      summary: List a company's properties
      description: '>**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.'
      operationId: listProperties
      parameters:
      - name: COMPANY_ID
        in: path
        description: The ID of the company whose properties you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: app_id
        in: query
        description: Filter by `app_id`.
        schema:
          type: string
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: copying
        in: query
        description: Filter by `copying`. This is a legacy attribute that is specific to properties that were migrated from the original Dynamic Tag Management (DTM) system to the current system. A `copying` property is a property that is populating its information from its original DTM implementation.
        schema:
          type: boolean
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: platform
        in: query
        description: Filter by `platform`.
        schema:
          type: string
      - name: token
        in: query
        description: Filter by `token`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array, listing the properties belonging to the specified company.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/propertiesListResponse'
    post:
      tags:
      - Properties
      summary: Create a new property
      description: '>**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.'
      operationId: createProperty
      parameters:
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      - name: COMPANY_ID
        in: path
        description: The ID of the company that you want to define the property under.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createPropertyPayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/propertiesLookupResponse'
      x-codegen-request-body-name: body
  /properties/{PROPERTY_ID}:
    get:
      tags:
      - Properties
      summary: Retrieve a property
      description: '>**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.'
      operationId: retrieveProperty
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/propertiesLookupResponse'
    delete:
      tags:
      - Properties
      summary: Delete a property
      description: '>**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.'
      operationId: deleteProperty
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - Properties
      summary: Update a property
      description: '>**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.'
      operationId: updateProperty
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property you want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/propertiesUpdatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/propertiesUpdateResponse'
      x-codegen-request-body-name: body
  /properties/{PROPERTY_ID}/company:
    get:
      tags:
      - Properties
      summary: Retrieve the company that owns a property
      description: '>**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.'
      operationId: retrievePropertyCompany
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose company you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the company that owns the property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/companiesLookupResponse'
  /properties/{PROPERTY_ID}/callbacks:
    get:
      tags:
      - Properties
      summary: List a property's callbacks
      description: '>**NOTE**: For more information on using this operation, see the [callbacks endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/callbacks.html) on Experience League.'
      operationId: listCallbacks
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose callbacks you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of callbacks belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/callbacksListResponse'
    post:
      tags:
      - Properties
      summary: Create a new callback
      description: '>**NOTE**: For more information on using this operation, see the [callbacks endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/callbacks.html) on Experience League.'
      operationId: createCallback
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a callback for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/callbacksCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created callback.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/callbacksCreateResponse'
      x-codegen-request-body-name: body
  /properties/{PROPERTY_ID}/data_elements:
    get:
      tags:
      - Properties
      summary: List a property's data elements
      description: '>**NOTE**: For more information on using this operation, see the [data elements endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/data-elements.html) on Experience League.'
      operationId: listPropertyDataElements
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose data elements you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: published_at
        in: query
        description: Filter by `published_at` timestamp.
        schema:
          type: string
      - name: published
        in: query
        description: Filter by `published` status.
        schema:
          type: string
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: origin_id
        in: query
        description: Filter by `origin_id`.
        schema:
          type: string
      - name: revision_number
        in: query
        description: Filter by `revision_number`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of data elements belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/dataElementsListResponse'
    post:
      tags:
      - Properties
      summary: Create a data element
      description: '>**NOTE**: For more information on using this operation, see the [data elements endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/data-elements.html) on Experience League.'
      operationId: createDataElement
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a data element for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/dataElementsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created data element.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/dataElementsCreateResponse'
      x-codegen-request-body-name: body
  /properties/{PROPERTY_ID}/environments:
    get:
      tags:
      - Properties
      summary: List a property's environments
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: listEnvironments
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose environments you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: stage
        in: query
        description: Filter by `stage`.
        schema:
          type: string
      - name: token
        in: query
        description: Filter by `token`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of environments belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsListResponse'
    post:
      tags:
      - Properties
      summary: Create an environment
      description: '>**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.'
      operationId: createEnvironment
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create an environment for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/environmentsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created environment.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsCreateResponse'
      x-codegen-request-body-name: body
  /properties/{PROPERTY_ID}/extensions:
    get:
      tags:
      - Properties
      summary: List a property's extensions
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: listExtensions
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose extensions you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: display_name
        in: query
        description: Filter by `display_name`.
        schema:
          type: string
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: origin_id
        in: query
        description: Filter by `origin_id`.
        schema:
          type: string
      - name: published
        in: query
        description: Filter by `published` status.
        schema:
          type: string
      - name: published_at
        in: query
        description: Filter by `published_at` timestamp.
        schema:
          type: string
      - name: revision_number
        in: query
        description: Filter by `revision_number`.
        schema:
          type: string
      - name: version
        in: query
        description: Filter by `version`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of extensions belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsListResponse'
    post:
      tags:
      - Properties
      summary: Create an extension
      description: '>**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.'
      operationId: createExtension
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create an extension for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/extensionsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created extension.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionsCreateResponse'
      x-codegen-request-body-name: body
  /properties/{PROPERTY_ID}/hosts:
    get:
      tags:
      - Properties
      summary: List a property's hosts
      description: '>**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.'
      operationId: listHosts
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose hosts you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: display_name
        in: query
        description: Filter by `display_name`.
        schema:
          type: string
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: origin_id
        in: query
        description: Filter by `origin_id`.
        schema:
          type: string
      - name: published
        in: query
        description: Filter by `published` status.
        schema:
          type: string
      - name: published_at
        in: query
        description: Filter by `published_at` timestamp.
        schema:
          type: string
      - name: revision_number
        in: query
        description: Filter by `revision_number`.
        schema:
          type: string
      - name: version
        in: query
        description: Filter by `version`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of hosts belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/hostsListResponse'
    post:
      tags:
      - Properties
      summary: Create a host
      description: '>**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.'
      operationId: createHost
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a host for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/hostsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created host.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/hostsCreateResponse'
      x-codegen-request-body-name: body
  /properties/{PROPERTY_ID}/libraries:
    get:
      tags:
      - Properties
      summary: List a property's libraries
      description: '>**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.'
      operationId: listLibraries
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose libraries you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: stale
        in: query
        description: Filter by `stale` status. A library becomes stale when another library on the [upstream](https://experienceleague.adobe.com/docs/experience-platform/tags/publish/publishing-flow.html#upstream) has been changed and the current library needs to be rebuilt to reflect those changes. A library may also enter a stale state if one of the extensions it uses receives an update.
        schema:
          type: string
      - name: state
        in: query
        description: Filter by `state`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of libraries belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesListResponse'
    post:
      tags:
      - Properties
      summary: Create a library
      description: '>**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.'
      operationId: createLibrary
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a library for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesCreateResponse'
      x-codegen-request-body-name: body
  /properties/{PROPERTY_ID}/rules:
    get:
      tags:
      - Properties
      summary: List a property's rules
      description: '>**NOTE**: For more information on using this operation, see the [rules endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/rules.html) on Experience League.'
      operationId: listRules
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose rules you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: dirty
        in: query
        description: Filter by `dirty` (whether the resource contains changes that haven't been pushed to a library).
        schema:
          type: string
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: origin_id
        in: query
        description: Filter by `origin_id`.
        schema:
          type: string
      - name: published
        in: query
        description: Filter by `published` status.
        schema:
          type: string
      - name: published_at
        in: query
        description: Filter by `published_at` timestamp.
        schema:
          type: string
      - name: revision_number
        in: query
        description: Filter by `revision_number`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of rules belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesListResponse'
    post:
      tags:
      - Properties
      summary: Create a rule
      description: '>**NOTE**: For more information on using this operation, see the [rules endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/rules.html) on Experience League.'
      operationId: createRule
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a rule for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/rulesCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created rule.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesCreateResponse'
      x-codegen-request-body-name: body
  /properties/{PROPERTY_ID}/secrets:
    get:
      tags:
      - Properties
      summary: List a property's secrets
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: listPropertySecrets
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose secrets you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: environment_id
        in: query
        description: Filter by `environment_id`.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by `status`.
        schema:
          type: string
      - name: type_of
        in: query
        description: Filter by `type`.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of secrets belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsListResponse'
    post:
      tags:
      - Properties
      summary: Create a secret
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: createSecret
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a secret for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/secretsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created secret.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsCreateResponse'
      x-codegen-request-body-name: body
  /properties/{PROPERTY_ID}/notes:
    get:
      tags:
      - Properties
      summary: List a property's notes
      description: '>**NOTE**: For more information on using this operation, see the [notes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/notes.html) on Experience League.'
      operationId: listPropertyNotes
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose notes you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: text
        in: query
        description: Filter by `text`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of notes belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/propertiesNotesListResponse'
    post:
      tags:
      - Properties
      summary: Create a note for a property
      description: '>**NOTE**: For more information on using this operation, see the [notes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/notes.html) on Experience League.'
      operationId: createPropertyNote
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a note for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/propertiesNotesCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created note.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/propertiesNotesCreateResponse'
      x-codegen-request-body-name: body
components:
  schemas:
    hostsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    environmentsAttributes:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the environment.
        archive:
          type: boolean
          description: Indicates whether the environment should be archived.
        archive_passphrase:
          type: string
          description: A passphrase for the environment if `archive` is set to `true`.
        path:
          type: string
          description: The path for the environment.
        stage:
          type: string
          description: The stage for the environment (`development`, `staging`, or `production`).
    secretsRelationships:
      required:
      - environment
      type: object
      properties:
        environment:
          required:
          - data
          type: object
          properties:
            data:
              required:
              - id
              - type
              type: object
              properties:
                id:
                  type: string
                  description: The ID of the environment.
                type:
                  type: string
                  description: The resource type for the environment (`environments`).
              description: Contains the basic information about the environment.
          description: Establishes the required relationship between the secret and the environment it is associated with.
    relatedResource:
      type: object
      properties:
        resource:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the resource.
                type:
                  type: string
                  description: The resource type.
              description: Contains further information about the related resource.
          description: Contains a link to the resource that that the note is attached to.
    hostsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/hostsEntity'
    relatedProperty:
      type: object
      properties:
        property:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related property for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related property for the resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the property.
                type:
                  type: string
                  description: The resource type for the property (`properties`).
              description: Contains further information about the related property.
          description: Contains details about the property that owns the resource.
    relatedCompany:
      type: object
      properties:
        company:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related company.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related company.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the company.
                type:
                  type: string
                  description: The resource type for the company (`companies`).
              description: Contains further information about the related company.
          description: Contains information about the company that owns the resource.
    relatedLibraries:
      type: object
      properties:
        libraries:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related libraries for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related libraries for the resource.
          description: Contains a link to the related libraries for the resource.
    callbacksListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    companiesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/companiesEntity'
    dataElementsCreateResponse:
      allOf:
      - $ref: '#/components/schemas/dataElementsLookupResponse'
    rulesCreateResponse:
      allOf:
      - $ref: '#/components/schemas/rulesLookupResponse'
    companiesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the company was created in the system.
              name:
                type: string
                description: The company name.
              org_id:
                type: string
                description: The ID for the IMS Organization that owns the company entity.
              updated_at:
                type: string
                description: A timestamp of when the company was last updated.
              token:
                type: string
                description: 'A unique token for the company.


                  When a build is pushed to an Adobe-managed host (`akamai`), this token is used to identify the company within the library''s folder structure. This also prevent''s the company''s `id` value from being unnecessarily exposed. This also applies to `sftp` hosts so that libraries are constructed in the same manner.'
              cjm_enabled:
                type: boolean
                description: Indicates whether the company is enabled for Customer Journey Management.
              edge_enabled:
                type: boolean
                description: Indicates whether the company is enabled for event forwarding.
              edge_events_allotment:
                type: integer
                description: The event forwarding allotment for your organization. Please check with your CSM or contract information for more information on this value.
              edge_fanout_ratio:
                type: integer
                description: The number of servers that events are configured to be forwarded to.
              premium_cdn_enabled:
                type: boolean
                description: If the company has purchased an offer for a premium  content delivery network (CDN), this flag will be set to `true`.
              sla_enabled:
                type: boolean
                description: If the company has purchased a service level agreement  (SLA), this flag will be set to `true`.
            description: Contains the company's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this company.
            allOf:
            - $ref: '#/components/schemas/relatedProperties'
          links:
            type: object
            properties:
              self:
                type: string
                description: A link to the company itself.
              properties:
                type: string
                description: A link to the properties that are owned by the company.
            description: Contains links related to the company which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              rights:
                type: array
                description: Lists the rights that are enabled for the company.
                items:
                  type: string
              platform_rights:
                type: object
                properties:
                  web:
                    type: array
                    description: Lists the rights that are enabled for web properties belonging to the company.
                    items:
                      type: string
                  mobile:
                    type: array
                    description: Lists the rights that are enabled for mobile properties belonging to the company.
                    items:
                      type: string
                description: Contains the platform-specific rights that are enabled for the company.
            description: Contains meta information about the company.
    relatedEnvironments:
      type: object
      properties:
        environments:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related environments for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related environments for the resource.
          description: Contains a link to the related environments for the resource.
    librariesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/librariesEntity'
    notesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              author_display_name:
                type: string
                description: The display name for the note's author.
              author_email:
                type: string
                description: The email address for the note's author.
              created_at:
                type: string
                description: A timestamp of when the note was created in the system.
              text:
                type: string
                description: The contents of the note.
            description: Contains the note's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this note.
            allOf:
            - $ref: '#/components/schemas/relatedResource'
          links:
            type: object
            properties:
              resource:
                type: string
                description: A link to the resource that the note is attached to.
              self:
                type: string
                description: A link to the note itself.
            description: Contains links related to the note which can be used in subsequent fetch requests.
    secretsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the secret was created in the system.
              updated_at:
                type: string
                description: A timestamp of when the secret was last updated.
              name:
                type: string
                description: The secret name.
              type_of:
                type: string
                description: 'The type of secret credential. Has three possible values:



                  * `token`: A token string.

                  * `simple-http`: A username and password.

                  * `oauth2`: Credentials conforming to the OAuth standard.'
              activated_at:
                type: string
                description: A timestamp of when the secret was activated.
              expires_at:
                type: string
                description: A timestamp of when the secret expires.
              refreshes_at:
                type: string
                description: A timestamp of when the secret credential will refresh.
              status:
                type: string
                description: The current exchange status for the secret.
              credentials:
                type: object
                properties: {}
                description: An object that contains the credential values for the  secret. Depending on the `type_of` attribute, different properties  must provided. See the section on [credentials](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/secrets.html?lang=en#credentials)  in the secrets guide for details on the requirements for each  type.
            description: Contains the secret's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this secret.
            allOf:
            - $ref: '#/components/schemas/relatedProperty'
            - $ref: '#/components/schemas/relatedEnvironmentWithMeta'
            - $ref: '#/components/schemas/relatedNotes'
            - $ref: '#/components/schemas/relatedDataElements'
          links:
            type: object
            properties:
              self:
                type: string
                description: A link to the secret itself.
              property:
                type: string
                description: A link to the property that owns the secret.
            description: Contains links related to the secret which can be used in subsequent fetch requests.
    relatedEnvironmentWithMeta:
      allOf:
      - $ref: '#/components/schemas/relatedEnvironment'
      - type: object
        properties:
          environment:
            type: object
            properties:
              meta:
                type: object
                properties:
                  stage:
                    type: string
                    description: The publishing flow stage for the environment.
                description: Contains meta information about the environment.
    dataElementsCreateAttributes:
      allOf:
      - $ref: '#/components/schemas/dataElementsAttributes'
    propertiesUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/dataUpdate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/propertiesAttributes'
    relatedUpdatedWithExtension:
      type: object
      properties:
        updated_with_extension:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extension.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extension.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension.
                type:
                  type: string
                  description: The resource type for the extension (`extensions`).
              description: Contains further information about the related extension.
          description: Contains information about the extension that updated the resource, if applicable.
    extensionsCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreateWithRelationships'
      - type: object
        properties:
          data:
            required:
            - relationships
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/extensionsAttributes'
              relationships:
                type: object
                allOf:
                - $ref: '#/components/schemas/extensionsRelationships'
    propertiesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    notesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/notesEntity'
    rulesCreateAttributes:
      allOf:
      - $ref: '#/components/schemas/rulesAttributes'
    relatedExtensionPackage:
      type: object
      properties:
        extension_package:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the extension package.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the extension package.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension package.
                type:
                  type: string
                  description: The resource type for the extension package (`extension_packages`).
              description: Contains further information about the extension package.
          description: Contains information about the related package for the extension.
    secretsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/secretsEntity'
    rulesAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the rule.
        enabled:
          type: boolean
          description: Indicates whether this rule will be enabled upon creation.
    hostsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the host was created in the system.
              server:
                type: string
                description: The URL of the server associated with the host.
              name:
                type: string
                description: The name of the host.
              path:
                type: string
                description: The path for the host (i.e. what comes after the `server` URL).
              port:
                type: integer
                description: The port number for the server URL.
              status:
                type: string
                description: The current status of the host.
              skip_symlinks:
                type: boolean
                description: '**Note**: This attribute is only available for SFTP hosts.


                  By default, all SFTP hosts use symbolic links (symlinks) to reference library builds that are saved to the server. However, not all servers support the use of symlinks. When this attribute is included and set to `true`, the host uses a copy operation to update the build assets directly instead of using symlinks.'
              type_of:
                type: string
                description: The host type, either `akamai` for an Adobe-managed  host, or `sftp` for self-hosting.
              updated_at:
                type: string
                description: A timestamp of when the host was last updated.
              username:
                type: string
                description: A username associated with the host.
            description: Contains the host's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this host.
            allOf:
            - $ref: '#/components/schemas/relatedProperty'
          links:
            type: object
            properties:
              property:
                type: string
                description: A link to the property that owns the host.
              self:
                type: string
                description: A link to the host itself.
            description: Contains links related to the host which can be used in subsequent fetch requests.
    relatedDataElements:
      type: object
      properties:
        data_elements:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related data elements for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related data elements for the resource.
          description: Contains a link to the related data elements for the resource.
    relatedRules:
      type: object
      properties:
        rules:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related rules for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related rules for the resource.
          description: Contains a link to the related rules for the resource.
    extensionsRelationships:
      required:
      - extension_package
      type: object
      properties:
        extension_package:
          required:
          - data
          type: object
          properties:
            data:
              required:
              - id
              - type
              type: object
              properties:
                id:
                  type: string
                  description: The ID of the extension package.
                type:
                  type: string
                  description: The resource type for the extension package (`extension_packages`).
              description: Provides the basic information about the extension package.
          description: Describes the extension package that defines the extension's capabilities.
    relatedCallbacks:
      type: object
      properties:
        callbacks:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related callbacks for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related callbacks for the resource.
          description: Contains a link to the related callbacks for the resource.
    rulesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    relatedHost:
      type: object
      properties:
        host:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the host.
                self:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the relationship object for the host.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the host.
            data:
              type: object
              properties:
                id:
                  type: string
[...]
