openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager IP Allowlist Binding API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: IP Allowlist Binding
paths:
  /api/program/{programId}/ipAllowlist/{ipAllowlistId}/binding/{ipAllowlistBindingId}:
    get:
      tags:
      - IP Allowlist Binding
      summary: Get IP Allowlist binding
      description: Returns an IP Allowlist binding based on program and IP allowlist id
      operationId: getIPAllowlistBinding
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: ipAllowlistId
        in: path
        description: Identifier of the IP Allowlist
        required: true
        schema:
          type: string
      - name: ipAllowlistBindingId
        in: path
        description: Identifier of the IP Allowlist Binding
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of IP Allowlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowedListBinding'
        '404':
          description: IP Allowlist not found
    delete:
      tags:
      - IP Allowlist Binding
      summary: Delete IP Allowlist binding
      description: Deletes the IP Allowlist binding for the program and IP Allowlist id
      operationId: deleteIPAllowlistBinding
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: ipAllowlistId
        in: path
        description: Identifier of the IP Allowlist
        required: true
        schema:
          type: string
      - name: ipAllowlistBindingId
        in: path
        description: Identifier of the IP Allowlist binding
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Delete was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowedListBinding'
        '404':
          description: IP Allowlist not found
  /api/program/{programId}/ipAllowlist/{ipAllowlistId}/bindings:
    get:
      tags:
      - IP Allowlist Binding
      summary: Lists IP Allowlist bindings
      description: Returns all IP Allowlists bindings for an IpAllowList of a program
      operationId: getIPAllowlistBindings
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: ipAllowlistId
        in: path
        description: Identifier of the IP Allowlist
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of IP Allowlists assigned to the program
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowlistBindingsList'
        '404':
          description: IP Allowlist not found
    post:
      tags:
      - IP Allowlist Binding
      summary: Creates an IP Allowlist binding
      description: Creates an IP Allowlist binding to an environment for a specific tier
      operationId: createIPAllowlistBinding
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: ipAllowlistId
        in: path
        description: Identifier of the IP Allowlist
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowedListBinding'
        '201':
          description: IP Allowlist binding created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowedListBinding'
        '400':
          description: The request is malformed.
        '404':
          description: Environment not found
        '412':
          description: Creating IP Allowlists for non cloud programs is not supported
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPAllowedListBinding'
        description: IP Allowlist binding
        required: true
components:
  schemas:
    IPAllowedListBinding:
      type: object
      required:
      - environmentId
      properties:
        id:
          type: integer
          format: int64
          example: 14
          description: Identifier of the IP Allowed List Binding to an Environment
        tier:
          type: string
          example: publish
          description: Tier of the environment.
          enum:
          - PUBLISH
          - PREVIEW
        status:
          type: string
          example: NOT_STARTED
          description: Status of the binding.
        programId:
          type: integer
          format: int64
          example: 22
          description: Identifier of the program.
        ipAllowListId:
          type: integer
          format: int64
          example: 17
          description: Identifier of the IP allow list.
        environmentId:
          type: integer
          format: int64
          example: 5
          description: Identifier of the environment.
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/program:
              description: The Application this environment belongs to.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/ipAllowList:
              description: IpAllowList to be binded to the environment.
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: Describes an __IP Allowed List Binding__
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    IPAllowlistBindingsList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        ipAllowlistId:
          type: string
        _embedded:
          type: object
          readOnly: true
          properties:
            ipAllowlistBindings:
              type: array
              items:
                $ref: '#/components/schemas/IPAllowedListBinding'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
