openapi: 3.2.0
info:
  title: Reactor Secrets API
  description: "Use the Reactor API to programmatically manage resources and develop tag extensions in Adobe Experience Platform.\n**Related documentation**:\n  * [Tags overview and UI documentation](https://adobe.com/go/launch_help_en)\n  * [Reactor API guides](https://adobe.com/go/reactor-api-overview)\n\n**API paths**:\n  * Reactor Gateway URL: https://<span>reactor.adobe.io\n  * Example of a complete path for making a call to `/properties`: https://<span>reactor.adobe.io/properties\n\n**Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).\n  * All GET requests to the Reactor API require an `Accept` header to determine what data is returned by the system. In most cases, this value will be `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type`. The specific `Content-Type` value for each call is provided in the parameters sections in the endpoints listed below.\n\n- **API error handling**:\n    - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
  version: '1.0'
servers:
- url: //reactor.adobe.io
tags:
- name: Secrets
  description: A secret is a resource that represents an authentication credential. Secrets are used in event forwarding to authenticate to another system for secure data exchange. Secrets can only be created within event forwarding properties (properties whose `platform` attribute is set to `edge`).
paths:
  /properties/{PROPERTY_ID}/secrets:
    get:
      tags:
      - Secrets
      summary: List a property's secrets
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: listPropertySecrets
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose secrets you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: environment_id
        in: query
        description: Filter by `environment_id`.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by `status`.
        schema:
          type: string
      - name: type_of
        in: query
        description: Filter by `type`.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of secrets belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsListResponse'
    post:
      tags:
      - Secrets
      summary: Create a secret
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: createSecret
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a secret for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/secretsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created secret.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsCreateResponse'
      x-codegen-request-body-name: body
  /secrets/{SECRET_ID}:
    get:
      tags:
      - Secrets
      summary: Retrieve a secret
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: retrieveSecret
      parameters:
      - name: SECRET_ID
        in: path
        description: The ID of the secret you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the secret.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsLookupResponse'
    delete:
      tags:
      - Secrets
      summary: Delete a secret
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: deleteSecret
      parameters:
      - name: SECRET_ID
        in: path
        description: The ID of the secret you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - Secrets
      summary: Test or retry a secret
      description: 'This call tests or retries a secret depending on the value of the `meta.action` property in the request payload. This call does not update the secret itself.



        You can retry a secret by setting the `action` property to `retry`. Retrying a secret is the action of manually triggering the secret exchange.



        If the secret in question is an `oauth2` type, you can test it by setting the `action` property to `test` instead. This performs an exchange with the authorization service and includes the response in the `test_exchange` attribute in the secret’s `meta` object.



        >**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: testOrRetrySecret
      parameters:
      - name: SECRET_ID
        in: path
        description: The ID of the secret you want to test or retry.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/secretsUpdatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated secret.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsUpdateResponse'
      x-codegen-request-body-name: body
  /environments/{ENVIRONMENT_ID}/secrets:
    get:
      tags:
      - Secrets
      summary: List an environment's secrets
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: listEnvironmentSecrets
      parameters:
      - name: ENVIRONMENT_ID
        in: path
        description: The ID of the environment whose related secrets you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of secrets that are associated with the specified environment.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/environmentsSecretsListResponse'
  /secrets/{SECRET_ID}/notes:
    get:
      tags:
      - Secrets
      summary: List a secret's notes
      description: '>**NOTE**: For more information on using this operation, see the [notes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/notes.html) on Experience League.'
      operationId: listSecretNotes
      parameters:
      - name: SECRET_ID
        in: path
        description: The ID of the secret whose notes you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: text
        in: query
        description: Filter by `text`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of notes belonging to the specified secret.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsNotesListResponse'
    post:
      tags:
      - Secrets
      summary: Create a note for a secret
      description: '>**NOTE**: For more information on using this operation, see the [notes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/notes.html) on Experience League.'
      operationId: createSecretNote
      parameters:
      - name: SECRET_ID
        in: path
        description: The ID of the secret that you want to create a note for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/secretsNotesCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created note.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsNotesCreateResponse'
      x-codegen-request-body-name: body
  /secrets/{SECRET_ID}/data_elements:
    get:
      tags:
      - Secrets
      summary: List the data elements that reference a secret
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: listSecretDataElements
      parameters:
      - name: SECRET_ID
        in: path
        description: The ID of the secret whose data elements you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: dirty
        in: query
        description: Filter by `dirty` (whether the resource contains changes that haven't been pushed to a library).
        schema:
          type: string
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: origin_id
        in: query
        description: Filter by `origin_id`.
        schema:
          type: string
      - name: published
        in: query
        description: Filter by `published` status.
        schema:
          type: string
      - name: published_at
        in: query
        description: Filter by `published_at` timestamp.
        schema:
          type: string
      - name: revision_number
        in: query
        description: Filter by `revision_number`.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of data elements that use the specified secret.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsDataElementsListResponse'
  /secrets/{SECRET_ID}/environment:
    get:
      tags:
      - Secrets
      summary: Retrieve a secret's environment
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: retrieveSecretEnvironment
      parameters:
      - name: SECRET_ID
        in: path
        description: The ID of the secret whose environment you want to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the environment that the secret is associated with.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsLookupEnvironmentResponse'
  /secrets/{SECRET_ID}/property:
    get:
      tags:
      - Secrets
      summary: Retrieve a secret's property
      description: '>**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.'
      operationId: retrieveSecretProperty
      parameters:
      - name: SECRET_ID
        in: path
        description: The ID of the secret whose property you want to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the property that owns the secret.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/secretsPropertyLookupResponse'
components:
  schemas:
    propertiesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/propertiesEntity'
    secretsPropertyLookupResponse:
      allOf:
      - $ref: '#/components/schemas/propertiesLookupResponse'
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    environmentsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/environmentsEntity'
    secretsDataElementsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataElementsListResponse'
    secretsNotesCreatePayload:
      allOf:
      - $ref: '#/components/schemas/notesCreatePayload'
    notesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/notesEntity'
    secretsRelationships:
      required:
      - environment
      type: object
      properties:
        environment:
          required:
          - data
          type: object
          properties:
            data:
              required:
              - id
              - type
              type: object
              properties:
                id:
                  type: string
                  description: The ID of the environment.
                type:
                  type: string
                  description: The resource type for the environment (`environments`).
              description: Contains the basic information about the environment.
          description: Establishes the required relationship between the secret and the environment it is associated with.
    secretsCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreateWithRelationships'
      - type: object
        properties:
          data:
            required:
            - attributes
            - relationships
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/secretsAttributes'
              relationships:
                type: object
                allOf:
                - $ref: '#/components/schemas/secretsRelationships'
    relatedResource:
      type: object
      properties:
        resource:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the resource.
                type:
                  type: string
                  description: The resource type.
              description: Contains further information about the related resource.
          description: Contains a link to the resource that that the note is attached to.
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    secretsLookupEnvironmentResponse:
      allOf:
      - $ref: '#/components/schemas/environmentsLookupResponse'
    secretsCreateResponse:
      allOf:
      - $ref: '#/components/schemas/secretsLookupResponse'
    secretsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/secretsEntity'
    secretsUpdatePayload:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - id
          - meta
          - type
          type: object
          properties:
            attributes:
              type: object
              properties:
                type_of:
                  type: string
                  description: The secret's type.
              description: Contains the `type_of` attribute of the secret being retried or tested.
            meta:
              required:
              - action
              type: object
              properties:
                action:
                  type: string
                  description: If this property is set to `retry`, the call retries the secret. If this property is set to `test` and the secret in question is a `succeeded` `oauth` type, this call performs an exchange with the authorization service.
              description: Must be provided with an `action` that determines the action to be taken on the secret.
            id:
              type: string
              description: The ID of the secret being acted upon.
            type:
              type: string
              description: Must be set to `secrets`.
      example:
        data:
          attributes:
            type_of: oauth2
          meta:
            action: test
          id: SE6c15a7a64f9041b5985558ed3e19a449
          type: secrets
    relatedEnvironment:
      type: object
      properties:
        environment:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related environment.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related environment.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the environment.
                type:
                  type: string
                  description: The resource type for the environment (`environments`).
              description: Contains further information about the related environment.
          description: Contains information about the environment that this resource is active under.
    relatedProperty:
      type: object
      properties:
        property:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related property for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related property for the resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the property.
                type:
                  type: string
                  description: The resource type for the property (`properties`).
              description: Contains further information about the related property.
          description: Contains details about the property that owns the resource.
    relatedCompany:
      type: object
      properties:
        company:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related company.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related company.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the company.
                type:
                  type: string
                  description: The resource type for the company (`companies`).
              description: Contains further information about the related company.
          description: Contains information about the company that owns the resource.
    relatedLibraries:
      type: object
      properties:
        libraries:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related libraries for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related libraries for the resource.
          description: Contains a link to the related libraries for the resource.
    relatedDataElements:
      type: object
      properties:
        data_elements:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related data elements for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related data elements for the resource.
          description: Contains a link to the related data elements for the resource.
    relatedRules:
      type: object
      properties:
        rules:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related rules for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related rules for the resource.
          description: Contains a link to the related rules for the resource.
    relatedCallbacks:
      type: object
      properties:
        callbacks:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related callbacks for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related callbacks for the resource.
          description: Contains a link to the related callbacks for the resource.
    relatedLibrary:
      type: object
      properties:
        library:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the library.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the library.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the library.
                type:
                  type: string
                  description: The resource type for the library (`libraries`).
              description: Contains further information about the library.
          description: Contains a link to the library that is assigned to this environment.
    relatedHost:
      type: object
      properties:
        host:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the host.
                self:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the relationship object for the host.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the host.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the host.
                type:
                  type: string
                  description: The resource type for the host (`hosts`).
              description: Contains further information about the host.
          description: Contains a link to the host that is assigned to this environment.
    notesAttributes:
      required:
      - text
      type: object
      properties:
        text:
          type: string
          description: The contents of the note.
    relatedExtensions:
      type: object
      properties:
        extensions:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extensions for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extensions for the resource.
          description: Contains a link to the related extensions for the resource.
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    secretsUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/secretsLookupResponse'
    secretsNotesCreateResponse:
      allOf:
      - $ref: '#/components/schemas/notesLookupResponse'
    secretsNotesListResponse:
      allOf:
      - $ref: '#/components/schemas/notesListResponse'
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
    relatedHosts:
      type: object
      properties:
        hosts:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related hosts for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related hosts for the resource.
          description: Contains a link to the related hosts for the resource.
    relatedNotes:
      type: object
      properties:
        notes:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related notes for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related notes for the resource.
          description: Contains a link to the related notes for the resource.
    environmentsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              archive:
                type: boolean
                description: Indicates whether the environment is archived.
              created_at:
                type: string
                description: A timestamp of when the environment was created in the system.
              library_path:
                type: string
                description: The base path for the library that has been assigned to the environment.
              library_name:
                type: string
                description: The name of the JavaScript file that contains the library that has been assigned to the environment.
              library_entry_points:
                type: array
                description: Contains an expanded list of all the libraries that  are built as part of this environment. Since only one library  can be built on an environment at a time, this array typically  contains the minified and unminified versions of the same library.
                items:
                  type: object
                  properties:
                    library_name:
                      type: string
                      description: The name of the JavaScript file that contains the library.
                    minified:
                      type: boolean
                      description: Indicates whether this is the minified version of the library. The minified version of the library is significantly smaller and more efficient, and should therefore be the version that is employed on your webpage. The non-minified version contains comments and is provided for debugging purposes.
                    references:
                      type: array
                      description: Contains the full path to the library, which is the `library_path` concatenated with the `library_name`.
                      items:
                        type: string
                    license_path:
                      type: string
                      description: If this object represents a minified library, this attribute provides the full path to the un-minififed version.
              name:
                type: string
                description: The name of the environment.
              path:
                type: string
                description: The path for the environment.
              stage:
                type: string
                description: The stage for the environment (`development`, `staging`,  or `production`).
              updated_at:
                type: string
                description: A timestamp of when the environment was last updated.
              status:
                type: string
                description: The current status of the environment.
              token:
                type: string
                description: 'A unique token for the environment.


                  When a build is pushed to an Adobe-managed host (`akamai`), this token is used to identify the environment within the library''s folder structure. This also prevent''s the environment''s `id` value from being unnecessarily exposed. This also applies to `sftp` hosts so that libraries are constructed in the same manner.'
            description: Contains the environment's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this environment.
            allOf:
            - $ref: '#/components/schemas/relatedLibrary'
            - $ref: '#/components/schemas/relatedBuilds'
            - $ref: '#/components/schemas/relatedHost'
            - $ref: '#/components/schemas/relatedProperty'
          links:
            type: object
            properties:
              property:
                type: string
                description: A link to the property that owns the environment.
              self:
                type: string
                description: A link to the environment itself.
            description: Contains links related to the environment which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              archive_encrypted:
                type: boolean
                description: Indicates whether the environment archive has been encrypted. An environment archive is ZIP file which can be downloaded for self-hosting purposes. An encrypted archive is one where a simple password has been applied for access control.
              script_sources:
                type: array
                description: If `premium_cdn` has been enabled for the company that  owns this environment, this array lists the two different hosts  that the environment is associated with. One is the default host  and the other is host provided by the premium CDN.
                items:
                  type: string
            description: Contains meta information about the environment.
    relatedEnvironments:
      type: object
      properties:
        environments:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related environments for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related environments for the resource.
          description: Contains a link to the related environments for the resource.
    dataCreateWithRelationships:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            relationships:
              type: object
              description: The relationships for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes, relationships, and type for the resource being created.
    notesCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/notesAttributes'
    dataCreate:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - type
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes and type for the resource being created.
    dataElementsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    relatedBuilds:
      type: object
      properties:
        builds:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related builds for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related builds for the resource.
          description: Contains a link to the related builds for the resource.
    secretsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    notesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    notesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              author_display_name:
                type: string
                description: The display name for the note's author.
              author_email:
                type: string
                description: The email address for the note's author.
              created_at:
                type: string
                description: A timestamp of when the note was created in the system.
              text:
                type: string
                description: The contents of the note.
            description: Contains the note's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this note.
            allOf:
            - $ref: '#/components/schemas/relatedResource'
          links:
            type: object
            properties:
              resource:
                type: string
                description: A link to the resource that the note is attached to.
              self:
                type: string
                description: A link to the note itself.
            description: Contains links related to the note which can be used in subsequent fetch requests.
    environmentsSecretsListResponse:
      allOf:
      - $ref: '#/components/schemas/secretsListResponse'
    secretsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the secret was created in the system.
              updated_at:
                type: string
                description: A timestamp of when the secret was last updated.
              name:
                type: string
                description: The secret name.
              type_of:
                type: string
                description: 'The type of secret credential. Has three possible values:



                  * `token`: A token string.

                  * `simple-http`: A username and password.

                  * `oauth2`: Credentials conforming to the OAuth standard.'
              activated_at:
                type: string
                description: A timestamp of when the secret was activated.
              expires_at:
                type: string
                description: A timestamp of when the secret expires.
              refreshes_at:
                type: string
                description: A timestamp of when the secret credential will refresh.
              status:
                type: string
                description: The current exchange status for the secret.
              credentials:
                type: object
                properties: {}
                description: An object that contains the credential values for the  secret. Depending on the `type_of` attribute, different properties  must provided. See the section on [credentials](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/secrets.html?lang=en#credentials)  in the secrets guide for details on the requirements for each  type.
            description: Contains the secret's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this secret.
            allOf:
            - $ref: '#/components/schemas/relatedProperty'
            - $ref: '#/components/schemas/relatedEnvironmentWithMeta'
            - $ref: '#/components/schemas/relatedNotes'
            - $ref: '#/components/schemas/relatedDataElements'
          links:
            type: object
            properties:
              self:
                type: string
                description: A link to the secret itself.
              property:
                type: string
                description: A link to the property that owns the secret.
            description: Contains links related to the secret which can be used in subsequent fetch requests.
    relatedEnvironmentWithMeta:
      allOf:
      - $ref: '#/components/schemas/relatedEnvironment'
      - type: object
        properties:
          environment:
            type: object
            properties:
              meta:
                type: object
                properties:
                  stage:
                    type: string
                    description: The publishing flow stage for the environment.
                description: Contains meta information about the environment.
    secretsAttributes:
      required:
      - credentials
      - name
      - type_of
      type: object
      properties:
        name:
          type: string
          description: The secret name.
        type_of:
          type: string
          description: 'The type of secret credential. Has three possible values:



            * `token`: A token string.

            * `simple-http`: A username and password.

            * `oauth2`: Credentials conforming to the OAuth standard.'
        credentials:
          type: object
          properties: {}
          description: An object that contains the credential values for the secret. Depending on the `type_of` attribute, different properties must provided. See the section on [credentials](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/secrets.html?lang=en#credentials) in the secrets guide for details on the requirements for each type.
    propertiesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the property was created in the system.
              enabled:
                type: boolean
                description: Indicates whether this property is enabled.
              name:
                type: string
                description: The name of the property.
              updated_at:
                type: string
                description: A timestamp of when the property was last updated.
              platform:
                type: string
                description: The platform for the property, either `web` or `mobile`.
              development:
                type: boolean
                description: Indicates whether this property is in development.
              token:
                type: string
                description: 'A unique token for the property.


                  When a build is pushed to an Adobe-managed host (`akamai`), this token is used to identify the property within the library''s folder structure. This also prevent''s the property''s `id` value from being unnecessarily exposed. This also applies to `sftp` hosts so that libraries are constructed in the same manner.'
              domains:
                type: array
                description: A list of domains associated with the property.
                items:
                  type: string
              undefined_vars_return_empty:
                type: boolean
                description: Indicates whether missing data elements return an empty string on this property.
              rule_component_sequencing_enabled:
                type: boolean
                description: Indicates whether rule component sequencing is enabled on this property.
            description: Contains the property's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this property.
            allOf:
            - $ref: '#/components/schemas/relatedCompany'
            - $ref: '#/components/schemas/relatedCallbacks'
            - $ref: '#/components/schemas/relatedHosts'
            - $ref: '#/components/schemas/relatedEnvironments'
            - $ref: '#/components/schemas/relatedLibraries'
            - $ref: '#/components/schemas/relatedDataElements'
            - $ref: '#/components/schemas/relatedExtensions'
            - $ref: '#/components/schemas/relatedRules'
            - $ref: '#/components/schemas/relatedNotes'
          links:
            type: object
            properties:
              company:
                type: string
                description: A link to the company that owns the property.
              data_elements:
                type: string
                description: A link to the data elements employed by the property.
              environments:
                type: string
                description: A link to the environments employed by the property.
              extensions:
                type: string
                description: A link to the extensions employed by the property.
              rules:
                type: string
                description: A link to the rules employed by the property.
              self:
                type: string
                description: A link to the property itself.
            description: Contains links related to the property which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              rights:
                type: array
                description: Lists the rights that are enabled for the property.
                items:
                  type: string
            description: Contains meta information about the property.
x-original-swagger-version: '2.0'
