openapi: 3.2.0
info:
  title: Reactor Extension packages API
  description: "Use the Reactor API to programmatically manage resources and develop tag extensions in Adobe Experience Platform.\n**Related documentation**:\n  * [Tags overview and UI documentation](https://adobe.com/go/launch_help_en)\n  * [Reactor API guides](https://adobe.com/go/reactor-api-overview)\n\n**API paths**:\n  * Reactor Gateway URL: https://<span>reactor.adobe.io\n  * Example of a complete path for making a call to `/properties`: https://<span>reactor.adobe.io/properties\n\n**Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).\n  * All GET requests to the Reactor API require an `Accept` header to determine what data is returned by the system. In most cases, this value will be `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type`. The specific `Content-Type` value for each call is provided in the parameters sections in the endpoints listed below.\n\n- **API error handling**:\n    - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
  version: '1.0'
servers:
- url: //reactor.adobe.io
tags:
- name: Extension packages
  description: An extension package represents a grouping of individual capabilities that can be made available to a tags user. Most commonly, these capabilities come in the form of rule components (events, conditions, and actions) and data elements, but can also include main modules and shared modules. The capabilities provided by an extension package are installed as an extension when it is included in a library.
paths:
  /extension_packages:
    get:
      tags:
      - Extension packages
      summary: List extension packages
      description: '>**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.'
      operationId: listExtensionPackages
      parameters:
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: display_name
        in: query
        description: Filter by `display_name`.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by `status`.
        schema:
          type: string
      - name: platform
        in: query
        description: Filter by `platform`.
        schema:
          type: string
      - name: version
        in: query
        description: Filter by `version`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of extension packages, including their IDs and attributes.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionPackagesListResponse'
    post:
      tags:
      - Extension packages
      summary: Create an extension package
      description: '>**NOTE**: Instead of a JSON payload, this endpoint expects a file upload via multipart form data. > >For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.'
      operationId: createExtensionPackage
      parameters:
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `multipart/form-data` for all requests that require archive file uploads.
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - package
              type: object
              properties:
                package:
                  type: string
                  description: The extension package archive file.
                  format: binary
        required: true
      responses:
        '202':
          x-summary: Success
          description: A successful response returns the details of the newly created extension package.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionPackagesCreateResponse'
  /extension_packages/{EXTENSION_PACKAGE_ID}:
    get:
      tags:
      - Extension packages
      summary: Retrieve an extension package
      description: '>**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.'
      operationId: retrieveExtensionPackage
      parameters:
      - name: EXTENSION_PACKAGE_ID
        in: path
        description: The ID of the extension package you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the extension package.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionPackagesLookupResponse'
    post:
      tags:
      - Extension packages
      summary: Update an extension package
      description: 'Only development extension packages can be updated using a new archive file. Once the extension package has been transitioned to either private or public, it can no longer be updated. If you want to add new functionality or fix bugs, you must first create a new extension package with the same name, but with a new version. When this new extension package is transitioned to private or public, it will become available in the marketplace and replace the previous version.


        >**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.'
      operationId: updateExtensionPackage
      parameters:
      - name: EXTENSION_PACKAGE_ID
        in: path
        description: The ID of the development extension package you want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `multipart/form-data` for all requests that require archive file uploads.
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - package
              type: object
              properties:
                package:
                  type: string
                  description: The extension package archive file.
                  format: binary
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated extension package.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionPackagesLookupResponse'
    patch:
      tags:
      - Extension packages
      summary: Privately release or discontinue an extension package
      description: "Once you have completed testing your extension package you can release it privately. This makes it available to any property within your company. After you have released it privately, you can begin the public release process by filling out the [Public Release Request Form](https://adobe.allegiancetech.com/cgi-bin/qwebcorporate.dll?idx=7DRB5U).\n  \n\nWhen privately releasing or discontinuing an extension package, its ID must be provided in both the request path and the request payload. These IDs must match in order for the call to be successful.\n\n\n>**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League."
      operationId: privateReleaseExtensionPackage
      parameters:
      - name: EXTENSION_PACKAGE_ID
        in: path
        description: The ID of the development extension package you want to privately release or discontinue.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/extensionPackagesPatchPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated extension package.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionPackagesPatchResponse'
      x-codegen-request-body-name: body
  /extension_packages/{EXTENSION_PACKAGE_ID}/versions:
    get:
      tags:
      - Extension packages
      summary: Retrieve an extension package's versions
      description: '>**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.'
      operationId: retrieveExtensionPackageVersion
      parameters:
      - name: EXTENSION_PACKAGE_ID
        in: path
        description: The ID of the extension package whose versions you want to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of each version of the extension package.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/extensionPackagesVersionsListResponse'
components:
  schemas:
    conditionEntity:
      type: object
      properties:
        id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the condition.
        name:
          type: string
          description: The name of the condition. It must be unique from all other extensions and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules). This is used by the system as an identifier and should not be changed after the extension is published.
        schema:
          type: object
          properties: {}
          description: A [JSON Schema](http://json-schema.org/) object describing the format of a valid settings object that can be saved by the user for this condition. Settings are usually configured and saved by a user using the Data Collection UI. In these cases, the extension's view can take necessary steps to validate user-provided settings. On the other hand, some users choose to use APIs directly without the aid of any UI. The purpose of this schema is to allow Platform to properly validate that settings objects saved by users, regardless of whether a UI is used, are in a format that is compatible with the library module that will act upon the settings object at runtime.
        libPath:
          type: string
          description: The relative path to the condition's library module. It should not not begin with a slash and must reference a JavaScript file with a `.js` extension.
        viewPath:
          type: string
          description: The relative URL to the condition's configuration view. It should be relative to `viewBasePath` and should not begin with a slash. It must reference an HTML file with a `.html` extension. Query strings and fragment identifiers (hashes) are acceptable. If your type's library module does not use any settings from a user, you may exclude this property and Platform will instead display a placeholder stating that no configuration is necessary.
        transforms:
          type: array
          description: A list of transformation objects that should be performed on every corresponding `settings` object when it is emitted into the runtime library. See the section on [transforms](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#transforms) in the documentation for more information on why this may be needed and how it is used.
          items:
            type: object
            properties: {}
        displayName:
          type: string
          description: A display name for the condition.
        categoryName:
          type: string
          description: If this field is provided, the `displayName` is be listed under the `categoryName` within the Data Collection UI. All types with the same `categoryName` are listed under the same category. The value of `categoryName` should be human-readable.
    extensionPackagesVersionsListResponse:
      allOf:
      - $ref: '#/components/schemas/extensionPackagesListResponse'
    extensionPackagesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    dataUpdateExtensionPackage:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - id
          - meta
          - type
          type: object
          properties:
            id:
              type: string
              description: The ID of extension package being updated.
            type:
              type: string
              description: Must be set to `extension_packages`.
            meta:
              type: object
              properties:
                action:
                  type: string
                  description: If this property is included with a value of `revise`, the call creates a new revision for the resource instead of overwriting the current revision.
              description: 'If this property is included with an `action` property set to `release_private`, the call releases the extension privately.



                If this property is included with an `action` property set to `discontinue`, the call discontinues the extension package.'
          description: Contains info on the extension package being updated and the action being performed.
    extensionPackagesCreateResponse:
      allOf:
      - $ref: '#/components/schemas/extensionPackagesLookupResponse'
    dataElementEntity:
      type: object
      properties:
        id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the data element.
        name:
          type: string
          description: The name of the data element. It must be unique from all other extensions and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules). This is used by the system as an identifier and should not be changed after the extension is published.
        schema:
          type: object
          properties: {}
          description: A [JSON Schema](http://json-schema.org/) object describing the format of a valid settings object that can be saved by the user for this data element. Settings are usually configured and saved by a user using the Data Collection UI. In these cases, the extension's view can take necessary steps to validate user-provided settings. On the other hand, some users choose to use APIs directly without the aid of any UI. The purpose of this schema is to allow Platform to properly validate that settings objects saved by users, regardless of whether a UI is used, are in a format that is compatible with the library module that will act upon the settings object at runtime.
        libPath:
          type: string
          description: The relative path to the data element's library module. It should not not begin with a slash and must reference a JavaScript file with a `.js` extension.
        viewPath:
          type: string
          description: The relative URL to the data element's configuration view. It should be relative to `viewBasePath` and should not begin with a slash. It must reference an HTML file with a `.html` extension. Query strings and fragment identifiers (hashes) are acceptable. If your data element does not use any settings from a user, you may exclude this property and Platform will instead display a placeholder stating that no configuration is necessary.
        transforms:
          type: array
          description: A list of transformation objects that should be performed on every corresponding `settings` object when it is emitted into the runtime library. See the section on [transforms](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#transforms) in the documentation for more information on why this may be needed and how it is used.
          items:
            type: object
            properties: {}
        displayName:
          type: string
          description: A display name for the data element.
        categoryName:
          type: string
          description: If this field is provided, the `displayName` is be listed under the `categoryName` within the Data Collection UI. All types with the same `categoryName` are listed under the same category. The value of `categoryName` should be human-readable.
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    actionEntity:
      type: object
      properties:
        id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the action.
        name:
          type: string
          description: The name of the action. It must be unique from all other extensions and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules). This is used by the system as an identifier and should not be changed after the extension is published.
        schema:
          type: object
          properties: {}
          description: A [JSON Schema](http://json-schema.org/) object describing the format of a valid settings object that can be saved by the user for this action. Settings are usually configured and saved by a user using the Data Collection UI. In these cases, the extension's view can take necessary steps to validate user-provided settings. On the other hand, some users choose to use APIs directly without the aid of any UI. The purpose of this schema is to allow Platform to properly validate that settings objects saved by users, regardless of whether a UI is used, are in a format that is compatible with the library module that will act upon the settings object at runtime.
        libPath:
          type: string
          description: The relative path to the action's library module. It should not not begin with a slash and must reference a JavaScript file with a `.js` extension.
        viewPath:
          type: string
          description: The relative URL to the action's configuration view. It should be relative to `viewBasePath` and should not begin with a slash. It must reference an HTML file with a `.html` extension. Query strings and fragment identifiers (hashes) are acceptable. If your action does not use any settings from a user, you may exclude this property and Platform will instead display a placeholder stating that no configuration is necessary.
        transforms:
          type: array
          description: A list of transformation objects that should be performed on every corresponding `settings` object when it is emitted into the runtime library. See the section on [transforms](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#transforms) in the documentation for more information on why this may be needed and how it is used.
          items:
            type: object
            properties: {}
        displayName:
          type: string
          description: A display name for the action.
        categoryName:
          type: string
          description: If this field is provided, the `displayName` is be listed under the `categoryName` within the Data Collection UI. All types with the same `categoryName` are listed under the same category. The value of `categoryName` should be human-readable.
    extensionPackagesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/extensionPackagesEntity'
    extensionPackagesPatchResponse:
      allOf:
      - $ref: '#/components/schemas/extensionPackagesLookupResponse'
    eventEntity:
      type: object
      properties:
        id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the event.
        name:
          type: string
          description: The name of the event. It must be unique from all other extensions and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules). This is used by the system as an identifier and should not be changed after the extension is published.
        schema:
          type: object
          properties: {}
          description: A [JSON Schema](http://json-schema.org/) object describing the format of a valid settings object that can be saved by the user for this event. Settings are usually configured and saved by a user using the Data Collection UI. In these cases, the extension's view can take necessary steps to validate user-provided settings. On the other hand, some users choose to use APIs directly without the aid of any UI. The purpose of this schema is to allow Platform to properly validate that settings objects saved by users, regardless of whether a UI is used, are in a format that is compatible with the library module that will act upon the settings object at runtime.
        libPath:
          type: string
          description: The relative path to the event's library module. It should not not begin with a slash and must reference a JavaScript file with a `.js` extension.
        viewPath:
          type: string
          description: The relative URL to the event's configuration view. It should be relative to `viewBasePath` and should not begin with a slash. It must reference an HTML file with a `.html` extension. Query strings and fragment identifiers (hashes) are acceptable. If your event does not use any settings from a user, you may exclude this property and Platform will instead display a placeholder stating that no configuration is necessary.
        transforms:
          type: array
          description: A list of transformation objects that should be performed on every corresponding `settings` object when it is emitted into the runtime library. See the section on [transforms](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#transforms) in the documentation for more information on why this may be needed and how it is used.
          items:
            type: object
            properties: {}
        displayName:
          type: string
          description: A display name for the event.
        categoryName:
          type: string
          description: If this field is provided, the `displayName` is be listed under the `categoryName` within the Data Collection UI. All types with the same `categoryName` are listed under the same category. The value of `categoryName` should be human-readable.
    extensionPackagesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              actions:
                type: array
                description: Lists the details of the action types defined by the extension.
                items:
                  $ref: '#/components/schemas/actionEntity'
              author:
                type: object
                properties:
                  url:
                    type: string
                    description: The URL for the author's website.
                  name:
                    type: string
                    description: The author's name.
                  email:
                    type: string
                    description: The author's email.
                description: Lists the details of the extension package author.
              availability:
                type: string
                description: The availability of the extension package, either `public`  or `private`.
              cdn_path:
                type: string
                description: The content delivery path for the extension package.
              conditions:
                type: array
                description: Lists the details of the condition types defined by the extension.
                items:
                  $ref: '#/components/schemas/conditionEntity'
              configuration:
                type: object
                properties:
                  id:
                    type: string
                    description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the configuration.
                  schema:
                    type: object
                    properties: {}
                    description: A [JSON Schema](https://json-schema.org/) object that describes the configuration properties for the extension.
                  viewPath:
                    type: string
                    description: The relative URL to the extension configuration view. It should be relative to `viewBasePath` and should not begin with a slash. It must reference an HTML file with a `.html` extension. Query string and fragment identifier (hash) suffixes are acceptable.
                  transforms:
                    type: array
                    description: An optional array of objects where each object represents a transformation that should be performed on every corresponding settings object when it is emitted into the runtime library. Refer to the documentation section on [transforms](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#transforms) for more information on how to use this field.
                    items:
                      type: object
                      properties: {}
                description: Describes the configuration options for the extension.
              created_at:
                type: string
                description: A timestamp of when the extension configuration was created.
              data_elements:
                type: array
                description: Lists the details of the data element types defined by the extension.
                items:
                  $ref: '#/components/schemas/dataElementEntity'
              description:
                type: string
                description: A description for the extension.
              discontinued:
                type: boolean
                description: Indicated whether the extension is discontinued.
              display_name:
                type: string
                description: A display name for the extension.
              events:
                type: array
                description: Lists the details of the event types defined by the extension.
                items:
                  $ref: '#/components/schemas/eventEntity'
              exchange_url:
                type: string
                description: The Adobe Exchange URL for the extension.
              hosted_lib_files:
                type: array
                description: 'Some extension developers prefer hosting all tags-related files on their own server. This provides an increased level of certainty regarding file availability at runtime and allows you to easily scan the code for security vulnerabilities. If the library portion of your extension needs to load JavaScript files at runtime, it is recommended you use this property to list those files. The listed files will be hosted alongside the tag runtime library. Your extension can then load the files via a URL retrieved using the [getHostedLibFileUrl](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/turbine.html?lang=en#get-hosted-lib-file) method.



                  This property provides a list of relative paths to third-party library files that need to be hosted.'
                items:
                  type: string
              icon_path:
                type: string
                description: The path to the image that is used as the extension's icon in the Data Collection UI.
              main:
                type: string
                description: 'The relative path of a library module that should be executed at runtime.



                  This module will always be included in the runtime library and executed. Because the module is always included in the runtime library, a `main` module should only be used when absolutely necessary and its code size should be kept minimal.'
              name:
                type: string
                description: The name of the extension. It must be unique from all  other extensions and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules).  This is used by the system as an identifier and should not be  changed after the extension is published.
              owner_org_id:
                type: string
                description: The ID of the IMS Organization that owns the extension.
              resources:
                type: array
                description: A list of relative paths to verious asset files that  are used by the extension view, such as HTML and CSS files.
                items:
                  type: string
              shared_modules:
                type: array
                description: An list of shared module definition objects.
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the shared module. Note that this name will be used when referencing shared modules from other extensions as described in the [documentation](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/web/shared.html?lang=en). This name is never displayed in any user interface. It should be unique from the names of other shared modules within your extension and must comply with [naming rules](https://experienceleague.adobe.com/docs/experience-platform/tags/extension-dev/manifest.html?lang=en#naming-rules). This is used by the system as an identifier and should not be changed after you publish your extension.
                    libPath:
                      type: string
                      description: The relative path to the shared module. It should not begin with a slash and must reference a JavaScript file with a `.js` extension.
              status:
                type: string
                description: The current status of the extension package.
              platform:
                type: string
                description: The platform for your extension. Currently the only value accepted is `web`.
              updated_at:
                type: string
                description: A timestamp of when the extension package was last updated.
              version:
                type: string
                description: The version number of the extension package.
              view_base_path:
                type: string
                description: The relative path to the subdirectory containing all  views and view-related resources (HTML, JavaScript, CSS, images)  for the extension. Platform hosts this directory on a web server  and loads `iframe` content from it. This is a required field and  should not start with a slash. For example, if all views are contained  within `src/view/`, the value of viewBasePath would be `src/view/`.
            description: Contains the extension package's attributes.
          links:
            type: object
            properties:
              self:
                type: string
                description: A link to the extension package itself.
            description: Contains links related to the extension package which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              archive_url:
                type: string
                description: The archive URL for the extension package.
              script_sources:
                type: array
                description: Lists references for any script sources associated with the extension package.
                items:
                  type: string
            description: Contains meta information about the extension package.
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
    extensionPackagesPatchPayload:
      allOf:
      - $ref: '#/components/schemas/dataUpdateExtensionPackage'
x-original-swagger-version: '2.0'
