openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Domain API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Domain
paths:
  /api/program/{programId}/domains:
    get:
      tags:
      - Domain
      summary: Get list of domains
      description: Gets the list of domains for this program
      operationId: getDomain
      parameters:
      - name: programId
        in: path
        description: Identifier of program id
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: Domain name
        required: false
        schema:
          type: string
      - name: anyVerified
        in: query
        description: Filter any verified
        required: false
        schema:
          type: boolean
      - name: isTxt
        in: query
        description: Is TXT verified
        required: false
        schema:
          type: boolean
      - name: isAcme
        in: query
        description: Is ACME verified
        required: false
        schema:
          type: boolean
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of domains received
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
    post:
      tags:
      - Domain
      summary: Create domain
      description: Creates a domain in this program
      operationId: createDomain
      parameters:
      - name: programId
        in: path
        description: Identifier of program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '201':
          description: Domain created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '404':
          description: Program not found
        '409':
          description: Domain already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreate'
        description: Payload for creating a domain
        required: true
  /api/program/{programId}/domain/{domain-id}:
    get:
      tags:
      - Domain
      summary: Get domain
      description: Gets a domain by its ID
      operationId: getDomain
      parameters:
      - name: programId
        in: path
        description: Identifier of program id
        required: true
        schema:
          type: string
      - name: domain-id
        in: path
        description: Identifier of domain id
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain received
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '404':
          description: Domain not found
    put:
      tags:
      - Domain
      summary: Update domain
      description: Updates a domain with specified values
      operationId: modifyDomain
      parameters:
      - name: programId
        in: path
        description: Identifier of program id
        required: true
        schema:
          type: string
      - name: domain-id
        in: path
        description: Identifier of domain id
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '404':
          description: Program not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateaDomain_snameorlabel'
        description: Domain Update Body
        required: true
    delete:
      tags:
      - Domain
      summary: Delete domain
      description: Delete a domain from this program
      operationId: deleteDomain
      parameters:
      - name: programId
        in: path
        description: Identifier of program id
        required: true
        schema:
          type: string
      - name: domain-id
        in: path
        description: Identifier of domain id
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
  /api/program/{programId}/domain/{domain-id}/validate:
    put:
      tags:
      - Domain
      summary: Check validation
      description: Validate the domain based on the type of validation token
      operationId: domainValidationToken
      parameters:
      - name: programId
        in: path
        description: Identifier of program id
        required: true
        schema:
          type: string
      - name: domain-id
        in: path
        description: Identifier of domain id
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Validation is completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '404':
          description: Program not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainTokenValidationBody'
        description: Payload for validation operation
        required: true
  /api/program/{programId}/domain/{domain-id}/validation:
    post:
      tags:
      - Domain
      summary: Creates validation token
      description: Creates a validation token in order to establish the ownership of the domain
      operationId: domainValidationToken
      parameters:
      - name: programId
        in: path
        description: Identifier of program id
        required: true
        schema:
          type: string
      - name: domain-id
        in: path
        description: Identifier of domain id
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Created validation token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '404':
          description: Program Not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainTokenValidationBody'
        description: Payload for validation operation
        required: true
components:
  schemas:
    UpdateaDomain_snameorlabel:
      type: object
      required:
      - label
      properties:
        label:
          type: string
          example: any string
          description: Domain label
    Domain:
      type: object
      required:
      - label
      - programId
      properties:
        deleted:
          type: boolean
          default: false
        id:
          type: integer
          format: int64
          description: id
        domainName:
          type: string
          example: customer.domain.com
          description: Name of the domain name
        label:
          type: string
          description: Domain label
        programId:
          type: integer
          format: int64
          description: Id of the program
        createdAt:
          type: integer
          format: int64
          description: Create date
        updatedAt:
          type: integer
          format: int64
          description: Last updated date
        deletedAt:
          type: integer
          format: int64
          description: Deleted At
        acmeValidationStatus:
          type: string
          example: NOT_VERIFIED
          description: Acme Validation Status
        adobeValidationStatus:
          type: string
          example: NOT_VERIFIED
          description: Adobe Validation Status
        acmeValidationToken:
          type: string
          description: Acme Validation Token
        adobeValidationToken:
          type: string
          description: Adobe Validation Token
      description: A Domain representation
    DomainTokenValidationBody:
      type: object
      properties:
        validationType:
          type: string
          example: acme
          description: Type of the validation
          enum:
          - acme
          - adobe
      description: The json body for token validation
    DomainCreate:
      type: object
      properties:
        domainName:
          type: string
          example: customer.domain.com
          description: Name of the domain name
      description: A Domain representation for creating a domain
