openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Content Sets API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: ContentSets
paths:
  /api/program/{programId}/contentSets:
    get:
      tags:
      - ContentSets
      summary: Lists Content Sets for program
      description: Returns all content sets defined for the program.
      operationId: getContentSets
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List content sets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentSetList'
        '400':
          description: Bad request
    post:
      tags:
      - ContentSets
      summary: Create content set
      description: create a content set
      operationId: createContentSet
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Content Set created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentSet'
        '400':
          description: Bad request
        '404':
          description: Program not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewContentSet'
        description: Content set
        required: true
  /api/program/{programId}/contentSet/{contentSetId}:
    get:
      tags:
      - ContentSets
      summary: Get content set
      description: Gets a content set by Id
      operationId: getContentSet
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: contentSetId
        in: path
        description: Identifier of the content set
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Found content set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentSet'
        '400':
          description: Bad request
        '404':
          description: Content set not found
    put:
      tags:
      - ContentSets
      summary: Update content set
      description: Updates the content set
      operationId: updateContentSet
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: contentSetId
        in: path
        description: Identifier of the content set
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Content set updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentSet'
        '400':
          description: Bad request
        '404':
          description: Content set not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentSet'
        description: Content set
        required: true
    delete:
      tags:
      - ContentSets
      summary: Delete content set
      description: Deletes the content set by Id
      operationId: deleteContentSet
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: contentSetId
        in: path
        description: Identifier of the content set
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Content set deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentSet'
        '400':
          description: Bad request
        '404':
          description: Content set not found
  /api/program/{programId}/contentFlows:
    get:
      tags:
      - ContentSets
      summary: List content flows for the program
      description: List all content flows for a program
      operationId: listContentFlows
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: start
        in: query
        description: Pagination start parameter
        required: false
        schema:
          type: string
          default: '0'
      - name: limit
        in: query
        description: Pagination limit parameter
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List content flows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFlowList'
        '400':
          description: Bad request
  /api/program/{programId}/environment/{environmentId}/contentFlow:
    post:
      tags:
      - ContentSets
      summary: Execute content flow using content set
      description: Executes a content flow
      operationId: createContentFlow
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: environmentId
        in: path
        description: Identifier of the source environment
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Content Flow started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFlow'
        '400':
          description: Bad request
        '403':
          description: The requester is not authorized to access the resource.
        '404':
          description: Program not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentFlowInput'
        description: Content Flow details
        required: true
  /api/program/{programId}/contentFlow/checkCompatibility:
    post:
      tags:
      - ContentSets
      summary: Backflow Compatibility between source and target environments
      description: Returns the compatibility between source and target environments
      operationId: checkBackflowCompatibility
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Big Bear Topology Compatibility Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatibilityCheckResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Program not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompatibilityCheckInput'
        description: Program
        required: true
  /api/program/{programId}/contentFlow/{contentFlowId}:
    get:
      tags:
      - ContentSets
      summary: Get content flow
      description: Gets content flow for a program
      operationId: getContentFlow
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: contentFlowId
        in: path
        description: Identifier of the contentFlow
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of the content flow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFlow'
        '400':
          description: Bad request
    delete:
      tags:
      - ContentSets
      summary: Cancel content flow (Cloud Service only).
      description: Cancel content flow
      operationId: cancelContentFlow
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: contentFlowId
        in: path
        description: Identifier of the content flow
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Content flow canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFlow'
        '400':
          description: Bad request
  /api/program/{programId}/contentFlow/{contentFlowId}/logs:
    get:
      tags:
      - ContentSets
      summary: Get Content Flow Logs
      description: Get Content Flow Logs
      operationId: getContentFlowLogs
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: contentFlowId
        in: path
        description: Identifier of the content flow
        required: true
        schema:
          type: string
      - name: jobType
        in: query
        description: Job type (import, export)
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFlowLogs'
        '400':
          description: Missing JobType
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Program not found.
  /api/program/{programId}/contentFlow/{contentFlowId}/logs/download:
    get:
      tags:
      - ContentSets
      summary: Download content flow logs
      description: Download content flow logs
      operationId: downloadLogs
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: contentFlowId
        in: path
        description: Identifier of the content flow
        required: true
        schema:
          type: string
      - name: jobType
        in: query
        description: Job type (import, export)
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of logs
          excludeSchema: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redirect'
        '400':
          description: Missing JobType
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Program not found.
components:
  schemas:
    BadRequestError:
      type: object
      properties:
        status:
          type: integer
          format: int32
          example: 4xx
          description: HTTP status code of the response.
        type:
          type: string
          example: http://ns.adobe.com/adobecloud/error
          description: Error type identifier.
        title:
          type: string
          example: Validation failed
          description: A short summary of the error.
        missingParams:
          type: array
          description: Request's missing parameters.
          items:
            $ref: '#/components/schemas/MissingParameter'
        invalidParams:
          type: array
          description: Request's invalid parameters.
          items:
            $ref: '#/components/schemas/InvalidParameter'
      description: A Bad Request response error.
    NewContentSet:
      type: object
      properties:
        name:
          type: string
          description: The name of this content set.
        description:
          type: string
          description: The description of this content set.
        paths:
          type: array
          description: Included asset paths
          items:
            $ref: '#/components/schemas/ContentSetPath'
    ContentFlowInfo:
      type: object
      properties:
        validationErrors:
          type: array
          description: validationErrors
          items:
            $ref: '#/components/schemas/ContentFlowValidationErrors'
      description: The Content Flow Info
    ContentFlowInput:
      type: object
      properties:
        contentSetId:
          type: string
        destEnvironmentId:
          type: string
        tier:
          type: string
          example: author
          description: tier
        includeACL:
          type: boolean
          description: includeACL
          default: false
        destProgramId:
          type: string
          description: destProgramId
        mergeExcludePaths:
          type: boolean
          description: mergeExcludePaths
          default: false
        copyVersions:
          type: boolean
          description: copyVersions
          default: false
      description: Wraps the content flow execution arguments
    ContentFlowResultDetails:
      type: object
      properties:
        errorCode:
          type: string
          description: content flow error
        message:
          type: string
          description: content flow error message
        details:
          type: array
          description: details
          items:
            type: string
        info:
          description: info
          $ref: '#/components/schemas/ContentFlowInfo'
        phase:
          type: string
          description: phase
      description: The Content Flow Result Details
    ContentFlowResults:
      type: object
      properties:
        exportResult:
          description: export results
          $ref: '#/components/schemas/ContentFlowResultDetails'
        importResult:
          description: import results
          $ref: '#/components/schemas/ContentFlowResultDetails'
        transferProgress:
          type: string
          description: Transfer progress percentage
      description: The Content Flow Results
    InvalidParameter:
      type: object
      properties:
        name:
          type: string
          example: paramName
          description: Name of the invalid parameter.
        reason:
          type: string
          example: value must be a positive number
          description: Reason of why the parameter's value is not accepted.
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    ContentFlow:
      type: object
      properties:
        contentSetId:
          type: string
          description: The content set id
        contentSetName:
          type: string
          description: The content set name
        srcEnvironmentId:
          type: string
          description: Source environment id
        srcEnvironmentName:
          type: string
          description: Source environment name
        destEnvironmentId:
          type: string
          description: Destination environment id
        destEnvironmentName:
          type: string
          description: Destination environment name
        tier:
          type: string
          description: The tier, for example author
        status:
          type: string
          description: Status of the flows
        destProgramId:
          type: string
          description: Destination program id
        resultDetails:
          description: Details of this content flow result
          $ref: '#/components/schemas/ContentFlowResults'
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/contentSet:
              description: The Content set for this flow.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/program:
              description: The Application this content set belongs to.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/environment:
              description: The source Environment this content flow is copying from.
              $ref: '#/components/schemas/HalLink'
            http://ns.adobe.com/adobecloud/rel/destEnvironment:
              description: The destination Environment this content flow is copying to.
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: The Content Flow Execution
    ContentSetList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _page:
          $ref: '#/components/schemas/RequestedPageDetails'
          description: Details of the requested page of items
        _embedded:
          type: object
          readOnly: true
          properties:
            contentSets:
              type: array
              items:
                $ref: '#/components/schemas/ContentSet'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            page:
              $ref: '#/components/schemas/HalLink'
              description: An arbitrary page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: Describes a Content Set List representation
    MissingParameter:
      type: object
      properties:
        name:
          type: string
          example: paramName
          description: Name of the missing parameter.
        type:
          type: string
          example: string
          description: Type of the missing parameter.
    RequestedPageDetails:
      type: object
      properties:
        start:
          type: integer
          format: int32
          description: The start index for the current page of results
        limit:
          type: integer
          format: int32
          description: The item limit for the current page of results
        next:
          type: integer
          format: int32
          description: The start index for the next page of results
        prev:
          type: integer
          format: int32
          description: The start index for the previous page of results
        orderBy:
          type: string
        property:
          type: array
          items:
            type: string
        type:
          type: string
      description: Filtering and sorting page details
    ContentFlowList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _page:
          $ref: '#/components/schemas/RequestedPageDetails'
          description: Details of the requested page of items
        _embedded:
          type: object
          readOnly: true
          properties:
            contentFlows:
              type: array
              items:
                $ref: '#/components/schemas/ContentFlow'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
    CompatibilityCheckInput:
      type: object
      required:
      - destinationEnvironmentId
      - sourceEnvironmentId
      properties:
        sourceEnvironmentId:
          type: string
        destinationEnvironmentId:
          type: string
        tier:
          type: string
          enum:
          - PUBLISH
          - AUTHOR
      description: Wraps the content copy compatibility check execution arguments.
    ContentSetPath:
      type: object
      properties:
        path:
          type: string
          description: path
        excluded:
          type: array
          description: excluded
          uniqueItems: true
          items:
            type: string
      description: Describes a __Content Set path__
    ContentSet:
      type: object
      properties:
        id:
          type: string
          example: '123'
          description: Identifier of the Content Set
        name:
          type: string
          description: The name of the content set
        paths:
          type: array
          description: Included asset paths
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ContentSetPath'
        programId:
          type: string
          example: '658'
          description: Identifier of the program. Unique within the space.
        createdAt:
          type: string
          format: date-time
          description: Create date
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Update date
          readOnly: true
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/program:
              description: The Application this content set belongs to.
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: A representation of a ContentSet custom
    ContentFlowValidationErrors:
      type: object
      properties:
        errorCode:
          type: string
          description: content flow warning error code
        message:
          type: string
          description: content flow warning message
        details:
          type: array
          description: details
          items:
            type: string
      description: The Content Flow Validation Errors
    CompatibilityCheckResponse:
      type: object
      properties:
        sourceEnvironmentId:
          type: string
          example: '1234'
          description: The source environment ID
        sourceTopologyId:
          type: string
          example: 1a2b3cd4
          description: The source topology ID
        destinationEnvironmentId:
          type: string
          example: '5678'
          description: The destination environment ID
        destinationTopologyId:
          type: string
          example: 1a2b3cd4
          description: The destination topology ID
        tier:
          type: string
          example: author
          description: tier
        overallResult:
          type: string
          example: PASS
          description: The overall result of the compatibility check
        overallMessage:
          type: string
          example: Destination Topology cannot be prod.
          description: The overall response message of the compatibility check
        failedValidation:
          type: string
          example: TIER_NOT_ALLOWED
          description: Error Code for the Failed Compatibility Check
          enum:
          - SOURCE_DISK_ORG
          - TARGET_DISK_ORG
          - SOURCE_REPO_TYPE
          - TARGET_REPO_TYPE
          - DATASTORE_TYPE
          - BLOCK_TYPE
          - TARGET_ENV
          - REGION_CRITERIA
          - CONNECTION_ERROR
          - UNSUPPORTED_SKYLINE_ENV
          - BAD_REQUEST
          - ENVIRONMENT_NOT_FOUND
          - PROGRAM_NOT_FOUND
          - TIER_NOT_ALLOWED
          - UNKNOWN
        responseStatusCode:
          type: integer
          format: int32
      description: Describes the Backflow Compatibility between two topologies.
    Redirect:
      type: object
      required:
      - redirect
      properties:
        redirect:
          type: string
          description: The url to redirect to.
    ContentFlowLogs:
      type: object
      properties:
        download:
          $ref: '#/components/schemas/Redirect'
          description: link to download logs
        logs/tail:
          $ref: '#/components/schemas/Redirect'
          description: link to download tails log
