openapi: 3.2.0
info:
  title: Express Status API
  description: Express API to automate bulk creation, export renditions and various other use cases.
  version: beta
  contact:
    name: Express API support
    email: express-api-support@adobe.com
  x-spec-type: version
  x-spec-version: beta
servers:
- url: https://express-api.adobe.io
  description: Prod endpoint
security:
- apiKey: []
  Authorization: []
tags:
- name: Status
paths:
  /status/{jobId}:
    get:
      summary: Job status
      description: Retrieve a job's status by its `jobId`. Depending on the job type, the response may include job-specific details.
      operationId: getJobStatus
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the job.
      responses:
        '200':
          description: Successful response with job status and details.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/JobStatusResponse'
                - $ref: '#/components/schemas/ExportRenditionResponse'
                - $ref: '#/components/schemas/GenerateVariationResponse'
              examples:
                jobStatusResponseSampleOne:
                  $ref: '#/components/examples/jobStatusResponseSampleOne'
                jobStatusResponseSampleTwo:
                  $ref: '#/components/examples/jobStatusResponseSampleTwo'
                jobStatusResponseSampleThree:
                  $ref: '#/components/examples/jobStatusResponseSampleThree'
                exportRenditionResponseSampleOne:
                  $ref: '#/components/examples/exportRenditionResponseSampleOne'
                exportRenditionResponseSampleTwo:
                  $ref: '#/components/examples/exportRenditionResponseSampleTwo'
                exportRenditionResponseSampleThree:
                  $ref: '#/components/examples/exportRenditionResponseSampleThree'
                exportPdfRenditionResponseSampleOne:
                  $ref: '#/components/examples/exportPdfRenditionResponseSampleOne'
                exportPdfRenditionResponseSampleTwo:
                  $ref: '#/components/examples/exportPdfRenditionResponseSampleTwo'
                generateVariationResponseSample:
                  $ref: '#/components/examples/generateVariationResponseSample'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
              examples:
                errorResponseDetailsNotFound:
                  $ref: '#/components/examples/errorResponseDetailsNotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
              examples:
                errorResponseDetailsRuntimeError:
                  $ref: '#/components/examples/errorResponseDetailsRuntimeError'
      tags:
      - Status
components:
  schemas:
    ExpressDocument:
      description: Details of the Express document.
      type: object
      properties:
        id:
          description: The unique identifier of the document.
          type: string
        name:
          description: The name or title of the document.
          type: string
        thumbnailUrl:
          description: 'Pre-signed URL for the Document''s thumbnail rendition.

            The size of the rendition will be `640 pixels` along the longest side. The format of the rendition will be a `PNG` image.'
          type: string
      required:
      - id
      - name
      - thumbnailUrl
    PageRenditionResponse:
      description: Response payload for the "export-rendition" API when exporting page renditions.
      type: object
      properties:
        id:
          description: The identifier of the document for which the rendition request was made.
          type: string
        pageRenditionsResult:
          description: The exported renditions outcome indicates whether they were successful or failed.
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/SuccessfulPageRendition'
            - $ref: '#/components/schemas/FailedPageRendition'
        jobId:
          description: The identifier of the job.
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
          description: The status of the job.
      required:
      - id
      - jobId
      - pageRenditionsResult
      - status
    JobStatusResponse:
      description: Base response payload returned by Job Status API.
      type: object
      properties:
        jobId:
          description: The identifier of the job.
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
          description: The status of the job.
      required:
      - jobId
      - status
    SuccessfulPageRendition:
      description: Details of the page rendition that was successfully exported.
      type: object
      properties:
        pageNumber:
          description: The page number for which the rendition export request was made.
          type: number
        renditionUrl:
          description: Pre-signed URL where the rendition result can be downloaded from.
          type: string
      required:
      - pageNumber
      - renditionUrl
    FailedPageRendition:
      description: Details of the page rendition that failed to export.
      type: object
      properties:
        pageNumber:
          description: The page number for which the rendition export request was made.
          type: number
        error:
          $ref: '#/components/schemas/ErrorResponseDetails'
          description: Error object indicating the reason for the failure.
      required:
      - error
      - pageNumber
    FailedPdfRendition:
      description: Result of a failed PDF rendition export.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseDetails'
          description: Error object indicating the reason for the failure.
      required:
      - error
    ExportRenditionResponse:
      description: Response payload for the "export-rendition" API.
      anyOf:
      - $ref: '#/components/schemas/PageRenditionResponse'
      - $ref: '#/components/schemas/PdfRenditionResponse'
    GenerateVariationResponse:
      description: Response payload for the "generate-variation" API.
      type: object
      properties:
        document:
          $ref: '#/components/schemas/ExpressDocument'
          description: Specifies the details of the generated variation.
        jobId:
          description: The identifier of the job.
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
          description: The status of the job.
      required:
      - document
      - jobId
      - status
    PdfRenditionResponse:
      description: Response payload for the "export-rendition" API when exporting PDF rendition.
      type: object
      properties:
        id:
          description: The identifier of the document for which the rendition request was made.
          type: string
        pageRenditionsResult:
          description: The exported PDF rendition outcome.
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/SuccessfulPdfRendition'
            - $ref: '#/components/schemas/FailedPdfRendition'
        jobId:
          description: The identifier of the job.
          type: string
        status:
          $ref: '#/components/schemas/JobStatus'
          description: The status of the job.
      required:
      - id
      - jobId
      - pageRenditionsResult
      - status
    JobStatus:
      description: Various statuses of a job.
      enum:
      - cancel_requested
      - cancelled
      - failed
      - partially_succeeded
      - pending
      - running
      - succeeded
      type: string
    ErrorResponseDetails:
      description: Details of the error response.
      type: object
      properties:
        error_code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        validation_errors:
          description: Validation error messages.
          type: array
          items:
            type: string
      required:
      - error_code
    SuccessfulPdfRendition:
      description: Result of a successful PDF rendition export.
      type: object
      properties:
        renditionUrl:
          description: The URL of the PDF rendition.
          type: string
      required:
      - renditionUrl
  examples:
    generateVariationResponseSample:
      summary: Generate variation request succeeded
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: succeeded
        document:
          id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
          name: Generated Document
          thumbnailUrl: https://example.com/thumbnails/generated-doc.png
    exportRenditionResponseSampleOne:
      summary: Export Rendition response sample 1
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: succeeded
        id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
        pageRenditionsResult:
        - pageNumber: 1
          renditionUrl: https://example.com/rendition/page1.jpg
        - pageNumber: 2
          renditionUrl: https://example.com/rendition/page2.jpg
        - pageNumber: 3
          renditionUrl: https://example.com/rendition/page2.jpg
        - pageNumber: 4
          renditionUrl: https://example.com/rendition/page2.jpg
        - pageNumber: 5
          renditionUrl: https://example.com/rendition/page2.jpg
    jobStatusResponseSampleOne:
      summary: Job status response running
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: running
    errorResponseDetailsNotFound:
      summary: Not Found
      value:
        error_code: not_found
        message: Requested resource not found
    exportPdfRenditionResponseSampleOne:
      summary: Export PDF Rendition Response - Succeeded
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: succeeded
        id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
        pageRenditionsResult:
        - renditionUrl: https://example.com/rendition/document.pdf
    exportRenditionResponseSampleThree:
      summary: Export Rendition response sample 3
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: failed
        id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
        pageRenditionsResult:
        - pageNumber: 1
          error:
            error_code: runtime_error
            message: Runtime error
        - pageNumber: 2
          error:
            error_code: runtime_error
            message: Runtime error
    jobStatusResponseSampleTwo:
      summary: Job status response succeeded
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: succeeded
    exportPdfRenditionResponseSampleTwo:
      summary: Export PDF Rendition Response - Failed
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: failed
        id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
        pageRenditionsResult:
        - error:
            error_code: runtime_error
            message: Runtime error
    exportRenditionResponseSampleTwo:
      summary: Export Rendition response sample 2
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: partially_succeeded
        id: urn:aaid:sc:AP:0000aaaa-0000-000a-0000-000000aaaaaa
        pageRenditionsResult:
        - pageNumber: 1
          renditionUrl: https://example.com/rendition/page1.jpg
        - pageNumber: 2
          error:
            error_code: access_error
            message: Not allowed
        - pageNumber: 3
          renditionUrl: https://example.com/rendition/page3.jpg
    errorResponseDetailsRuntimeError:
      summary: Runtime Error
      value:
        error_code: runtime_error
        message: Runtime error
    jobStatusResponseSampleThree:
      summary: Job status response failed
      value:
        jobId: af121560-218e-4dd9-918d-add12b3b6d98
        status: failed
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-KEY
      in: header
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
