openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Execution Artifacts API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Execution Artifacts
paths:
  /api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/artifacts:
    get:
      tags:
      - Execution Artifacts
      summary: ListArtifacts
      description: Get the list of artifacts associated with a step.
      operationId: listStepArtifacts
      parameters:
      - name: programId
        in: path
        description: Identifier of the program.
        required: true
        schema:
          type: string
      - name: pipelineId
        in: path
        description: Identifier of the pipeline
        required: true
        schema:
          type: string
      - name: executionId
        in: path
        description: Identifier of the execution
        required: true
        schema:
          type: string
      - name: phaseId
        in: path
        description: Identifier of the phase
        required: true
        schema:
          type: string
      - name: stepId
        in: path
        description: Identifier of the step
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of artifacts list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
        '403':
          description: Missing permission for user to read artifacts
        '404':
          description: Pipeline execution does not exist
  /api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/artifact/{artifactId}:
    get:
      tags:
      - Execution Artifacts
      summary: GetArtifact
      description: Get artifact.
      operationId: getStepArtifact
      parameters:
      - name: programId
        in: path
        description: Identifier of the program.
        required: true
        schema:
          type: string
      - name: pipelineId
        in: path
        description: Identifier of the pipeline
        required: true
        schema:
          type: string
      - name: executionId
        in: path
        description: Identifier of the execution
        required: true
        schema:
          type: string
      - name: phaseId
        in: path
        description: Identifier of the phase
        required: true
        schema:
          type: string
      - name: stepId
        in: path
        description: Identifier of the step
        required: true
        schema:
          type: string
      - name: artifactId
        in: path
        description: Identifier of the artifact
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of artifact
        '403':
          description: Missing permission for user to read artifact
        '404':
          description: Pipeline execution does not exist
components:
  schemas:
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    Artifact:
      type: object
      required:
      - stepName
      - type
      properties:
        id:
          type: string
          example: '29'
          description: Identifier of the Artifact
        stepName:
          type: string
          example: loadTest
          description: Name of the step
        type:
          type: string
          example: LOAD_ERROR_PAGES
          description: Type of the artifact
          enum:
          - LOG_FILE
          - SCAN_ISSUES
          - LOAD_ERROR_PAGES
          - LOAD_SLOW_PAGES
          - LOAD_ERROR_GRAPH_CSV
          - LOAD_ERROR_GRAPH_JSON
          - LOAD_RESPONSE_TIME_GRAPH_CSV
          - LOAD_RESPONSE_TIME_GRAPH_JSON
          - LOAD_PEAK_RESPONSE_TIME_GRAPH_JSON
          - LOAD_PEAK_RESPONSE_TIME_GRAPH_CSV
          - CPU_PERCENT_CSV
          - CPU_PERCENT_JSON
          - CPU_I_O_WAIT_PERCENT_CSV
          - CPU_I_O_WAIT_PERCENT_JSON
          - DISK_UTILIZATION_PERCENT_CSV
          - DISK_UTILIZATION_PERCENT_JSON
          - NETWORK_BANDWIDTH_CSV
          - NETWORK_BANDWIDTH_JSON
          - SKYLINE_CUSTOMER_IMAGE
          - SKYLINE_DISPATCHER_CONFIGURATION
          - SIGNED_CONTENT_PACKAGE
          - SIGNED_DISPATCHER_CONFIGURATION
          - CONTENT_AUDIT_RESULTS
          - CONTENT_AUDIT_REPORT
          - SKYLINE_UI_TESTS_IMAGE
          - SKYLINE_TRANSFORM_JOB_OUTPUT_ARTIFACT
          - SKYLINE_TRANSFORM_JOB_OUTPUT_DESCRIPTOR
          - CONTENT_PACKAGE
          - DISPATCHER_CONFIGURATION
          - FONT_ARCHIVE
          - UI_TEST_RESULTS
        file:
          type: string
          example: build/code_quality_scan.log
          description: File location
        format:
          type: string
          example: text/csv
          description: File format
        md5:
          type: string
          example: d41d8cd98f00b204e9800998ecf8427e
          description: MD5 hash of the file
        _links:
          type: object
          readOnly: true
          properties:
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: Describes an artifact associated with a step
    ArtifactList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _embedded:
          type: object
          readOnly: true
          properties:
            artifacts:
              type: array
              items:
                $ref: '#/components/schemas/Artifact'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: Describes a list of artifacts associated with a step
