openapi: 3.2.0
info:
  version: '1.0'
  title: Schema Registry Stats API
  description: Use the Schema Registry API to access the Schema Library within Adobe Experience Platform.
servers:
- url: https://platform.adobe.io/data/foundation/schemaregistry
tags:
- name: Stats
  description: Returns {TENANT_ID} along with information regarding IMS Org usage of the Schema Registry such as resource counts, recently created resources, and class usage.
paths:
  /stats:
    parameters:
    - $ref: '#/components/parameters/authorization'
    - $ref: '#/components/parameters/x-api-key'
    - $ref: '#/components/parameters/x-gw-ims-org-id'
    - $ref: '#/components/parameters/x-sandbox-name'
    get:
      tags:
      - Stats
      summary: Retrieve your tenant ID and other usage information related to the Schema…
      operationId: retrieveStats
      responses:
        200:
          x-summary: Success
          description: A successful response returns your tenant ID and Schema Registry usage information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/statsResponse'
        '400':
          x-summary: Bad formatting
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
components:
  parameters:
    x-api-key:
      name: x-api-key
      description: The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    x-gw-ims-org-id:
      name: x-gw-ims-org-id
      description: The IMS Organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    authorization:
      name: Authorization
      description: The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      required: true
      in: header
      schema:
        type: string
    x-sandbox-name:
      name: x-sandbox-name
      description: The name of the sandbox in which the operation will take place. See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
      required: true
      in: header
      schema:
        type: string
  schemas:
    classUsageItem:
      type: object
      properties:
        $id:
          type: string
          description: The URI ID of the class whose usage stats are being listed.
          example: https://ns.adobe.com/xdm/context/profile
        title:
          type: string
          description: The title of the class whose usage stats are being listed.
          example: XDM Individual Profile
        numberOfSchemas:
          type: integer
          description: The number of schemas that are based on the class.
          example: 2
        schemas:
          type: array
          description: A list of objects that describe the basic details about the schemas that are based on the class.
          items:
            $ref: '#/components/schemas/listResponseItem'
    statsResponse:
      type: object
      properties:
        imsOrg:
          type: string
          description: The ID of the IMS Organization that the returned stats apply to.
          example: '{IMS_ORG}'
        tenantId:
          type: string
          description: The tenant ID of the IMS Organization identified under `imsOrg`.
          example: '{TENANT_ID}'
        counts:
          type: object
          description: Provides the total counts of different XDM resources currently stored in the Schema Library.
          properties:
            schemas:
              type: integer
              description: The number of schemas currently stored in the Schema Library.
              example: 4
            mixins:
              type: integer
              description: The number of field groups currently stored in the Schema Library.
              example: 38
            datatypes:
              type: integer
              description: The number of data types currently stored in the Schema Library.
              example: 382
            classes:
              type: integer
              description: The number of classes currently stored in the Schema Library.
              example: 5
            unions:
              type: integer
              description: The number of union schemas currently stored in the Schema Library.
              example: 2
        recentlyCreatedResources:
          type: array
          description: Array of objects containing details of recently created resources.
          items:
            $ref: '#/components/schemas/listResponseItemWithVersion'
        recentlyUpdatedResources:
          type: array
          description: Array of objects containing details of recently updated resources.
          items:
            $ref: '#/components/schemas/listResponseItemWithVersion'
        classUsage:
          type: array
          description: Provides information about which schemas are being employed for each class in the Schema Library.
          items:
            $ref: '#/components/schemas/classUsageItem'
          example:
          - $id: https://ns.adobe.com/xdm/context/profile
            title: XDM Individual Profile
            numberOfSchemas: 3
            schemas:
            - $id: https://ns.adobe.com/{TENANT_ID}/schemas/3d569c62921ac9371ad148afbaec3891547aca2a49575cef
              title: Customers
              description: Basic profile schema.
            - $id: https://ns.adobe.com/{TENANT_ID}/schemas/ad79ff2868d65545812ffe6745a2085d0b5deff379bc3faf
              title: Loyalty Members
              description: Describes members of the loyalty program.
            - $id: https://ns.adobe.com/{TENANT_ID}/schemas/274f17bc5807ff307a046bab1489fb18,
              title: Tenant Data Schema,
              meta:altId: _{TENANT_ID}.schemas.274f17bc5807ff307a046bab1489fb18,
          - $id: https://ns.adobe.com/xdm/context/profile
            title: XDM ExperienceEvent
            numberOfSchemas: 1
            schemas:
            - $id: https://ns.adobe.com/{TENANT_ID}/schemas/7a3739168b1cb52b1489f6f3c43eaa66ff155fa87cd1e5ee
              title: Website Event
              description: Describes a web traffic event.
    listResponseItemWithVersion:
      allOf:
      - $ref: '#/components/schemas/listResponseItem'
      - properties:
          version:
            type: string
            description: The current version of the XDM resource.
            example: '1.1'
    listResponseItem:
      type: object
      properties:
        title:
          type: string
          description: The title of the XDM resource.
          example: Tenant Data Schema
        $id:
          type: string
          description: The URI ID of the XDM resource.
          example: https://ns.adobe.com/{TENANT_ID}/schemas/274f17bc5807ff307a046bab1489fb18
        meta:altId:
          type: string
          description: An alternate dot-notation ID for the XDM resource.
          example: _{TENANT_ID}.schemas.274f17bc5807ff307a046bab1489fb18
