openapi: 3.2.0
info:
  version: 1.0.0
  title: Cloud Manager Network infrastructure API
  description: This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml.
servers:
- url: https://cloudmanager.adobe.io
tags:
- name: Network infrastructure
paths:
  /api/program/{programId}/networkInfrastructures:
    get:
      tags:
      - Network infrastructure
      summary: List Network Infrastructures
      description: Lists all network infrastructures in an program
      operationId: getNetworkInfrastructures
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of network infrastructure list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInfrastructuresList'
        '404':
          description: Program not found
    post:
      tags:
      - Network infrastructure
      summary: Create network configuration
      description: Create a new network configuration
      operationId: createNetworkInfrastructure
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Network infrastructure created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInfrastructure'
        '404':
          description: Resource not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkInfrastructure'
        description: Configuration
        required: true
  /api/program/{programId}/networkInfrastructure/{networkInfrastructureId}:
    get:
      tags:
      - Network infrastructure
      summary: Get network infrastructure
      description: Gets an existing network infrastructure
      operationId: getNetworkInfrastructure
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: networkInfrastructureId
        in: path
        description: Identifier of the network infrastructure
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Got network Infrastructure details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInfrastructure'
        '404':
          description: Network Infrastructure not found
    put:
      tags:
      - Network infrastructure
      summary: Update network infrastructure
      description: Updates an existing network infrastructure
      operationId: updateNetworkInfrastructure
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: networkInfrastructureId
        in: path
        description: Identifier of the network infrastructure
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Must always be application/json
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Network infrastructure updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInfrastructure'
        '404':
          description: Network Infrastructure not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkInfrastructure'
        description: Configuration
        required: true
    delete:
      tags:
      - Network infrastructure
      summary: Delete network infrastructure
      description: Deletes an existing network infrastructure
      operationId: deleteNetworkInfrastructure
      parameters:
      - name: programId
        in: path
        description: Identifier of the program
        required: true
        schema:
          type: string
      - name: networkInfrastructureId
        in: path
        description: Identifier of the network infrastructure
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: IMS organization ID that the request is being made under.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer [token] - An access token for the technical account created through integration with Adobe IO
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInfrastructure'
        '204':
          description: Network infrastructure deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInfrastructure'
        '400':
          description: Network Infrastructure cannot be deleted
        '404':
          description: Network Infrastructure not found
components:
  schemas:
    IpSecPolicyInfrastructure:
      type: object
      required:
      - dhGroup
      - ikeEncryption
      - ikeIntegrity
      - ipsecEncryption
      - ipsecIntegrity
      - pfsGroup
      - saDatasize
      - saLifetime
      properties:
        dhGroup:
          type: string
          description: DH Group
          enum:
          - DHGroup24
          - ECP384
          - ECP256
          - DHGroup14
          - DHGroup2048
          - DHGroup2
          - DHGroup1
          - None
        ikeEncryption:
          type: string
          description: IKEv2 Encryption
          enum:
          - AES256
          - AES192
          - AES128
          - DES3
          - DES
        ikeIntegrity:
          type: string
          description: IKEv2 Integrity
          enum:
          - SHA384
          - SHA256
          - SHA1
          - MD5
        ipsecEncryption:
          type: string
          description: IPsec Encryption
          enum:
          - GCMAES256
          - GCMAES192
          - GCMAES128
          - AES256
          - AES192
          - AES128
          - DES3
          - DES
          - None
        ipsecIntegrity:
          type: string
          description: IPsec Integrity
          enum:
          - GCMAES256
          - GCMAES192
          - GCMAES128
          - SHA256
          - SHA1
          - MD5
        pfsGroup:
          type: string
          description: PFS Group
          enum:
          - PFS24
          - ECP384
          - ECP256
          - PFS2048
          - PFS2
          - PFS1
          - None
        saDatasize:
          type: integer
          format: int64
          description: QM SA Lifetime in KBytes under 1024
          minimum: 1024
        saLifetime:
          type: integer
          format: int32
          description: QM SA Lifetime in Seconds, minimum 300
          minimum: 300
    NetworkInfrastructure:
      type: object
      required:
      - kind
      - region
      properties:
        kind:
          type: string
          description: Kind of the infrastructure
          enum:
          - vpn
          - dedicatedEgressIp
          - flexiblePortEgress
        id:
          type: string
          description: id
          readOnly: true
        programId:
          type: string
          example: '14'
          description: Identifier of the program. Unique within the space.
          readOnly: true
        status:
          type: string
          example: creating
          description: Status of the network configuration
          enum:
          - creating
          - failed
          - updating
          - deleting
          - deleted
          - ready
          - error
          readOnly: true
        region:
          type: string
          example: va6
          description: Region to create the infrastructure. Use your primary region, whose identifier can be retrieved from the [List Regions endpoint](#operation/getProgramRegions).
        isPrimaryRegion:
          type: boolean
          description: Boolean property to mark whether network infrastructure being created is for primary region or not.
          default: false
        created:
          type: string
          format: date-time
          description: Creation date
          readOnly: true
        updated:
          type: string
          format: date-time
          description: Last modification date
          readOnly: true
        addressSpace:
          type: array
          description: A list of CIDRs. It can only be one /26 CIDR (64 IP addresses) or bigger IP range in the customer space. Cannot be changed later. Only applicable to VPN.
          items:
            type: string
        dns:
          description: DNS Information. Only applicable to VPN infrastructures.
          $ref: '#/components/schemas/DnsConfiguration'
        connections:
          type: array
          description: List of VPN connections
          items:
            $ref: '#/components/schemas/VpnConnection'
        statusDetails:
          description: Error details. Present only when failed operations.
          $ref: '#/components/schemas/ErrorDetailsRepresentation'
          readOnly: true
        _links:
          type: object
          readOnly: true
          properties:
            http://ns.adobe.com/adobecloud/rel/program:
              $ref: '#/components/schemas/HalLink'
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
      description: An network infrastructure representation
    ErrorDetailsRepresentation:
      type: object
      properties:
        errorCode:
          type: string
          description: The error code
          readOnly: true
        publicDetails:
          type: object
          description: Additional error details that can be used by customer
          additionalProperties:
            type: object
          readOnly: true
        message:
          type: string
          description: Human readable error message
          readOnly: true
    NetworkInfrastructuresList:
      type: object
      properties:
        _totalNumberOfItems:
          type: integer
          format: int32
          description: The total number of embedded items
        _embedded:
          type: object
          readOnly: true
          properties:
            networkInfrastructures:
              type: array
              items:
                $ref: '#/components/schemas/NetworkInfrastructure'
        _links:
          type: object
          readOnly: true
          properties:
            next:
              $ref: '#/components/schemas/HalLink'
              description: The next page of results.
            prev:
              $ref: '#/components/schemas/HalLink'
              description: The previous page of results.
            self:
              $ref: '#/components/schemas/HalLink'
              description: This object's representation
    HalLink:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
          default: false
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        title:
          type: string
        hreflang:
          type: string
        name:
          type: string
    GatewayInfrastructure:
      type: object
      required:
      - address
      - addressSpace
      properties:
        address:
          type: string
          description: Customer VPN Device IP Address
        addressSpace:
          type: array
          description: IP Ranges to route through the VPN
          items:
            type: string
    DnsConfiguration:
      type: object
      required:
      - resolvers
      properties:
        resolvers:
          type: array
          description: List of remote DNS resolvers
          items:
            type: string
      description: DNS Information. Only applicable to VPN infrastructures.
    VpnConnection:
      type: object
      required:
      - gateway
      - ipsecPolicy
      - name
      - sharedKey
      properties:
        name:
          type: string
          description: Name of the connection
        gateway:
          description: Gateway configuration
          $ref: '#/components/schemas/GatewayInfrastructure'
        sharedKey:
          type: string
          description: Customer VPN preshared key
        ipsecPolicy:
          description: IPSec Policy
          $ref: '#/components/schemas/IpSecPolicyInfrastructure'
