{
  "openapi": "3.1.0",
  "info": {
    "version": "3.0.0",
    "title": "Firefly API",
    "description": "REST API for Adobe Firefly services including image generation, image alteration, image upscaling, video generation, and other related services."
  },
  "servers": [
    {
      "url": "https://firefly-api.adobe.io",
      "description": "Production server."
    }
  ],
  "security": [
    {
      "X-Api-Key": [],
      "AccessToken": []
    }
  ],
  "tags": [
    {
        "name": "Common Operations",
        "description": "Core Firefly API operations for generating and manipulating images and videos."
    },
    {
        "name": "Composite Operations",
        "description": "Object composite image generation: prompt-based composite, precise composite, and adaptive composite endpoints."
    },
    {
      "name": "Upscale",
      "description": "Image upscaling with the precise upsampler."
    },
    {
        "name": "Manage jobs",
        "description": "Endpoints for managing running asynchronous jobs."
      }
  ],
  "paths": {
    "/v3/images/generate-async": {
      "post": {
        "operationId": "generateImagesV3Async",
        "summary": "Generate images",
        "description": "Generate images based on a text prompt. You may also include a reference image and Firefly will try to mimic the characteristics, such as color scheme, lighting, layout of objects in the image, etc.",
        "tags": ["Common Operations"],
        "parameters": [
          {
            "name": "x-model-version",
            "in": "header",
            "description": "Specify the Firefly model version to use for the image generation. When a custom model is used, a `customModelId` must also be passed in the request body.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "image3",
              "enum": [
                "image3",
                "image3_custom",
                "image4_standard",
                "image4_ultra",
                "image4_custom"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateImagesRequestV3"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_generateImagesV3Async"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncAcceptResponseV3"
                }
              }
            },
            "description": "Accepted",
            "headers": {
              "Link": {
                "description": "Links to check the job status or cancel the job.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "bad_request": {
                    "value": {
                      "error_code": "bad_request"
                    }
                  },
                  "empty_input_body": {
                    "value": {
                      "error_code": "empty_input_body"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "access_error": {
                    "value": {
                      "error_code": "access_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Forbidden",
            "headers": {
              "x-access-error": {
                "description": "Indicates the reason access is not authorized.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "quota_exhausted",
                    "user_non_entitled",
                    "user_profile_denied",
                    "invalid_ims_scope"
                  ]
                }
              }
            }
          },
          "408": {
            "content": {
              "application/json": {
                "examples": {
                  "timeout_error": {
                    "value": {
                      "error_code": "timeout_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Request Timeout"
          },
          "413": {
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Request Entity Too Large"
          },
          "415": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_content_type": {
                    "value": {
                      "error_code": "invalid_content_type"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "validation_error": {
                    "value": {
                      "error_code": "validation_error",
                      "validation_errors": [
                        {
                          "ctx": {
                            "enum_values": [
                              "photo",
                              "art"
                            ]
                          },
                          "loc": [
                            "body",
                            "contentClass"
                          ],
                          "msg": "value is not a valid enumeration member; permitted: 'photo', 'art'",
                          "type": "type_error.enum"
                        }
                      ]
                    }
                  },
                  "unsupported_value": {
                    "summary": "Unsupported value",
                    "value": {
                      "error_code": "validation_error",
                      "validation_errors": [
                        {
                          "loc": ["body", "seeds"],
                          "msg": "ensure this value has at most 1 items",
                          "type": "value_error.list.max_items"
                        }
                      ]
                    }
                  },
                  "assertion_violation": {
                    "summary": "Assertion violation",
                    "value": {
                      "error_code": "cai_assertion_violation_error",
                      "message": "Request failed content assertion checks."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error_code": "rate_limited"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "retry-after": {
                "description": "Indicates the date after which the client should retry the request.",
                "schema": {
                  "type": "string"
                }
              },
              "x-access-rate-limit-level": {
                "description": "Indicates the level at which the rate limit was applied. Possible values are:\n- org: The rate limit was applied to the organization\n- account: The rate limit was applied to the organization's tech account.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "runtime_error": {
                    "value": {
                      "error_code": "runtime_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v4/images/generate-async": {
      "post": {
        "operationId": "firefly_image_v5_generate_async_v4",
        "summary": "Generate images with Image5",
        "description": "Generate images asynchronously using Firefly's Image5 model. When <code>referenceBlobs</code> is included in the request, omit <code>aspectRatio</code> or set it to <code>auto</code>.",
        "tags": ["Common Operations"],
        "parameters": [
          {
            "name": "x-model-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["image5"],
              "default": "image5"
            },
            "description": "The model version to use for image generation."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerateRequestV3"
              },
              "examples": {
                "fullPayload": {
                  "summary": "Full payload example",
                  "value": {
                    "prompt": "A futuristic city glowing at night, with neon lights and flying cars",
                    "aspectRatio": "auto",
                    "resolutionLevel": "2.4MP",
                    "modelId": "firefly_image",
                    "numVariations": 1,
                    "seeds": [42345],
                    "modelSpecificPayload": {
                      "localeCode": "en-US",
                      "prompt_reasoner": "quality"
                    },
                    "referenceBlobs": [
                      {
                        "source": {
                          "url": "https://example.com/reference-image.jpg"
                        },
                        "usage": "general"
                      }
                    ]
                  }
                },
                "textToImageGeneration": {
                  "summary": "Text-to-Image generation",
                  "value": {
                    "prompt": "A hyper-detailed illustration of a floating city at sunrise",
                    "aspectRatio": "16:9",
                    "resolutionLevel": "4MP",
                    "modelId": "firefly_image",
                    "numVariations": 1,
                    "referenceBlobs": []
                  }
                },
                "imageToImageInstructEdit": {
                  "summary": "Image-to-Image instruct edit",
                  "value": {
                    "prompt": "Add warm sunset lighting and enhance the reflection on the water",
                    "resolutionLevel": "2.4MP",
                    "modelId": "firefly_image",
                    "numVariations": 1,
                    "referenceBlobs": [
                      {
                        "source": {
                          "uploadId": "123e4567-e89b-12d3-a456-426614174000"
                        },
                        "usage": "general"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskResponse"
                },
                "example": {
                  "links": {
                    "cancel": {
                      "href": "https://firefly-api.adobe.io/v3/cancel/job-abc123"
                    },
                    "result": {
                      "href": "https://firefly-api.adobe.io/v3/status/job-abc123"
                    }
                  },
                  "progress": 0
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "invalid_enum": {
                    "summary": "Invalid enum value",
                    "value": {
                      "error_code": "validation_error",
                      "validation_errors": [
                        {
                          "loc": ["body", "aspectRatio"],
                          "msg": "value is not a valid enumeration member; permitted: '1:1', '4:3', '3:4', '16:9', '9:16', 'auto'",
                          "type": "type_error.enum"
                        }
                      ]
                    }
                  },
                  "unsupported_value": {
                    "summary": "Unsupported value",
                    "value": {
                      "error_code": "validation_error",
                      "validation_errors": [
                        {
                          "loc": ["body", "numVariations"],
                          "msg": "ensure this value is less than or equal to 1",
                          "type": "value_error.number.not_le"
                        }
                      ]
                    }
                  },
                  "assertion_violation": {
                    "summary": "Assertion violation",
                    "value": {
                      "error_code": "cai_assertion_violation_error",
                      "message": "Request failed content assertion checks."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "451": {
            "description": "Unavailable For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentPolicyErrorResponse"
                },
                "examples": {
                  "prompt_unsafe": {
                    "summary": "Unsafe prompt",
                    "value": {
                      "error_code": "prompt_unsafe",
                      "message": "The prompt did not pass content policy checks."
                    }
                  },
                  "input_image_unsafe": {
                    "summary": "Unsafe input image",
                    "value": {
                      "error_code": "input_media_unsafe",
                      "message": "The input image did not pass content policy checks."
                    }
                  }
                }
              }
            }
          },
          "499": {
            "description": "Client Closed Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/images/generate-similar-async": {
      "post": {
        "operationId": "generateSimilarImagesV3Async",
        "summary": "Generate similar images",
        "description": "Generate similar images based on a reference image that you provide as a parameter.",
        "tags": ["Common Operations"],
        "parameters": [
          {
            "name": "x-model-version",
            "in": "header",
            "description": "Specify the Firefly model version to use for the image generation.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "image3",
              "enum": [
                "image3",
                "image4_standard",
                "image4_ultra"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateSimilarImagesRequestV3"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_generateSimilarImagesV3Async"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncAcceptResponseV3"
                }
              }
            },
            "description": "Accepted",
            "headers": {
              "Link": {
                "description": "Links to check the job status or cancel the job.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "bad_request": {
                    "value": {
                      "error_code": "bad_request"
                    }
                  },
                  "empty_input_body": {
                    "value": {
                      "error_code": "empty_input_body"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "access_error": {
                    "value": {
                      "error_code": "access_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Forbidden",
            "headers": {
              "x-access-error": {
                "description": "Indicates the reason access is not authorized.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "quota_exhausted",
                    "user_non_entitled",
                    "user_profile_denied",
                    "invalid_ims_scope"
                  ]
                }
              }
            }
          },
          "408": {
            "content": {
              "application/json": {
                "examples": {
                  "timeout_error": {
                    "value": {
                      "error_code": "timeout_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Request Timeout"
          },
          "413": {
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Request Entity Too Large"
          },
          "415": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_content_type": {
                    "value": {
                      "error_code": "invalid_content_type"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "validation_error": {
                    "value": {
                      "error_code": "validation_error",
                      "validation_errors": [
                        {
                          "ctx": {
                            "enum_values": [
                              "photo",
                              "art"
                            ]
                          },
                          "loc": [
                            "body",
                            "contentClass"
                          ],
                          "msg": "value is not a valid enumeration member; permitted: 'photo', 'art'",
                          "type": "type_error.enum"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error_code": "rate_limited"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "retry-after": {
                "description": "Indicates the date after which the client should retry the request.",
                "schema": {
                  "type": "string"
                }
              },
              "x-access-rate-limit-level": {
                "description": "Indicates the level at which the rate limit was applied. Possible values are:\n- org: The rate limit was applied to the organization\n- account: The rate limit was applied to the organization's tech account.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "runtime_error": {
                    "value": {
                      "error_code": "runtime_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v3/images/expand-async": {
      "post": {
        "operationId": "expandImagesV3Async",
        "summary": "Expand image",
        "description": "Change the aspect ratio or size of an image to expand it. Optionally, provide a text prompt to generate additional imagery for the expansion.",
        "tags": ["Common Operations"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpandImageRequestV3"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_expandImagesV3Async"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncAcceptResponseV3"
                }
              }
            },
            "description": "Accepted",
            "headers": {
              "Link": {
                "description": "Links to check the job status or cancel the job.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "bad_request": {
                    "value": {
                      "error_code": "bad_request"
                    }
                  },
                  "empty_input_body": {
                    "value": {
                      "error_code": "empty_input_body"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "access_error": {
                    "value": {
                      "error_code": "access_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Forbidden",
            "headers": {
              "x-access-error": {
                "description": "Indicates the reason access is not authorized.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "quota_exhausted",
                    "user_non_entitled",
                    "user_profile_denied",
                    "invalid_ims_scope"
                  ]
                }
              }
            }
          },
          "408": {
            "content": {
              "application/json": {
                "examples": {
                  "timeout_error": {
                    "value": {
                      "error_code": "timeout_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Request Timeout"
          },
          "413": {
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Request Entity Too Large"
          },
          "415": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_content_type": {
                    "value": {
                      "error_code": "invalid_content_type"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "validation_error": {
                    "value": {
                      "error_code": "validation_error",
                      "validation_errors": [
                        {
                          "ctx": {
                            "enum_values": [
                              "photo",
                              "art"
                            ]
                          },
                          "loc": [
                            "body",
                            "contentClass"
                          ],
                          "msg": "value is not a valid enumeration member; permitted: 'photo', 'art'",
                          "type": "type_error.enum"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error_code": "rate_limited"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "retry-after": {
                "description": "Indicates the date after which the client should retry the request.",
                "schema": {
                  "type": "string"
                }
              },
              "x-access-rate-limit-level": {
                "description": "Indicates the level at which the rate limit was applied. Possible values are:\n- org: The rate limit was applied to the organization\n- account: The rate limit was applied to the organization's tech account.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "runtime_error": {
                    "value": {
                      "error_code": "runtime_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v3/images/fill-async": {
      "post": {
        "operationId": "fillImagesV3Async",
        "summary": "Fill image",
        "description": "Generates a fill in an area of an image based on a text prompt. A mask defines the area of the image to be filled.",
        "tags": ["Common Operations"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FillImageRequestV3"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_fillImagesV3Async"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncAcceptResponseV3"
                }
              }
            },
            "description": "Accepted",
            "headers": {
              "Link": {
                "description": "Links to check the job status or cancel the job.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "bad_request": {
                    "value": {
                      "error_code": "bad_request"
                    }
                  },
                  "empty_input_body": {
                    "value": {
                      "error_code": "empty_input_body"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "access_error": {
                    "value": {
                      "error_code": "access_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Forbidden",
            "headers": {
              "x-access-error": {
                "description": "Indicates the reason access is not authorized.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "quota_exhausted",
                    "user_non_entitled",
                    "user_profile_denied",
                    "invalid_ims_scope"
                  ]
                }
              }
            }
          },
          "408": {
            "content": {
              "application/json": {
                "examples": {
                  "timeout_error": {
                    "value": {
                      "error_code": "timeout_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Request Timeout"
          },
          "413": {
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Request Entity Too Large"
          },
          "415": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_content_type": {
                    "value": {
                      "error_code": "invalid_content_type"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "validation_error": {
                    "value": {
                      "error_code": "validation_error",
                      "validation_errors": [
                        {
                          "ctx": {
                            "enum_values": [
                              "photo",
                              "art"
                            ]
                          },
                          "loc": [
                            "body",
                            "contentClass"
                          ],
                          "msg": "value is not a valid enumeration member; permitted: 'photo', 'art'",
                          "type": "type_error.enum"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error_code": "rate_limited"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "retry-after": {
                "description": "Indicates the date after which the client should retry the request.",
                "schema": {
                  "type": "string"
                }
              },
              "x-access-rate-limit-level": {
                "description": "Indicates the level at which the rate limit was applied. Possible values are:\n- org: The rate limit was applied to the organization\n- account: The rate limit was applied to the organization's tech account.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "runtime_error": {
                    "value": {
                      "error_code": "runtime_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v3/images/generate-object-composite-async": {
      "post": {
        "operationId": "generateObjectCompositeV3Async",
        "summary": "Generate object composite",
        "description": "Combines your image and images generated by Firefly to create an image composite, or scene. The images that Firefly generates are based on a text prompt that you provide. You can upload an image with or without an image mask, such as a product photo, but for a successful result one of the following conditions must be true: <ul> <li>The request size is larger than the input image, OR</li> <li>The image contains a transparent layer/channel, OR</li> <li>A mask is provided</li> </ul>",
        "tags": ["Composite Operations"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateObjectCompositeRequestV3"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_generateObjectCompositeV3Async"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncAcceptResponseV3"
                }
              }
            },
            "description": "Accepted",
            "headers": {
              "Link": {
                "description": "Links to check the job status or cancel the job.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "bad_request": {
                    "value": {
                      "error_code": "bad_request"
                    }
                  },
                  "empty_input_body": {
                    "value": {
                      "error_code": "empty_input_body"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "access_error": {
                    "value": {
                      "error_code": "access_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Forbidden",
            "headers": {
              "x-access-error": {
                "description": "Indicates the reason access is not authorized.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "quota_exhausted",
                    "user_non_entitled",
                    "user_profile_denied",
                    "invalid_ims_scope"
                  ]
                }
              }
            }
          },
          "408": {
            "content": {
              "application/json": {
                "examples": {
                  "timeout_error": {
                    "value": {
                      "error_code": "timeout_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Request Timeout"
          },
          "415": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_content_type": {
                    "value": {
                      "error_code": "invalid_content_type"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "validation_error": {
                    "value": {
                      "error_code": "validation_error",
                      "validation_errors": [
                        {
                          "ctx": {
                            "enum_values": [
                              "photo",
                              "art"
                            ]
                          },
                          "loc": [
                            "body",
                            "contentClass"
                          ],
                          "msg": "value is not a valid enumeration member; permitted: 'photo', 'art'",
                          "type": "type_error.enum"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error_code": "rate_limited"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "retry-after": {
                "description": "Indicates the date after which the client should retry the request.",
                "schema": {
                  "type": "string"
                }
              },
              "x-access-rate-limit-level": {
                "description": "Indicates the level at which the rate limit was applied. Possible values are:\n- org: The rate limit was applied to the organization\n- account: The rate limit was applied to the organization's tech account.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "runtime_error": {
                    "value": {
                      "error_code": "runtime_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v3/images/precise-composite": {
      "post": {
        "operationId": "preciseComposite",
        "summary": "Generate precise composite",
        "description": "Submits an asynchronous precise composite generation job using the precise composite pipeline.",
        "tags": ["Composite Operations"],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "description": "Must be application/json for JSON request body.",
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreciseCompositeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "451": {
            "description": "Unavailable For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentPolicyErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          }
        }
      }
    },
    "/v3/images/adaptive-composite": {
      "post": {
        "operationId": "adaptiveComposite",
        "summary": "Generate adaptive composite",
        "description": "Submits an asynchronous adaptive composite generation job using the adaptive composite pipeline.",
        "tags": ["Composite Operations"],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "description": "Must be application/json for JSON request body.",
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdaptiveCompositeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "451": {
            "description": "Unavailable For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentPolicyErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          }
        }
      }
    },
    "/v3/images/upscale": {
      "post": {
        "operationId": "preciseUpsamplerV3Async",
        "summary": "Upscale image",
        "description": "Upscales an image asynchronously using the precise upsampler. Provide the input image via an upload ID from the storage API or a presigned URL. The response includes links to check status and retrieve the result. Poll the status URL until the job completes, then fetch the result for the upscaled image(s).",
        "tags": ["Upscale"],
        "parameters": [
          {
            "name": "x-model-version",
            "in": "header",
            "required": false,
            "description": "Model version for the upscale operation. Only `precise_upsampler_v1` is supported. Passing `creative_upsampler_v1` will return a 422 validation error.",
            "schema": {
              "type": "string",
              "enum": [
                "precise_upsampler_v1"
              ],
              "default": "precise_upsampler_v1",
              "example": "precise_upsampler_v1"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreciseUpsamplerRequestV3"
              },
              "example": {
                "image": {
                  "source": {
                    "uploadId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  }
                },
                "seeds": [12345],
                "upscaleFactor": 2
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreciseUpscaleAcceptResponseV3"
                },
                "example": {
                  "links": {
                    "result": {
                      "href": "https://firefly-api.adobe.io/v3/status/urn:ff:jobs:example:abc123"
                    },
                    "cancel": {
                      "href": "https://firefly-api.adobe.io/v3/cancel/urn:ff:jobs:example:abc123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "422": {
            "description": "Input Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "invalid_model_version": {
                    "summary": "Invalid x-model-version value",
                    "value": {
                      "error_code": "validation_error",
                      "message": "Invalid x-model-version: creative_upsampler_v1. Only 'precise_upsampler_v1' is supported."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                }
              }
            }
          }
        }
      }
    },
    "/v3/videos/generate": {
      "post": {
        "operationId": "generateVideoV3",
        "summary": "Generate video",
        "description": "Generate a five second video using a text prompt.",
        "tags": ["Common Operations"],
        "parameters": [
          {
            "name": "x-model-version",
            "in": "header",
            "description": "Specify the Firefly model version to use for the video generation.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "video1_standard"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateVideoRequestV3"
              }
            }
          },
          "required": true,
          "description": "The request body for the video generation."
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncAcceptResponseV3"
                }
              }
            },
            "description": "Accepted",
            "headers": {
              "Link": {
                "description": "Links to check the job status or cancel the job.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Forbidden",
            "headers": {
              "x-access-error": {
                "description": "Indicates the reason access is not authorized.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "quota_exhausted",
                    "user_non_entitled",
                    "user_profile_denied",
                    "invalid_ims_scope"
                  ]
                }
              }
            }
          },
          "408": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Request Timeout"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Unsupported Media Type"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "retry-after": {
                "description": "Indicates the date after which the client should retry the request.",
                "schema": {
                  "type": "string"
                }
              },
              "x-access-rate-limit-level": {
                "description": "Indicates the level at which the rate limit was applied. Possible values are:\n- org: The rate limit was applied to the organization\n- account: The rate limit was applied to the organization's tech account.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v3/custom-models": {
      "get": {
        "summary": "Retrieve custom models",
        "description": "Retrieve the custom models for a user.",
        "operationId": "getCustomModels",
        "tags": ["Common Operations"],
        "parameters": [
          {
            "name": "x-user-token",
            "in": "header",
            "description": "A user token referencing the user's individual account, obtained using their credentials. The user token must be preceded by `Bearer`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-request-id",
            "in": "header",
            "description": "A unique request identifier defined by you. This is used by Adobe Support to trace the request in logs. This header is automatically generated by the server if not explicitly set.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "A sorting option for the response list. For a reverse sort, use `-` (e.g., `-modifiedDate`). Multi-vector sorting is not currently supported.",
            "schema": {
              "type": "string",
              "default": "modifiedDate",
              "enum": [
                "assetName",
                "createdDate",
                "modifiedDate"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The first result to include in a paginated response. Required if a `limit` is specified.",
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of custom models to return in a paginated response.",
            "schema": {
              "type": "string",
              "maximum": 50,
              "minimum": 1
            }
          },
          {
            "name": "publishedState",
            "in": "query",
            "description": "This filters custom models by published state.",
            "schema": {
              "type": "string",
              "default": "published",
              "enum": [
                "all",
                "ready",
                "published",
                "unpublished",
                "queued",
                "training",
                "failed",
                "cancelled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomModelsFF3pInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/storage/image": {
      "post": {
        "summary": "Upload image",
        "description": "Upload source image or mask for image-to-image operations, such as fill, expand, or upscale. This API returns an identifier that is used to refer to uploaded content. The uploaded assets will be valid for 7 days from the date you upload them.",
        "operationId": "storageImageV2",
        "tags": ["Common Operations"],
        "requestBody": {
          "content": {
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/tiff": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/jxl": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "description": "The PNG, JPEG, WEBP, TIFF, or JXL image to be stored (binary data). The maximum file size supported for uploading an image is 15MB.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "451": {
            "description": "Unavailable for Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentPolicyErrorResponse"
                },
                "examples": {
                  "prompt_unsafe": {
                    "summary": "Unsafe prompt",
                    "value": {
                      "error_code": "prompt_unsafe",
                      "message": "The prompt did not pass content policy checks."
                    }
                  },
                  "input_image_unsafe": {
                    "summary": "Unsafe input image",
                    "value": {
                      "error_code": "input_media_unsafe",
                      "message": "The input image did not pass content policy checks."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v3/status/{jobId}": {
      "get": {
        "operationId": "jobResultV3",
        "summary": "Get job status",
        "description": "Get the status of an asynchronous job (including upscale jobs). When the job has completed successfully, the result reflects the operation type (for example generation, composite, or upscale).",
        "tags": ["Manage jobs"],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The job ID or URN returned in async response links.",
            "schema": {
              "type": "string",
              "title": "Job ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "error_code": "validation_error",
                  "validation_errors": [
                    {
                      "loc": ["parameters", "jobId"],
                      "msg": "invalid job identifier format",
                      "type": "value_error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v3/cancel/{jobId}": {
      "put": {
        "operationId": "cancelJobV4",
        "summary": "Cancel job",
        "description": "Cancel an asynchronous job.",
        "tags": ["Manage jobs"],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The job ID or URN returned in async response links.",
            "schema": {
              "type": "string",
              "title": "Job ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job Cancelled"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorGeneric"
                },
                "example": {
                  "error_code": "string",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AlignmentHorizontal": {
        "description": "An enumeration.",
        "enum": [
          "center",
          "left",
          "right"
        ],
        "title": "AlignmentHorizontal"
      },
      "AlignmentVertical": {
        "description": "An enumeration.",
        "enum": [
          "center",
          "top",
          "bottom"
        ],
        "title": "AlignmentVertical"
      },
      "ApiError": {
        "description": "The error within the error response.",
        "properties": {
          "error_code": {
            "$ref": "#/components/schemas/ColligoErrorCodeAsyncV3"
          },
          "message": {
            "title": "Message",
            "type": "string"
          },
          "stack_trace": {
            "items": {
              "type": "string"
            },
            "title": "Stack Trace",
            "type": "array"
          },
          "validation_errors": {
            "items": {
              "$ref": "#/components/schemas/ValidationErrorMessage"
            },
            "title": "Validation Errors",
            "type": "array"
          }
        },
        "required": [
          "error_code"
        ],
        "title": "ApiError",
        "type": "object"
      },
      "AspectRatio": {
        "type": "string",
        "title": "AspectRatio",
        "enum": ["1:1", "4:3", "3:4", "16:9", "9:16", "auto"]
      },
      "ApiErrorGeneric": {
        "type": "object",
        "title": "ApiErrorGeneric",
        "description": "The error within the error response for non-400 failure responses.",
        "properties": {
          "error_code": {
            "type": "string",
            "description": "The error code."
          },
          "message": {
            "title": "Message",
            "description": "A human-readable error message.",
            "type": "string"
          }
        }
      },
      "AdaptiveCompositeRequest": {
        "type": "object",
        "required": ["background", "object"],
        "properties": {
          "background": {
            "$ref": "#/components/schemas/BackgroundInput",
            "description": "Background image and fill area mask."
          },
          "object": {
            "$ref": "#/components/schemas/AdaptiveObjectInput",
            "description": "Object image and optional mask."
          },
          "numVariations": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3,
            "default": 1,
            "description": "Number of output variations to generate."
          },
          "seeds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 1,
            "maxItems": 3,
            "description": "Array of seed image IDs. These reference images help ensure consistent image generation across multiple API calls. If specified alongside numVariations, the number of seeds must equal numVariations. Defaults: 1 variation → [333], 2 → [333, 222], 3 → [333, 222, 111]."
          },
          "harmonization": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.6,
            "description": "Controls how much the object's colors and lighting are adjusted to match the background scene."
          },
          "shadowIntensity": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 1,
            "description": "Controls shadow intensity in the composited result. Lower values reduce shadow."
          },
          "preserveBackground": {
            "type": "boolean",
            "default": false,
            "description": "When true, preserves original background details within the masked area during compositing."
          },
          "output": {
            "$ref": "#/components/schemas/OutputSpec",
            "description": "Output format specification."
          }
        }
      },
      "AdaptiveObjectInput": {
        "type": "object",
        "required": ["image"],
        "properties": {
          "image": {
            "$ref": "#/components/schemas/ImageRef",
            "description": "Object image to be composited onto the background."
          },
          "mask": {
            "$ref": "#/components/schemas/ImageRef",
            "description": "Optional object mask."
          }
        }
      },
      "AsyncJobResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Current status of the job.",
            "example": "running"
          },
          "jobId": {
            "type": "string",
            "description": "Job URN identifier."
          },
          "statusUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to poll for job status."
          },
          "cancelUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to cancel the job."
          }
        }
      },
      "BackgroundInput": {
        "type": "object",
        "required": ["image", "fillAreaMask"],
        "properties": {
          "image": {
            "$ref": "#/components/schemas/ImageRef",
            "description": "Background image on which the object will be placed."
          },
          "fillAreaMask": {
            "$ref": "#/components/schemas/ImageRef",
            "description": "Mask defining where the object should be placed on the background."
          }
        }
      },
      "ImageRef": {
        "type": "object",
        "required": ["source"],
        "properties": {
          "source": {
            "$ref": "#/components/schemas/ImageSource"
          }
        }
      },
      "ImageSource": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string",
            "format": "uuid",
            "description": "If this object represents a file in our S3 temp storage system, the ID for that file."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Pre-signed URL of the image from a supported domain. [See Allowed storage domains](https://github.com/your-repo/your-project/blob/main/src/pages/getting-started/usage-notes/index.md#allowed-storage-domains) for the current list."
          }
        },
        "description": "The image source. Exactly one of `url` or `uploadId` must be provided in the request."
      },
      "ObjectInput": {
        "type": "object",
        "required": ["image"],
        "properties": {
          "image": {
            "$ref": "#/components/schemas/ImageRef",
            "description": "Object image to be composited onto the background."
          }
        }
      },
      "OutputSpec": {
        "type": "object",
        "properties": {
          "mediaType": {
            "type": "string",
            "enum": ["image/png", "image/jpeg", "image/webp", "image/jxl"],
            "description": "MIME type for the output image."
          }
        }
      },
      "PreciseCompositeRequest": {
        "type": "object",
        "required": ["background", "object"],
        "properties": {
          "background": {
            "$ref": "#/components/schemas/BackgroundInput",
            "description": "Background image and fill area mask specifying object placement."
          },
          "object": {
            "$ref": "#/components/schemas/ObjectInput",
            "description": "Object image to be placed on the background."
          },
          "numVariations": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3,
            "default": 1,
            "description": "Number of output variations to generate."
          },
          "seeds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 1,
            "maxItems": 3,
            "description": "Random seeds for each variation. Count must match numVariations if both are provided. Defaults: 1 variation → [333], 2 → [333, 222], 3 → [333, 222, 111]."
          },
          "blend": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.5,
            "description": "Controls blend between harmonized and original object appearance (0.0 = fully harmonized, 1.0 = original preserved)."
          },
          "output": {
            "$ref": "#/components/schemas/OutputSpec",
            "description": "Output format specification."
          }
        }
      },
      "ValidationErrorDetail": {
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Path to the field that caused the error."
          },
          "msg": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "type": {
            "type": "string",
            "description": "Error type identifier."
          },
          "ctx": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional context about the error."
          }
        }
      },
      "ValidationErrorCode422": {
        "type": "string",
        "title": "ValidationErrorCode422",
        "description": "Error code for HTTP 422 responses (request validation only).",
        "enum": [
          "validation_error",
          "cai_assertion_violation_error"
        ]
      },
      "ValidationErrorResponse": {
        "type": "object",
        "title": "ValidationErrorResponse",
        "description": "Error response body for HTTP 422 (validation failures).",
        "required": ["error_code"],
        "properties": {
          "error_code": {
            "$ref": "#/components/schemas/ValidationErrorCode422"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description."
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationErrorDetail"
            },
            "description": "List of field-level validation errors."
          }
        }
      },
      "ContentPolicyErrorCode451": {
        "type": "string",
        "title": "ContentPolicyErrorCode451",
        "description": "Error code for HTTP 451 responses (content policy, legal, or safety).",
        "enum": [
          "legal_error",
          "prompt_unsafe",
          "prompt_entity_denied",
          "image_unsafe",
          "video_unsafe",
          "reference_image_unsafe_error",
          "input_media_unsafe"
        ]
      },
      "ContentPolicyErrorResponse": {
        "type": "object",
        "title": "ContentPolicyErrorResponse",
        "description": "Error response body for HTTP 451 (content policy, legal, or safety).",
        "required": ["error_code"],
        "properties": {
          "error_code": {
            "$ref": "#/components/schemas/ContentPolicyErrorCode451"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description."
          }
        }
      },
      "JobOutput": {
        "type": "object",
        "title": "JobOutput",
        "description": "A single output entry from the job.",
        "required": ["seed", "image"],
        "properties": {
          "seed": {
            "type": "integer",
            "example": 333,
            "description": "Random seed used for generation."
          },
          "image": {
            "$ref": "#/components/schemas/PublicBinary-Output",
            "description": "The generated output image."
          }
        }
      },
      "JobPollPayload": {
        "type": "object",
        "title": "JobPollPayload",
        "description": "Returned when the job is pending, running, failed, cancelled, cancel_pending, or timeout.",
        "required": ["status", "jobId"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["pending", "running", "failed", "cancelled", "cancel_pending", "timeout"],
            "description": "Current non-succeeded job status."
          },
          "jobId": {
            "type": "string",
            "example": "<string>",
            "description": "The job ID."
          },
          "error_code": {
            "type": "string",
            "description": "Error code present when status is failed, cancelled, cancel_pending, or timeout."
          },
          "message": {
            "type": "string",
            "description": "Human-readable string describing the error or status."
          }
        }
      },
      "JobResult": {
        "type": "object",
        "title": "JobResult",
        "description": "Contains output data returned by a successfully completed job.",
        "required": ["outputs"],
        "properties": {
          "outputs": {
            "type": "array",
            "description": "List of generated outputs.",
            "items": {
              "$ref": "#/components/schemas/JobOutput"
            }
          }
        }
      },
      "JobResponse": {
        "title": "JobResponse",
        "description": "Represents the job response, which may be either in progress or completed.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/JobSucceededPayload"
          },
          {
            "$ref": "#/components/schemas/JobPollPayload"
          }
        ],
        "discriminator": {
          "propertyName": "status",
          "mapping": {
            "succeeded": "#/components/schemas/JobSucceededPayload",
            "running": "#/components/schemas/JobPollPayload",
            "failed": "#/components/schemas/JobPollPayload",
            "cancelled": "#/components/schemas/JobPollPayload",
            "cancel_pending": "#/components/schemas/JobPollPayload",
            "timeout": "#/components/schemas/JobPollPayload"
          }
        },
        "examples": [
          {
            "status": "succeeded",
            "jobId": "<string>",
            "result": {
              "outputs": [
                {
                  "seed": 333,
                  "image": {
                    "url": "https://example.com"
                  }
                }
              ]
            }
          },
          {
            "status": "running",
            "jobId": "<string>"
          }
        ]
      },
      "JobSucceededPayload": {
        "type": "object",
        "title": "JobSucceededPayload",
        "description": "Returned when the job has completed successfully.",
        "required": ["status", "jobId", "result"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["succeeded"],
            "description": "Indicates that the job has succeeded."
          },
          "jobId": {
            "type": "string",
            "example": "<string>",
            "description": "The job ID."
          },
          "result": {
            "description": "The result of the completed job. The schema depends on the async operation (for example generation, composite, or upscale).",
            "oneOf": [
              {
                "$ref": "#/components/schemas/JobResult"
              },
              {
                "$ref": "#/components/schemas/PreciseUpsamplerResponse"
              }
            ]
          }
        }
      },
      "PublicBinary-Output": {
        "type": "object",
        "title": "PublicBinary-Output",
        "description": "Represents binary output (e.g., image, mesh, etc.) with pre-signed URL or storage ID.",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://example.com",
            "description": "Temporary pre-signed URL to access the output file."
          }
        }
      },
      "AsyncAcceptResponseV3": {
        "properties": {
          "cancelUrl": {
            "description": "The URL to cancel the job.",
            "title": "Cancel URL",
            "type": "string"
          },
          "jobId": {
            "description": "The ID of the job.",
            "title": "Job ID",
            "type": "string"
          },
          "statusUrl": {
            "description": "The URL to check the status of the job.",
            "title": "Status URL",
            "type": "string"
          }
        },
        "required": [
          "jobId",
          "statusUrl",
          "cancelUrl"
        ],
        "title": "AsyncAcceptResponseV3",
        "type": "object"
      },
      "AsyncApiErrorV3": {
        "description": "The error within the error response.",
        "properties": {
          "error_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/ColligoErrorCodeAsyncV3"
              },
              {
                "$ref": "#/components/schemas/ColliogAsyncStatusErrorCodeV3"
              },
              {
                "$ref": "#/components/schemas/ColligoAsyncCancelErrorCodeV3"
              }
            ],
            "title": "Error Code"
          },
          "jobId": {
            "title": "Job ID",
            "type": "string"
          },
          "message": {
            "title": "Message",
            "type": "string"
          },
          "status": {
            "title": "Status",
            "type": "string"
          },
          "validation_errors": {
            "items": {
              "$ref": "#/components/schemas/ValidationErrorMessage"
            },
            "title": "Validation Errors",
            "type": "array"
          }
        },
        "title": "AsyncApiErrorV3",
        "type": "object"
      },
      "AsyncTaskLink": {
        "type": "object",
        "title": "AsyncTaskLink",
[...]
